﻿  /*.ui-autocomplete {
            z-index: 100;
        }

        ul.ui-autocomplete.ui-menu {
            z-index: 1000;
        }*/

        /*.trip-day {
        }*/

.city1-row {
    border-bottom: 3px solid #d6dfe4;
    border-right: 9px solid #d6dfe4;
    float: left;
    padding: 10px 10px 0px 10px;
    width: 336px;
    background: #fff;
}

        .popuperr {
            font-size: 15px;
            font-weight: 600;
            color: black;
            width: 150px;
        }

        .sphrs {
            background-color: darkblue;
        }

        .check-box1
        {
          float:left;
          margin-right:5px;
          cursor:pointer;
          width:15px;
        }

        .load{
            cursor:wait;
        }

        .unload{
            cursor:default;
        }
		
/* css info popup 8-5-15 */
		
.info-left.popup-api span {float: right; width: 60%; }

.info-left.popup-api p {
    clear: both;
}

#cityswap_popup
{
position: absolute;
top: 28%;
float: right;
margin: 0px 7% 0px 0px;
padding: 10px;
z-index: 1000;
width: 44%;
background-color: #e7e7e7;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
border-bottom-right-radius: 8px;
border-bottom-left-radius: 8px;
border: solid 5px #666 !important;
display: block;
background-position: initial initial;
background-repeat: initial initial;
border-color: darkturquoise;

}


.accordion-toggle {cursor: pointer;}
.accordion-content {display: none;}
.accordion-content.default {display: block;}


  /*******************************From Firstdaytrip*******************************/

   .ui-widget-content
        {
            border: 0px solid #aaaaaa !important;
        }

        .ui-slider-horizontal .ui-slider-handle
        {
            top: 9px !important;
        }

        .ui-slider .ui-slider-handle
        {
            width: 0.2em !important;
        }

        .btn-primary
        {
            background-color: rgb(9, 168, 229);
            width: 14%;
            border-color: rgb(9, 168, 229);
            border-radius: 4px;
            color: white;
        }

        .btn-danger
        {
            background-color: rgb(192, 81, 148);
            border-color: rgb(192, 81, 148);
            border-radius: 4px;
            width: 18%;
            color: white;
        }

        #addtoleft_checkbox {
            position: absolute;
            float: right;
            right: 32%;
            top: 55%;
            margin: 0;
            padding: 10px;
            z-index: 1000;
            /*width: 730px;*/
            /*left: 190px;*/
            background: #ffffff;
            border-radius: 8px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            -moz-border-radius: 8px;
            -webkit-border-radius: 8px;
            -o-border-radius: 8px;
        }

        #divcustom_place
        {
            position: absolute;
            float: right;
            right: 24%;
            top: 35%;
            margin: 0;
            padding: 10px;
            z-index: 1000;
            width: 46% !important;
            /*left: 190px;*/
            background: #ffffff;
            border-radius: 8px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            -moz-border-radius: 8px;
            -webkit-border-radius: 8px;
            -o-border-radius: 8px;
        }

        #divcustom_mode
        {
            position: absolute;
            float: right;
            right: 0%;
            top: 35%;
            margin: 0;
            padding: 10px;
            z-index: 1000;
            width: 47% !important;
            /*left: 190px;*/
            background: #ffffff;
            border-radius: 8px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            -moz-border-radius: 8px;
            -webkit-border-radius: 8px;
            -o-border-radius: 8px;
        }

  /*******************************End of from Firstdaytrip*******************************/
  
  .jspVerticalBar
{
	left: 0;
}

.scroll-pane
{
	width: 100%;
	height: 200px;
	overflow: auto;
}

.tooltip {
  top: 55px;
  left: 50px;
  padding: 7px 0px 0px 10px;
  width: 39%;
  height: 20%;
  background-color:black;
  color:white;
  border-radius:5px;
  opacity:0;
  position:absolute;
  -webkit-transition: opacity 0.5s;
  -moz-transition:  opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition:  opacity 0.5s;
  transition:  opacity 0.5s;
}

.resort-row .resort-img:hover .tooltip {
    opacity:1;
}

        .PlcBoxsortableHelper{
            height:70px;
        }

        .resort-row2 .add-trip{
            background:#34B2F8;
            cursor:default;
        }

        .infoPopUp .close-fancyboxButton {
            display:none !important;
}


        .accordion-toggle 
{
    cursor: pointer;
	
	margin-bottom:4px;
	padding:2px 4px 2px 4px;
	color:#fff;
	background: url(../images/up.png) no-repeat center right #33c6ea !important;
}

#accordion1
{
	background-image: url(../images/down.png);
}

.accordion-content 
{
    display: none;
}

.accordion-content.default 
{
    display: block;
}

.place-details
{
     border-radius: 2px; 
     border: 0px;
     cursor: default;
     width: 90%;
     margin: 5px 0px;
}

.travel
{
    border-radius:2px;
}

#GetTripName {
    position: absolute;
    float: right;
    right: 100%;
    top: 11%;
    margin: 0;
    padding: 15px;
    z-index: 1000;
    width: 60% !important;
    background: #04A8CE;
    border-radius: 4px;
    color:white;
}

#TripNameTxt {
    height: 25px;
    border-radius: 4px;
    border-color: white;
}

#SaveTripName {
    background-color: #d53554;
    border-color: #d53554;
    color: white;
    border-radius: 4px;
    height: 25px;
}

#BookHotels { 
  height: 104px; 
  width: 104px; 
  position: fixed; 
  top: 40%; 
  z-index: 999;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg); 
  -o-transform: rotate(-90deg); 
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#BookHotels a { 
  display: block; 
  background: #4bd09c; 
  height: 15px; 
  width: 105px; 
  padding: 8px 16px;
  color: #fff; 
  font-family: Arial, sans-serif; 
  font-size: 17px; 
  font-weight: bold; 
  text-decoration: none; 
  border-bottom: solid 1px #ADECEF;
    border-left: solid 1px #ADECEF;
    border-right: solid 1px #ADECEF;
}

#BookHotels a:hover { 
  background: #06c;
  border-bottom: solid 1px #A5DCF7;
  border-left: solid 1px #A5DCF7;
  border-right: solid 1px #A5DCF7;
}

#applyScroll::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #E1EBEB;
}

#applyScroll::-webkit-scrollbar-thumb {
    background-color: #17A3B9;
    border-radius: 4px;
}

#applyScroll1::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #E1EBEB;
}

#applyScroll1::-webkit-scrollbar-thumb {
    background-color: #17A3B9;
    border-radius: 4px;
}

.RestTypeCl{
    float: left;
    margin-right: 5px;
    cursor: pointer;
    width: 15px;
}

.AttrTypeCl{
    float: left;
    margin-right: 5px;
    cursor: pointer;
    width: 15px;
}

.slideClose{
        cursor: pointer;
    height: 36px;
    position: absolute;
    right: 2px;
    top: 2px;
    width: 36px;
    z-index: 8040;
}

.HotelPopularImg{
    background: url(../images/hotel-color.png) no-repeat;
    width: 13px;
    height: 17px;
    float: left;
    margin-top: 3px;
}

.priceDollar {
    font-size: medium;
    color: lightseagreen;
    font-style: italic;
}

#insideModel {
            height: 160px;
            overflow-y: scroll;
        }

        #scroll::-webkit-scrollbar {
            width: 8px;
            height:8px;
            background-color: #DAE5E5;
        }

        #scroll::-webkit-scrollbar-thumb {
            background-color: #01A5CD;
            border-radius: 10px;
        }

        #insideModel::-webkit-scrollbar {
            width: 8px;
            background-color: #DAE5E5;
        }
        #insideModel::-webkit-scrollbar-thumb {
            background-color: #01A5CD;
            border-radius: 10px;
        }

            #insideModel > p {
                border-top-color: #C9FDF5;
                background: #9CE9F6;
                text-align:left;
            }

            #btnsharetrip {
            background-color: #0A5A7D;
            width: 60px;
            height: 25px;
            margin-top: 2px;
            border-radius: 4px;
            border-color: #0A5A7A;
            color: white;
            cursor:pointer;
        }

            #btnsharetrip:hover {
                background-color: #5BB0E5;
                border-color: #5BB0E5;
                color: #130D65;
            }

            .modal-box > header > h3 {
            padding: 4px;
            text-align: center;
        }

            .modal-box > footer{
            height:30px;
            padding-left:0%;
            background:aliceblue;
            width: 100%;
        }

            .modal-box > header{
            height:30px;
            padding-left:0%;
            background:powderblue;
            width: 100%;
        }

            #fb-publish
            {
                background-color: #0A5A7D;
    width: 130px;
    height: 25px;
    margin-top: 2px;
    border-radius: 4px;
    border-color: #0A5A7A;
    color: white;
    cursor: pointer;
            }

            .Plcbook{
                background: #4bd09c;
    border: 1px solid #53c79a;
    border-radius: 5px;
    color: #fff;
    float: left;
    font-family: 'OpenSans-Semibold';
    font-size: 12px;
    padding: 3px 10px;
            }

#divmode .portlet-placeholder.ui-corner-all {
    border-color: #fff;
}

#divmode .custom_travel {
    cursor: move;
}

.drob-style h3
{
    font-size:13px !important;
    color:#00B8E5 !important;
    text-transform:uppercase !important;
}

.dropdown-pad h4 {
    color: #033363 !important;
    text-transform:uppercase;
}

#classchangeid li:hover{
    background-color:#089DCA;
}

.expandTmTop{
    margin-top:50px;
}

.expandTmBtm{
    margin-bottom:50px;
}

.info-left h3 + ul li,.info-left h2 + ul li{
    background:none;
}

#infowindow_hotels_activities ul:nth-of-type(2) li {
    background: none;
}

.PopUp-CloseBtn{
    float:right;
}