﻿.accordion-toggle 
{
    cursor: pointer;
	
	margin-bottom:4px;
	padding:2px 4px 2px 4px;
	color:#fff;
	background: url(../images/up.png) no-repeat center right #33c6ea;
}

#accordion1
{
	background-image: url(../images/down.png);
}

.accordion-content 
{
    display: none;
}

.accordion-content.default 
{
    display: block;
}

#errmsg
{
    font-size: 11px;
    color: red;
}

#errmsg1 
{
    font-size: 11px;
    color: red;
}

#errms {
    font-size: 13px;
    color: #9AF7FF;
}

        #errms1 {
            font-size: 13px;
            color: #9AF7FF;
        }

        #erm {
            font-size: 15px;
            font-weight: 600;
            color: red;
        }

        .popuperr {
            font-size: 15px;
            font-weight: 600;
            color: black;
            width: 150px;
        }

        .ui-datepicker .ui-datepicker-title {
            margin: 0;
        }

        .ui-datepicker .ui-datepicker-header {
            padding: 0px;
        }

             .hotel-style {
            float: left;
            margin: 0px 0;
            text-align: left;
            text-transform: uppercase;
            width: 100%;
        }

            .hotel-style span {
                float: left;
                margin: 0px 0px 0px 0px;
                padding: 0px;
            }

        .new-width {
            width: 44.7% !important;
            margin-right: 10px !important;
            float: left;
        }

        .welcome-right .label {
            color: #000000;
            margin-bottom: 10px;
        }

        .welcome-right h2, .welcome-right h3 {
            color: #00b8e5;
        }

        .welcome-right h3 {
            color: #000000;
            font-size: 15px;
        }

        .pre-details {
            margin: 0px;
            padding: 0px;
            float: left;
            width: 100%;
        }

        .select-label {
            color: #000000 !important;
            float: left;
            margin-bottom: 10px !important;
            padding: 0 !important;
            width: 30%;
            font-size: 14px !important;
            text-align: left !important;
        }

        .selectbox {
            padding: 5px 5px;
            width: 55%;
        }

        .welcome-right > input {
            margin: 10px !important;
        }

        .overlay-pad {
            background: url(../images/overlay-bg.png) repeat;
            float: left;
            height: 93.5%/*auto*/;
            position: absolute;
            right: 0;
            text-align: center;
            /*top: 9.6em;*/
            top: 3.6em;
            width: 48%;
            z-index: 9999;
        }

            .overlay-pad > a {
                background: none repeat scroll 0 0 #2592E0;
                padding: 2% 4%;
                position: relative;
                top: 18em;
                font-size: 18px;
                text-transform: uppercase;
                color: #fff;
            }

.load {
    cursor: wait;
}
        .unload{
            cursor:default;
        }
		
        /*new styles from firstday- 26/05/2015*/
        .linkpos {
            float: right;
            position: fixed;
            top: 50%;
            right: 0px;
        }

        .btn-primary {
            background-color: rgb(9, 168, 229);
            width: 14%;
            border-color: rgb(9, 168, 229);
            border-radius: 4px;
            color: white;
        }

        .btn-danger {
            background-color: rgb(192, 81, 148);
            border-color: rgb(192, 81, 148);
            border-radius: 4px;
            width: 18%;
            color: white;
        }

.infoPopUp .close-fancyboxButton {
 display:block !important;
}

/*.close-fancyboxButton{
    background-image:url('../images/del_travel-bkp-7-5-15.png');
}*/

.travel p
{
    padding: 10px 0px 0px 10px !important;
}

.place-details
{
     border-radius: 2px; 
     border: 0px;
     cursor: default !important;
     width: 90%;
     margin: 5px 0px;
}

.travel
{
    border-radius:2px;
}

#HowItWorks { 
  height: 104px; 
  width: 104px; 
  position: fixed; 
  top: 40%; 
  z-index: 999;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg); 
  -o-transform: rotate(-90deg); 
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#HowItWorks a { 
  display: block; 
  background: #E80AAE; 
  height: 15px; 
  width: 105px; 
  padding: 8px 16px;
  color: #fff; 
  font-family: Arial, sans-serif; 
  font-size: 17px; 
  font-weight: bold; 
  text-decoration: none; 
  border-bottom: solid 1px #EFADE7;
  border-left: solid 1px #EFADE7;
  border-right: solid 1px #EFADE7;
}

#HowItWorks a:hover { 
  background: #06c;
  border-bottom: solid 1px #A5DCF7;
  border-left: solid 1px #A5DCF7;
  border-right: solid 1px #A5DCF7;
}

.slideClose{
        cursor: pointer;
    height: 36px;
    position: absolute;
    right: 2px;
    top: 2px;
    width: 36px;
    z-index: 8040;
}

.HotelPopularImg{
    background: url(../images/hotel-color.png) no-repeat;
    width: 13px;
    height: 17px;
    float: left;
    margin-top: 3px;
}

.ui-datepicker-calendar>tbody>tr>td>a,.ui-datepicker-calendar>tbody>tr>td>span {
    border-color: #FFFFFF !important;
}

.price-bar>#slider-range1>a{
        padding: 2px 4px !important;
    height: 14px;
}

#ui-datepicker-div >.ui-datepicker-header > .ui-datepicker-title > .ui-datepicker-year{
        background-color: #63D1E2;
    border-color: aliceblue;
    cursor: pointer;
}

.fancybox-skin
{
    padding:8px !important;
}


.info-left h3 + ul li,.info-left h2 + ul li{
    background:none;
}

#infowindow_hotels_activities ul:nth-of-type(2) li {
    background: none;
}