﻿   .ui-widget-content {
            background: none repeat scroll 0 0 #ffffff !important;
            border: 1px solid #aaaaaa;
            color: #222222;
            width: 322px !important;
        }

        .ui-state-hover {
            background: #85d3f2 !important;
            color: #ffffff !important;
            border: none;
            outline: none;
        }
        #errmsg
        {
            font-size:11px;
            color: red;
        }

        #errmsg1
        {
            font-size:11px;
            color: red;
        }
        #errms
        {
            font-size:13px;
            color: #9AF7FF;
        }
        #errms1
        {
            font-size:13px;
            color: #9AF7FF;
        }
        #erm
        {
            font-size:15px;
            font-weight:600;
            color: red;
        }

        .btn-primary
        {
            background-color: rgb(9, 168, 229);
            width: 14%;
            border-color: rgb(9, 168, 229);
            border-radius: 4px;
            color: white;
        }
        .btn-danger
        {
            background-color: rgb(192, 81, 148);
            border-color: rgb(192, 81, 148);
            border-radius: 4px;
            width: 18%;
            color: white;
        }

        .transition {
    -webkit-transform: scale(1.4); 
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
}

        #zoomMeImage {
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
}

        #btnsubmit:disabled { /*background-color: grey;*/
                              cursor:pointer;/* none;*/
        } 

        /*.bxslider > li
        {
            height:402px;
        }*/

        .bx-pager-item
        {
            width:280px !important;
            height:180px !important;
        }

#scrollToItineraries a input[type="submit"]:hover {
    background-color: #198EAF;
    color: white;
    border-color: white !important;
    border-width: 0px !important;
	border:none;
}

#scrollToDestinations a input[type="submit"]:hover {
    background-color: #198EAF;
    color: white;
    border-color: white !important;
    border-width: 0px !important;
	border:none;
}

#HowItWorks { 
  height: 104px; 
  width: 104px; 
  position: fixed; 
  top: 25%; 
  z-index: 999;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg); 
  -o-transform: rotate(-90deg); 
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#HowItWorks a { 
  display: block; 
  background: #E80AAE; 
  height: 15px; 
  width: 105px; 
  padding: 8px 16px;
  color: #fff; 
  font-family: Arial, sans-serif; 
  font-size: 17px; 
  font-weight: bold; 
  text-decoration: none; 
  border-bottom: solid 1px #EFADE7;
  border-left: solid 1px #EFADE7;
  border-right: solid 1px #EFADE7;
}

#HowItWorks a:hover { 
  background: #06c;
  border-bottom: solid 1px #A5DCF7;
  border-left: solid 1px #A5DCF7;
  border-right: solid 1px #A5DCF7;
}

#PageIntro { 
  height: 104px; 
  width: 138px; 
  position: fixed; 
  left:-18px;
  top: 50%; 
  z-index: 999;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg); 
  -o-transform: rotate(-90deg); 
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  
}

#PageIntro a { 
  display: block;
  z-index:9999999;
  background: #2DB1D7; 
  height: 15px; 
  width: 105px; 
  padding: 8px 16px;
  color: #fff; 
  font-family: Arial, sans-serif; 
  font-size: 17px; 
  font-weight: bold; 
  text-decoration: none; 
  border-bottom: solid 1px #ADECEF;
  border-left: solid 1px #ADECEF;
  border-right: solid 1px #ADECEF;
}

#PageIntro a:hover { 
  background: #099AAF;
  border-bottom: solid 1px #0069A4;
  border-left: solid 1px #0069A4;
  border-right: solid 1px #0069A4;
}

.bxslider span
{
    width: 40%;
    text-align: center;
}

.bx-pager-link span.c
{
    width: 50%;
}

.bxslider li {
    cursor: pointer;
}

#dest-popup2 div {
    margin : 0px !important;
}
