﻿<section class="destination-bg">
    <section class="row-home">
        <article class="destination" id="Destinations">
            <h2>Top Amazing Destinations</h2>
            <ul class="bxslider" id="bxSliderDestinations">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <aside id="bx-pager"></aside>
            <span>
                <a href="#" class="fancybox">
                    <input type="submit" class="ignore_click" id="view" value="View More" />
                </a>
            </span>
            <div id="dest-popup2" class="slide-close" style="display: none;">
                <img src="../Content/images/del_travel-bkp-7-5-15.png" style="float: right;" />
                <h2 style="padding-left:20%;">Top Amazing Destinations</h2>
                <div class="accordian-popup">
                    <div class="accordion_in acc_active">
                        <div class="acc_head">Africa</div>
                        <div class="acc_content">
                            <div class="acc-dest">
                                <p class="ignore_click">Lorem ipsum dolor sit amet, consectetur. Etiam pelle ntesque aliquet tellus. Lorem ipsum dolor sit amet, consectetur. Etiam pelle ntesque aliquet tellus. Lorem ipsum dolor sit amet, consectetur. Etiam pelle ntesque aliquet tellus. </p>
                                <div class="clear"></div>
                                <ul class="ignore_click" id="Africa"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion_in">
                        <div class="acc_head">Antarctica</div>
                        <div class="acc_content">
                            <div class="acc-dest">
                                <p class="ignore_click">Lorem ipsum dolor sit amet, consectetur. Etiam pelle ntesque aliquet tellus. Lorem ipsum dolor sit amet, consectetur. Etiam pelle ntesque aliquet tellus. Lorem ipsum dolor sit amet, consectetur. Etiam pelle ntesque aliquet tellus. </p>
                                <div class="clear"></div>
                                <ul class="ignore_click" id="Antarctica"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion_in">
                        <div class="acc_head">Asia</div>
                        <div class="acc_content">
                            <div class="acc-dest">
                                <p class="ignore_click">Lorem ipsum dolor sit amet, consectetur. Etiam pelle ntesque aliquet tellus. Lorem ipsum dolor sit amet, consectetur. Etiam pelle ntesque aliquet tellus. Lorem ipsum dolor sit amet, consectetur. Etiam pelle ntesque aliquet tellus. </p>
                                <div class="clear"></div>
                                <ul class="ignore_click" id="Asia"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion_in">
                        <div class="acc_head">Central America</div>
                        <div class="acc_content">
                            <div class="acc-dest" class="ignore_click">
                                <p class="ignore_click">Lorem ipsum dolor sit amet, consectetur. Etiam pelle ntesque aliquet tellus. Lorem ipsum dolor sit amet, consectetur. Etiam pelle ntesque aliquet tellus. Lorem ipsum dolor sit amet, consectetur. Etiam pelle ntesque aliquet tellus. </p>
                                <div class="clear"></div>
                                <ul class="ignore_click" id="CentralAmerica"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion_in">
                        <div class="acc_head last">Eastern Europe</div>
                        <div class="acc_content">
                            <div class="acc-dest">
                                <p>Lorem ipsum dolor sit amet, consectetur. Etiam pelle ntesque aliquet tellus. Lorem ipsum dolor sit amet, consectetur. Etiam pelle ntesque aliquet tellus. Lorem ipsum dolor sit amet, consectetur. Etiam pelle ntesque aliquet tellus. </p>
                                <div class="clear"></div>
                                <ul class="ignore_click" id="EasternEurope"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion_in">
                        <div class="acc_head last">Europe</div>
                        <div class="acc_content">
                            <div class="acc-dest">
                                <p>Lorem ipsum dolor sit amet, consectetur. Etiam pelle ntesque aliquet tellus. Lorem ipsum dolor sit amet, consectetur. Etiam pelle ntesque aliquet tellus. Lorem ipsum dolor sit amet, consectetur. Etiam pelle ntesque aliquet tellus. </p>
                                <div class="clear"></div>
                                <ul class="ignore_click" id="Europe"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion_in">
                        <div class="acc_head last">Middle East</div>
                        <div class="acc_content">
                            <div class="acc-dest">
                                <p>Lorem ipsum dolor sit amet, consectetur. Etiam pelle ntesque aliquet tellus. Lorem ipsum dolor sit amet, consectetur. Etiam pelle ntesque aliquet tellus. Lorem ipsum dolor sit amet, consectetur. Etiam pelle ntesque aliquet tellus. </p>
                                <div class="clear"></div>
                                <ul class="ignore_click" id="MiddleEast"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion_in">
                        <div class="acc_head last">South Pacific</div>
                        <div class="acc_content">
                            <div class="acc-dest">
                                <p>Lorem ipsum dolor sit amet, consectetur. Etiam pelle ntesque aliquet tellus. Lorem ipsum dolor sit amet, consectetur. Etiam pelle ntesque aliquet tellus. Lorem ipsum dolor sit amet, consectetur. Etiam pelle ntesque aliquet tellus. </p>
                                <div class="clear"></div>
                                <ul class="ignore_click" id="SouthPacific"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion_in">
                        <div class="acc_head last">South America</div>
                        <div class="acc_content">
                            <div class="acc-dest">
                                <p>Lorem ipsum dolor sit amet, consectetur. Etiam pelle ntesque aliquet tellus. Lorem ipsum dolor sit amet, consectetur. Etiam pelle ntesque aliquet tellus. Lorem ipsum dolor sit amet, consectetur. Etiam pelle ntesque aliquet tellus. </p>
                                <div class="clear"></div>
                                <ul class="ignore_click" id="SouthAmerica"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion_in">
                        <div class="acc_head last">Scandinavia</div>
                        <div class="acc_content">
                            <div class="acc-dest">
                                <p>Lorem ipsum dolor sit amet, consectetur. Etiam pelle ntesque aliquet tellus. Lorem ipsum dolor sit amet, consectetur. Etiam pelle ntesque aliquet tellus. Lorem ipsum dolor sit amet, consectetur. Etiam pelle ntesque aliquet tellus. </p>
                                <div class="clear"></div>
                                <ul class="ignore_click" id="Scandinavia"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Itin-popup" class="slide-close" style="display: none;">
                <img src="../Content/images/del_travel-bkp-7-5-15.png" style="float: right;" />
				<h2>Top Itineraries</h2>
				<div class="acc-dest">
					<ul class="ignore_click" id="TopItin"></ul>
				</div>
			</div>
</article>
    </section>
</section>
