﻿
@model eztripStart.Models.NewData
@{
    ViewBag.Title = ":: 1EZ TRIP ::";
    var data = Session["username"];    
}
<aside class="menu">
    <ul>
        <li><a href="~/Trip/Index" class="active">Home</a></li>
        <li style="display:none;"><a href="javascript:;" id="CurrentIternary" class="active">Current itinerary</a></li>
        <li id="LogdUsrMyTrip" style="display:none;"><a href="@Url.Action("MyTrips", "Trip")">My Trips</a></li>
        <li id="LoggedUserLi" style="display:none;"><a href="@Url.Action("ViewMyProfile", "Trip")">My Account</a><a id="notificationCount" class="notifications" href="@Url.Action("Notification", "Trip")" title="Notifications" style="display:none;"></a></li>
        <li class="last" id="liMyAccount">
            <a id="slide" class="ignore_click" href="#register">My Account / Register</a>
            <input type="hidden" id="hidmyacc" value="1" />            
            <div class="slide-close slide1" style="margin-left: -65px;">
                <div id="FBlink" style="display:none;" class="ignore_click" onclick="$('#loginpopup').hide(); $('#newuserpopup').hide(); $('#registerpopup').hide(); $('#FBregisterpopup').show();"></div>
                <div class="home-login" id="loginpopup">
                    <h2 class="clsh2">Login to 1ezTrip</h2>
                    <div class="label">Email Id</div>
                    @Html.TextBoxFor(m => m.username, new { id = "txtloginmail", placeholder = "Enter Your Mail Id", @class = "ignore_click", spellcheck = "false" })
                    <div id="lblpwd" class="label">Password</div>
                    @Html.PasswordFor(m => m.pwd, new { id = "txtloginpwd", placeholder = "Enter Your Password", @class = "ignore_click" })
                    <div class="clear"></div>
                    <p id="field" class="clsPagespan" style="color:white;"><span style="color:red">*</span> All fields are mandatory</p><br /><p class="clsPageCheckbox" style="margin-right:35%;">
                        <input type="checkbox" name="" value="Clear" style="margin-left:2px;border-radius: 8px;" id="chkremember" class="ignore_click" /> <label for="chkremember" id="lblCheckRem">  Remember me</label>
                    </p>
                    <div class="clsEmplyDiv"></div>
                    <input type="submit" class="ignore_click" value="Submit" name="" id="btnlogin" style="border-radius: 2px;">
                    <input type="submit" class="ignore_click" style="margin-left:2px; border-radius:2px;" value="Clear" name="" id="btntxtclear">
                    <br />
                    <div class="label2" style="width:100%; font-size:12px">
                        <a href="#" class="ignore_click" style="border:0px;" onclick="$('#loginpopup').hide(); $('#FBregisterpopup').hide(); $('#newuserpopup').show();">forgot password?</a>
                        <a href="#" class="ignore_click" style="border:0px;" onclick="$('#loginpopup').hide(); $('#FBregisterpopup').hide(); $('#registerpopup').show();">New User</a>
                        @Html.Partial("fbpartial")
                    </div>
                </div>
                <div class="home-login" style="display:none;" id="newuserpopup">
                    <h2>Forgot Password</h2>
                    <div class="label">Email Id</div>
                    @Html.TextBoxFor(m => m.username, new { id = "txtforgotmail", placeholder = "Enter Your Mail Id", @class = "ignore_click" })
                    <div class="clear"></div>
                    <div></div>
                    <input type="submit" class="ignore_click" value="Send Mail" name="" id="btnsend" style="border-radius: 2px;">
                    <input type="submit" class="ignore_click" style="margin-left:2px; border-radius: 2px;" value="Clear" name="" id="btnpwdclear" >
                    <br />
                    <div class="label2" style="width:100%;">
                        <a href="#" class="ignore_click" style="border:0px;" onclick="$('#newuserpopup').hide(); $('#FBregisterpopup').hide(); $('#loginpopup').show();">Login</a>
                        <a href="#" class="ignore_click" style="border:0px;" onclick="$('#newuserpopup').hide(); $('#FBregisterpopup').hide(); $('#registerpopup').show();">New User/Register</a>
                    </div>
                </div>
                <div class="home-login" style="display:none;" id="registerpopup">
                    <h2>Registration</h2>
                    <div class="label">First Name</div>
                    @Html.TextBoxFor(m => m.firstname, new { id = "txtregfirstname", maxlength = 50, style = "text-transform:lowercase;",placeholder = "Enter Your First Name", @class = "ignore_click", @onkeypress = "onlyAlphabets(e,t)", spellcheck = "false" })
                    <br /><br /><br /><br />
                    <span id="errms"></span>
                    <div id="lblpwd" class="label">Last Name</div>
                    @Html.TextBoxFor(m => m.lastname, new { id = "txtreglastname", placeholder = "Enter Your Last Name", style = "text-transform:lowercase;", @class = "ignore_click", spellcheck = "false" })
                    <br /><br /><br /><br />
                    <span id="errms1"></span>
                    <div class="label">Email Id</div>
                    @Html.TextBoxFor(m => m.mail, new { id = "txtregmail", placeholder = "Enter Your Email Id", @class = "ignore_click", spellcheck = "false" })
                    <div class="label">Password</div>
                    @Html.PasswordFor(m => m.password, new { id = "txtregpwd", placeholder = "Password", @class = "ignore_click" })
                    <div class="label">Confirm Password</div>
                    <input type="password" id="txtregconpwd" placeholder="Confirm Password" class="ignore_click" />
                    <div class="clear"></div>
                    <p id="field"><span style="color:red;">*</span> All fields are mandatory</p>
                    <div></div>
                    <input type="submit" class="ignore_click" value="Submit" name="" id="btnregsubmit" style="border-radius: 2px;">
                    <input type="submit" class="ignore_click" style="margin-left:2px; border-radius: 2px;" value="Clear" name="" id="btnregclear" >
                    @Html.Partial("fbpartial")
                    <br />
                    <div class="label2" style="width:100%;">
                        <a href="#" class="ignore_click" style="border:0px;" onclick="$('#registerpopup').hide(); $('#FBregisterpopup').hide(); $('#loginpopup').show();">Login</a>
                        <a href="#" class="ignore_click" style="border:0px;" onclick="$('#registerpopup').hide(); $('#FBregisterpopup').hide(); $('#newuserpopup').show();">forgot password?</a>
                    </div>
                </div>
                <div class="home-login" style="display:none;" id="FBregisterpopup">
                    <h2>Registration</h2>
                    <input type="hidden" id="FacebookId" />
                    <input type="hidden" id="FaceBook_Page" value="0" />
                    <lable style="margin-left: 10%;font: -webkit-pictograph;font-size: 88%;font-weight: bold;">You have successfully logged in through facebook. Please fill your details to complete the registration process..</lable>
                    <div class="label">First Name</div>
                    @Html.TextBoxFor(m => m.firstname, new { id = "txtfbregfirstname", maxlength = 50, placeholder = "Enter Your First Name", @class = "ignore_click", @onkeypress = "onlyAlphabets(e,t)", spellcheck = "false" })
                    <br /><br /><br /><br />
                    <span id="errms"></span>
                    <div id="lblpwd" class="label">Last Name</div>
                    @Html.TextBoxFor(m => m.lastname, new { id = "txtfbreglastname", placeholder = "Enter Your Last Name", @class = "ignore_click", spellcheck = "false" })
                    <br /><br /><br /><br />
                    <span id="errms1"></span>
                    <div class="label">Email Id</div>
                    @Html.TextBoxFor(m => m.mail, new { id = "txtfbregmail", placeholder = "Enter Your Email Id", @class = "ignore_click", spellcheck = "false" })
                    <div class="label">Password</div>
                    @Html.PasswordFor(m => m.password, new { id = "txtfbregpwd", placeholder = "Password", @class = "ignore_click" })
                    <div class="label">Confirm Password</div>
                    <input type="password" id="txtfbregconpwd" placeholder="Confirm Password" class="ignore_click" />
                    <div class="clear"></div>
                    <p id="field"><span style="color:red;">*</span> All fields are mandatory</p>
                    <div></div>
                    <input type="submit" class="ignore_click" value="Submit" name="" id="btnfbregsubmit" style="border-radius: 2px;">
                    <input type="submit" class="ignore_click" style="margin-left:2px; border-radius: 2px;" value="Clear" name="" id="btnfbregclear">
                    <br />
                    <div class="label2" style="width:100%;">
                        <a href="#" class="ignore_click" style="border:0px;" onclick="$('#FBregisterpopup').hide(); $('#loginpopup').show();">Login</a>
                        <a href="#" class="ignore_click" style="border:0px;" onclick="$('#FBregisterpopup').hide(); $('#newuserpopup').show();">forgot password?</a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</aside>
