﻿@model eztripStart.Models.ManualEntry

@{
    Layout = null;    
    if (Session["adminname"] == null)
    {
        Response.Redirect("~/CMSPage/adminindex");
    }
    var uname = Session["adminname"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title> 1EZ TRIP</title>
    <link rel="shortcut icon" href="../Content/images/location-home-icon.png" />
    <!--  CSS  -->
    <link rel="stylesheet" href="~/Content/css/style-1eztrip.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/media.css" type="text/css">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/theme.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/css/style-1eztrip.css" rel="stylesheet" />
    <style type="text/css">
        .brand {
            font-family: georgia, serif;
        }
            .brand .first {
                color: #ccc;
                font-style: italic;
            }
            .brand .second {
                color: #fff;
                font-weight: bold;
            }
        a:-webkit-any-link {
            color: -webkit-link;
            text-decoration: none !important;
            cursor: auto;
        }
        .Textarea {
            width: 90%;
            height: 70%;
        }
        #btnSave {
            background-color: #1A6386;
            border-color: #58A3CE;
            border-radius: 4px;
            color: #FFF;
        }
        .Textbox {
            width: 100%;
            padding: 3px 5px;
        }
        .newIcon {
            text-align: center;
            margin-right: 0.75em;
        }
    </style>
</head>
<body>
    <form>
        <div class="navbar">
            <div class="navbar-inner" style="background: #1A6386;border-radius: 5px;height: 60px;border-color: #000080;margin-bottom: 50px;">
                <a class="brand" href="#">
                    <span class="first"></span><span class="second">
                        <img src="~/Content/images/logo.png" alt="1EZTRIP" style="margin-top: 10px;margin-left: 100px;">
                    </span>
                    <span style="color:white;margin-left: 500px;font-size: 20px;">
                        Welcome @uname
                    </span>
                </a>
            </div>
        </div>
        <div class="sidebar-nav">
            <a href="CMSEditor" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>CMS Editor</a>
            <a href="CMSFeedback" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>FeedBack</a>
            <a href="ManualEntry" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Hotel/Restaurant Entry</a>
            <a href="AddPrice" class="nav-header" style="background: #58a3ce; color: white;"><i class="newIcon"><img src="../Content/images/arrow-btn.png" /></i>Rate Per City</a>
            <a href="RegisteredUser" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Registered Users</a>
            <a href="CitiesList" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Cities List</a>
            <a href="TopAmazingDestinations" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Amazing Destinations</a>
            <a href="PopularItineraries" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Popular Itineraries</a>
            <a href="PaymentReports" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Payment Reports</a>
            <a href="ChangePassword" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Change Password</a>
            <a href="SeoKeys" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>SEO Keys</a>
            <a href="#" onclick="logout();" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Logout</a>
        </div>
        <div class="content">
            <div class="header" style="background: #58a3ce; border-radius: 6px; margin-bottom: 20px; color: white;">
                <h1 class="page-title" style="color:white;margin-left: 350px;">
                    Add City Price
                </h1>
            </div>
            <section class="inner-wrapper">
                <section class="row-home">
                    <div style="margin-left: 40px;">
                        <div>
                            <table>
                                <tr>
                                    <td>
                                        <p style="font-weight:bold"> Amount Per City</p>
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(m => m.City_Price, new { id = "txtprice", @class = "Textbox", placeholder = "Enter amount per city" })
                                    </td>
                                    <td>
                                        <span style="color:#58a3ce;font-weight:bold;">$<i style="font-size:small;">(USDollar)</i> </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="hidden" id="htn" />
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <input type="button" id="btnSave" value="Save" onclick="return SavePrice();" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </section>
            </section>
        </div>
        <div class="clear"></div>
        @Html.Partial("Footer_PartialView")
        <script type="text/javascript" src="~/Scripts/js/html5.js"></script>
        <script type="text/javascript" src="~/Scripts/js/respond.js"></script>
        <script type="text/javascript" src="~/Scripts/js/jquery.js"></script>
        <script type="text/javascript" src="~/Scripts/js/common.js"></script>
        <script src="~/Scripts/jquery-1.7.1.js"></script>
        <script src="~/Scripts/jquery-1.10.2.js"></script>
        <script src="~/Scripts/js/jquery-ui-1.10.4.min.js"></script>
        <script src="~/Scripts/bootstrap.js"></script>
        <script src="~/Scripts/loading_plugin_js/jquery.noty.packaged.min.js"></script>
        <script type="text/javascript">
        $(document).ready(function () {
            GetCityPrice();
            //$(".Textbox").on("keyup", function (event) {
            //    if ($('.Textbox').val().length < 4) {
            //        $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            //        if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
            //            event.preventDefault();
            //        }
            //    }
            //    else if (event.which != 8)
            //    {
            //        event.preventDefault();
            //    }
            //});


            $('#txtprice').focus();

            $('input#txtprice').bind('keypress', function (e) {
                if (this.value.length >= 4 && e.which != 8 && e.which != 0) {
                    return false;
                }
                else if (e.which == 13)
                {
                    SavePrice();
                }
                return !(e.which != 8 && e.which != 0 &&
                        (e.which < 48 || e.which > 57) && e.which != 46);
            });


        });

        function logout() {
            $.getJSON('../Cmspage/Logoff', function (data) {
                window.location = "../Cmspage/adminindex";
            });
        }

        function GetCityPrice() {
            $.getJSON('../CMSPage/BindCityPrice', {}, function (data) {
                var item = '';
                $.each(data, function (i, item) {
                    $('#txtprice').val(item.Amount_Per_City);
                });
            });
        }

        function SavePrice() {
            var City_Price = $("#txtprice").val();
            $.ajax({
                url: "@Url.Action("AddPrice", "CMSpage")",
                type: 'POST',
                async: false,
                data: { 'City_Price': City_Price },
                success: function (data) {
                    var notify_alert = noty({
                        layout: 'topRight',
                        text: 'Price updated successfully!!',
                        type: 'success',
                        timeout: 3000,
                        maxVisible: 1,
                        animation: {
                            open: { height: 'toggle' },
                            close: { height: 'toggle' },
                            easing: 'swing',
                            speed: 0
                        }
                    });
                },
                error: function (result) {
                    var notify_alert = noty({
                        layout: 'topRight',
                        text: 'Oops! Something went wrong, not saved successfully..',
                        type: 'warning',
                        timeout: 3000,
                        maxVisible: 1,
                        animation: {
                            open: { height: 'toggle' },
                            close: { height: 'toggle' },
                            easing: 'swing',
                            speed: 0
                        }
                    });
                }
            });
            GetCityPrice();
        }
        </script>
    </form>
</body>
</html>
