﻿
@model eztripStart.Models.NewData
@{
    ViewBag.Title = "AdminLogin";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title> 1EZ TRIP</title>
    <link rel="shortcut icon" href="../Content/images/location-home-icon.png" />
    <!--  CSS  -->
    <link rel="stylesheet" href="~/Content/css/style-1eztrip.css" type="text/css">
    <!--[if IE 9]><link rel="stylesheet" href="~/Content/css/ie.css" type="text/css"><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" href="~/Content/css/ie8.css" type="text/css"><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <link href="~/Content/css/StyleSheet1.css" rel="stylesheet" />
    <style type="text/css">
        button::-moz-focus-inner,
        input[type="reset"]::-moz-focus-inner,
        input[type="button"]::-moz-focus-inner,
        input[type="submit"]::-moz-focus-inner,
        input[type="file"] > input[type="button"]::-moz-focus-inner {
            border: none;
        }

        .button {
            display: inline-block;
            padding: 0.5em 2em 0.55em;
            outline: none;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            -webkit-border-radius: .5em;
            -moz-border-radius: .5em;
            border-radius: .5em;
            border: solid 1px #cccccc;
            -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
            border: solid 1px #d02020;
            background-color: #dd2222;
            background: -webkit-gradient(linear, left top, left bottom, from(#e65b5b), to(#dd2222));
            background: -moz-linear-gradient(top, #e65b5b, #dd2222);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e65b5b', endColorstr='#dd2222');
            color: #fbe8e8;
        }
            .button:hover {
                text-decoration: none;
            }
            .button:active {
                position: relative;
                top: 1px;
            }
            .button:hover {
                background-color: #c71f1f;
                background: -webkit-gradient(linear, left top, left bottom, from(#e44e4e), to(#c71f1f));
                background: -moz-linear-gradient(top, #e44e4e, #c71f1f);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e44e4e', endColorstr='#c71f1f');
            }
            .button:active {
                background-color: #e44e4e;
                background: -webkit-gradient(linear, left top, left bottom, from(#dd2222), to(#e44e4e));
                background: -moz-linear-gradient(top, #dd2222, #e44e4e);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd2222', endColorstr='#e44e4e');
                color: #f4bcbc;
            }
    </style>
</head>
<body>
    <header>
        <section class="row-home">
            <figure class="logo"><a href="index.html"><img src="~/Content/images/logo.png" width="180" height="37" alt="1EZTRIP"></a></figure>
            <nav>
                <aside class="menu">
                    <ul>
                    </ul>
                </aside>
            </nav>
        </section>
    </header>
    <section class="banner">
    </section>
    <section class="inner-wrapper">
        <div id="content">
            <div class="box" style="width: 400px; min-height: 300px; margin-top: 40px; margin-left: auto; margin-right: auto;">
                <div class="heading">
                    <h1>
                        <img src="~/Content/images/lockscreen.png" alt="" /> Admin Login.
                    </h1>
                </div>
                <div class="content" style="min-height: 150px; overflow: hidden;">
                    <table style="width: 100%;">
                        <tr>
                            <td style="text-align: center;" rowspan="4">
                                <img src="~/Content/images/login.png" alt="Please enter your login details." />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Username:<br />
                                @Html.TextBoxFor(m => m.username, new { id = "txtloginmail", placeholder = "Enter your User Name" })
                                <br />
                                <br />
                                Password:<br />
                                @Html.PasswordFor(m => m.pwd, new { id = "txtloginpwd", placeholder = "Enter Your Password" })
                                <br />
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align: right;">
                                <input type="submit" name="" value="Submit" id="btnlogin" class="button" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <div class="clear"></div>
    @Html.Partial("Footer_PartialView")
    <!-- Script -->
    <script type="text/javascript" src="~/Scripts/js/html5.js"></script>
    <script type="text/javascript" src="~/Scripts/js/respond.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.js"></script>
    <script type="text/javascript" src="~/Scripts/js/common.js"></script>
    <script src="~/Scripts/loading_plugin_js/jquery.noty.packaged.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script type="text/javascript">
        $('#btnlogin').on('click', function (Event) {
            if ($.trim($("#txtloginmail").val()) == "") {
                var notify_alert = noty({
                    layout: 'topRight',
                    text: 'Please enter user name',
                    type: 'warning',
                    timeout: 3000,
                    maxVisible: 1,
                    modal: true,
                    animation: {
                        open: { height: 'toggle' },
                        close: { height: 'toggle' },
                        easing: 'swing',
                        speed: 0
                    }
                });
               return false;
           }
           else {              
           }
            if ($.trim($("#txtloginpwd").val()) == "") {
                var notify_alert = noty({
                    layout: 'topRight',
                    text: 'Please enter your password',
                    type: 'warning',
                    timeout: 3000,
                    maxVisible: 1,
                    modal: true,
                    animation: {
                        open: { height: 'toggle' },
                        close: { height: 'toggle' },
                        easing: 'swing',
                        speed: 0
                    }
                });              
               return false;
           }
           else {              
           }
           var dataObject={
               username: $('#txtloginmail').val(),
               pwd: $('#txtloginpwd').val()
           };
           $.ajax({
               url: '@Url.Action("AdminValid", "CMSPage")',
              type: "POST",
              data: dataObject,
             dataType: "json",
             success: function (result) {
                 window.location.href = "CMSEditor";
           },
             error: function (result) {
                 $("#txtloginpwd").val("");
                 var notify_alert = noty({
                     layout: 'topRight',
                     text: 'Login failed! Your User Name and Password doesn\'t match!!',
                     type: 'warning',
                     timeout: 3000,
                     maxVisible: 1,
                     modal: true,
                     animation: {
                         open: { height: 'toggle' },
                         close: { height: 'toggle' },
                         easing: 'swing',
                         speed: 0
                     }
                 });
             }
           });
        });
        
        $('#txtloginpwd').keypress(function (e) {
            var key = e.which;
            if (key == 13)  
            {
                $("#btnlogin").click();
                return false;
            }
        });
    </script>   
</body>
</html>



