﻿@model eztripStart.Models.NewData
@{
    ViewBag.Title = "Change Password";    
    if (Session["adminname"] == null)
    {
        Response.Redirect("~/CMSPage/adminindex");
    }
    var uname = Session["adminname"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title> 1EZ TRIP</title>
    <link rel="shortcut icon" href="../Content/images/location-home-icon.png" />
    <!--  CSS  -->
    <link rel="stylesheet" href="~/Content/css/style-1eztrip.css" type="text/css">
    <!--[if IE 9]><link rel="stylesheet" href="~/Content/css/ie.css" type="text/css"><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" href="~/Content/css/ie8.css" type="text/css"><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <link href="~/Content/css/StyleSheet1.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/theme.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/css/style-1eztrip.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <style type="text/css">
        button::-moz-focus-inner,
        input[type="reset"]::-moz-focus-inner,
        input[type="button"]::-moz-focus-inner,
        input[type="submit"]::-moz-focus-inner,
        input[type="file"] > input[type="button"]::-moz-focus-inner {
            border: none;
        }
        .button {
            display: inline-block;
            padding: 0.5em 2em 0.55em;
            outline: none;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            -webkit-border-radius: .5em;
            -moz-border-radius: .5em;
            border-radius: .5em;
            border: solid 1px #cccccc;
            -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
            border: solid 1px #d02020;
            background-color: #dd2222;
            background: -webkit-gradient(linear, left top, left bottom, from(#e65b5b), to(#dd2222));
            background: -moz-linear-gradient(top, #e65b5b, #dd2222);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e65b5b', endColorstr='#dd2222');
            color: #fbe8e8;
        }
            .button:hover {
                text-decoration: none;
            }
            .button:active {
                position: relative;
                top: 1px;
            }
            .button:hover {
                background-color: #c71f1f;
                background: -webkit-gradient(linear, left top, left bottom, from(#e44e4e), to(#c71f1f));
                background: -moz-linear-gradient(top, #e44e4e, #c71f1f);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e44e4e', endColorstr='#c71f1f');
            }

            .button:active {
                background-color: #e44e4e;
                background: -webkit-gradient(linear, left top, left bottom, from(#dd2222), to(#e44e4e));
                background: -moz-linear-gradient(top, #dd2222, #e44e4e);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd2222', endColorstr='#e44e4e');
                color: #f4bcbc;
            }

        .newIcon {
            text-align: center;
            margin-right: 0.75em;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <div class="navbar-inner" style="background: #1A6386;border-radius: 5px;height: 60px;border-color: #000080;margin-bottom: 50px;">
            <a class=" brand" href="#">
                <span class="first"></span><span class="second">
                    <img src="~/Content/images/logo.png" alt="1EZTRIP" style="margin-top: 10px;margin-left: 100px;">
                </span>
                <span style="color:white;margin-left: 500px;font-size: 20px;">
                    Welcome @uname
                </span>
            </a>
        </div>
    </div>
    <section class="banner">
    </section>
    <section class="inner-wrapper">
        <div class="sidebar-nav">
            <a href="CMSEditor" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>CMS Editor</a>
            <a href="CMSFeedback" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>FeedBack</a>
            <a href="ManualEntry" class="nav-header" ><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Hotel/Restaurant Entry</a>
            <a href="AddPrice" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Rate Per City</a>
            <a href="RegisteredUser" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Registered Users</a>
            <a href="CitiesList" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Cities List</a>
            <a href="TopAmazingDestinations" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Amazing Destinations</a>
            <a href="PopularItineraries" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Popular Itineraries</a>
            <a href="PaymentReports" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Payment Reports</a>
            <a href="ChangePassword" class="nav-header" style="background: #58a3ce; color: white;"><i class="newIcon"><img src="../Content/images/arrow-btn.png" /></i>Change Password</a>
            <a href="SeoKeys" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>SEO Keys</a>
            <a href="#" onclick="logout();" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Logout</a>
        </div>
        <div class="content" id="content" style="background: #ececec;">
            <div class="box" style="width: 400px; min-height: 300px; margin-top: 40px; margin-left: auto; margin-right: auto;">
                <div class="heading" style="width:79%;">
                    <h1>
                        <img src="~/Content/images/lockscreen.png" alt="" /> Change Password.
                    </h1>
                </div>
                <div class="content" style="min-height: 150px; overflow: hidden; margin-left:0px;">
                    <table style="width: 100%;">
                        <tr>
                            <td style="text-align: center;" rowspan="4">
                                <img src="~/Content/images/login.png" alt="Please enter your login details." />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Old Password<br />
                                <input type="password" id="oldpass">
                                <br />
                                New Password<br />
                                <input type="password" id="newpass">
                                <br />
                                Confirm New Password<br />
                                <input type="password" id="cnewpass">
                                <br />
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align: right;">
                                <input type="submit" name="" value="Change Password" id="btnlogin" class="button" />

                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <div class="clear"></div>
    @Html.Partial("Footer_PartialView")
    <!-- Script -->
    <script type="text/javascript" src="~/Scripts/js/html5.js"></script>
    <script type="text/javascript" src="~/Scripts/js/respond.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.js"></script>
    <script type="text/javascript" src="~/Scripts/js/common.js"></script>
    <script src="~/Scripts/loading_plugin_js/jquery.noty.packaged.min.js"></script>
    <script src="~/Scripts/js/jquery-1.10.4.js"></script>
    <script type="text/javascript">
       $('#btnlogin').on('click', function () {
           var oldpas = $('#oldpass').val();
           var newpass1 = $('#newpass').val();
           var newpass2 = $('#cnewpass').val();
           if (oldpas == "") {
               var notify_alert = noty({
                   layout: 'topRight',
                   text: 'Enter the old password',
                   type: 'warning',
                   timeout: 3000,
                   maxVisible: 1,
                   modal: true,
                   animation: {
                       open: { height: 'toggle' },
                       close: { height: 'toggle' },
                       easing: 'swing',
                       speed: 0
                   }
               });
               return false;
           }
           else if (newpass1 == "")
           {
               var notify_alert = noty({
                   layout: 'topRight',
                   text: 'Enter the new password',
                   type: 'warning',
                   timeout: 3000,
                   maxVisible: 1,
                   modal: true,
                   animation: {
                       open: { height: 'toggle' },
                       close: { height: 'toggle' },
                       easing: 'swing',
                       speed: 0
                   }
               });
               return false;
           }
           else if (newpass2 == "") {
               var notify_alert = noty({
                   layout: 'topRight',
                   text: 'Please re-enter the password to confirm',
                   type: 'warning',
                   timeout: 3000,
                   maxVisible: 1,
                   modal: true,
                   animation: {
                       open: { height: 'toggle' },
                       close: { height: 'toggle' },
                       easing: 'swing',
                       speed: 0
                   }
               });
               return false;
           }

           else if (newpass1 != newpass2)
           {
               var notify_alert = noty({
                   layout: 'topRight',
                   text: 'New password and confirm password doesn\'t match',
                   type: 'warning',
                   timeout: 3000,
                   maxVisible: 1,
                   modal: true,
                   animation: {
                       open: { height: 'toggle' },
                       close: { height: 'toggle' },
                       easing: 'swing',
                       speed: 0
                   }
               });
               return false;
           }

           $.ajax({
               url: '@Url.Action("oldtonewpassword", "CMSPage")',
              type: "POST",
              data: { 'oldpass': oldpas, 'newpass': newpass1 },
             dataType: "json",
             success: function (result) {
                 if (result== 0)
                 {
                     var notify_alert = noty({
                         layout: 'topRight',
                         text: 'Error!. Incorrect old password..',
                         type: 'warning',
                         timeout: 3000,
                         maxVisible: 1,
                         modal: true,
                         animation: {
                             open: { height: 'toggle' },
                             close: { height: 'toggle' },
                             easing: 'swing',
                             speed: 0
                         }
                     });
                 }
                 else {
                     var notify_alert = noty({
                         layout: 'topRight',
                         text: 'Password changed successfully',
                         type: 'success',
                         timeout: 3000,
                         maxVisible: 1,
                         modal: true,
                         animation: {
                             open: { height: 'toggle' },
                             close: { height: 'toggle' },
                             easing: 'swing',
                             speed: 0
                         }
                     });
                 }                 
                 $('#oldpass').val('');
                 $('#newpass').val('');
                 $('#cnewpass').val('');
           },
             error: function (result) {
                 var notify_alert = noty({
                     layout: 'topRight',
                     text: 'Error!.Old password is not matched..',
                     type: 'warning',
                     timeout: 3000,
                     maxVisible: 1,
                     modal: true,
                     animation: {
                         open: { height: 'toggle' },
                         close: { height: 'toggle' },
                         easing: 'swing',
                         speed: 0
                     }
                 });
               $('#oldpass').val('');
               $('#newpass').val('');
               $('#cnewpass').val('');
               return false;
           }
       });
       });

        function logout()
        {
            $.ajax({
                url:'@(Url.Action("Logoff","CMSPage"))',
                    type: "POST",
                    dataType: "json",
                    success: function (result) {
                        if(result==1)
                        {
                            var logoffurl = "/CMSPage/adminindex";
                            window.location.href = logoffurl;
                        }
                    }
            })
        }

    </script>
</body>
</html>



