﻿@model eztripStart.Models.EditorFileNameModel

@{    
    if (Session["adminname"] == null)
    {
        Response.Redirect("~/CMSPage/adminindex");
    }
    Layout = null;
    var uname = Session["adminname"];
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title> 1EZ TRIP</title>
    <link rel="shortcut icon" href="../Content/images/location-home-icon.png" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/theme.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/css/style-1eztrip.css" rel="stylesheet" />
    <link href="~/Content/css/jquery.dataTable.css" rel="stylesheet" />
    <style type="text/css">
        .brand {
            font-family: georgia, serif;
        }

            .brand .first {
                color: #ccc;
                font-style: italic;
            }

            .brand .second {
                color: #fff;
                font-weight: bold;
            }

        a:-webkit-any-link {
            color: -webkit-link;
            text-decoration: none !important;
            cursor: auto;
        }

        .cke_Message {
            margin-top: 20px;
            width: 1000px;
            margin-left: 10px;
        }

        .newIcon {
            text-align: center;
            margin-right: 0.75em;
        }

    </style>
</head>
<body>
    <div class="navbar">
        <div class="navbar-inner" style="background: #1A6386;border-radius: 5px;height: 60px;border-color: #000080;margin-bottom: 50px;">
            <a class="brand" href="#">
                <span class="first"></span><span class="second">
                    <img src="~/Content/images/logo.png" alt="1EZTRIP" style="margin-top: 10px;margin-left: 100px;">
                </span>
                <span style ="color:white;margin-left: 500px;font-size: 20px;">
                    Welcome @uname
                    </span></a>
        </div>
    </div>
    <div class="sidebar-nav">
        <a href="CMSEditor" class="nav-header" style="background: #58a3ce; color: white;"><i class="newIcon"><img src="../Content/images/arrow-btn.png" /></i>CMS Editor</a>
        <a href="CMSFeedback" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>FeedBack</a>
        <a href="ManualEntry" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Hotel/Restaurant Entry</a>
        <a href="AddPrice" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Rate Per City</a>
        <a href="RegisteredUser" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Registered Users</a>
        <a href="CitiesList" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Cities List</a>
        <a href="TopAmazingDestinations" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Amazing Destinations</a>
        <a href="PopularItineraries" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Popular Itineraries</a>
        <a href="PaymentReports" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Payment Reports</a>
        <a href="ChangePassword" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Change Password</a>
        <a href="SeoKeys" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>SEO Keys</a>
        <a href="#" onclick="logout();" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Logout</a>
    </div>
    <div class="content">
        <div class="header" style="background: #58a3ce; border-radius: 6px; margin-bottom: 20px; color:white;">
            <h1 class="page-title" style="color:white;margin-left: 350px;font-family:'open_sansbold';">
                Content Management
            </h1>
        </div>
        <div>          
                <b style="margin-left:30px;">CMS Page </b> @Html.DropDownList("ddl", Model.EditorFileNameListModel)
                @Html.TextAreaFor(m => m.Message, new { style="display:none;"})<br />
                <input class="submit" type="submit" value="Update" id="btnsave" style="background-color: #033363;color: azure;width: 100px;height: 35px;border-radius: 8px;border-color: #033363;margin-left: 500px;display:none; " />
                <input class="submit" type="submit" value="Update" id="btntest" style="background-color: #58a3ce;color: azure;width: 100px;height: 35px;border-radius: 8px;border-color: #033363;margin-left: 500px;display:none;" />
                @Html.TextBoxFor(m => m.FileName, new { style = "width:200px;", id = "fnam", type = "hidden" })
        </div>
    </div>
</body>
@Html.Partial("Footer_PartialView")
</html>
@*<script src="~/Scripts/jquery-1.7.1.js"></script>*@
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/js/jquery-ui-1.10.4.min.js"></script>
@*<script src="~/Scripts/ckeditor.js"></script>*@
<script type="text/javascript" src="http://cdn.ckeditor.com/4.4.4/standard/ckeditor.js"></script>
<script src="~/Scripts/loading_plugin_js/jquery.noty.packaged.min.js"></script>
<script type="text/javascript">
                $("[rel=tooltip]").tooltip();
                $(function () {
                    $('.demo-cancel-click').click(function () { return false; });
                });

                $(document).ready(function () {
                    CKEDITOR.replace('Message');
                    $('#btntest').show();
                });
                    $("#ddl").change(function () {
                      var ss = $("#ddl").val();
                        if (ss != "Select")
                        {
                            $("#fnam").val(ss);
                            $.ajax({
                                type: 'post',
                                datatype: 'json',
                                url: '@Url.Action("ShowContent", "CMSPage")',
                                data: { test: ss },
                                ContentType: "application/json; charset=utf-8",
                                success: function (response) {
                                    var obj = response;
                                    CKEDITOR.instances['Message'].setData(obj);
                                },
                                error: function (result) {
                                    var notify_alert = noty({
                                        layout: 'topRight',
                                        text: 'Oops!. Something went wrong.',
                                        type: 'warning',
                                        timeout: 3000,
                                        maxVisible: 1,
                                        animation: {
                                            open: { height: 'toggle' },
                                            close: { height: 'toggle' },
                                            easing: 'swing',
                                            speed: 0
                                        }
                                    });
                                }
                            });
                        }
                        else
                        {
                            CKEDITOR.instances['Message'].setData('');
                        }
                    });

    $("#btnsave").click(function () {
        if (($("#fnam").val()) == '') {
            var notify_alert = noty({
                layout: 'topRight',
                text: 'Enter the file name',
                type: 'warning',
                timeout: 3000,
                maxVisible: 1,
                animation: {
                    open: { height: 'toggle' },
                    close: { height: 'toggle' },
                    easing: 'swing',
                    speed: 0
                }
            });
            return false;
        }
        else
            return true;
    });

                /******************Update Content*************/
                $('#btntest').click(function ()
                {
                    var content = CKEDITOR.instances['Message'].getData();
                    var File = $("#ddl").val();
                    if (File == "Select") {
                        var notify_alert = noty({
                            layout: 'topRight',
                            text: 'Please select CMS page to be updated..',
                            type: 'warning',
                            timeout: 3000,
                            maxVisible: 1,
                            animation: {
                                open: { height: 'toggle' },
                                close: { height: 'toggle' },
                                easing: 'swing',
                                speed: 0
                            }
                        });
                        return false;
                    }
                    else {
                        var dataObject = {
                            Message: content,
                            FileName: File
                        };
                        $.ajax({
                            url: "@Url.Action("UpdateContent", "CMSPage")",
                            type: "POST",
                            data: dataObject,
                            dataType: "json",
                            success: function (result) {
                                var notify_alert = noty({
                                    layout: 'topRight',
                                    text: 'Updated successfully',
                                    type: 'success',
                                    timeout: 3000,
                                    maxVisible: 1,
                                    animation: {
                                        open: { height: 'toggle' },
                                        close: { height: 'toggle' },
                                        easing: 'swing',
                                        speed: 0
                                    }
                                });
                                return false;
                            },
                            error: function (result) {
                                var notify_alert = noty({
                                    layout: 'topRight',
                                    text: 'Oops!. Something went wrong, please try updating the content another time',
                                    type: 'warning',
                                    timeout: 3000,
                                    maxVisible: 1,
                                    animation: {
                                        open: { height: 'toggle' },
                                        close: { height: 'toggle' },
                                        easing: 'swing',
                                        speed: 0
                                    }
                                });
                                return false;
                            }
                        });
                        return false;
                    }
                });

    function logout() {
        $.getJSON('../Cmspage/Logoff', function (data) {
            window.location = "../Cmspage/adminindex";
        });
    }
</script>
