﻿@model eztripStart.Models.CommentList
@{        
    if (Session["adminname"] == null)
    {
        Response.Redirect("~/CMSPage/adminindex");
    }
    var uname = Session["adminname"];
}

@using (Html.BeginForm())
{
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <title> 1EZ TRIP</title>
        <link rel="shortcut icon" href="../Content/images/location-home-icon.png" />
        <!--  CSS  -->        
        <!--[if IE 9]><link rel="stylesheet" href="~/Content/css/ie.css" type="text/css"><![endif]-->
        <!--[if IE 8]><link rel="stylesheet" href="~/Content/css/ie8.css" type="text/css"><![endif]-->
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <link href="~/Content/css/theme.css" rel="stylesheet" />
        <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/Content/css/style-1eztrip.css" type="text/css">
        <link rel="stylesheet" href="~/Content/css/media.css" type="text/css">
        <link href="~/jqwidgets/styles/jqx.base.css" rel="stylesheet" />
        <link href="~/jqwidgets/styles/jqx.energyblue.css" rel="stylesheet" type="text/css" />
        <style type="text/css">
            .brand {
                font-family: georgia, serif;
            }

                .brand .first {
                    color: #ccc;
                    font-style: italic;
                }

                .brand .second {
                    color: #fff;
                    font-weight: bold;
                }

            a:-webkit-any-link {
                color: -webkit-link;
                text-decoration: none !important;
                cursor: auto;
            }

            #jqxScrollThumbverticalScrollBarJqxGrid {
                background-color: #B3B9BD;
                width: 10px !important;
                margin-left: 3px;
            }

            .newIcon {
                text-align: center;
                margin-right: 0.75em;
            }

        </style>
    </head>
    <body>       
        <div class="navbar">
            <div class="navbar-inner" style="background: #1A6386;border-radius: 5px;height: 60px;border-color: #000080;margin-bottom: 50px;">
                <a class="brand" href="#">
                    <span class="first"></span><span class="second">
                         <img src="~/Content/images/logo.png" alt="1EZTRIP" style="margin-top: 10px;margin-left: 100px;">
                    </span>
                    <span style="color:white;margin-left: 500px;font-size: 20px;">                        
                        Welcome @uname
                    </span>
                </a>
            </div>
        </div>
        <div class="sidebar-nav">
            <a href="CMSEditor" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>CMS Editor</a>
            <a href="CMSFeedback" class="nav-header" style="background: #58a3ce; color: white;"><i class="newIcon"><img src="../Content/images/arrow-btn.png" /></i>FeedBack</a>
            <a href="ManualEntry" class="nav-header" ><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Hotel/Restaurant Entry</a>
            <a href="AddPrice" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Rate Per City</a>
            <a href="RegisteredUser" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Registered Users</a>
            <a href="CitiesList" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Cities List</a>
            <a href="TopAmazingDestinations" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Amazing Destinations</a>
            <a href="PopularItineraries" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Popular Itineraries</a>
            <a href="PaymentReports" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Payment Reports</a>
            <a href="ChangePassword" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Change Password</a>
            <a href="SeoKeys" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>SEO Keys</a>            
            <a href="#" onclick="logout();" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Logout</a>
        </div>
        <div class="content" id="blockDiv">
            <div class="header" style="background: #58a3ce; border-radius: 6px; margin-bottom: 20px; color: white;">
                <h1 class="page-title" style="color:white;margin-left: 350px;font-family:'open_sansbold';">
                    Feedbacks
                </h1>
            </div>
            <section class="inner-wrapper">
                <section class="row-home row-home-cms">
                    <div id="divadd_student">
                    </div>
                    <div>
                        <div style="margin-left:30%;margin-top:5%; float:left;padding-left:5px;">
                            <button type="button" value="Active" id="btnActive" name="Command" style="width:80px;border-radius:4px;background:#58a3ce;display:none;" class="button">Activate</button>
                            <div style="float:left;padding-left:5px;">
                                <button type="button" value="DeActive" id="btnDeActive" name="Command" style="width: 95px; border-radius: 4px; background: #58a3ce; display: none;" class="button">DeActivate</button>
                            </div>
                            <div style="float:left;padding-left:5px;">
                                <button type="button" id="btnDelete" name="Command"  value="Delete" style="width: 80px; border-radius: 4px; background: #58a3ce; display: none;" class="button">Delete</button>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </div>
        <div class="clear"></div>
        @Html.Partial("Footer_PartialView")
        <!-- Script -->
    </body>
</html>
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script type="text/javascript" src="~/Scripts/js/html5.js"></script>
<script type="text/javascript" src="~/Scripts/js/respond.js"></script>
<script type="text/javascript" src="~/Scripts/js/jquery.js"></script>
<script type="text/javascript" src="~/Scripts/js/common.js"></script>
<script src="~/bundles/JqxGrid"></script>
<script src="~/Scripts/js/Block.ui.js"></script>
<script type="text/javascript">

    $(document).ready(function () {        
        $('#blockDiv').block({
            message: 'Please wait while data is loading..',
            css: {
                border: 'none',
                padding: '15px',
                backgroundColor: '#033363',
                '-webkit-border-radius': '10px',
                '-moz-border-radius': '10px',
                opacity: .5,
                color: '#fff'
            }
        });
        
        $.ajax({
            type: "POST",
            //async: false,
            url: "../CMSPage/LoadFeedBack",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                if (data.d != "") {
                    var xlocaldata;
                    xlocaldata = data;

                    var source =
{
    localdata: xlocaldata,
    datatype: "json",
    datafields:
        [
       { name: 'ID', type: 'string', hidden: true },
       { name: 'UserName', type: 'string' },
        { name: 'EmailId', type: 'string' },
        { name: 'ContactNo', type: 'string' },
        { name: 'comment', type: 'string' },
        { name: 'IsActive', type: 'string' }
        ]
};
                    var Activerenderer = function (IsActive, datafields, value) {
                        var string = value.toLowerCase();
                        if (string == "yes") {
                            return '<span style="color:green;margin-left: 8%;">' + value + '</span>';
                        }
                        else {
                            return '<span style="color:red;margin-left: 8%;">' + value + '</span>';
                        }
                    }
                    var dataAdapter = new $.jqx.dataAdapter(source);
                    $('#divadd_student').jqxGrid({
                        width: '100%',
                        source: dataAdapter,
                        sortable: true,
                        filterable: true,
                        altrows: true,
                        pageable: true,
                        columnsresize: true,
                        selectionmode: 'checkbox',
                        height: '50%',
                        columns: [
                        {
                            text: 'Id', datafield: 'ID', width: '5%', hidden: true
                        },
                        {
                            text: 'Name', datafield: 'UserName', width: '15%'
                        },
                         {
                             text: 'EmailId', datafield: 'EmailId', width: '25%'
                         },
                         {
                             text: 'ContactNo', datafield: 'ContactNo', width: '15%'
                         },
                         {
                             text: 'Comment', datafield: 'comment', width: '30%'
                         },
                         {
                             text: 'Active', datafield: 'IsActive', width: '10%', cellsrenderer: Activerenderer
                         }
                        ]
                    });
                    $('#blockDiv').unblock();
                    $('#btnActive').show();
                    $('#btnDeActive').show();
                    $('#btnDelete').show();
                }
            }
        });


        $("#btnDelete").on('click', function () {
            var rows = $('#divadd_student').jqxGrid('selectedrowindexes');
            if (rows.length != 0) {
                var Result = confirm("Are you sure you want to delete the selected feedback?");
                if (Result == true) {
                    var Header = '';
                    for (var m = 0; m < rows.length; m++) {
                        Header += $("#divadd_student").jqxGrid('getrowdata', rows[m]).ID;
                        if (m != rows.length - 1) {
                            Header += ",";
                        }
                    }
                    $.getJSON('../CMSPage/DeleteFeedBack', { UserName: Header }, function (data) {
                       // $.each(data, function (i, d) {
                            window.location.href = "../CMSPage/CMSFeedback";
                        //});
                    });
                    var rows = $('#divadd_student').jqxGrid('selectedrowindexes');
                    var array = new Array();
                    for (var m = 0; m < rows.length; m++) {
                        array.push($("#divadd_student").jqxGrid('getrowid', rows[m]));
                    }
                    $("#divadd_student").jqxGrid('deleterow', array);
                    $("#divadd_student").jqxGrid('clearselection');
                    return false;
                }
                else {
                    return false;
                }
            }
            else {
                var notify_alert = noty({
                    layout: 'topRight',
                    text: 'Please select atleast one field..',
                    type: 'warning',
                    timeout: 2000,
                    maxVisible: 1,
                    animation: {
                        open: { height: 'toggle' },
                        close: { height: 'toggle' },
                        easing: 'swing',
                        speed: 500
                    }
                });
                return false;
            }

        });

        $("#btnActive").on('click', function () {
            var rows = $('#divadd_student').jqxGrid('selectedrowindexes');
            if (rows.length != 0) {
                var Header = '';
                for (var m = 0; m < rows.length; m++) {
                    Header += $("#divadd_student").jqxGrid('getrowdata', rows[m]).ID;
                    if (m != rows.length - 1) {
                        Header += ",";
                    }
                }
                $.getJSON('../CMSPage/ActivateFeedBack', { UserName: Header }, function (data) {
                    //$.each(data, function (i, d) {
                        window.location.href = "../CMSPage/CMSFeedback";
                    //});

                });
            }
            else {
                var notify_alert = noty({
                    layout: 'topRight',
                    text: 'Please select atleast one field..',
                    type: 'warning',
                    timeout: 2000,
                    maxVisible: 1,
                    animation: {
                        open: { height: 'toggle' },
                        close: { height: 'toggle' },
                        easing: 'swing',
                        speed: 500
                    }
                });
                return false;
            }
        });

        $("#btnDeActive").on('click', function () {
            var rows = $('#divadd_student').jqxGrid('selectedrowindexes');
            if (rows.length != 0) {
                var Header = '';
                for (var m = 0; m < rows.length; m++) {
                    Header += $("#divadd_student").jqxGrid('getrowdata', rows[m]).ID;
                    if (m != rows.length - 1) {
                        Header += ",";
                    }
                }
                $.getJSON('../CMSPage/DeactivateFeedBack', { UserName: Header }, function (data) {
                    //$.each(data, function (i, d) {
                        window.location.href = "../CMSPage/CMSFeedback";
                    //});
                });
            }
            else {
                var notify_alert = noty({
                    layout: 'topRight',
                    text: 'Please Select Atleast One Field',
                    type: 'warning',
                    timeout: 2000,
                    maxVisible: 1,
                    animation: {
                        open: { height: 'toggle' },
                        close: { height: 'toggle' },
                        easing: 'swing',
                        speed: 500
                    }
                });
                return false;
            }
        });
    });

    function logout() {
        $.getJSON('../Cmspage/Logoff', function (data) {
            window.location = "../Cmspage/adminindex";
        });
    }
</script>



