﻿@model eztripStart.Models.ManualEntry

@{
    Layout = null;
    var Alert = TempData["Alert"];    
    if (Session["adminname"] == null || Session["adminname"] == "")
    {
        Response.Redirect("~/CMSPage/adminindex");
    }
    var uname = Session["adminname"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title> 1EZ TRIP</title>
    <link rel="shortcut icon" href="../Content/images/location-home-icon.png" />
    <!--  CSS  -->
    <link rel="stylesheet" href="~/Content/css/style-1eztrip.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/media.css" type="text/css">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/theme.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/css/style-1eztrip.css" rel="stylesheet" />
    <link href="~/Content/css/Tripuser.css" rel="stylesheet" />
    <link href="~/jqwidgets/styles/jqx.base.css" rel="stylesheet" />
    <link href="~/jqwidgets/styles/jqx.energyblue.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        #jqxScrollThumbverticalScrollBartblAttraheading {
            background-color: #B3B9BD;
            width: 10px !important;
            margin-left: 3px;
        }

        .newIcon {
            text-align: center;
            margin-right: 0.75em;
        }
    </style>
</head>
<body>
    <form>
        <div class="navbar">
            <div class="navbar-inner" style="background: #1A6386;border-radius: 5px;height: 60px;border-color: #000080;margin-bottom: 50px;">
                <a class="brand" href="#">
                    <span class="first"></span><span class="second">
                        <img src="~/Content/images/logo.png" alt="1EZTRIP" style="margin-top: 10px;margin-left: 100px;">
                    </span>
                    <span style="color:white;margin-left: 500px;font-size: 20px;">
                        Welcome @uname
                    </span>
                </a>
            </div>
        </div>
        <div class="sidebar-nav">
            <a href="CMSEditor" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>CMS Editor</a>
            <a href="CMSFeedback" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>FeedBack</a>
            <a href="ManualEntry" class="nav-header" style="background: #58a3ce; color: white;"><i class="newIcon"><img src="../Content/images/arrow-btn.png" /></i>Hotel/Restaurant Entry</a>
            <a href="AddPrice" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Rate Per City</a>
            <a href="RegisteredUser" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Registered Users</a>
            <a href="CitiesList" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Cities List</a>
            <a href="TopAmazingDestinations" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Amazing Destinations</a>
            <a href="PopularItineraries" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Popular Itineraries</a>
            <a href="PaymentReports" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Payment Reports</a>
            <a href="ChangePassword" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Change Password</a>
            <a href="SeoKeys" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>SEO Keys</a>
            <a href="#" onclick="logout();" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Logout</a>
        </div>
        <div class="content">
            <div class="header" style="background: #58a3ce; border-radius: 6px; margin-bottom: 20px; color: white;">
                <h1 class="page-title" style="color:white;margin-left: 350px;">
                    Add List
                </h1>
            </div>
            <section class="inner-wrapper">
                <section class="row-home row-home-cms">
                    <div id="divadd_student" style="margin-left:1%">
                        <div>
                            <table>
                                <tr>
                                    <td>
                                        <p style="font-weight:bold">Select List</p>
                                    </td>
                                    <td>
                                        @using (Html.BeginForm())
                                        {
                                            @Html.DropDownList("List", ViewData["List"] as List<SelectListItem>)
                                        }
                                        <input type="hidden" id="htnpath" />
                                    </td>
                                    <td></td>
                                </tr>
                            </table>
                            <br />
                            <div>
                                @************************Hotel Div start****************************@
                                @Html.Partial("~/Views/Shared/ManualEntry/Hotel_ManualEntry.cshtml")
                                @**********************Restaurant div Start*************************@
                                @Html.Partial("~/Views/Shared/ManualEntry/Restaurant_ManualEntry.cshtml")
                                @*******************Attraction Div Start******************************@
                                @Html.Partial("~/Views/Shared/ManualEntry/Attraction_ManualEntry.cshtml")
                                @********************Activties Div Start*************************@
                                @Html.Partial("~/Views/Shared/ManualEntry/Activity_ManualEntry.cshtml")
                            </div>
                        </div>                       
                    </div>                   
                </section>
            </section>
        </div>
        <div class="clear"></div>
        @Html.Partial("Footer_PartialView")
    </form>
</body>
</html>
<script src="~/Scripts/js/Jquery1.11.1.min.js"></script>
<script src="~/jqwidgets/jqxcore.js"></script>
<script src="~/jqwidgets/jqxdata.js"></script>
<script src="~/jqwidgets/jqxbuttons.js"></script>
<script src="~/jqwidgets/jqxscrollbar.js"></script>
<script src="~/jqwidgets/jqxmenu.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxmenu.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxcheckbox.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxlistbox.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxdropdownlist.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxgrid.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxgrid.sort.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxgrid.pager.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxgrid.selection.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxgrid.edit.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxgrid.columnsresize.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxgrid.filter.js"></script>
<script src="~/Scripts/js/jquery.dataTables.min.js"></script>
@*<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC75yhLucsAnQflSK1Ar6EHS0pAoxzL5nM&libraries=places"></script>*@
@*<script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places" type="text/javascript"></script>*@
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA_USvPi4ptRBaatiWitp6IclwHjzdhhCI &libraries=places"></script>
<script src="~/Scripts/ManualEntry/PageLoad.js"></script>
<script src="~/Scripts/ManualEntry/Hotel.js"></script>
<script src="~/Scripts/ManualEntry/Restaurant.js"></script>
<script src="~/Scripts/ManualEntry/Attraction.js"></script>
<script src="~/Scripts/ManualEntry/Activity.js"></script>
<script src="~/Scripts/loading_plugin_js/jquery.noty.packaged.min.js"></script>
<script type="text/javascript">
    /****************Hotel autocomplete textbox code************/
    var latitude = "", longitude = "", city = "";
    google.maps.event.addDomListener(window, 'load', function () {
        var places = new google.maps.places.Autocomplete(document.getElementById('txtcity'));
        google.maps.event.addListener(places, 'place_changed', function () {
            var place = places.getPlace();
            var address = place.formatted_address;
            latitude = place.geometry.location.lat();
            longitude = place.geometry.location.lng();
            city = $('#txtcity').val();
            $('#txtlatitude').val(latitude);
            $('#txtlongitude').val(longitude);
        });
    });
    /**************End hotel autocomplete*********************/

    /***************Restaurant autocomplete textbox code****************/
    var Reslatitude = "", Reslongitude = "";
    google.maps.event.addDomListener(window, 'load', function () {
        var places = new google.maps.places.Autocomplete(document.getElementById('txtRescity'));
        google.maps.event.addListener(places, 'place_changed', function () {
            var place = places.getPlace();
            var address = place.formatted_address;
            Reslatitude = place.geometry.location.lat();
            Reslongitude = place.geometry.location.lng();
            city = $('#txtRescity').val();
            $('#txtReslatitude').val(Reslatitude);
            $('#txtReslongitude').val(Reslongitude);
        });
    });
    /*************End Restaurant autocomplete*********************/

    /********************Attraction autocomplete textbox code****************/
    var Attrlatitude = "", Attrlongitude = "";
    google.maps.event.addDomListener(window, 'load', function () {
        var places = new google.maps.places.Autocomplete(document.getElementById('txtAttrcity'));
        google.maps.event.addListener(places, 'place_changed', function () {
            var place = places.getPlace();
            var address = place.formatted_address;
            Attrlatitude = place.geometry.location.lat();
            Attrlongitude = place.geometry.location.lng();
            city = $('#txtAttrcity').val();
            $('#txtAttrlatitude').val(Attrlatitude);
            $('#txtAttrlongitude').val(Attrlongitude);
        });
    });
    /****************End Attraction autocomplete******************/

    /************Activity autocomplete textbox****************/
    var Actlatitude = "", Actlongitude = "";
    google.maps.event.addDomListener(window, 'load', function () {
        var places = new google.maps.places.Autocomplete(document.getElementById('txtActcity'));
        google.maps.event.addListener(places, 'place_changed', function () {
            var place = places.getPlace();
            var address = place.formatted_address;
            Actlatitude = place.geometry.location.lat();
            Actlongitude = place.geometry.location.lng();
            city = $('#txtActcity').val();
            $('#txtActlatitude').val(Actlatitude);
            $('#txtActlongitude').val(Actlongitude);
        });
    });
    /************End Activity autocomplete***************/

    function checkDec(el) {
        var ex = /^[0-9]+\.?[0-9]*$/;
        if (ex.test(el.value) == false) {
            el.value = el.value.substring(0, el.value.length - 1);
        }
    }

    function onlyAlphabets(evt) {
        var charCode;
        if (window.event)
            charCode = window.event.keyCode;  /*for IE*/
        else
            charCode = evt.which;  /*for firefox*/
        if (charCode == 32) /*for &lt;space&gt; symbol*/
            return true;
        if (charCode > 31 && charCode < 65) /*for characters before 'A' in ASCII Table*/
            return false;
        if (charCode > 90 && charCode < 97) /*for characters between 'Z' and 'a' in ASCII Table*/
            return false;
        if (charCode > 122) /*for characters beyond 'z' in ASCII Table*/
            return false;
        return true;
    }

    function logout() {
        $.getJSON('../Cmspage/Logoff', function (data) {
            window.location = "../Cmspage/adminindex";
        });
    }
</script>