﻿@{
    Layout = null;    
    if (Session["adminname"] == null)
    {
        Response.Redirect("~/CMSPage/adminindex");
    }
    var uname = Session["adminname"];
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> 1EZ TRIP</title>
    <link rel="shortcut icon" href="../Content/images/location-home-icon.png" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/theme.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/css/style-1eztrip.css" rel="stylesheet" />
    <link href="~/Content/css/jquery.dataTable.css" rel="stylesheet" />
    <link href="~/Content/css/jquery-ui.css" rel="stylesheet" />   
    <style type="text/css">
        .ui-state-default {
            width: 29px !important;
            height: 25px !important;
        }
        .ui-datepicker td {
            padding: 0px 3px !important;
        }
        .brand {
            font-family: georgia, serif;
        }
            .brand .first {
                color: #ccc;
                font-style: italic;
            }
            .brand .second {
                color: #fff;
                font-weight: bold;
            }
        a:-webkit-any-link {
            color: -webkit-link;
            text-decoration: none !important;
            cursor: auto;
        }
        .cke_Message {
            margin-top: 20px;
            width: 1000px;
            margin-left: 10px;
        }
        #UserwiseReport > div >input
        {
            margin-left:1%;
        }
        #UserwiseReport > div .radiostart
        {
            margin-left:20%;
        }
        #PeriodicReport > .radiostart {
            margin-left: 20%;
        }
         .buttonsStyle {
            border-radius: 2px;
            background-color: #ADDFFF;
            width: 140px;
            height: 40px;
        }

        .newIcon {
            text-align: center;
            margin-right: 0.75em;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <div class="navbar-inner" style="background: #1A6386;border-radius: 5px;height: 60px;border-color: #000080;margin-bottom: 50px;">
            <a class="brand" href="#">
                <span class="first"></span><span class="second">
                    <img src="~/Content/images/logo.png" alt="1EZTRIP" style="margin-top: 10px;margin-left: 100px;">
                </span>
                <span style="color:white;margin-left: 500px;font-size: 20px;">
                    Welcome @uname
                </span>
            </a>
        </div>
    </div>

    <div class="sidebar-nav">
        <a href="CMSEditor" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>CMS Editor</a>
        <a href="CMSFeedback" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>FeedBack</a>
        <a href="ManualEntry" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Hotel/Restaurant Entry</a>
        <a href="AddPrice" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Rate Per City</a>
        <a href="RegisteredUser" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Registered Users</a>
        <a href="CitiesList" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Cities List</a>
        <a href="TopAmazingDestinations" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Amazing Destinations</a>
        <a href="PopularItineraries" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Popular Itineraries</a>
        <a href="PaymentReports" class="nav-header" style="background: #58a3ce; color: white;"><i class="newIcon"><img src="../Content/images/arrow-btn.png" /></i>Payment Reports</a>
        <a href="ChangePassword" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Change Password</a>    
        <a href="SeoKeys" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>SEO Keys</a>    
        <a href="#" onclick="logout();" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Logout</a>
    </div>

    <div class="content">
        <div class="header" style="background: #58a3ce; border-radius: 6px; margin-bottom: 20px; color:white;">
            <h1 class="page-title" style="color:white;margin-left: 350px;font-family:'open_sansbold';">
                Payment Reports
            </h1>
        </div>
        <div style="margin-left:5%;margin-top:2%;">
            <p><b>Select Report Type: </b>
                <select id="ReportType">
                    <option value="user">Userwise Report</option>
                    <option value="periodic">Periodic Report</option>
                </select>
            </p>
        </div>

        <div id="UserwiseReport" style="margin-top:2%;margin-left:4%;">
            <div style="margin-bottom:20px;">
                    <label for="SelectUserReportType" style="float:left;padding: 2px 12px 2px 12px;">Select User:</label>
                    <select id="SelectUserReportType">                        
                    </select>
            </div>
            <div>
                <label for="UserReportDatepicker1">From</label>
                <input type="text" id="UserReportDatepicker1" placeholder="MM/DD/YYYY" />
                <label for="UserReportDatepicker2">To</label>
                <input type="text" id="UserReportDatepicker2" placeholder="MM/DD/YYYY" />
                <input type="radio" name="UserReportType" id="AllUserReport" value="AllReports" class="radiostart" checked="checked"/>
                <label for="AllUserReport">All</label>
                <input type="radio" name="UserReportType" id="UserSuccessReport" value="SuccessReports" />
                <label for="UserSuccessReport">Success</label>
                <input type="radio" name="UserReportType" id="UserFailureReport" value="FailureReports" />
                <label for="UserFailureReport">Failure</label>
                <input type="button" id="GetUserReport" value="Get Report" class="buttonsStyle" />
            </div>
        </div>

        <div id="PeriodicReport" style="display:none;margin-top:2%;margin-left:5%;"><b>Periodic Report</b>
        <select id="PeriodicReportSelect">
            <option value="Daily">Daily Report</option>
            <option value="Monthly">Monthly Report</option>
            <option value="Weekly">Weekly Report</option>
        </select>
            <input type="radio" name="PaymentReportType" id="AllPaymentReport" value="AllReports" class="radiostart" checked="checked" />
            <label for="AllPaymentReport">All</label>
            <input type="radio" name="PaymentReportType" id="PaymentSuccessReport" value="SuccessReports" />
            <label for="PaymentSuccessReport">Success</label>
            <input type="radio" name="PaymentReportType" id="PaymentFailureReport" value="FailureReports" />
            <label for="PaymentFailureReport">Failure</label>
            <div id="DailyReport" style="margin-top:2%;margin-left:5%;"><b>Daily Report</b>
                <p><label for="DailyDatepicker">Date:</label><input type="text" id="DailyDatepicker" placeholder="MM/DD/YYYY">
                    <input type="button" id="GetDailyReport" value="Get Report" class="buttonsStyle" />
                </p>
            </div>
            <div id="WeeklyReport" style="display:none;margin-top:2%;margin-left:5%;"><b>Weekly Report</b>
                <p><label for="WeeklyDatepicker1">From</label><input type="text" id="WeeklyDatepicker1" placeholder="MM/DD/YYYY">
                <label for="WeeklyDatepicker2">To</label><input type="text" id="WeeklyDatepicker2" placeholder="MM/DD/YYYY">
                    <input type="button" id="GetWeeklyReport" value="Get Report" class="buttonsStyle" />
                </p>
                <p>Note : The difference between the start date and end date must be within a week</p>
            </div>
            <div id="MonthlyReport" style="display:none;margin-top:2%;margin-left:5%;"><b>Monthly Report</b>
                <p><label for="MonthlyDatepicker1">From</label><input type="text" id="MonthlyDatepicker1" placeholder="MM/DD/YYYY">
                <label for="MonthlyDatepicker2">To</label><input type="text" id="MonthlyDatepicker2" placeholder="MM/DD/YYYY">
                    <input type="button" id="GetMonthlyReport" value="Get Report" class="buttonsStyle" />
                </p>
            <p>Note : The difference between the start date and end date must be within a month</p>
            </div>
        </div>
    </div>
</body>

@Html.Partial("Footer_PartialView")
</html>
<script src="~/Scripts/jquery-1.7.1.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/js/jquery-ui-1.11.2.min.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/loading_plugin_js/jquery.noty.packaged.min.js"></script>
<script type="text/javascript">

    $(function () {
        $.getJSON('../CMSPage/GetUsersList', {}, function (data) {
            var item = '';
            $("#SelectUserReportType").append($("<option></option>").val("0").html("---Select User---"));
            $.each(data, function (keys, item) {
                $("#SelectUserReportType").append($("<option></option>").val(item.UserId).html(item.FirstName + item.LastName));
            });
        });

        $("#UserReportDatepicker1").datepicker({
            maxDate: 0,
            onSelect: function (date) {
                var date1 = $('#UserReportDatepicker1').datepicker('getDate');
                date1.setDate(date1.getDate());
                var date2 = $('#UserReportDatepicker1').datepicker('getDate');
                date2.setDate(date2.getDate() + 30);
                var TodayDate= new Date();
                $('#UserReportDatepicker2').datepicker('setDate', date1);
                $('#UserReportDatepicker2').datepicker('option', 'minDate', date1);
                if (date2 <= TodayDate)
                {
                    $('#UserReportDatepicker2').datepicker('option', 'maxDate', date2);
                }
                else
                {
                    $('#UserReportDatepicker2').datepicker('option', 'maxDate', 0);
                }
            }
        });

        $("#UserReportDatepicker2").datepicker({
            maxDate: 0
        });


        $("#DailyDatepicker").datepicker({
            maxDate:0
        });

        $("#WeeklyDatepicker1").datepicker({
            maxDate: 0,
            onSelect: function (date) {
                var date1 = $('#WeeklyDatepicker1').datepicker('getDate');
                date1.setDate(date1.getDate() + 1);
                var date2 = $('#WeeklyDatepicker1').datepicker('getDate');
                date2.setDate(date2.getDate() + 7);
                var TodayDate = new Date();
                $('#WeeklyDatepicker2').datepicker('setDate', date2);
                $('#WeeklyDatepicker2').datepicker('option', 'minDate', date1);
                if (date2 <= TodayDate) {
                    $('#WeeklyDatepicker2').datepicker('option', 'maxDate', date2);
                }
                else {
                    $('#WeeklyDatepicker2').datepicker('option', 'maxDate', 0);
                }
            }
        });

        $("#WeeklyDatepicker2").datepicker({
            maxDate: 0
        });

        $("#MonthlyDatepicker1").datepicker({
            maxDate: 0,
            onSelect: function (date) {
                var date1 = $('#MonthlyDatepicker1').datepicker('getDate');
                date1.setDate(date1.getDate() + 1);
                var date2 = $('#MonthlyDatepicker1').datepicker('getDate');
                date2.setDate(date2.getDate() + 30);
                var TodayDate = new Date();
                $('#MonthlyDatepicker2').datepicker('setDate', date2);
                $('#MonthlyDatepicker2').datepicker('option', 'minDate', date1);
                if (date2 <= TodayDate) {
                    $('#MonthlyDatepicker2').datepicker('option', 'maxDate', date2);
                }
                else
                {
                    $('#MonthlyDatepicker2').datepicker('option', 'maxDate', 0);
                }
            }
        });

        $("#MonthlyDatepicker2").datepicker({
            maxDate: 0
        });
    });

    function logout() {
        $.getJSON('../Cmspage/Logoff', function (data) {
            window.location = "../Cmspage/adminindex";
        });
    }

    $("#ReportType").on("change", function () {
        if($("#ReportType").val()=="user")
        {
            $("#UserwiseReport").show();
            $("#PeriodicReport").hide();
        }
        else if ($("#ReportType").val() == "periodic")
        {
            $("#PeriodicReport").show();
            $("#UserwiseReport").hide();
        }
    });

    $("#SelectUserReportType").on("change", function () {
        if ($("#SelectUserReportType").val() == "AllUser") {
        }
        else if ($("#SelectUserReportType").val() == "IndividualUser") {
        }
    });

    $("#PeriodicReportSelect").on("change", function () {
        if ($("#PeriodicReportSelect").val() == "Daily") {
            $("#DailyReport").show();
            $("#WeeklyReport").hide();
            $("#MonthlyReport").hide();
        }
        else if ($("#PeriodicReportSelect").val() == "Weekly") {
            $("#WeeklyReport").show();
            $("#DailyReport").hide();
            $("#MonthlyReport").hide();
        }
        else if ($("#PeriodicReportSelect").val() == "Monthly") {
            $("#MonthlyReport").show();
            $("#WeeklyReport").hide();
            $("#DailyReport").hide();
        }
    });

    $("#GetUserReport").on("click", function () {        
        var selectedUser = $("#SelectUserReportType").val();
        var selectedDate1 = $('#UserReportDatepicker1').val();
        var selectedDate2 = $('#UserReportDatepicker2').val();
        var DatePicker1 = $("#UserReportDatepicker1").datepicker('getDate');
        var DatePicker2 = $("#UserReportDatepicker2").datepicker('getDate');
        var toDayDate = new Date();
        var dateFormat = /^(0[1-9]|1[0-2])\/(0[1-9]|1\d|2\d|3[01])\/(19|20)\d{2}$/;
        if(selectedUser==0)
        {
            var notify_alert = noty({
                layout: 'topRight',
                text: 'Select a username',
                type: 'warning',
                timeout: 3000,
                maxVisible: 1,
                animation: {
                    open: { height: 'toggle' },
                    close: { height: 'toggle' },
                    easing: 'swing',
                    speed: 0
                }
            });
        }
        else if (!dateFormat.test(selectedDate1) && selectedDate1 != "" )
        {
            var notify_alert = noty({
                layout: 'topRight',
                text: 'Please enter a valid start date',
                type: 'warning',
                timeout: 3000,
                maxVisible: 1,
                animation: {
                    open: { height: 'toggle' },
                    close: { height: 'toggle' },
                    easing: 'swing',
                    speed: 0
                }
            });
        }
        else if (!dateFormat.test(selectedDate2) && selectedDate2 != "")
        {
            var notify_alert = noty({
                layout: 'topRight',
                text: 'Please enter a valid end date',
                type: 'warning',
                timeout: 3000,
                maxVisible: 1,
                animation: {
                    open: { height: 'toggle' },
                    close: { height: 'toggle' },
                    easing: 'swing',
                    speed: 0
                }
            });
        }
        else if (DatePicker1 > toDayDate) {
            var notify_alert = noty({
                layout: 'topRight',
                text: 'Cannot accept a future date. Please enter a valid start date',
                type: 'warning',
                timeout: 3000,
                maxVisible: 1,
                animation: {
                    open: { height: 'toggle' },
                    close: { height: 'toggle' },
                    easing: 'swing',
                    speed: 0
                }
            });
        }
        else if (DatePicker2 > toDayDate)
        {
            var notify_alert = noty({
                layout: 'topRight',
                text: 'Cannot accept a future date. Please enter a end valid date',
                type: 'warning',
                timeout: 3000,
                maxVisible: 1,
                animation: {
                    open: { height: 'toggle' },
                    close: { height: 'toggle' },
                    easing: 'swing',
                    speed: 0
                }
            });
        }
        else
        {
            var statusOption = $('input[name=UserReportType]:checked').val();
            var selectedUserId = $("#SelectUserReportType option:selected").val();
            var FromDate = $("#UserReportDatepicker1").val();
            //FromDate = FromDate.replace(/\//g, "-");
            var ToDate = $("#UserReportDatepicker2").val();
            //ToDate = ToDate.replace(/\//g, '-');
            if (FromDate == "" && ToDate == "")
            {                
                window.open("../Reports/SelectedUserReport.aspx?UserId=" + selectedUserId + "&FromDate=Nodate&ToDate=Nodate&PaymentStatus=" + statusOption, '_blank');
            }
            else if (FromDate == ToDate)
            {
                window.open("../Reports/SelectedUserReport.aspx?UserId=" + selectedUserId + "&FromDate=" + FromDate + "&ToDate=Nodate&PaymentStatus=" + statusOption, '_blank');
            }
            else
            {
                window.open("../Reports/SelectedUserReport.aspx?UserId=" + selectedUserId + "&FromDate=" + FromDate + "&ToDate=" + ToDate + "&PaymentStatus=" + statusOption, '_blank');
            }
        }
    });

    $("#GetDailyReport").on('click', function () {
        var FromDate = $("#DailyDatepicker").val();        
        var toDayDate = new Date();
        var dateFormat = /^(0[1-9]|1[0-2])\/(0[1-9]|1\d|2\d|3[01])\/(19|20)\d{2}$/;
        var selectedDate1 = $("#DailyDatepicker").datepicker('getDate');        
        if (FromDate == "")
        {
            var notify_alert = noty({
                layout: 'topRight',
                text: 'Please select a date',
                type: 'warning',
                timeout: 3000,
                maxVisible: 1,
                animation: {
                    open: { height: 'toggle' },
                    close: { height: 'toggle' },
                    easing: 'swing',
                    speed: 0
                }
            });
        }
        else if (!dateFormat.test(FromDate)) {
            var notify_alert = noty({
                layout: 'topRight',
                text: 'Please enter a valid date',
                type: 'warning',
                timeout: 3000,
                maxVisible: 1,
                animation: {
                    open: { height: 'toggle' },
                    close: { height: 'toggle' },
                    easing: 'swing',
                    speed: 0
                }
            });
        }
        else if (selectedDate1 > toDayDate) {
            var notify_alert = noty({
                layout: 'topRight',
                text: 'Cannot accept a future date. Please enter a valid start date',
                type: 'warning',
                timeout: 3000,
                maxVisible: 1,
                animation: {
                    open: { height: 'toggle' },
                    close: { height: 'toggle' },
                    easing: 'swing',
                    speed: 0
                }
            });
        }
        else
        {
            var statusOption = $('input[name=PaymentReportType]:checked').val();
            window.open("../Reports/DailyReport.aspx?FromDate=" + FromDate + "&Status=" + statusOption, '_blank');
        }
    });

    $("#GetWeeklyReport").on('click', function () {
        var FromDate = $("#WeeklyDatepicker1").val();
        var ToDate = $("#WeeklyDatepicker2").val();
        var selectedDate1 = $('#WeeklyDatepicker1').datepicker('getDate');
        var selectedDate2 = $('#WeeklyDatepicker2').datepicker('getDate');
        var weekFromdate = new Date(selectedDate1);
        weekFromdate.setDate(weekFromdate.getDate() + 7);
        var toDayDate = new Date();
        var dateFormat = /^(0[1-9]|1[0-2])\/(0[1-9]|1\d|2\d|3[01])\/(19|20)\d{2}$/;
        if (FromDate == "") {
            var notify_alert = noty({
                layout: 'topRight',
                text: 'Please select the start date',
                type: 'warning',
                timeout: 3000,
                maxVisible: 1,
                animation: {
                    open: { height: 'toggle' },
                    close: { height: 'toggle' },
                    easing: 'swing',
                    speed: 0
                }
            });
        }
        else if(ToDate=="")
        {
            var notify_alert = noty({
                layout: 'topRight',
                text: 'Please select the end date',
                type: 'warning',
                timeout: 3000,
                maxVisible: 1,
                animation: {
                    open: { height: 'toggle' },
                    close: { height: 'toggle' },
                    easing: 'swing',
                    speed: 0
                }
            });
        }
        else if (!dateFormat.test(FromDate)) {
            var notify_alert = noty({
                layout: 'topRight',
                text: 'Please enter a valid start date',
                type: 'warning',
                timeout: 3000,
                maxVisible: 1,
                animation: {
                    open: { height: 'toggle' },
                    close: { height: 'toggle' },
                    easing: 'swing',
                    speed: 0
                }
            });
        }
        else if (!dateFormat.test(ToDate)) {
            var notify_alert = noty({
                layout: 'topRight',
                text: 'Please enter a valid end date',
                type: 'warning',
                timeout: 3000,
                maxVisible: 1,
                animation: {
                    open: { height: 'toggle' },
                    close: { height: 'toggle' },
                    easing: 'swing',
                    speed: 0
                }
            });
        }
        else if (selectedDate1 > toDayDate) {
            var notify_alert = noty({
                layout: 'topRight',
                text: 'Cannot accept a future date. Please enter a valid start date',
                type: 'warning',
                timeout: 3000,
                maxVisible: 1,
                animation: {
                    open: { height: 'toggle' },
                    close: { height: 'toggle' },
                    easing: 'swing',
                    speed: 0
                }
            });
        }
        else if (selectedDate2 > toDayDate) {
            var notify_alert = noty({
                layout: 'topRight',
                text: 'Cannot accept a future date. Please enter a end valid date',
                type: 'warning',
                timeout: 3000,
                maxVisible: 1,
                animation: {
                    open: { height: 'toggle' },
                    close: { height: 'toggle' },
                    easing: 'swing',
                    speed: 0
                }
            });
        }
        else if (selectedDate2 > weekFromdate) {
            var notify_alert = noty({
                layout: 'topRight',
                text: 'The difference between the dates cannot be more than a week..',
                type: 'warning',
                timeout: 3000,
                maxVisible: 1,
                animation: {
                    open: { height: 'toggle' },
                    close: { height: 'toggle' },
                    easing: 'swing',
                    speed: 0
                }
            });
        }
        else {
            var statusOption = $('input[name=PaymentReportType]:checked').val();
            window.open("../Reports/WeeklyReport.aspx?FromDate=" + FromDate + "&ToDate=" + ToDate + "&Status=" + statusOption, '_blank');
        }
    });

    $("#GetMonthlyReport").on('click', function () {
        var FromDate = $("#MonthlyDatepicker1").val();
        var ToDate = $("#MonthlyDatepicker2").val();
        var selectedDate1 = $('#MonthlyDatepicker1').datepicker('getDate');
        var selectedDate2 = $('#MonthlyDatepicker2').datepicker('getDate');
        var toDayDate = new Date();
        var dateFormat = /^(0[1-9]|1[0-2])\/(0[1-9]|1\d|2\d|3[01])\/(19|20)\d{2}$/;
        if (FromDate == "") {
            var notify_alert = noty({
                layout: 'topRight',
                text: 'Please select the start date',
                type: 'warning',
                timeout: 3000,
                maxVisible: 1,
                animation: {
                    open: { height: 'toggle' },
                    close: { height: 'toggle' },
                    easing: 'swing',
                    speed: 0
                }
            });
        }
        else if (ToDate == "") {
            var notify_alert = noty({
                layout: 'topRight',
                text: 'Please select the end date',
                type: 'warning',
                timeout: 3000,
                maxVisible: 1,
                animation: {
                    open: { height: 'toggle' },
                    close: { height: 'toggle' },
                    easing: 'swing',
                    speed: 0
                }
            });
        }
        else if (!dateFormat.test(FromDate)) {
            var notify_alert = noty({
                layout: 'topRight',
                text: 'Please enter a valid start date',
                type: 'warning',
                timeout: 3000,
                maxVisible: 1,
                animation: {
                    open: { height: 'toggle' },
                    close: { height: 'toggle' },
                    easing: 'swing',
                    speed: 0
                }
            });
        }
        else if (!dateFormat.test(ToDate)) {
            var notify_alert = noty({
                layout: 'topRight',
                text: 'Please enter a valid end date',
                type: 'warning',
                timeout: 3000,
                maxVisible: 1,
                animation: {
                    open: { height: 'toggle' },
                    close: { height: 'toggle' },
                    easing: 'swing',
                    speed: 0
                }
            });
        }
        else if (selectedDate1 > toDayDate) {
            var notify_alert = noty({
                layout: 'topRight',
                text: 'Cannot accept a future date. Please enter a valid start date',
                type: 'warning',
                timeout: 3000,
                maxVisible: 1,
                animation: {
                    open: { height: 'toggle' },
                    close: { height: 'toggle' },
                    easing: 'swing',
                    speed: 0
                }
            });
        }
        else if (selectedDate2 > toDayDate) {
            var notify_alert = noty({
                layout: 'topRight',
                text: 'Cannot accept a future date. Please enter a end valid date',
                type: 'warning',
                timeout: 3000,
                maxVisible: 1,
                animation: {
                    open: { height: 'toggle' },
                    close: { height: 'toggle' },
                    easing: 'swing',
                    speed: 0
                }
            });
        }
        else {
            var statusOption = $('input[name=PaymentReportType]:checked').val();
            window.open("../Reports/MonthlyReport.aspx?FromDate=" + FromDate + "&ToDate=" + ToDate + "&Status=" + statusOption, '_blank');
        }
    });

</script>