﻿@model eztripStart.Models.register
@{       
    if (Session["adminname"] == null)
    {
        Response.Redirect("~/CMSPage/adminindex");
    }
    var uname = Session["adminname"];
}

@using (Html.BeginForm())
{
    <!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title> 1EZ TRIP</title>
        <link rel="shortcut icon" href="../Content/images/location-home-icon.png" />
        <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <link href="~/Content/css/theme.css" rel="stylesheet" />
        <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
        <link href="~/Content/css/style-1eztrip.css" rel="stylesheet" />
        <link href="~/jqwidgets/styles/jqx.base.css" rel="stylesheet" />
        <link href="~/jqwidgets/styles/jqx.energyblue.css" rel="stylesheet" type="text/css" />
        <style type="text/css">
            .brand {
                font-family: georgia, serif;
            }
                .brand .first {
                    color: #ccc;
                    font-style: italic;
                }
                .brand .second {
                    color: #fff;
                    font-weight: bold;
                }
            a:-webkit-any-link {
                color: white;
                text-decoration: none !important;
                cursor: auto;
            }

            #jqxScrollThumbverticalScrollBarJqxGrid {
                background-color: #B3B9BD;
                width: 10px !important;
                margin-left: 3px;
            }

            .newIcon {
                text-align: center;
                margin-right: 0.75em;
            }
        </style>       
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-inner" style="background: #1A6386;border-radius: 5px;height: 60px;border-color: #000080;margin-bottom: 50px;">
                <a class=" brand" href="#">
                    <span class="first"></span><span class="second">
                       <img src="~/Content/images/logo.png" alt="1EZTRIP" style="margin-top: 10px;margin-left: 100px;">
                    </span>
                    <span style="color:white;margin-left: 500px;font-size: 20px;">
                        Welcome @uname
                    </span>
                </a>
            </div>
        </div>
        <div class="sidebar-nav">
            <a href="CMSEditor" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>CMS Editor</a>
            <a href="CMSFeedback" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>FeedBack</a>
            <a href="ManualEntry" class="nav-header" ><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Hotel/Restaurant Entry</a>
            <a href="AddPrice" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Rate Per City</a>
            <a href="RegisteredUser" class="nav-header" style="background: #58a3ce; color: white;"><i class="newIcon"><img src="../Content/images/arrow-btn.png" /></i>Registered Users</a>
            <a href="CitiesList" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Cities List</a>
            <a href="TopAmazingDestinations" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Amazing Destinations</a>
            <a href="PopularItineraries" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Popular Itineraries</a>
            <a href="PaymentReports" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Payment Reports</a>
            <a href="ChangePassword" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Change Password</a>
            <a href="SeoKeys" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>SEO Keys</a>
            <a href="#" onclick="logout();" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Logout</a>
        </div>
        <div class="content">
            <div class="header" style="background: #58a3ce; border-radius: 6px; margin-bottom: 20px; color: white;">
                <h1 class="page-title" style="color:white;margin-left: 350px;">
                    User Details
                </h1>
            </div>
            <div id="JqxGrid" style="margin-left: 2%;">
            </div>
            <div>
                <div style="margin-left:30%;margin-top:5%; float:left;padding-left:5px;">
                    <button type="button" value="Active" id="btnActive" name="Command" style="background: #58a3ce; width:80px;border-radius:4px;display:none;" class="button">Activate</button>
                    <div style="float:left;padding-left:5px;">
                        <button type="button" value="DeActive" id="btnDeActive" name="Command" style="background: #58a3ce; width: 90px; border-radius: 4px; display: none;" class="button">DeActivate</button></div>
                    <div style="float:left;padding-left:5px;">
                        <button type="button" id="btnDelete" name="Command"  value="Delete" style="background: #58a3ce; width: 80px; border-radius: 4px; display: none;" class="button">Delete</button>
                    </div>
                </div>
            </div>
        </div>       
        @Html.Partial("Footer_PartialView")
    </body>
</html>
}
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/bundles/JqxGrid"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var xlocaldata;
        $.ajax({
            type: "POST",
            async: false,
            url: "../CMSPage/LoadRegisterUser",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                if (data.d != "") {
                    xlocaldata = data;
                    $('#btnActive').show();
                    $('#btnDeActive').show();
                    $('#btnDelete').show();
                }
            }
        });
        var source =
       {
           localdata: xlocaldata,
           datatype: "json",
           datafields:
               [
              { name: 'ID', type: 'int', hidden: true },
              { name: 'FirstName', type: 'string' },
               { name: 'LastName', type: 'string' },
               { name: 'EmailId', type: 'string' },
               { name: 'Date', type: 'date' },
                { name: 'IsActive', type: 'string' }
               ]
       };
        var Activerenderer = function (IsActive, datafields, value) {
            if (value == 0) {
                return '<span style="color:red;margin-left: 8%;">No</span>';
            }
            else {
                return '<span style="color:green;margin-left: 8%;">Yes</span>';
            }
        }
        var dataAdapter = new $.jqx.dataAdapter(source);
        $('#JqxGrid').jqxGrid({
            width: '95%',
            source: dataAdapter,
            sortable: true,
            filterable: true,
            altrows: true,
            pageable: true,
            columnsresize: true,
            selectionmode: 'checkbox',
            height: '50%',
            columns: [
            {
                text: 'Id', datafield: 'ID', width: '5%', hidden: true
            },
            {
                text: ' First Name', datafield: 'FirstName', width: '15%'
            },
             {
                 text: 'Last Name', datafield: 'LastName', width: '15%'
             },
             {
                 text: 'Email Id', datafield: 'EmailId', width: '25%'
             },
             {
                 text: 'Date', datafield: 'Date', width: '30%'
             },
              {
                  text: 'Active', datafield: 'IsActive', cellsrenderer: Activerenderer, width: '10%'
              }
            ]
        });
        $("#btnDelete").on('click', function () {
            var rows = $('#JqxGrid').jqxGrid('selectedrowindexes');
            if (rows.length != 0) {
                var Header = '';
                for (var m = 0; m < rows.length; m++) {
                    Header += $("#JqxGrid").jqxGrid('getrowdata', rows[m]).ID;
                    if (m != rows.length - 1) {
                        Header += ",";
                    }
                }
                noty({
                    layout: 'topRight',
                    type: 'confirm',
                    maxVisible: 1,
                    modal: true,
                    text: 'Are you sure you want to delete the selected users?',
                    buttons: [
                        {
                            addClass: 'btn btn-primary', text: 'Yes', onClick: function ($noty) {
                                $.getJSON('../CMSPage/DeleteRegisterUser', { UserName: Header }, function (data) {
                                    //var datanew = data;
                                    window.location.href = "../CMSPage/RegisteredUser";
                                });
                                $noty.close();
                            }
                        },
                        {
                            addClass: 'btn btn-danger', text: 'No', onClick: function ($noty) {
                                $noty.close();                                
                                return false;
                            }
                        }
                    ]
                });                
            }
            else {
                var notify_alert = noty({
                    layout: 'topRight',
                    text: 'Please Select Atleast One Field',
                    type: 'warning',
                    timeout: 2000,
                    maxVisible: 1,
                    animation: {
                        open: { height: 'toggle' },
                        close: { height: 'toggle' },
                        easing: 'swing',
                        speed: 500
                    }
                });
                return false;
            }
        });
        $("#btnDeActive").on('click', function () {
            var rows = $('#JqxGrid').jqxGrid('selectedrowindexes');
            if (rows.length != 0) {
                var Header = '';
                for (var m = 0; m < rows.length; m++) {
                    Header += $("#JqxGrid").jqxGrid('getrowdata', rows[m]).ID;
                    if (m != rows.length - 1) {
                        Header += ",";
                    }
                }
                noty({
                    layout: 'topRight',
                    type: 'confirm',
                    maxVisible: 1,
                    modal: true,
                    text: 'Are you sure you want to Deactivated the selected users?',
                    buttons: [
                        {
                            addClass: 'btn btn-primary', text: 'Yes', onClick: function ($noty) {
                                $.getJSON('../CMSPage/DeactivateRegisterUser', { UserName: Header }, function (data) {
                                    //var datanew = data;
                                    window.location.href = "../CMSPage/RegisteredUser";
                                });
                                $noty.close();
                            }
                        },
                        {
                            addClass: 'btn btn-danger', text: 'No', onClick: function ($noty) {
                                $noty.close();
                                return false;
                            }
                        }
                    ]
                });                
            }
            else {
                var notify_alert = noty({
                    layout: 'topRight',
                    text: 'Please Select Atleast One Field',
                    type: 'warning',
                    timeout: 2000,
                    maxVisible: 1,
                    animation: {
                        open: { height: 'toggle' },
                        close: { height: 'toggle' },
                        easing: 'swing',
                        speed: 500
                    }
                });
                return false;
            }
        });
        $("#btnActive").on('click', function () {
            var rows = $('#JqxGrid').jqxGrid('selectedrowindexes');
            if (rows.length != 0) {
                var Header = '';
                for (var m = 0; m < rows.length; m++) {
                    Header += $("#JqxGrid").jqxGrid('getrowdata', rows[m]).ID;
                    if (m != rows.length - 1) {
                        Header += ",";
                    }
                }
                noty({
                    layout: 'topRight',
                    type: 'confirm',
                    maxVisible: 1,
                    modal: true,
                    text: 'Are you sure you want to Activate the selected users?',
                    buttons: [
                        {
                            addClass: 'btn btn-primary', text: 'Yes', onClick: function ($noty) {
                                $.getJSON('../CMSPage/ActivateRegisterUser', { UserName: Header }, function (data) {
                                    window.location.href = "../CMSPage/RegisteredUser";
                                    //var datanew = data;
                                });
                                $noty.close();
                            }
                        },
                        {
                            addClass: 'btn btn-danger', text: 'No', onClick: function ($noty) {
                                $noty.close();
                                return false;
                            }
                        }
                    ]
                });                
            }
            else {
                var notify_alert = noty({
                    layout: 'topRight',
                    text: 'Please Select Atleast One Field',
                    type: 'warning',
                    timeout: 2000,
                    maxVisible: 1,
                    animation: {
                        open: { height: 'toggle' },
                        close: { height: 'toggle' },
                        easing: 'swing',
                        speed: 500
                    }
                });
                return false;
            }
        });
    });

    function logout() {
        $.getJSON('../Cmspage/Logoff', function (data) {
            window.location = "../Cmspage/adminindex";
        });
    }
</script>