﻿@model eztripStart.Models.NewData
@{
    ViewBag.Title = "Seo Title";    
    if (Session["adminname"] == null)
    {
        Response.Redirect("~/CMSPage/adminindex");
    }
    var uname = Session["adminname"];
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>SEOKeys</title>
    <link rel="shortcut icon" href="../Content/images/location-home-icon.png" />
    <!--  CSS  -->
    <link rel="stylesheet" href="~/Content/css/style-1eztrip.css" type="text/css">
    <!--[if IE 9]><link rel="stylesheet" href="~/Content/css/ie.css" type="text/css"><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" href="~/Content/css/ie8.css" type="text/css"><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <link href="~/Content/css/StyleSheet1.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/theme.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/css/style-1eztrip.css" rel="stylesheet" />
    <style>
        #metaDet td {
            padding: 8px 11px 15px 10px;
            border: 1pt solid #053A88;
        }

        .box > .heading {
            border-top: 1px solid #DBDBDB;
            border-left: 1px solid #DBDBDB;
            border-right: 1px solid #DBDBDB;
            border-bottom:0px;
        }

        #updateSEOKeys {
            background-color: #053A88;
            color: white;
            border-color: #053A88;
        }

        .newIcon {
            text-align: center;
            margin-right: 0.75em;
        }

    </style>
    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <div class="navbar">
        <div class="navbar-inner" style="background: #1A6386;border-radius: 5px;height: 60px;border-color: #000080;margin-bottom: 50px;">
            <a class=" brand" href="#">
                <span class="first"></span><span class="second">
                    <img src="~/Content/images/logo.png" alt="1EZTRIP" style="margin-top: 10px;margin-left: 100px;">
                </span>
                <span style="color:white;margin-left: 500px;font-size: 20px;">
                    Welcome @uname
                </span>
            </a>
        </div>
    </div>
    <section class="banner"></section>
    <section class="inner-wrapper">
        <div class="sidebar-nav">
            <a href="CMSEditor" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>CMS Editor</a>
            <a href="CMSFeedback" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>FeedBack</a>
            <a href="ManualEntry" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Hotel/Restaurant Entry</a>
            <a href="AddPrice" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Rate Per City</a>
            <a href="RegisteredUser" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Registered Users</a>
            <a href="CitiesList" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Cities List</a>
            <a href="TopAmazingDestinations" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Amazing Destinations</a>
            <a href="PopularItineraries" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Popular Itineraries</a>
            <a href="PaymentReports" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Payment Reports</a>
            <a href="ChangePassword" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Change Password</a>
            <a href="SeoKeys" class="nav-header" style="background: #58a3ce; color: white;"><i class="newIcon"><img src="../Content/images/arrow-btn.png" /></i>SEO Keys</a>
            <a href="#" onclick="logout();" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Logout</a>
        </div>
        <div class="content" id="content" style="background: #ececec;">
            <div class="box" style="width: 400px; min-height: 300px; margin-top: 40px; margin-left: auto; margin-right: auto;">
                <div class="heading" style="background-color: #053A88;width:450px;">
                    <h1 style="color:white;">Meta Details</h1>
                </div>
                <div style="min-height: 150px; overflow: hidden; margin-left:0px;background-color:#fff;width:450px;">
                    <table style="width: 100%;" id="metaDet">
                        <tr>
                            <td>
                                Category
                            </td>
                            <td>
                                <select style="width:262px;height:30px;" id="pageCat">
                                    <option id="1">Index</option>
                                    <option id="2">About Us</option>
                                    <option id="3">Contact Us</option>
                                    <option id="4">Terms and Conditions</option>
                                    <option id="5">FAQ</option>
                                    <option id="6">Privacy Policy</option>
                                    <option id="7">Index</option>
                                    <option id="8">About Us</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                               Title
                            </td>
                            <td>
                                <input type="text" id="titl" style="width: 262px;height:30px;" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Meta Keywords
                            </td>
                            <td>
                                <textarea id="metaKey" rows="6" cols="40"></textarea>
                            </td>                            
                        </tr>
                        <tr>
                            <td>                                
                                Meta Description
                            </td>
                            <td>
                                <textarea id="metaDesc" rows="6" cols="40"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td colspan=2 style="text-align: center;">
                                <p style="text-align:left;"><span style="color:red;">*</span> Mandatory fields</p>
                                <input type="button" value="Update" id="updateSEOKeys" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <div class="clear"></div>
    @Html.Partial("Footer_PartialView")
</body>
</html>
<script src="~/Scripts/js/jquery-1.11.0.min.js"></script>
<script src="~/Scripts/loading_plugin_js/jquery.noty.packaged.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $.getJSON('../CMSPage/getPages', function (response) {
            if (response != "No Result") {
                var listItems = "";
                var pagesNames = response;
                listItems += "<option value='Select'>Select</option>";
                $.each(pagesNames, function (i, item) {
                    listItems += "<option value='" + item.PageID + "'>" + item.PageName + "</option>";
                });
                $('#pageCat').html(listItems);
            }
        });
    });

    function logout() {
        $.getJSON('../Cmspage/Logoff', function (data) {
            window.location = "../Cmspage/adminindex";
        });
    }

    $('#updateSEOKeys').click(function () {
        var slctdPage = $('#pageCat option:selected').text();
        var MetaTitl = $('#titl').val();
        var MetaKeys = $('#metaKey').val();
        var MetaDesc = $('#metaDesc').val();
        $.getJSON('../CMSPage/SaveSEOKeys', { 'SeoPgName': slctdPage, 'SeoTitle': MetaTitl, 'SeoKeys': MetaKeys, 'SeoDesc': MetaDesc }, function (response) {
            if (response.Message == "Invalid state") {
                var notify_alert = noty({
                    layout: 'topRight',
                    text: 'Oops! Something went wrong, keywords are not updated',
                    type: 'warning',
                    timeout: 3000,
                    maxVisible: 1,
                    modal: true,
                    animation: {
                        open: { height: 'toggle' },
                        close: { height: 'toggle' },
                        easing: 'swing',
                        speed: 0
                    }
                });
            }
            else if (response.Message == "valid state") {
                var notify_alert = noty({
                    layout: 'topRight',
                    text: 'keywords updated successfully',
                    type: 'success',
                    timeout: 3000,
                    modal: true,
                    maxVisible: 1,
                    animation: {
                        open: { height: 'toggle' },
                        close: { height: 'toggle' },
                        easing: 'swing',
                        speed: 0
                    }
                });
            }
        });
    });

    $('#pageCat').on('change', function () {
        if ($('#pageCat option:selected').val() != 'Select') {
            $.getJSON('../CMSPage/RetrieveSeoKeys', { 'SeoPage': $('#pageCat option:selected').val() }, function (response) {
                var pagesNames = response;
                $.each(pagesNames, function (i, item) {
                    $('#titl').val(item.Title);
                    $('#metaKey').val(item.MetaKeywords);
                    $('#metaDesc').val(item.MetaDescription);
                });
            });
        }
    });

</script>