﻿@{
    Layout = null;    
    if (Session["adminname"] == null)
    {
        Response.Redirect("~/CMSPage/adminindex");
    }
    var uname = Session["adminname"];
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> 1EZ TRIP</title>
    <link rel="shortcut icon" href="../Content/images/location-home-icon.png" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/theme.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/css/style-1eztrip.css" rel="stylesheet" />
    <link href="~/Content/css/jquery.dataTable.css" rel="stylesheet" />
    <link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/jqwidgets/styles/jqx.base.css" rel="stylesheet" />
    <link href="~/jqwidgets/styles/jqx.energyblue.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .tdLblClass {
            padding-left: 3%;
            padding-top: 2%;
        }
        .tdclass {
            padding-left: 10%;
            padding-top: 2%;
        }
        .buttonsStyle {
            border-radius: 2px;
            background-color: #ADDFFF;
            width: 155px;
            height: 40px;
        }

        #jqxScrollThumbverticalScrollBarCitiesList {
            background-color: #B3B9BD;
            width: 10px !important;
            margin-left: 3px;
        }

        .newIcon {
            text-align: center;
            margin-right: 0.75em;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <div class="navbar-inner" style="background: #1A6386;border-radius: 5px;height: 60px;border-color: #000080;margin-bottom: 50px;">
            <a class="brand" href="#">
                <span class="first"></span><span class="second">
                    <img src="~/Content/images/logo.png" alt="1EZTRIP" style="margin-top: 10px;margin-left: 100px;">
                </span>

                <span style="color:white;margin-left: 500px;font-size: 20px;">
                    Welcome @uname
                </span>
            </a>
        </div>
    </div>
    <div class="sidebar-nav">
        <a href="CMSEditor" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>CMS Editor</a>
        <a href="CMSFeedback" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>FeedBack</a>
        <a href="ManualEntry" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Hotel/Restaurant Entry</a>
        <a href="AddPrice" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Rate Per City</a>
        <a href="RegisteredUser" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Registered Users</a>
        <a href="CitiesList" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Cities List</a>
        <a href="TopAmazingDestinations" class="nav-header" style="background: #58a3ce; color: white;"><i class="newIcon"><img src="../Content/images/arrow-btn.png" /></i>Amazing Destinations</a>
        <a href="PopularItineraries" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Popular Itineraries</a>
        <a href="PaymentReports" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Payment Reports</a>
        <a href="ChangePassword" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Change Password</a>
        <a href="SeoKeys" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>SEO Keys</a>
        <a href="#" onclick="logout();" class="nav-header"><i class="newIcon"><img src="../Content/images/arrow-btn-gray.png" /></i>Logout</a>
    </div>
    <div class="content">
        <div class="header" style="background: #58a3ce; border-radius: 6px; margin-bottom: 20px; color:white;">
            <h1 class="page-title" style="color:white;margin-left: 350px;font-family:'open_sansbold';">
                Amazing Destinations
            </h1>
        </div>
        <div style="padding-left:25%;">
            <input type="button" id="btn_AddCities" value="Add New Destination" class="buttonsStyle" />
            <input type="button" id="btn_ListCities" value="List Destinations" class="buttonsStyle" />
        </div>
        <div id="AddCity_Block" style="display:none;">
            <div>
                <h2 style="margin-left: 40%; margin-top:1%;">Add Destination</h2>
                <table>                    
                    <tr>
                        <td class="tdLblClass">
                            <label for="AutocompleteCities">City</label>
                        </td>
                        <td class="tdclass">
                            <input type="text" id="AutocompleteCities" placeholder="City Name" />
                        </td>
                    </tr>
                    <tr>
                        <td class="tdLblClass">
                            <label for="AutoFillLat">Latitude</label>
                        </td>
                        <td class="tdclass">
                            <input type="text" id="AutoFillLat" placeholder="latitude" />
                        </td>
                    </tr>
                    <tr>
                        <td class="tdLblClass">
                            <label for="AutoFillLng">Longitude</label>
                        </td>
                        <td class="tdclass">
                            <input type="text" id="AutoFillLng" placeholder="longitude" />
                        </td>
                    </tr>
                    <tr>
                        <td class="tdLblClass">
                            <label for="cityImageFile">Image</label>
                        </td>
                        <td class="tdclass">
                            <input id="cityImageFile" type="file" accept="image/*" />
                        </td>
                    </tr>
                    <tr>
                        <td class="tdLblClass">
                            <label id="lblCityImg" for="PreviewCityImg">Preview</label>
                        </td>
                        <td class="tdclass">
                            <img id="PreviewCityImg" src="~/Content/images/location-home-icon.png" alt="Select Image" style="width:70px;height:70px; border-radius:4px;" />
                        </td>
                    </tr>
                    <tr>
                        <td class="tdclass">
                            <input type="button" id="btnAddNewCity" value="Add Destination" class="buttonsStyle" />
                            <input type="hidden" id="hidEditImage" />
                            <input type="hidden" id="hidEditCityId" />
                            <input type="button" id="btnEditCity" value="Update Destination Details" class="buttonsStyle" style="display: none; width: 193px;" />
                        </td>
                    </tr>
                </table>
            </div>            
        </div>
        <div id="ListCities_Block" style="display:none;">
            <br />
            <div id="CitiesList" style="float: right;"></div>
            <div><p style="color:#D817B9;">Note : These cities are displayed in the Top Amazing Destinations</p></div>
        </div>
    </div>
</body>
@Html.Partial("Footer_PartialView")
</html>
<script src="~/Scripts/jquery-1.7.1.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/js/jquery-ui-1.11.2.min.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
@*<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC75yhLucsAnQflSK1Ar6EHS0pAoxzL5nM&libraries=places"></script>*@
@*<script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places" type="text/javascript"></script>*@
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA_USvPi4ptRBaatiWitp6IclwHjzdhhCI &libraries=places"></script>
<script src="~/Scripts/js/Jquery1.11.1.min.js"></script>
<script src="~/jqwidgets/jqxcore.js"></script>
<script src="~/jqwidgets/jqxdata.js"></script>
<script src="~/jqwidgets/jqxbuttons.js"></script>
<script src="~/jqwidgets/jqxscrollbar.js"></script>
<script src="~/jqwidgets/jqxmenu.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxmenu.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxcheckbox.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxlistbox.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxdropdownlist.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxgrid.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxgrid.sort.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxgrid.pager.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxgrid.selection.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxgrid.edit.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxgrid.columnsresize.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxgrid.filter.js"></script>
<script src="~/Scripts/js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/loading_plugin_js/jquery.noty.packaged.min.js"></script>
<script type="text/javascript">
    var latitude = "", longitude = "";

    $(document).ready(function () {
        $("#btn_ListCities").trigger("click");
    });

    $("#btn_AddCities").on("click", function () {
        $("#AddCity_Block").show();
        $("#ListCities_Block").hide();
        $("#btnAddNewCity").show();
        $("#btnEditCity").hide();
        $("#SelectContinent").val("Select");
        $("#AutocompleteCities").val('');
        $("#AutoFillLat").val('');
        $("#AutoFillLng").val('');
        $("#PreviewCityImg").attr('src', '../Content/images/location-home-icon.png');
    });

    $("#btn_ListCities").on("click", function () {
        $("#AddCity_Block").hide();
        $("#ListCities_Block").show();

        var citiesdata;
        var serialNumber = 0;
        $.ajax({
            type: "POST",
            async: false,
            url: "../CMSPage/RetrieveDestinations",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (response) {
                if (response.d != "No Result") {
                    citiesdata = response;
                }
            }
        });

        var source =
           {
               localdata: citiesdata,
               datatype: "json",
               datafields:
                   [
                  { name: 'CityID', type: 'string' },
                  { name: 'CityName', type: 'string' },
                   { name: 'CityLatitude', type: 'string' },
                   { name: 'CityLongitude', type: 'string' },
                   { name: 'CityImage', type: 'string' }
                   ]
           };

        var Editrenderer = function (value) {
            return '<a href="#" style="color:Blue; text-align:center;float: left;margin-left: 25%;margin-top: 35%;" onclick="EditCity(' + value + ');" id="btndelete' + value + '"><img src="../Content/images/edit.png" style="margin-top: 25%;margin-left: -6%;"></a>';
        }
        var imagerenderer = function (ThumbNail, datafields, value) {
            return '<img style="margin-left: 5px;margin-left: 15%;width: 68%;margin-top: 8%;border-radius: 8px;" height="50px" width="50px" src="../Content/images/CityImages/' + value + '"/>';
        }
        var DeleteButtonrenderer = function (value) {
            return '<a href="#" style="color:Blue; text-align:center;float: left;margin-left: 25%;margin-top: 35%;" onclick="DeleteCity(' + value + ');" id="btndelete' + value + '"><img src="../Content/images/del-icon.png" style="margin-top: 25%;margin-left: -6%;"></a>';
        }
        var dataAdapter = new $.jqx.dataAdapter(source);

        $("#CitiesList").jqxGrid({
            width: '100%',
            source: dataAdapter,
            sortable: true,
            filterable: true,
            altrows: true,
            pageable: true,
            columnsresize: true,
            rowsheight: 65,
            columns: [
                {
                    text: 'S.No.', sortable: false, filterable: false, editable: false,
                    groupable: false, draggable: false, resizable: false,
                    datafield: '', columntype: 'number', width: 50,
                    cellsrenderer: function (row, column, value) {
                        return "<div style='margin:4px;margin-top:45%;margin-left:40%;'>" + (value + 1) + "</div>";
                    }
                },
                {
                    text: 'City ID', datafield: 'CityID', width: '17%'
                },
                {
                    text: 'City Name', datafield: 'CityName', width: '30%'
                },
                 {
                     text: 'City Latitude', datafield: 'CityLatitude', width: '20%'
                 },
                 {
                     text: 'City Longitude', datafield: 'CityLongitude', width: '20%'
                 },
                 {
                     text: 'City Image', datafield: 'CityImage', width: '10%', cellsrenderer: imagerenderer
                 },
                  {
                      text: 'Edit', datafield: 'Edit', width: '7%', cellsrenderer: Editrenderer
                  },
                 {
                     text: 'Delete', datafield: 'Delete', width: '7%', cellsrenderer: DeleteButtonrenderer
                 }
            ]
        });
        $("#CitiesList").jqxGrid('hidecolumn', 'CityID');
    });

    google.maps.event.addDomListener(window, 'load', function () {
        var options = {
            types: ['(cities)']
        };
        var places = new google.maps.places.Autocomplete(document.getElementById('AutocompleteCities'), options);
        google.maps.event.addListener(places, 'place_changed', function () {
            var place = places.getPlace();
            var address = place.formatted_address;
            latitude = place.geometry.location.lat();
            longitude = place.geometry.location.lng();
            $("#AutoFillLat").val(latitude);
            $("#AutoFillLng").val(longitude);
            $('#AutoFillLat').attr('readonly', true);
            $('#AutoFillLng').attr('readonly', true);
        });
    });

    function readURL(input) {
        if (input.files && input.files[0]) {
            var filname = input.files[0].name.split('.');
            var arlen = filname.length - 1;
            var allow = new Array("gif", "png", "jpg", "jpeg");
            if ($.inArray(filname[arlen], allow) == -1) {
                var noty_alert = noty({
                    layout: 'topRight',
                    text: 'Only image files are accepted..',
                    type: 'warning',
                    timeout: 3000,
                    maxVisible: 1,
                    animation: {
                        open: { height: 'toggle' },
                        close: { height: 'toggle' },
                        easing: 'swing',
                        speed: 500
                    }
                });
                return false;
            }
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#PreviewCityImg').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
            $("#hidEditImage").val("");
        }
    }

    $("#cityImageFile").change(function () {
        readURL(this);
    });

    $("#btnAddNewCity").on("click", function () {
        if ($('#AutocompleteCities').val() == "") {
            var notify_alert = noty({
                layout: 'topRight',
                text: 'Enter a city',
                type: 'warning',
                timeout: 3000,
                maxVisible: 1,
                animation: {
                    open: { height: 'toggle' },
                    close: { height: 'toggle' },
                    easing: 'swing',
                    speed: 0
                }
            });
        }
        else if ($("#AutoFillLat").val() == "") {
            var notify_alert = noty({
                layout: 'topRight',
                text: 'Enter the latitude for the selected city',
                type: 'warning',
                timeout: 3000,
                maxVisible: 1,
                animation: {
                    open: { height: 'toggle' },
                    close: { height: 'toggle' },
                    easing: 'swing',
                    speed: 0
                }
            });
        }
        else if ($("#AutoFillLng").val() == "") {
            var notify_alert = noty({
                layout: 'topRight',
                text: 'Enter the longitude for the selected city',
                type: 'warning',
                timeout: 3000,
                maxVisible: 1,
                animation: {
                    open: { height: 'toggle' },
                    close: { height: 'toggle' },
                    easing: 'swing',
                    speed: 0
                }
            });
        }
        else if ($("#cityImageFile").val() == "") {
            var notify_alert = noty({
                layout: 'topRight',
                text: 'Upload the image for the city',
                type: 'warning',
                timeout: 3000,
                maxVisible: 1,
                animation: {
                    open: { height: 'toggle' },
                    close: { height: 'toggle' },
                    easing: 'swing',
                    speed: 0
                }
            });
        }
        else {
            var formData = new FormData();
            var file = $("#cityImageFile").get(0).files;
            var Extension = file[0].type.split('/').pop();
            formData.append("file", file[0]);
            if (Extension == "bmp" || Extension == "gif" || Extension == "png" || Extension == "jpg" || Extension == "jpeg") {
                $.ajax({
                    cach: false,
                    async: false,
                    type: "POST",
                    url: '../CMSPage/UploadDestinationImage',
                    data: formData,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    success: function () {
                    },
                    error: function (error) {
                    }
                });
            }
            else
            {
                var notify_alert = noty({
                    layout: 'topRight',
                    text: 'Invalid File!',
                    type: 'warning',
                    timeout: 3000,
                    maxVisible: 1,
                    animation: {
                        open: { height: 'toggle' },
                        close: { height: 'toggle' },
                        easing: 'swing',
                        speed: 500
                    }
                });
                return false;
            }
            var city = $('#AutocompleteCities').val();
            var lat = $("#AutoFillLat").val();
            var lng = $("#AutoFillLng").val();
            $.getJSON("../CMSPage/SaveDestination", { CityName: city, CityLatitude: lat, CityLongitude: lng }, function (response) {
                if (response.Message == "Already Exists") {
                    var notify_alert = noty({
                        layout: 'topRight',
                        text: 'This city already exists',
                        type: 'warning',
                        timeout: 3000,
                        modal: true,
                        maxVisible: 1,
                        animation: {
                            open: { height: 'toggle' },
                            close: { height: 'toggle' },
                            easing: 'swing',
                            speed: 0
                        }
                    });
                }
                else if (response.Message == "Invalid state") {
                    var notify_alert = noty({
                        layout: 'topRight',
                        text: 'Oops! Something went wrong, city is not saved',
                        type: 'warning',
                        timeout: 3000,
                        maxVisible: 1,
                        modal: true,
                        animation: {
                            open: { height: 'toggle' },
                            close: { height: 'toggle' },
                            easing: 'swing',
                            speed: 0
                        }
                    });
                }
                else if (response.Message == "valid state") {
                    var notify_alert = noty({
                        layout: 'topRight',
                        text: 'City is added successfully',
                        type: 'success',
                        timeout: 3000,
                        modal: true,
                        maxVisible: 1,
                        animation: {
                            open: { height: 'toggle' },
                            close: { height: 'toggle' },
                            easing: 'swing',
                            speed: 0
                        }
                    });
                }
                
                $('#AutocompleteCities').val("");
                $("#AutoFillLat").val("");
                $("#AutoFillLng").val("");
                $("#cityImageFile").val("");
                $("#PreviewCityImg").attr('src', '../Content/images/location-home-icon.png');
                $("#btn_ListCities").trigger("click");
            });
        }
    });

    $("#btnEditCity").on("click", function () {
        var CityId = $("#hidEditCityId").val();
        if ($('#AutocompleteCities').val() == "") {
            var notify_alert = noty({
                layout: 'topRight',
                text: 'Enter a city',
                type: 'warning',
                timeout: 3000,
                maxVisible: 1,
                modal: true,
                animation: {
                    open: { height: 'toggle' },
                    close: { height: 'toggle' },
                    easing: 'swing',
                    speed: 0
                }
            });
        }
        else if ($("#AutoFillLat").val() == "") {
            var notify_alert = noty({
                layout: 'topRight',
                text: 'Enter the latitude for the selected city',
                type: 'warning',
                timeout: 3000,
                maxVisible: 1,
                modal: true,
                animation: {
                    open: { height: 'toggle' },
                    close: { height: 'toggle' },
                    easing: 'swing',
                    speed: 0
                }
            });
        }
        else if ($("#AutoFillLng").val() == "") {
            var notify_alert = noty({
                layout: 'topRight',
                text: 'Enter the longitude for the selected city',
                type: 'warning',
                timeout: 3000,
                maxVisible: 1,
                modal: true,
                animation: {
                    open: { height: 'toggle' },
                    close: { height: 'toggle' },
                    easing: 'swing',
                    speed: 0
                }
            });
        }
        else if ($("#cityImageFile").val() == "" && $("#hidEditImage").val() == "") {
            var notify_alert = noty({
                layout: 'topRight',
                text: 'Upload the image for the city',
                type: 'warning',
                timeout: 3000,
                maxVisible: 1,
                modal: true,
                animation: {
                    open: { height: 'toggle' },
                    close: { height: 'toggle' },
                    easing: 'swing',
                    speed: 0
                }
            });
        }
        else {
            if ($("#cityImageFile").val() != "") {
                var formData = new FormData();
                var file = $("#cityImageFile").get(0).files;
                formData.append("file", file[0]);
                $.ajax({
                    cach: false,
                    async: false,
                    type: "POST",
                    url: '../CMSPage/UploadDestinationImage',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function () {
                    },
                    error: function (error) {
                    }
                });
            }
                        
            var city = $('#AutocompleteCities').val();
            var lat = $("#AutoFillLat").val();
            var lng = $("#AutoFillLng").val();
            var cityimg = $("#hidEditImage").val();
            $.getJSON("../CMSPage/DestinationDetailsUpdate", { CityName: city, CityLatitude: lat, CityLongitude: lng, CityImg: cityimg, CityID: CityId }, function (response) {
                if (response.Message == "Invalid state") {
                    var notify_alert = noty({
                        layout: 'topRight',
                        text: 'Oops! Something went wrong, update is not successful',
                        type: 'warning',
                        timeout: 3000,
                        modal: true,
                        maxVisible: 1,
                        animation: {
                            open: { height: 'toggle' },
                            close: { height: 'toggle' },
                            easing: 'swing',
                            speed: 0
                        }
                    });
                }
                else if (response.Message == "valid state") {
                    var notify_alert = noty({
                        layout: 'topRight',
                        text: 'City is updated successfully',
                        type: 'success',
                        timeout: 3000,
                        maxVisible: 1,
                        modal: true,
                        animation: {
                            open: { height: 'toggle' },
                            close: { height: 'toggle' },
                            easing: 'swing',
                            speed: 0
                        }
                    });
                }                
                $('#AutocompleteCities').val("");
                $("#AutoFillLat").val("");
                $("#AutoFillLng").val("");
                $("#cityImageFile").val("");
                $("#PreviewCityImg").attr('src', '../Content/images/location-home-icon.png');
                $("#btn_ListCities").trigger("click");
            });
        }
    });

    function EditCity(RowId) {
        var CityId = $("#CitiesList").jqxGrid('getrowdata', RowId).CityID;
        var CityName = "";
        var CityLatitude = "";
        var CityLongitude = "";
        var CityImage = "";
        $.getJSON('../CMSPage/DestinationEdit', { CityID: CityId }, function (response) {
            if (response != "No Result") {
                $.each(response, function (keys, values) {
                    CityName = values.CityName;
                    CityLatitude = values.CityLatitude;
                    CityLongitude = values.CityLongitude;
                    CityImage = values.CityImage;
                });
                $('#AutocompleteCities').val("");
                $("#AutoFillLat").val("");
                $("#AutoFillLng").val("");
                $("#cityImageFile").val("");
                $("#hidEditImage").val("");
                $("#hidEditCityId").val("");
                $("#PreviewCityImg").attr('src', '../Content/images/location-home-icon.png');
                $('#AutocompleteCities').val(CityName);
                $("#AutoFillLat").val(CityLatitude);
                $("#AutoFillLng").val(CityLongitude);
                $("#hidEditImage").val(CityImage);
                $("#PreviewCityImg").attr('src', '../Content/images/CityImages/' + CityImage);
                $("#hidEditCityId").val(CityId);
                $("#ListCities_Block").hide();
                $("#AddCity_Block").show();
                $("#btnEditCity").show();
                $("#btnAddNewCity").hide();
            }
        });
    }

    function logout() {
        $.getJSON('../Cmspage/Logoff', function (data) {
            window.location = "../Cmspage/adminindex";
        });
    }

    function DeleteCity(RowId) {
        var CityId = $("#CitiesList").jqxGrid('getrowdata', RowId).CityID;
        noty({
            layout: 'topRight',
            type: 'confirm',
            maxVisible: 1,
            modal: true,
            text: 'Are you sure you want to delete the selected Destination?',
            buttons: [
                {
                    addClass: 'btn btn-primary', text: 'Yes', onClick: function ($noty) {
                        $.getJSON('../CMSPage/DestinationDetailsDelete', { CityID: CityId }, function (response) {
                            if (response.Message == "Invalid state") {
                                var notify_alert = noty({
                                    layout: 'topRight',
                                    text: 'Oops! Something went wrong, Delete is not successful',
                                    type: 'warning',
                                    timeout: 3000,
                                    maxVisible: 1,
                                    modal: true,
                                    animation: {
                                        open: { height: 'toggle' },
                                        close: { height: 'toggle' },
                                        easing: 'swing',
                                        speed: 0
                                    }
                                });
                            }
                            else if (response.Message == "valid state") {
                                var notify_alert = noty({
                                    layout: 'topRight',
                                    text: 'City is deleted successfully',
                                    type: 'success',
                                    timeout: 3000,
                                    maxVisible: 1,
                                    modal: true,
                                    animation: {
                                        open: { height: 'toggle' },
                                        close: { height: 'toggle' },
                                        easing: 'swing',
                                        speed: 0
                                    }
                                });
                                $("#btn_ListCities").trigger("click");
                            }
                        });
                        $noty.close();
                    }
                },
                {
                    addClass: 'btn btn-danger', text: 'No', onClick: function ($noty) {
                        $noty.close();
                        return false;
                    }
                }
            ]
        });
        
    }
</script>