<ol>
	<li><strong><strong>1.Can I purchase an open-dated Air India Express ticket?</strong></strong></li>
</ol>

<p><strong><strong>​           </strong></strong>No. All the chosen sectors must be booked and paid for at the same time</p>

<p><strong>2.<strong>What do I do if I have to fly Air India Express within the next 24 hours?</strong></strong></p>

<p>Should you need to travel within the next 24 hours then -</p>

<ol>
	<li>Bookings can be made upto 90 minutes prior to flight departure through Airport office, City office, Travel Agent and website www.airindiaexpress.in. It may be noted that Check-in counters close 60 minutes prior to flight departure.</li>
	<li>Call Air India Express's Reservation office and make payment through your credit card up to 6 hours prior to flight departure during office hours.</li>
</ol>

<p>Once your payment has been made, you will be issued a PNR Number and an Itinerary receipt will be handed over to you at the airport /airline office or by the travel agent for your reference. Please carry this receipt with you when you report for the flight.</p>

<p>3.<strong><strong><strong><strong>How do I pay for my booking?</strong></strong></strong></strong></p>

<p>There are four ways to pay for your Air India Express booking:</p>

<ol>
	<li>Online booking via the Internet using credit cards.</li>
	<li>Pay for flights booked through the Air India Express's reservation office by credit card.</li>
	<li>For seats purchased at Air India Express's walk-in city or airport offices we accept: <br />
	 </li>
</ol>
