<p>At 1ezTrip.com we consider the privacy of our visitors to be extremely important. This privacy policy document describes in detail the types of personal information is collected and recorded by 1ezTrip.com and how we use it.</p>

<h2><strong>Log Files</strong></h2>

<p>Like many other Web sites, 1ezTrip.com makes use of log files. These files merely logs visitors to the site - usually a standard procedure for hosting companies and a part of hosting services's analytics. The information inside the log files includes internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date/time stamp, referring/exit pages, and possibly the number of clicks. This information is used to analyze trends, administer the site, track user's movement around the site, and gather demographic information. IP addresses, and other such information are not linked to any information that is personally identifiable.</p>

<h2><strong>Cookies and Web Beacons</strong></h2>

<p>1ezTrip.com uses cookies to store information about visitors' preferences, to record user-specific information on which pages the site visitor accesses or visits, and to personalize or customize our web page content based upon visitors' browser type or other information that the visitor sends via their browser.</p>

<h2><strong>DoubleClick DART Cookie</strong></h2>

<p>→ Google, as a third party vendor, uses cookies to serve ads on 1ezTrip.com.<br />
→ Google's use of the DART cookie enables it to serve ads to our site's visitors based upon their visit to 1ezTrip.com and other sites on the Internet.<br />
→ Users may opt out of the use of the DART cookie by visiting the Google ad and content network privacy policy at the following URL - <a href="http://www.google.com/privacy_ads.html">http://www.google.com/privacy_ads.html</a></p>

<h2><strong>Our Advertising Partners</strong></h2>

<p>Some of our advertising partners may use cookies and web beacons on our site.</p>

<p>These third-party ad servers or ad networks use technology in their respective advertisements and links that appear on 1ezTrip.com and which are sent directly to your browser. They automatically receive your IP address when this occurs. Other technologies (such as cookies, JavaScript, or Web Beacons) may also be used by our site's third-party ad networks to measure the effectiveness of their advertising campaigns and/or to personalize the advertising content that you see on the site.</p>

<p>1ezTrip.com has no access to or control over these cookies that are used by third-party advertisers.</p>

<h2><strong>Third Party Privacy Policies</strong></h2>

<p>You should consult the respective privacy policies of these third-party ad servers for more detailed information on their practices as well as for instructions about how to opt-out of certain practices. 1ezTrip.com's privacy policy does not apply to, and we cannot control the activities of, such other advertisers or web sites.</p>

<p>If you wish to disable cookies, you may do so through your individual browser options. More detailed information about cookie management with specific web browsers can be found at the browsers' respective websites.</p>

<h2><strong>Online Privacy Policy Only</strong></h2>

<p>This privacy policy applies only to our online activities and is valid for visitors to our website and regarding information shared and/or collected there. This policy does not apply to any information collected offline or via channels other than this website.</p>

<h2><strong>Consent</strong></h2>

<p>By using our website, you hereby consent to our privacy policy and agree to its terms. </p>
