<h2><strong>Introduction</strong></h2>

<p>These terms and conditions govern your use of this website; by using this website, you accept these terms and conditions in full and without reservation. If you disagree with these terms and conditions or any part of these terms and conditions, you must not use this website.</p>

<p>You must be at least 18 [eighteen] years of age to use this website. By using this website and by agreeing to these terms and conditions, you warrant and represent that you are at least 18 years of age.</p>

<h2><strong>License to use website</strong></h2>

<p>Unless otherwise stated, 1ezTrip.com and/or its licensors own the intellectual property rights published on this website and materials used on 1ezTrip.com. Subject to the license below, all these intellectual property rights are reserved.</p>

<p>You may view, download for caching purposes only, and print pages, files or other content from the website for your own personal use, subject to the restrictions set out below and elsewhere in these terms and conditions.</p>

<p>You must not:</p>

<ul>
	<li>republish material from this website in neither print nor digital media or documents (including republication on another website);</li>
	<li>sell, rent or sub-license material from the website;</li>
	<li>show any material from the website in public;</li>
	<li>reproduce, duplicate, copy or otherwise exploit material on this website for a commercial purpose;</li>
	<li>edit or otherwise modify any material on the website;</li>
	<li>redistribute material from this website - except for content specifically and expressly made available for redistribution; or</li>
	<li>republish or reproduce any part of this website through the use of iframes or screenscrapers.</li>
</ul>

<p>Where content is specifically made available for redistribution, it may only be redistributed within your organisation.</p>

<h2><strong>Acceptable use</strong></h2>

<p>You must not use this website in any way that causes, or may cause, damage to the website or impairment of the availability or accessibility of 1ezTrip.com or in any way which is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity.</p>

<p>You must not use this website to copy, store, host, transmit, send, use, publish or distribute any material which consists of (or is linked to) any spyware, computer virus, Trojan horse, worm, keystroke logger, rootkit or other malicious computer software.</p>

<p>You must not conduct any systematic or automated data collection activities on or in relation to this website without 1ezTrip.com's express written consent.<br />
This includes:</p>

<ul>
	<li>scraping</li>
	<li>data mining</li>
	<li>data extraction</li>
	<li>data harvesting</li>
	<li>'framing' (iframes)</li>
	<li>Article 'Spinning'</li>
</ul>

<p>You must not use this website or any part of it to transmit or send unsolicited commercial communications.</p>

<p>You must not use this website for any purposes related to marketing without the express written consent of 1ezTrip.com.</p>

<h2><strong>Restricted access</strong></h2>

<p>Access to certain areas of this website is restricted. 1ezTrip.com reserves the right to restrict access to certain areas of this website, or at our discretion, this entire website. 1ezTrip.com may change or modify this policy without notice.</p>

<p>If 1ezTrip.com provides you with a user ID and password to enable you to access restricted areas of this website or other content or services, you must ensure that the user ID and password are kept confidential. You alone are responsible for your password and user ID security..</p>

<p>1ezTrip.com may disable your user ID and password at 1ezTrip.com's sole discretion without notice or explanation.</p>

<h2><strong>User content</strong></h2>

<p>In these terms and conditions, “your user content” means material (including without limitation text, images, audio material, video material and audio-visual material) that you submit to this website, for whatever purpose.</p>

<p>You grant to 1ezTrip.com a worldwide, irrevocable, non-exclusive, royalty-free license to use, reproduce, adapt, publish, translate and distribute your user content in any existing or future media. You also grant to 1ezTrip.com the right to sub-license these rights, and the right to bring an action for infringement of these rights.</p>

<p>Your user content must not be illegal or unlawful, must not infringe any third party's legal rights, and must not be capable of giving rise to legal action whether against you or 1ezTrip.com or a third party (in each case under any applicable law).</p>

<p>You must not submit any user content to the website that is or has ever been the subject of any threatened or actual legal proceedings or other similar complaint.</p>

<p>1ezTrip.com reserves the right to edit or remove any material submitted to this website, or stored on the servers of 1ezTrip.com, or hosted or published upon this website.</p>

<p>1ezTrip.com's rights under these terms and conditions in relation to user content, 1ezTrip.com does not undertake to monitor the submission of such content to, or the publication of such content on, this website.</p>

<h2><strong>No warranties</strong></h2>

<p>This website is provided “as is” without any representations or warranties, express or implied. 1ezTrip.com makes no representations or warranties in relation to this website or the information and materials provided on this website.</p>

<p>Without prejudice to the generality of the foregoing paragraph, 1ezTrip.com does not warrant that:</p>

<ul>
	<li>this website will be constantly available, or available at all; or</li>
	<li>the information on this website is complete, true, accurate or non-misleading.</li>
</ul>

<p>Nothing on this website constitutes, or is meant to constitute, advice of any kind. If you require advice in relation to any legal, financial or medical matter you should consult an appropriate professional.</p>

<h2><strong>Limitations of liability</strong></h2>

<p>1ezTrip.com will not be liable to you (whether under the law of contact, the law of torts or otherwise) in relation to the contents of, or use of, or otherwise in connection with, this website:</p>

<ul>
	<li>to the extent that the website is provided free-of-charge, for any direct loss;</li>
	<li>for any indirect, special or consequential loss; or</li>
	<li>for any business losses, loss of revenue, income, profits or anticipated savings, loss of contracts or business relationships, loss of reputation or goodwill, or loss or corruption of information or data.</li>
</ul>

<p>These limitations of liability apply even if 1ezTrip.com has been expressly advised of the potential loss.</p>

<h2><strong>Exceptions</strong></h2>

<p>Nothing in this website disclaimer will exclude or limit any warranty implied by law that it would be unlawful to exclude or limit; and nothing in this website disclaimer will exclude or limit the liability of 1ezTrip in respect of any:</p>

<ul>
	<li>death or personal injury caused by the negligence of 1ezTrip.com or its agents, employees or shareholders/owners;</li>
	<li>fraud or fraudulent misrepresentation on the part of 1ezTrip.com; or</li>
	<li>matter which it would be illegal or unlawful for 1ezTrip.com to exclude or limit, or to attempt or purport to exclude or limit, its liability.</li>
</ul>

<h2><strong>Reasonableness</strong></h2>

<p>By using this website, you agree that the exclusions and limitations of liability set out in this website disclaimer are reasonable.</p>

<p>If you do not think they are reasonable, you must not use this website.</p>

<h2><strong>Other parties</strong></h2>

<p>You accept that, as a limited liability entity, 1ezTrip.com has an interest in limiting the personal liability of its officers and employees. You agree that you will not bring any claim personally against 1ezTrip.com's officers or employees in respect of any losses you suffer in connection with the website.</p>

<p>Without prejudice to the foregoing paragraph, you agree that the limitations of warranties and liability set out in this website disclaimer will protect 1ezTrip.com's officers, employees, agents, subsidiaries, successors, assigns and sub-contractors as well as 1ezTrip.com.</p>

<h2><strong>Unenforceable provisions</strong></h2>

<p>If any provision of this website disclaimer is, or is found to be, unenforceable under applicable law, that will not affect the enforceability of the other provisions of this website disclaimer.</p>

<h2><strong>Indemnity</strong></h2>

<p>You hereby indemnify 1ezTrip.com and undertake to keep 1ezTrip.com indemnified against any losses, damages, costs, liabilities and expenses (including without limitation legal expenses and any amounts paid by 1ezTrip.com to a third party in settlement of a claim or dispute on the advice of 1ezTrip.com's legal advisers) incurred or suffered by 1ezTrip.com arising out of any breach by you of any provision of these terms and conditions, or arising out of any claim that you have breached any provision of these terms and conditions.</p>

<h2><strong>Breaches of these terms and conditions</strong></h2>

<p>Without prejudice to 1ezTrip.com's other rights under these terms and conditions, if you breach these terms and conditions in any way, 1ezTrip.com may take such action as 1ezTrip.com deems appropriate to deal with the breach, including suspending your access to the website, prohibiting you from accessing the website, blocking computers using your IP address from accessing the website, contacting your internet service provider to request that they block your access to the website and/or bringing court proceedings against you.</p>

<h2><strong>Variation</strong></h2>

<p>1ezTrip.com may revise these terms and conditions from time-to-time. Revised terms and conditions will apply to the use of this website from the date of the publication of the revised terms and conditions on this website. Please check this page regularly to ensure you are familiar with the current version.</p>

<h2><strong>Assignment</strong></h2>

<p>1ezTrip.com may transfer, sub-contract or otherwise deal with 1ezTrip.com's rights and/or obligations under these terms and conditions without notifying you or obtaining your consent.</p>

<p>You may not transfer, sub-contract or otherwise deal with your rights and/or obligations under these terms and conditions.</p>

<h2><strong>Severability</strong></h2>

<p>If a provision of these terms and conditions is determined by any court or other competent authority to be unlawful and/or unenforceable, the other provisions will continue in effect. If any unlawful and/or unenforceable provision would be lawful or enforceable if part of it were deleted, that part will be deemed to be deleted, and the rest of the provision will continue in effect.</p>

<h2><strong>Entire agreement</strong></h2>

<p>These terms and conditions, together with 1ezTrip.com's Privacy Policy constitute the entire agreement between you and 1ezTrip.com in relation to your use of this website, and supersede all previous agreements in respect of your use of this website.</p>
