﻿@{
    Layout = null;
    var myProductId = Request.QueryString["guid"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>1EZ TRIP</title>
    <link rel="shortcut icon" href="../Content/images/location-home-icon.png" />
    <!--  CSS  -->
    <link rel="stylesheet" href="~/Content/css/style-1eztrip.css" type="text/css">
    <!--[if IE 9]><link rel="stylesheet" href="~/Content/css/ie.css" type="text/css"><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" href="~/Content/css/ie8.css" type="text/css"><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <header>
        <section class="row-home">
            <figure class="logo"><a href="~/Trip/Index"><img src="~/Content/images/logo.png" width="180" height="37" alt="1EZTRIP"></a></figure>
            <nav>
                <aside class="menu">
                    <ul>
                        <li><a href="~/Trip/Index" class="active">Home</a></li>
                    </ul>
                </aside>
            </nav>
        </section>
    </header>
    <section class="banner">
        <article class="inner-banner">
            <figure><img src="~/Content/images/AppImages/aboutbanner.jpg" alt="1EZTRIP" /></figure>
        </article>
    </section>
    <section class="inner-wrapper">
        <section class="row-home">
            <article class="inner-cont">
                <h2>Email Id Verification</h2>               
                <aside class="inner-left">
                    <figure><img src="~/Content/images/AppImages/aboutimg.jpg" alt="1EZTRIP" /></figure>
                </aside>
                <aside class="inner-right">
                    <p class="top-para" style="margin-top:80px;font-size:22px;">
                        Your Email Id is Verified Successfully.</p><br/>
                    <p class="top-para" style="margin-top:20px;font-size:20px;">
                        <a href="@Url.Action("Index","Trip")">Click here to login</a>
                    </p>
                </aside>
            </article>
        </section>
    </section>
    <div class="clear"></div>
    @Html.Partial("Footer_PartialView")
    <script type="text/javascript" src="~/Scripts/js/html5.js"></script>
    <script type="text/javascript" src="~/Scripts/js/respond.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.js"></script>
    <script type="text/javascript" src="~/Scripts/js/common.js"></script>
</body>
</html>