﻿@model eztripStart.Models.ContactUs
@{
    var contents = TempData["contus"];
    Layout = null;
}
<script src="~/Scripts/ajax-libs-jqueryui-1.8.1-jquery-ui.min.js"></script>
<script src="~/Scripts/jquery-1.7.1.js"></script>
<script src="~/Scripts/jquery-1.10.2.intellisense.js"></script>
<link href="~/Content/css/jquery.ui.css" rel="stylesheet" />
<style type="text/css">
    .TextArea {
        height: 200px;
        width: 300px;
    }
    #errms1 {
        font-size: 13px;
        color: aqua;
    }
    #errms2 {
        font-size: 13px;
        color: aqua;
    }
    #errms3 {
        font-size: 13px;
        color: aqua;
    }
    #errms4 {
        font-size: 13px;
        color: aqua;
    }
    #errms5 {
        font-size: 13px;
        color: aqua;
    }
</style>
@using (Html.BeginForm("ContactUs", "Trip", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <title>1EZ TRIP</title>
        <link rel="shortcut icon" href="../Content/images/location-home-icon.png" />
        <!--  CSS  -->
        <link rel="stylesheet" href="~/Content/css/style-1eztrip.css" type="text/css">
        <link rel="stylesheet" href="~/Content/css/media.css" type="text/css">
        <!--[if IE 9]><link rel="stylesheet" href="~/Content/css/ie.css" type="text/css"><![endif]-->
        <!--[if IE 8]><link rel="stylesheet" href="~/Content/css/ie8.css" type="text/css"><![endif]-->
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]--> 
    </head>
    <body>
        <header>
            <section class="row-home">
                <figure class="logo"><a href="~/Trip/Index"><img src="~/Content/images/logo.png" width="180" height="37" alt="1EZTRIP"></a></figure>
                <nav>
                    <aside class="menu">
                        <ul>
                            <li><a href="~/Trip/Index" class="active">Home</a></li>
                        </ul>
                    </aside>
                </nav>
            </section>
        </header>
        <section class="banner">
            <article class="inner-banner">
                <figure><img src="~/Content/images/AppImages/aboutbanner.jpg" alt="1EZTRIP" /></figure>
            </article>
        </section>
        <section class="inner-wrapper">
            <section class="row-home">
                <article class="inner-cont">
                    <h2></h2>
                        <div id="divadd_student">
                            <div style="color: #000;font-size: large; margin-bottom: 10px;text-align: left;">CONTACT US</div>
                            <div style="width:100%;">
                                <aside class="inner-left" style="background-color: white;margin:0;width: 95%;">
                                    <p class="top-para">@Html.Raw(contents)</p>
                                </aside>
                            </div>
                            <div style="clear:both;"></div>
                            <div class="ContactusHome">                                
                                <div class="label2">FIRST NAME</div><div>@Html.TextBoxFor(m => m.Firstname, new { @class = "TextFor", id = "ContactFirstName", onkeypress = "return onlyAlphabets(event,this);", maxlength = "10" })</div>
                                <span id="errms1" style="color:white;"></span>
                                <div class="label2">LAST NAME</div><div> @Html.TextBoxFor(m => m.Lastname, new { @class = "TextFor", id = "ContactLastName", onkeypress = "return onlyAlphabets(event,this);", maxlength = "10" })</div>
                                <span id="errms2" style="color:white;"></span>
                                <div class="label2">EMAIL ID </div><div> @Html.TextBoxFor(m => m.EmilId, new { @class = "TextFor", id = "ContactEmailId" })</div>
                                <span id="errms3" style="color:white;"></span>
                                <div class="label2">CONTACT NO.</div><div> @Html.TextBoxFor(m => m.ContactNo, new { @class = "TextFor", id = "ContactContact",maxlength="10", onkeypress="return validateQty(event);"})</div>
                                <span id="errms4" style="color:white;"></span>
                                <div class="label2">ENQUIRY</div><div> @Html.TextAreaFor(m => m.Address, new { @class = "TextArea", id = "ContactAddress",maxlength="100" })</div>
                                <span id="errms5" style="color:white;"></span>
                                <div style="margin-left:35%;margin-top:5%;"><button type="submit" id="btnsent" class="button">Send</button></div>
                            </div>
                            @{
    if (ViewBag.contmsg == "Contact Failed")
    {
        <script type="text/javascript">
            alert("Oops!! Something went wrong. Contacting us failed");
        </script>
    }
    }
                        </div>
                </article>
            </section>
        </section>
        <div class="clear"></div>
        @Html.Partial("Footer_PartialView")
        <script type="text/javascript" src="~/Scripts/images/html5.js"></script>
        <script type="text/javascript" src="~/Scripts/images/respond.js"></script>
        <script type="text/javascript" src="~/Scripts/images/jquery.js"></script>
        <script type="text/javascript" src="~/Scripts/images/common.js"></script>
        <script src="~/Scripts/loading_plugin_js/jquery.noty.packaged.min.js"></script>
        <script type="text/javascript">

            $(document).ready(function () {
                //$('#ContactFirstName').keypress(function (event) {
                //    var maxlen = 30;
                //    var text = $(this).val();
                //    var textLength = text.length;
                //    if (textLength < maxlen) {
                //    }
                //    else {
                //        event.preventDefault();
                //    }
                //});

                //$('#ContactLastName').keypress(function (event) {
                //    var maxlen = 30;
                //    var text = $(this).val();
                //    var textLength = text.length;
                //    if (textLength < maxlen) {
                //    }
                //    else {
                //        event.preventDefault();
                //    }
                //});

                $('#ContactEmailId').keypress(function (event) {
                    var maxlen = 50;
                    var text = $(this).val();
                    var textLength = text.length;
                    if (textLength < maxlen) {
                    }
                    else {
                        event.preventDefault();
                    }
                });

                $('#ContactContact').keypress(function (event) {
                    var maxlen = 20;
                    var text = $(this).val();
                    var textLength = text.length;
                    if (textLength < maxlen) {
                    }
                    else {
                        event.preventDefault();
                    }
                });

                $('#ContactAddress').keypress(function (event) {
                    var maxlen = 700;
                    var text = $(this).val();
                    var textLength = text.length;
                    if (textLength < maxlen) {
                    }
                    else {
                        event.preventDefault();
                    }
                });

                $("#btnsent").click(function () {
                    var FirstName = $("#ContactFirstName").val();
                    var LastName = $("#ContactLastName").val();
                    var EmailId = $("#ContactEmailId").val();
                    var ContactNo = $("#ContactContact").val();
                    var Address = $("#ContactAddress").val();
                    var event = "";
                    var name_regex = /^[a-zA-Z]+$/;
                    var email_regex = /^[\w\-\.\+]+\@@[a-zA-Z0-9\.\-]+\.[a-zA-z0-9]{2,4}$/;
                    var cont_regex = /^[0-9\-\(\)\s]+/;

                    if (FirstName.length == 0)
                    {
                        var notify_alert = noty({
                            layout: 'topRight',
                            text: 'Please enter your first name',
                            type: 'error',
                            timeout: 3000,
                            maxVisible: 1,
                            animation: {
                                open: { height: 'toggle' },
                                close: { height: 'toggle' },
                                easing: 'swing',
                                speed: 500
                            }
                        });
                        $("#ContactFirstName").focus();
                        return false;
                    }

                    else if (!FirstName.match(name_regex)) {
                        var notify_alert = noty({
                            layout: 'topRight',
                            text: 'For your first name please use alphabets only',
                            type: 'error',
                            timeout: 3000,
                            maxVisible: 1,
                            animation: {
                                open: { height: 'toggle' },
                                close: { height: 'toggle' },
                                easing: 'swing',
                                speed: 500
                            }
                        });
                        $("#ContactFirstName").focus();
                        return false;
                    }

                    else if(LastName.length == 0)
                    {
                        var notify_alert = noty({
                            layout: 'topRight',
                            text: 'Please enter your last name',
                            type: 'error',
                            timeout: 3000,
                            maxVisible: 1,
                            animation: {
                                open: { height: 'toggle' },
                                close: { height: 'toggle' },
                                easing: 'swing',
                                speed: 500
                            }
                        });
                        $("#ContactLastName").focus();
                        return false;
                    }

                    else if (!LastName.match(name_regex)) {
                        var notify_alert = noty({
                            layout: 'topRight',
                            text: 'For your last name please use alphabets only',
                            type: 'error',
                            timeout: 3000,
                            maxVisible: 1,
                            animation: {
                                open: { height: 'toggle' },
                                close: { height: 'toggle' },
                                easing: 'swing',
                                speed: 500
                            }
                        });
                        $("#ContactLastName").focus();
                        return false;
                    }

                    else if(EmailId.length == 0)
                    {
                        var notify_alert = noty({
                            layout: 'topRight',
                            text: 'Please enter your mail id',
                            type: 'error',
                            timeout: 3000,
                            maxVisible: 1,
                            animation: {
                                open: { height: 'toggle' },
                                close: { height: 'toggle' },
                                easing: 'swing',
                                speed: 500
                            }
                        });
                        $("#ContactEmailId").focus();
                        return false;
                    }

                    else if (!EmailId.match(email_regex)) {
                        var notify_alert = noty({
                            layout: 'topRight',
                            text: 'Please enter a valid email id',
                            type: 'error',
                            timeout: 3000,
                            maxVisible: 1,
                            animation: {
                                open: { height: 'toggle' },
                                close: { height: 'toggle' },
                                easing: 'swing',
                                speed: 500
                            }
                        });
                        $("#ContactEmailId").focus();
                        return false;
                    }
                    else if (ContactNo.length == 0)
                    {
                        var notify_alert = noty({
                            layout: 'topRight',
                            text: 'Please enter your contact no.',
                            type: 'error',
                            timeout: 3000,
                            maxVisible: 1,
                            animation: {
                                open: { height: 'toggle' },
                                close: { height: 'toggle' },
                                easing: 'swing',
                                speed: 500
                            }
                        });
                        $("#ContactContact").focus();
                        return false;
                    }

                    else if (!ContactNo.match(cont_regex)) {
                        var notify_alert = noty({
                            layout: 'topRight',
                            text: 'Please enter a valid contact no.',
                            type: 'error',
                            timeout: 3000,
                            maxVisible: 1,
                            animation: {
                                open: { height: 'toggle' },
                                close: { height: 'toggle' },
                                easing: 'swing',
                                speed: 500
                            }
                        });
                        $("#ContactContact").focus();
                        return false;
                    }

                    else if (Address.length == 0) {
                        var notify_alert = noty({
                            layout: 'topRight',
                            text: 'Please enter your query',
                            type: 'error',
                            timeout: 3000,
                            maxVisible: 1,
                            animation: {
                                open: { height: 'toggle' },
                                close: { height: 'toggle' },
                                easing: 'swing',
                                speed: 500
                            }
                        });
                        $("#ContactAddress").focus();
                        return false;
                    }
                });
            });

            function validateQty(event) {
                var key = window.event ? event.keyCode : event.which;
                if (event.keyCode == 8 || event.keyCode == 46
                 || event.keyCode == 37 || event.keyCode == 39 || event.keyCode == 9) {
                    return true;
                }
                else if (key < 48 || key > 57) {
                    return false;
                }
                else return true;
            };

            function onlyAlphabets(e, t) {
                try {
                    if (window.event) {
                        var charCode = window.event.keyCode;
                    }
                    else if (e) {
                        var charCode = e.which;
                    }
                    else { return true; }
                    if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123) || charCode == 8 || charCode == 46 || charCode == 37 || charCode == 39 || charCode == 0)
                        return true;
                    else
                        return false;
                }
                catch (err) {
                    //alert(err.Description);
                }
            }

        </script>
    </body>
</html>
}
