﻿@model eztripStart.Models.NewData
@{
    ViewBag.Title = "CustomiseorAdd";
    string[] Cities = new string[10];
    Cities = (string[])ViewData["CityCount"];
    string[] latarr = new string[10];
    string[] lngarr = new string[10];
    latarr = (string[])ViewData["lat"];
    lngarr = (string[])ViewData["lng"];
    string[] Dayarr = new string[10];
    Dayarr = (string[])ViewData["Day"];
    var LoggedTripId = Session["LoggedTripId"];
    var SaveMovementAddCity = Session["SaveMovementAddCity"];
    var Price = ViewData["Price"];
    string checkprice = (string)ViewData["Price"];
    var prevView = Session["CurView"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>1EZ TRIP</title>
    <link rel="shortcut icon" href="../Content/images/location-home-icon.png" />
    <!--  CSS  -->
    <link rel="stylesheet" href="~/Content/css/style-1eztrip.css" type="text/css" />
    <!--[if IE 9]><link rel="stylesheet" href="css/ie.css" type="text/css"><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" href="css/ie8.css" type="text/css"><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
        .btn-primary {
            background-color: rgb(9, 168, 229);
            width: 14%;
            border-color: rgb(9, 168, 229);
            border-radius: 4px;
            color: white;
        }

        .btn-danger {
            background-color: rgb(192, 81, 148);
            border-color: rgb(192, 81, 148);
            border-radius: 4px;
            width: 18%;
            color: white;
        }
    </style>
</head>
<body>
    <header>
        <section class="row">
            <figure class="logo"><a href="~/Trip/Index"><img src="~/Content/images/logo.png" width="180" height="37" alt="1EZTRIP" /></a></figure>
            <nav>
                <aside class="menu">
                    <ul>
                        <li><a href="#" class="active" onclick="return LeaveFromCurrentPage('1');">Home</a></li>
                        <li><a href="#" onclick="return LeaveFromCurrentPage('2');">My Trips</a></li>
                        <li><a href="#" onclick=" return LeaveFromCurrentPage('3');">My Account</a></li>
                    </ul>
                </aside>
                <div id="wel-mem">
                    <ul>
                        <input type="hidden" value="" id="noodcitylist" />
                        <li style="width:190px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;">Hi<label>@Model.LoggedUserName</label></li><input type="hidden" value="@SaveMovementAddCity" id="SaveMovementAddCity" />
                        <li class="last"><a href="~/Trip/Index" onclick="return test();">Logout</a></li>               
                    </ul>
                </div>
            </nav>
        </section>
    </header>

    <section class="inner-wrapper">
        <section class="row-home">
            <article class="inner-cont">
                <aside class="inner-rgt-image">
                    <figure><img alt="1EZTRIP" src="~/Content/images/AppImages/aboutimg.jpg"></figure>
                </aside>
                <aside class="inner-left-pad">
                    <div class="cust-page">
                        <h2 class="cust-page-h2">Selected Cities</h2>
                        <input type="hidden" id="LoggedTripId" value="@LoggedTripId" />
                        <input type="hidden" id="PrevView" value="@prevView"/>
                        <table width="600" id="SelectedCities" style="border:1px solid #EAEAEA;" cellpadding="1" cellspacing="0">
                            @{
                                int CalculatePrice = 0;
                                for (int i = 0; i < Cities.Length; i++)
                                {
                                    CalculatePrice = CalculatePrice + int.Parse(Convert.ToString(@Price));
                                    <tr class="row1" id="row1">
                                        <input type="hidden" value="@latarr[i].ToString()" class="cls_lat" />
                                        <input type="hidden" value="@lngarr[i].ToString()" class="cls_lng" />
                                        <input type="hidden" value="@Dayarr[i].ToString()" class="cls_date" />
                                        <td class="cus">
                                            <h3>@Cities[i].ToString()</h3>
                                        </td>
                                        <td class="cus"><h4>$ @Price</h4></td>
                                    </tr>
                                }
                                <input type="hidden" value="@CalculatePrice" id="PriceForSingleCity" />
                             }
                        </table>
                        <div class="cust-page">
                            <div class="cust-page">
                                <div id="fb-root"></div>
                                <br />
                                <div class="fb-share-button" data-href="https://www.facebook.com/pages/1EZTrip/1486494324953954?ref=hl/" data-width="500" data-layout="button"></div>
                                <div id="map-canvas" style="width: 500px; height: 500px; position: absolute;display:none; "></div>
                            </div>
                            <a href="#" class="fancybox">
                                @if (@checkprice == "0")
                                {
                                     <input type="button" value="Customise" id="PayButton" />                                   
                                }
                                else
                                {                                   
                                    <input type="button" value="Pay" id="PayButton" />
                                }
                            </a>
                        </div>
                        </div>
                </aside>
               
            </article>
        </section>
    </section>
    <div id="paymentpopup" class="welcome" style="display: none;height:91%;">
        <div class="welcome-right">
            <h3 style="color:#171515; margin-top:11%;">Payment Successful!!!</h3>
            <a href="#">
                <input type="button" name="" value="Click to Customize" onclick="$.fancybox.close();" />
            </a>
        </div>
    </div>
</body>
</html>

<script src="~/Scripts/js/jquery-ui-1.10.4.min.js"></script>
<script src="~/Scripts/js/jquery-1.11.0.min.js"></script>
<script src="~/Scripts/js/jquery-ui-1.11.1.js"></script>
<script type="text/javascript" src="~/Scripts/js/html5.js"></script>
<script type="text/javascript" src="~/Scripts/js/respond.js"></script>
<script type="text/javascript" src="~/Scripts/js/jquery.js"></script>
<script type="text/javascript" src="~/Scripts/js/ddsmoothmenu.js"></script>
<!-- Google CDN jQuery UI with fallback to local -->
<script type="text/javascript" src="~/Scripts/js/jquery.mCustomScrollbar.concat.min.js"></script>
<!-- Add fancyBox main JS and CSS files -->
<script type="text/javascript" src="~/Scripts/js/jquery.fancybox.js"></script>
<script>$(document).ready(function () { $('.fancybox').fancybox(); });</script>
<script type="text/javascript" src="~/Scripts/js/accordion.js"></script>
<script src="~/Scripts/loading_plugin_js/jquery.noty.packaged.min.js"></script>
<script src="~/Scripts/Jsfiles/CustomiseOrAddCity.js"></script>

