﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title> 1EZ TRIP</title>
    <link rel="shortcut icon" href="../Content/images/location-home-icon.png" />
    <link href="~/Content/Intro/css/pageguide.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/css/style-1eztrip.css" type="text/css">
    <style type="text/css">
        #tlyPageGuideToggles {
            display: none !important;
        }
        #startTour {
            color: #ffffff;
            float: left;
            font-size: 13px;
            margin: 0;
            padding: 11px 12px 11px 24px;
            font-family: 'open_sansregular';
            background: url(../Content/images/arrow-btn.png) no-repeat 125px 13px #01A5CD;
            width: 155px;
            border-radius: 3px;
            khtml-border-radius: 3px;
            moz-border-radius: 3px;
            webkit-border-radius: 3px;
            border: 0px;
            position: relative;
            left: 45%;
            top: 20px;
            text-align: left;
            cursor: pointer;
        }
        .inner-cont
        {
            margin-top:50px;
        }
         .tlypageguide_close {
            background-color: #01A5CD !important;
        }
        .tlypageguide_index {
            background-color: #01A5CD !important;
        }
        .tlyPageGuideStepIndex {
            background-color: #95CCDA !important;
        }
            .tlyPageGuideStepIndex:hover {
                background-color: #01A5CD !important;
            }
        .tlypageguide-active .tlyPageGuideStepIndex {
            background-color: #01A5CD !important;
        }
            .tlypageguide-active .tlyPageGuideStepIndex:hover {
                background-color: #01A5CD !important;
            }
        .tlyPageGuideStepIndex .tlypageguide_top {
            background-color: #95CCDA !important;
        }
        .tlyPageGuideStepIndex .tlypageguide_right {
            background-color: #95CCDA !important;
        }
   </style>
</head>
<body class="guide-page">
    <header>
        <section class="row-home">
            <figure class="logo"><a href="~/Trip/Index"><img src="~/Content/images/logo.png" width="180" height="37" alt="1EZTRIP"></a></figure>
            <nav>
                <aside class="menu">
                    <ul>
                        <li><a href="~/Trip/Index" class="active">Home</a></li>
                    </ul>
                </aside>
            </nav>
        </section>
    </header>
        <article class="inner-banner">
			<section class="row-home img-guide">
				<h2>How 1EzTrip works..</h2>
				<h6>Site Guide</h6>
				<input type="button" id="startTour" value="Start the tour"/>
			</section>
        </article>
    <section>
        <article class="inner-cont">
                <div class="img-guide">
                    <img src="~/Content/images/HowItWorks/buildmytrip1.png" class="data-block" id="first_element_to_target" alt="Plan my trip"/>
					<div class="clear"></div>
					<img src="~/Content/images/down-arrow-new.png"/>
           		</div>
                <div class="img-guide">
                    <img style="height: 350px;" src="~/Content/images/HowItWorks/buildmytrip2.png" class="data-block" id="second_element_to_target" alt="Top Amazing Destinations" />
					<div class="clear"></div>
					<img src="~/Content/images/down-arrow-new.png" />
            	</div>
                <div class="img-guide">
                    <img src="~/Content/images/HowItWorks/buildmytrip3.png" class="data-block" id="third_element_to_target" alt="Top Itineraries" />
                	<div class="clear"></div>
					<img src="~/Content/images/down-arrow-new.png" />
           		</div>
                <div class="img-guide">
                    <img src="~/Content/images/HowItWorks/itinerary1.png" class="data-block" id="fourth_element_to_target" alt="Get first day itinerary for free"/>
					<div class="clear"></div>
					<img src="~/Content/images/down-arrow-new.png" />
            	</div>
                <div class="img-guide">
                    <img src="~/Content/images/HowItWorks/customiseVer2.png" class="data-block" id="fifth_element_to_target" alt="Start Customizing the itinerary" />
					<div class="clear"></div>
					<img src="~/Content/images/down-arrow-new.png" />
            	</div>
                <div class="img-guide">
                    <img src="~/Content/images/HowItWorks/customiseFirstdaytrip3.png" class="data-block" id="sixth_element_to_target" alt="Customize by swapping the places" />
					<div class="clear"></div>
                	<img src="~/Content/images/down-arrow-new.png" />
            	</div>
            	<div class="img-guide">
                    <img src="~/Content/images/HowItWorks/customiseFirstdaytrip4.png" class="data-block" id="seventh_element_to_target" alt="Customize by adding more places to the itinerary" />
					<div class="clear"></div>
					<img src="~/Content/images/down-arrow-new.png" />
				</div>
				<div class="img-guide">
                    <img src="~/Content/images/HowItWorks/customiseFirstdaytrip1.png" class="data-block" id="eigth_element_to_target" alt="Customize by changing the spending duration" />
					<div class="clear"></div>
					<img src="~/Content/images/down-arrow-new.png" />
				</div>
				<div class="img-guide">
                    <img src="~/Content/images/HowItWorks/customiseFirstdaytrip2.png" class="data-block" id="ninth_element_to_target" alt="Customize by changing the travel time" />
				</div>
        </article>
        <ul id="tlyPageGuide" data-tourtitle="check out these elements">

            <li class="tlypageguide_top" data-tourtarget="#first_element_to_target">
                Build your trip by selecting your desired city from the destination textbox.
            </li>
            <li class="tlypageguide_right" data-tourtarget="#second_element_to_target">
                Not sure about the destination? See top amazing destinations.
            </li>
            <li class="tlypageguide_right" data-tourtarget="#third_element_to_target">
                Find popular itineraries in Top itineraries section.
            </li>
            <li class="tlypageguide_right" data-tourtarget="#fourth_element_to_target">
                    The itinerary is created with most popular attraction and activities and with top rated restaurants and hotels.
                    Get the full details about the places in the itinerary.
            </li>
            <li class="tlypageguide_right" data-tourtarget="#fifth_element_to_target" >
                Customise your selected city.
            </li>
            <li class="tlypageguide_top" data-tourtarget="#sixth_element_to_target">
                Swap the places in the itinerary.
            </li>
            <li class="tlypageguide_top" data-tourtarget="#seventh_element_to_target">
                Add more places from suggestions.
            </li>
            <li class="tlypageguide_top" data-tourtarget="#eigth_element_to_target">
                Change the spending time for the places in the itinerary.
            </li>
            <li class="tlypageguide_top" data-tourtarget="#ninth_element_to_target">
                Edit the travel duration.
            </li>
        </ul>
    </section>
    <script src="~/Scripts/js/jquery-2.0.0.min.js"></script>
    <script src="~/Content/Intro/js/pageguide.min.js"></script>
    <script>
        $(document).ready(function () {
            tl.pg.init();
        });

        $("#startTour").click(function () {
            $("#tlyPageGuideToggle174718287").trigger('click');
        });
       
    </script>
</body>
</html>
