﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>fbInvitePage</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>

<script src="~/Scripts/js/jquery-1.11.0.min.js"></script>
<script>
    $(document).ready(function () {
        window.location.href = "http://1eztrip.com/trip/index";
    });
</script>