﻿<div id="fb-root"></div>
<div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="false"></div>
<button id="FacebookLogout_Button" style="display:none;">test</button>
<script type="text/javascript">

    window.fbAsyncInit = function () {
        FB.init({
            appId:'1052975758054793',
            status: true,
            cookie: true,
            xfbml: true,
            oauth: true
        });

        FB.Event.subscribe('auth.login', function (response) {
            var credentials = { uid: response.authResponse.userID, accessToken: response.authResponse.accessToken };

            SubmitLogin(credentials);
        });

        $('#FacebookLogout_Button').on('click', function () {
            FB.getLoginStatus(function (response) {
                if (response.status === 'connected') {
                    FB.logout(function (response) {
                        window.location.href = "../Trip/Index";
                    });
                }
                else if (response.status === 'not_authorized') {
                    var noty_alert = noty({
                        layout: 'topRight',
                        text: 'Oops!! something went wrong. Either you are not authorised or your session have been expired. Please login again..',
                        type: 'warning',
                        timeout: 3000,
                        maxVisible: 1,
                        animation: {
                            open: { height: 'toggle' },
                            close: { height: 'toggle' },
                            easing: 'swing',
                            speed: 500
                        }
                    });
                }
            });

        });

        function SubmitLogin(credentials) {
            $.ajax({
                url: '@Url.Action("FacebookLogin", "Trip")',
                type: "POST",
                data: credentials,
                error: function () {
                    var noty_alert = noty({
                        layout: 'topRight',
                        text: 'Error logging in to your facebook account..',
                        type: 'warning',
                        timeout: 3000,
                        maxVisible: 1,
                        animation: {
                            open: { height: 'toggle' },
                            close: { height: 'toggle' },
                            easing: 'swing',
                            speed: 500
                        }
                    });
                },
                success: function (result) {
                    FB.logout(function (response) {
                        if (result.Check != 0) {
                            if (result.CheckActive != 1) {
                                var noty_alert = noty({
                                    layout: 'topRight',
                                    text: 'Your account is deactivated. Please contact 1eztrip support team..',
                                    type: 'warning',
                                    timeout: 3000,
                                    maxVisible: 1,
                                    animation: {
                                        open: { height: 'toggle' },
                                        close: { height: 'toggle' },
                                        easing: 'swing',
                                        speed: 500
                                    }
                                });
                                $noty.close();
                                $('#lblusername').text('');
                                $.ajax({
                                    type: "POST",
                                    url: '../Trip/ClearLoginSession',
                                    success: function () {
                                        window.location.href = "../Trip/Index";
                                    }
                                });
                            }
                            else {
                                if (result.CheckConfirm != 1) {
                                    var noty_alert = noty({
                                        layout: 'topRight',
                                        text: 'Your account is not confirmed yet.. please check your mail and confirm your account!',
                                        type: 'warning',
                                        timeout: 3000,
                                        maxVisible: 1,
                                        animation: {
                                            open: { height: 'toggle' },
                                            close: { height: 'toggle' },
                                            easing: 'swing',
                                            speed: 500
                                        }
                                    });
                                    $noty.close();
                                    $('#lblusername').text('');
                                    $.ajax({
                                        type: "POST",
                                        url: '../Trip/ClearLoginSession',
                                        success: function () {
                                            window.location.href = "../Trip/Index";
                                        }
                                    });
                                }

                                else {
                                    var PageId = $('#FaceBook_Page').val();
                                    if (PageId == 0) {                                        
                                        if ($("#hidmyacc").val() == 1) {
                                            $('#LoggedUserLi').show();
                                            $("#liMyAccount").hide();
                                            $("#register").hide();
                                            $(".fancybox-overlay").hide();
                                            $("#hidcustomizeid").val("1");
                                            $("#hidcityid").val("1");
                                            $("#wel-mem").show();
                                            $("#liMyAccount").hide();
                                            $("#lblusername").text(result.first_name);
                                            $('#LoggedUserId').val(result.Id);
                                            var noty_alert = noty({
                                                layout: 'topRight',
                                                text: 'You have successfully logged in',
                                                type: 'success',
                                                timeout: 3000,
                                                maxVisible: 1,
                                                animation: {
                                                    open: { height: 'toggle' },
                                                    close: { height: 'toggle' },
                                                    easing: 'swing',
                                                    speed: 500
                                                }
                                            });
                                        }
                                        else {
                                            $('#LoggedUserLi').show();
                                            $("#liMyAccount").hide();
                                            $("#register").hide();
                                            $(".fancybox-overlay").hide();
                                            $("#hidcustomizeid").val("1");
                                            $("#hidcityid").val("1");
                                            $("#hlcity").click();
                                            $("#hlcity").attr("href", "#dest-popup");
                                            $("#wel-mem").show();
                                            $("#liMyAccount").hide();
                                            $("#lblusername").text(result.first_name);
                                            $('#LoggedUserId').val(result.Id);
                                            var noty_alert = noty({
                                                layout: 'topRight',
                                                text: 'You have successfully logged in',
                                                type: 'success',
                                                timeout: 3000,
                                                maxVisible: 1,
                                                animation: {
                                                    open: { height: 'toggle' },
                                                    close: { height: 'toggle' },
                                                    easing: 'swing',
                                                    speed: 500
                                                }
                                            });
                                        }
                                    }
                                    else {
                                        if ($("#hidmyacc").val() == 1) {
                                            $('#LoggedUserLi').show();
                                            $("#wel-mem").show();
                                            $("#txtloginmail").val('');
                                            $("#txtloginpwd").val('');
                                            $("#liMyAccount").hide();
                                            $("#register").hide();
                                            $(".fancybox-overlay").hide();
                                            $("#hidcustomizeid").val("1");
                                            $("#hidcityid").val("1");
                                            var page = $("#hidnavigate").val();
                                            if (page == 1) {
                                                if ($("#priceValue").val() > 0) {
                                                    $("#firstday").trigger("click");
                                                }
                                                else {
                                                    SaveMovement();
                                                }
                                            }
                                            else {
                                                $("#wel-mem").show();
                                                $("#liMyAccount").hide();
                                                $("#lblusername").text(result.first_name);
                                                $('#LoggedUserId').val(result.Id);
                                            }
                                        }
                                        else {
                                            $('#LoggedUserLi').show();
                                            $("#txtloginmail").val('');
                                            $("#txtloginpwd").val('');
                                            $("#liMyAccount").hide();
                                            $("#register").hide();
                                            $(".fancybox-overlay").hide();
                                            $("#hidcustomizeid").val("1");
                                            $("#hidcityid").val("1");
                                            var page = $("#hidnavigate").val();
                                            $("#wel-mem").show();
                                            if (page == 1) {
                                                if ($("#priceValue").val() > 0) {
                                                    $("#firstday").trigger("click");
                                                    $("#iternary").slideToggle("slow");
                                                    $("#lblusername").text(result.first_name);
                                                    $('#LoggedUserId').val(result.Id);
                                                }
                                                else
                                                {
                                                    SaveMovement();
                                                }
                                            }
                                            else {

                                                $("#hlcity").attr("href", "#dest-popup");
                                                $("#dest-popup").slideToggle("slow");
                                                $("#wel-mem").show();
                                                $("#liMyAccount").hide();
                                                $("#lblusername").text(result.first_name);
                                                $('#LoggedUserId').val(result.Id);
                                            }
                                        }
                                    }

                                }
                            }
                        }
                        else {
                            $("#FBlink").trigger('click');
                            $('#txtfbregfirstname').val(result.first_name);
                            $('#txtfbreglastname').val(result.last_name);
                            $('#FacebookId').val(result.id);
                        }
                    });
                }
            });
        }
    };

    (function (d) {
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement('script');
        js.id = id;
        js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        ref.parentNode.insertBefore(js, ref);
    }(document));

</script>

