﻿@model eztripStart.Models.Feedback

@{
    Layout = null;
}

@using (Html.BeginForm("Feedback", "Trip", FormMethod.Post, new { enctype = "multipart/form-data"}))
{
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <title>1EZ TRIP</title>
        <link rel="shortcut icon" href="../Content/images/location-home-icon.png" />
        <!--  CSS  -->
        <link rel="stylesheet" href="~/Content/css/style-1eztrip.css" type="text/css">
        <link rel="stylesheet" href="~/Content/css/media.css" type="text/css">
        <!--[if IE 9]><link rel="stylesheet" href="~/Content/css/ie.css" type="text/css"><![endif]-->
        <!--[if IE 8]><link rel="stylesheet" href="~/Content/css/ie8.css" type="text/css"><![endif]-->
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <header>
            <section class="row-home">
                <figure class="logo"><a href="~/Trip/Index"><img src="~/Content/images/logo.png" width="180" height="37" alt="1EZTRIP"></a></figure>
                <nav>
                    <aside class="menu">
                        <ul>
                            <li><a href="~/Trip/Index" class="active">Home</a></li>
                        </ul>
                    </aside>                   
                </nav>
            </section>
        </header>
        <section class="banner">
            <article class="inner-banner">
                <figure><img src="~/Content/images/AppImages/aboutbanner.jpg" alt="1EZTRIP" /></figure>
            </article>
        </section>
        <section class="inner-wrapper">
            <section class="row-home">
                <article class="inner-cont">
                    <div id="divadd_student">
                        <div class="ContactusHome">                            
                            <div style="text-align:center;width:100%;color:#FFFFFF; font-size:large;margin-left:0px;">FEEDBACK</div>
                            Please feel free to post your feedback about our services. Your comments will enrich our services.<br />
                            <div class="label2">FIRST NAME</div><div>@Html.TextBoxFor(m => m.Firstname, new { @class = "TextFor", id = "txtFirstName", placeholder = "Enter Firstname" })</div>
                            <div class="label2">LAST NAME</div><div> @Html.TextBoxFor(m => m.Lastname, new { @class = "TextFor", id = "txtLastName", placeholder = "Enter Lastname" })</div>
                            <div class="label2">EMAIL ID </div><div> @Html.TextBoxFor(m => m.EmilId, new { @class = "TextFor", id = "txtEmailId", placeholder = "Enter Email Id" })</div>
                            <div class="label2">CONTACT NO.</div><div> @Html.TextBoxFor(m => m.ContactNo, new { @class = "TextFor", id = "txtContact", placeholder = "Enter Contact No." })</div>
                            <div class="label2">FEEDBACK</div><div> @Html.TextAreaFor(m => m.Comment, new { @class = "TextArea", id = "txtcomment", placeholder = "Enter Feedback" })</div>
                            <div style="margin-left:30%;margin-top:5%;"><button type="submit" id="btnsent2" class="button">Post Feedback</button></div>
                        </div>
                        @{
    if (ViewBag.feedmsg == "")
    {
        <script type="text/javascript">
            alert("Thanks for posting your feedback");
        </script>
    }
    else if (ViewBag.feedmsg == "Feedback Failed")
    {
        <script type="text/javascript">
            alert("Oops!! Something went wrong. Sending feedback failed");
        </script>
    }
}
                    </div>
                </article>
            </section>
        </section>
        <div class="clear"></div>
        @Html.Partial("Footer_PartialView")

        <script src="~/Scripts/jquery-ui-1.8.19.custom.min.js"></script>
        <script src="~/Scripts/jquery-1.10.2.intellisense.js"></script>
        <script src="~/Scripts/jquery-1.7.1.js"></script>
        <script type="text/javascript" src="~/Scripts/images/html5.js"></script>
        <script type="text/javascript" src="~/Scripts/images/respond.js"></script>
        <script type="text/javascript" src="~/Scripts/images/jquery.js"></script>
        <script type="text/javascript" src="~/Scripts/images/common.js"></script>
        <script src="~/Scripts/loading_plugin_js/jquery.noty.packaged.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#txtFirstName").val('');
                $("#txtLastName").val('');
                $("#txtEmailId").val('');
                $("#txtContact").val('');
                $("#txtcomment").val('');

                $("#btnsent2").click(function () {
                    var FirstName = $("#txtFirstName").val();
                    var LastName = $("#txtLastName").val();
                    var EmailId = $("#txtEmailId").val();
                    var ContactNo = $("#txtContact").val();
                    var Comment = $("#txtcomment").val();
                    var filter1 = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
                    var err = "";
                    var EmptyFieldsCount = 0;
                    var ValidateMessage = "";
                    if (FirstName == "") {
                        err += "Enter the First Name<br/>";
                    }
                    if (LastName == "") {
                        err += "Enter the Last Name<br/>";
                    }
                    if (EmailId == "") {
                        err += "Enter the mailId<br/>";
                    }
                    else if (!filter1.test(EmailId)) {
                        err += "EmailId Incorrect Format<br/>";
                    }

                    if (ContactNo == "") {
                        err += "Enter the  Contact No<br/>";
                    }
                    else {
                        var filter = /^[0-9-+]+$/;

                        if (!filter.test(ContactNo)) {
                            err += "Moble Number Incorrect Format<br/>";
                        }
                        else if (ContactNo.length != 10) {
                            err += "Invalid Number<br/>";
                        }
                    }
                    if (Comment == "") {
                        err += "Enter the  Comments<br/>";
                    }
                    if (err != "") {
                        var notify_alert = noty({
                            layout: 'topRight',
                            text: err,
                            type: 'error',
                            timeout: 3000,
                            maxVisible: 1,
                            animation: {
                                open: { height: 'toggle' },
                                close: { height: 'toggle' },
                                easing: 'swing',
                                speed: 500
                            }
                        });
                        return false;
                    }
                });
                return false;
            });
        </script>
    </body>
</html>
}

