﻿<link href="~/Content/Extracss/poup.css" rel="stylesheet" />
<style type="text/css">
    .pac-container {
        z-index: 1000000000 !important;
    }

    .Finalisebtnstyle {
        background: #033363;
        border-radius: 5px;
        color: #fff;
        float: left;
        font-family: 'OpenSans-Semibold' !important;
        font-size: 13px !important;
        padding: 5px 18px !important;
        text-align: center;
    }

        .Finalisebtnstyle:hover {
            color: #21E8CE;
        }

    #HeadDiv {
        color: #1D1A1A !important;
        font-family: 'open_sansbold';
        font-size: 22px;
        font-weight: normal;
        margin: 0;
        padding: 0px;
        text-align: center;
        text-transform: capitalize;
    }

</style>

<div id="finalize-popup" class="slide-close slide1 ignore_click" style="display: none; margin-top: 0%; margin-left: 15%; background-color: #00C2F1; z-index: 100000; left: 0px; top: 135px; height: auto !important;">
    <figure class='PopUp-CloseBtn' onclick='$("#finalize-popup").hide()'><img src='../Content/images/del_travel-bkp-7-5-15.png' /></figure>
    <div id="HeadDiv">
        <span>Finalize your trip!</span>
    </div>
    <div>
        <br />
        <a href="javascript:;" id="PrintTrip" class="Finalisebtnstyle" style="float: left;margin-right:20px;" onclick="FinalizeTripPrint();">
            Print
        </a>
        <a href="javascript:;" id="ExportTrip" class="Finalisebtnstyle" style="float: left;margin-right:20px;" onclick="FinalizeTripExport();">
            Export
        </a>
        <a id="shareTrip" href="#" class="js-open-modal Finalisebtnstyle" data-modal-id="sharpopuptrip" style=" float: left;" data-value="885">Share</a>
    </div>
    @*<a href="javascript:;" class="fancybox-item slideClose" title="Close" onclick="$('#finalize-popup').hide();"></a>*@
</div>