﻿@model eztripStart.Models.NewData
@{
    ViewBag.Title = ":: 1EZ TRIP ::";
    if (Session["LoggedUserId"] == null || Session["LoggedTripId"] == null || ViewData["Price"] == null)
    {
        Response.Redirect("~/Trip/Index");
    }
    var message = TempData["alert"];
    var mes = ViewData["cityone"];
    int? count;
    count = ViewData["CityCount"] != null ? (int?)ViewData["CityCount"] : 0;
    var username = Session["username"];
    var StartingDate = Session["TripStartDate"];
    string[] Date = new string[10];
    Date = (string[])ViewData["DateList"];
    string[] Cities = new string[10];
    Cities = (string[])ViewData["cityone"];
    string[] latarr = new string[10];
    latarr = (string[])ViewData["lat"];
    string[] lngarr = new string[10];
    lngarr = (string[])ViewData["lng"];
    string[] SavedCitiArr = new string[10];
    SavedCitiArr = (string[])ViewData["SavedCity"];
    var lng = lngarr != null ? lngarr[0] : "";
    var lat = latarr != null ? latarr[0] : "";
    var LoggedUserId = Session["LoggedUserId"];
    var LoggedTripId = Session["LoggedTripId"];
    var CurrentTripid = Session["LoggedTripId"];
    var Price = ViewData["Price"];
    var EanCid = ViewData["EANCID"];
    var TripName = Session["LoggedTripName"];
    var IsFromTopItin = Session["IsTopItin"];
    var TopItineraryId = Session["ItineraryId"];   
    var SPrice = Session["sprice"];
    var EPrice = Session["eprice"];
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title> 1EZ TRIP</title>
    <link rel="shortcut icon" href="../Content/images/location-home-icon.png" />
    <!--  CSS  -->
    @*<script src="~/bundles/FirstdayTripStyles"></script>*@
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/css/jquery.selectbox.css" rel="stylesheet" />
    <link href="~/Content/Extracss/Firstdaytrip.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/css/style-1eztrip.css" type="text/css" />
    <!--scroll-->
    <link rel="stylesheet" href="~/Content/css/jquery.mCustomScrollbar.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/jquery.ui.css" type="text/css" />
    <link href="~/Content/Intro/Intro.css" rel="stylesheet" />
    <style>
        .fancybox-inner {
            height: 500px !important;
        }
    </style>
    <!--[if IE 9]><link rel="stylesheet" href="css/ie.css" type="text/css"><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" href="css/ie8.css" type="text/css"><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
</head>
<body class="inner" id="wholepart">
    <header>
        <section class="row">
            <figure class="logo" id="fig_logo"><a href="~/Trip/Index" id="#logo"><img src="~/Content/images/logo.png" width="180" height="37" alt="1EZTRIP" /></a></figure>
            <nav>
                <aside class="menu">
                    <ul id="ulUserpanel">
                        <li><a href="#" class="active" onclick="return LeaveFromCurrentPage('1');">Home</a></li>
                        <li style="display:none;"><a href="javascript:;" id="CurrentIternary" class="active">Current itinerary</a><input type="hidden" id="CurrentTripId" value="@CurrentTripid" /></li>
                        <li><a href="#" onclick="return LeaveFromCurrentPage('2');">My Trips</a></li>
                        <li id="LoggedUserLi"><a href="#" onclick="return LeaveFromCurrentPage('3')">My Account</a><a id="notificationCount" class="notifications" href="#" onclick="return LeaveFromCurrentPage('4')" title="Notifications" style="display:none;"></a></li>
                        <input type="hidden" id="hidmyacc" value="1" />
                        <input type="hidden" id="hiddcity" value="" />
                    </ul>
                </aside>

                <div id="wel-mem">
                    <ul>
                        <li style="width:190px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;">Hi<label id="lblusername">@username</label></li>
                        <input type="hidden" id="LoggedTripId" value="@LoggedTripId" />
                        <input type="hidden" id="LogTripId" value="" />
                        <input type="hidden" id="LoggedUserId" value="@LoggedUserId" />
                        <input type="hidden" id="LoggedTripName" value="@TripName" />
                        <input type="hidden" id="TripStrtDate" value="@StartingDate" />
                        <input type="hidden" id="CurrentTripDate" value="@StartingDate" />
                        <input type="hidden" id="GroupIdShared" value="Not found" />                       
                        <li class="last"><a href="#" onclick="return logout();">Logout</a></li>
                    </ul>
                </div>
            </nav>
            <div id="register" style="display: none;">
                <div class="register-left">
                    <h2>Day 1</h2>
                    <div class="place-box-popup">
                    </div>
                </div>
            </div>
        </section>
    </header>
    <section>
        <section class="row">
            <article class="trip-left" id="LeftSidePart">
                <nav class="trip">
                    <ul>
                        <li style=" display: none;">
                            <a>
                                <input type="hidden" id="saddid" value="1" />
                                <input type="hidden" id="helpsort" value="0" />
                                <input type="hidden" id="eancidval" value="@EanCid" />
                                <input type="hidden" id="citPriceVal" value="@Price" />
                                <input type="hidden" id="IsfrmTopItin" value="@IsFromTopItin" />
                                <input type="hidden" id="TopItinryId" value="@TopItineraryId" />
                                <input type="hidden" id="viewName" value="Firstdaytrip" />

                                <input type="hidden" id="hidsprice" value="@SPrice" />
                                <input type="hidden" id="hideprice" value="@EPrice" />

                                @*<input type="hidden" id="hidsprice" />
                                    <input type="hidden" id="hideprice" />*@
                                <input type="hidden" id="hidcuisine" />
                                <input type="hidden" id="hidattraction" />
                                <input type="hidden" id="hidactivity" />
                                <input type="hidden" id="hidnewaddday" value="0" />
                                <input type="hidden" id="hidSavedTripName" />
                            </a>
                        </li>
                        <li class="ignore_click">
                            <a href="" id="hlcity" class="ignore_click" onclick="return getpopup();">
                                <input type="hidden" id="hidcityid" value="0" />
                                <span class="big ignore_click">Add city</span><span class="small ignore_click">Add New City</span>
                            </a>
                            @Html.Partial("~/Views/Trip/FinalisePopup.cshtml")
                            @Html.Partial("~/Views/Shared/Dest_popup.cshtml")
                        </li>
                        <li>
                            <a href="#" onclick="return savethetrip();">
                                <span class="big">Save</span><span class="small">save your plan</span>
                                <input type="hidden" id="hidesave" value="0" />
                            </a>
                            <div id="save" style="display: none;width:1315px; height: 730px;">
                                <div id="btnsave" class="save-left">
                                </div>
                            </div>
                        </li>
                        <li id="finaliseTrip">
                            <a href="#">
                                <span class="big">Finalize</span><span class="small">Finalize your trip</span>
                            </a>
                        </li>
                        <li id="lstShowTripName">
                            <a href="#" style="cursor:none;">
                                <span class="big"></span><span class="small" id="spnSavedTripName"></span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <div id="travelmodetxtbox" style="display:none">
                    <p id="travelmodepara"> Enter travel time : <input type="text" id="traveltext" /></p>
                </div>

                <div id="sharpopuptrip" class="modal-box">
                    <header>
                        <a href="#" class="js-modal-close close">×</a>
                        <h3 id="head1Fb">Your Groups</h3>
                        <h3 id="head2Fb">Share trip to Facebook</h3>
                    </header>
                    <div class="modal-body" id="ShareGroupForm">
                        <input type="hidden" id="sharetripid" />
                        <input type='submit' value='Share' id='btnsharetrip' />
                        <div id="fb-root"></div>
                        <div class="fb-share-button" data-href="https://www.facebook.com/pages/1EZTrip/1052975758054793?ref=hl/" data-width="500" data-layout="button"></div>
                        <button id="fb-publish">Share to Facebook</button>
                    </div>
                </div>

                <section class="city-details resizable" id="compl">
                    <div id="resizable" class="content light nested" data-mcs-axis="yx" data-mcs-theme="light-2">
                        <div class="fr" id="dayhead">
                            @{   var Count = 1;
                               for (int tripdaycnt = 1; tripdaycnt <= count; tripdaycnt++)
                               {
                                   int SeparateDay = Int32.Parse(Date[tripdaycnt - 1]);
                                   for (int cnt = 1; cnt <= SeparateDay; cnt++)
                                   {
                                    <div class="city-row" id="cit_@tripdaycnt@cnt">
                                        <div class="trip-day" id="@tripdaycnt" value="@tripdaycnt"> <a href="#"><span class="btn"><img src=" ~/Content/images/add-icon.png" alt="" /></span><span class="txt">Add Day</span></a> </div>
                                        <div class="trip-date"> <span class="btn">@Count</span><span class="txt">Day</span> </div>
                                        <input type="hidden" value="@tripdaycnt" />
                                        <div class="trip-name" id="tn_@tripdaycnt@cnt"> @Cities[tripdaycnt - 1].ToString() </div>
                                        <figure class="city-row-img"><a href="#"><img alt="" src="~/Content/images/del-icon.png" /></a></figure>
                                    </div>
                                       ++Count;
                                   }
                                <input type="hidden" class="city-listdet" id="citylisthidden" value="@Date[tripdaycnt - 1]" />
                                <input type="hidden" class="city-listlat" value="@latarr[tripdaycnt - 1]" />
                                <input type="hidden" class="city-listlng" value="@lngarr[tripdaycnt - 1]" />
                                <input type="hidden" value="@Date[tripdaycnt - 1].ToString()" id="orderofday" />
                                <input type="hidden" value="0" id="placement" />
                                <input type="hidden" class="City-Saved" value="@SavedCitiArr[tripdaycnt - 1]" />
                               }
                            }
                        </div>
                        <div class="clear"></div>
                        <div id="content-y" class="content nested" style="overflow: hidden !important;">
                            @{
                                int id = 0;
                                for (int tripdaycnt = 1; tripdaycnt <= count; tripdaycnt++)
                                {
                                    int CountVal = 0;
                                    int SeparateDay = Int32.Parse(Date[tripdaycnt - 1]);
                                    for (int cnt = 0; cnt < SeparateDay; cnt++)
                                    {
                                        if (CountVal == 0)
                                        {
                                            <div class="city-row-details" id="ccol_@tripdaycnt@cnt" data-value="@Cities[tripdaycnt - 1].ToString()">
                                                @Html.Partial("~/Views/Shared/Time_Partial.cshtml")
                                                <div id="map-canvas" style="width: 500px; height: 500px; position: absolute;display:none; "></div>
                                                <div id="col_@tripdaycnt@cnt" class="place-box-right" data-value="@Cities[tripdaycnt - 1].ToString()">
                                                    <input type="hidden" class="plcbx_hidlatlng" value="@latarr[tripdaycnt-1]||@lngarr[tripdaycnt-1]" />
                                                    <div id="plc_col_@tripdaycnt@cnt" class="place-box timing-details" style="height: 2160px;">
                                                        <div class="place-box timing-details"></div>
                                                        <div class="place-box timing-details"></div>
                                                        <div class="place-box timing-details"></div>
                                                        <div class="place-box timing-details"></div>
                                                        <div class="place-box timing-details"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="city-row-details" id="ccol_@tripdaycnt@CountVal" data-value="@Cities[tripdaycnt - 1].ToString()">
                                                @Html.Partial("~/Views/Shared/Time_Partial.cshtml")
                                                <div id="col_@tripdaycnt@CountVal" class="place-box-right" data-value="@Cities[tripdaycnt - 1].ToString()">
                                                    <input type="hidden" class="plcbx_hidlatlng" value="@latarr[tripdaycnt-1]||@lngarr[tripdaycnt-1]" />
                                                    <div id="plc_col_@tripdaycnt@CountVal" class="place-box timing-details" style="height: 2160px;">
                                                        <div class="place-box timing-details"></div>
                                                        <div class="place-box timing-details"></div>
                                                        <div class="place-box timing-details"></div>
                                                        <div class="place-box timing-details"></div>
                                                        <div class="place-box timing-details"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        CountVal++;
                                        id++;
                                    }
                                }
                            }
                            <aside class="city-col"></aside>
                        </div>
                    </div>
                </section>
            </article>
            <section class="trip-right" id="RightSidePart">
                <aside class="trip-menu">
                    <nav id="smoothmenu1" class="ddsmoothmenu">
                        <ul id="classchangeid">
                            <li class="first" id="classchangeidfirst">
                                <a href="#"><span><img src="~/Content/images/city-icon.png" alt="" /></span>City</a>
                                <input type="hidden" id="sorthelp" value="0" />
                                <input type="hidden" id="sorthelpact" value="0" />
                                <ul id="citypref" style="height:35px !important;">
                                    @{
                                        for (int citiesli = 1; citiesli <= count; citiesli++)
                                        {
                                            <li><a href="#" id="city_@citiesli" data-value="@latarr[citiesli-1]||@lngarr[citiesli-1]" onclick="return getcity(@citiesli,@latarr[citiesli-1],@lngarr[citiesli-1],@Date[citiesli - 1])">@Cities[citiesli - 1].ToString()</a></li>
                                        }
                                    }
                                </ul>
                            </li>
                            <li class="last" id="Attractions"><a href="#"><span><img src="~/Content/images/star-icon.png" alt="" /></span>Attractions</a></li>
                            <li id="Activities"><a href="#"><span><img src="~/Content/images/flight-icon.png" alt="" /></span>Tours & Activities</a></li>
                            <li id="Restaurant"><a href="#"><span><img src="~/Content/images/restaurant-icon.png" alt="" /></span>Restaurants</a></li>
                            <li id="Hotel"><a href="#"><span><img src="~/Content/images/hotel-icon.png" alt="" /></span>Hotels</a></li>
                            <li id="Others">
                                <a href="#"><span><img src="~/Content/images/others-icon.png" alt="" /></span>Custom</a>
                            </li>
                        </ul>
                    </nav>
                    <div id="custom-screen" style="display: none;width:100%;background:#00AAD4;float:left;" class="custom">
                        <div class="register-right" id="login">
                            <h2> Add your Custom Place</h2>
                            <div class="label">Place Name</div>
                            @Html.TextBoxFor(m => m.customplace, new { id = "placename" })
                            <div class="label" id="lblpwd">Address</div>
                            @Html.TextAreaFor(m => m.address, new { id = "Address", style = "width:90%; height:100px;" })
                            <div class="label" id="lblpwd">Description</div>
                            @Html.TextAreaFor(m => m.description, new { id = "Description", style = "90%; height:100px;" })
                            <input type="submit" name="" value="Submit" id="btncustomise" onclick="$.fancybox.close();" />
                            <input type="submit" name="" value="Clear" style="margin-left:2px;" id="btncustomclear" />
                        </div>
                    </div>
                    <div id="time-screen" style="display: none;width:100%;background:#00AAD4;float:left;" class="custom">
                        <div class="register-right" id="login">
                            <h2> Travel Mode</h2>
                            <div class="label">Travel Time</div>
                            @Html.TextBoxFor(m => m.traveltime, new { id = "ttime" })
                            <div class="label">Travel Mode</div>
                            <input type="text" id="txttravelmode" style="display:none;" />
                            <div class="rigtravel">
                                <ul id="changecl">
                                    <li id="car">
                                        <a href='#' onclick="return gettravelmode('car');"><img src='../Content/images/car-icon.png' alt='' /></a>
                                    </li>
                                    <li id="train">
                                        <a href='#' onclick="return gettravelmode('train');">
                                            <img src='../Content/images/train-icon.png' alt='' />
                                        </a>
                                    </li>
                                    <li id="plane">
                                        <a href='#' class='active' onclick="return gettravelmode('plane');"><img src='../Content/images/plane-icon.png' alt='' /></a>
                                    </li>
                                    <li id="walk">
                                        <a href='#' onclick="return gettravelmode('walk');"><img src='../Content/images/walk-icon.png' alt='' /></a>
                                    </li>
                                    <li id="scooter" class='last'>
                                        <a href='#' onclick="return gettravelmode('scooter');"><img src='../Content/images/scooter-icon.png' alt='' /></a>
                                    </li>
                                </ul>
                            </div>
                            <input type="submit" name="" value="Submit" id="btnaddtravel" onclick="$.fancybox.close();" />
                            <input type="submit" name="" value="Clear" style="margin-left:2px;" id="btncustomclear" />
                        </div>
                    </div>
                </aside>
                <div id="GetTripName" style="display:none;">
                    <figure class='PopUp-CloseBtn' onclick='$("#GetTripName").hide()'><img src='../Content/images/del_travel-bkp-7-5-15.png' /></figure>
                    @*<a href="javascript:;" class="fancybox-item slideClose" title="Close" onclick="$('#GetTripName').hide();"></a>*@
                    <input type="hidden" id="currentTripName" value=@TripName />
                    <label for="TripNameTxt">Enter your trip's name : </label><input type="text" id="TripNameTxt" maxlength="25" />
                    <input type="button" id="SaveTripName" value="Save" />
                </div>
                <section class="hotel-details" id="preferrence">
                    <article class="hotel-title">
                        <h3 id="prefer"></h3>
                        <a href="#cityswap_popup" id="cityorderid" style="float:right;margin-right:2%;cursor:pointer;color: cornflowerblue; background:#00b8e5; padding:5px 7px; color:#fff; font-weight:500;text-transform:uppercase;">Swap Cities</a>
                        <p id="selectedcity" style="color: #000;">@Cities[0].ToString()</p>
                        <input type="hidden" id="sorttoleft" value="0" />
                        <input type="hidden" value="@latarr[0]" id="latarray" />
                        <input type="hidden" value="@lngarr[0]" id="lngarray" />
                        <input type="hidden" value="@Cities[0]" id="firstCityname1" />
                        <input type="hidden" value="1" id="orderarray" />
                        <div id="cityswap_popup" style="display:none;">
                            <img src="../Content/images/remove-icon.png" style="float: right;" onclick="$('#cityswap_popup').hide();" />
                            <br />
                            <table id="CityOrderTable" style="border:1px solid #B0B0B0;border-radius:8px;" cellpadding="1" cellspacing="0">
                                @{
                                    for (int cnt = 1; cnt <= count; cnt++)
                                    {
                                        <tr class="row1" style="border:1px solid black;">
                                            <td class="cus swapCityName">@Cities[cnt - 1].ToString()</td>
                                            <td style="display:none;" class="swapCityLat">@latarr[cnt - 1]</td>
                                            <td style="display:none;" class="swapCityLng">@lngarr[cnt - 1]</td>
                                            <td style="display:none;" id="DateForRearrange_@cnt">@Date[cnt - 1]</td>
                                            <td class="cus">
                                                <a href="#" class="up"><img src="../Content/images/up-arrow.jpg" /></a>
                                                <a href="#" class="down"><img src="../Content/images/down-arrow.jpg" /></a>
                                            </td>
                                        </tr>
                                    }
                                }
                                <tfoot>
                                    <tr style="border:1px solid black;">
                                        <td></td>
                                        <td>
                                            <input type="button" value="Apply" id="btnrearrange" style="color: #ffffff;float: right;font-size: 13px;padding: 11px 3px 11px 10px;font-family: 'open_sansregular';background: url(../Content/images/arrow-btn.png) no-repeat 70px 13px #d53554;width: 100px;border-radius: 3px;khtml-border-radius: 3px;moz-border-radius: 3px;webkit-border-radius: 3px;border: 0px;position: relative;top: 0px;text-align: left;cursor: pointer;" />
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div id="divbtnothers" style="display:none;">
                            <div class="btns">
                                <a href="#divcustom_place" id="add_customplc">
                                    <input type="button" class="tripbutton ignore_click" value="Custom place" style="float:left;" />
                                </a>
                                <a href="#divcustom_mode" id="add_travelmode">
                                    <input type="button" class="tripbutton ignore_click" value="Custom Travel Mode" style="float:right;" />
                                </a>
                            </div>
                            <div id="divcustom_place" style="background-color:#00AAD4;" class="ignore_click">
                                <a style="float:right;" href="#" id="addcustomplc_btnclose"><img src="../Content/images/del_travel_other.png" /></a>
                                <h2> Add your Custom Place</h2>
                                <div class="label">Place Name</div>

                                @Html.TextBoxFor(m => m.customplace, new { id = "txtplace_customplc", style = "width:90%;" })
                                <span id="spnplace" style="color:white;font-weight:bold;"></span>
                                <br />
                                <div class="label" id="lblpwd">Address</div>

                                @Html.TextAreaFor(m => m.address, new { id = "txtaddress_customplc", style = "width:90%; height:70px;" })
                                <span id="spnaddress" style="color:white;font-weight:bold;"></span>
                                <br />
                                <div class="label" id="lblpwd">Description</div>

                                @Html.TextAreaFor(m => m.description, new { id = "txtdescription_customplc", style = "width:90%; height:70px;" })
                                <span id="spndescription" style="color:white;font-weight:bold;"></span>
                                <br />
                                <br />
                                <input type="submit" name="" value="Submit" id="btncustomise_submit" />
                                <input type="submit" name="" value="Clear" style="margin-left:2px;" id="btncustomplcclear" />
                            </div>
                            <div id="divcustom_mode" style="background-color:#00AAD4;" class="ignore_click">
                                <a style="float:right;" href="#" id="addtravelmode_btnclose"><img src="../Content/images/del_travel_other.png" /></a>

                                <h2>Add Travel Mode</h2>
                                <div class="label">Travel Time(in mins)</div>
                                @Html.TextBoxFor(m => m.traveltime, new { id = "txtTime_customtm", style = "width:90%;", placeholder = "Time in mins" })
                                <span id="spnmode" style="color:white;font-weight:bold;"> </span>
                                <div class="label">Travel Mode</div>
                                <input type="text" id="txttravelmode_customtm" style="display:none;" value="car" />
                                &nbsp;  &nbsp; &nbsp;&nbsp;  &nbsp; &nbsp;
                                <div class="rigtravel">
                                    <ul id="changecl">
                                        <li id="car">
                                            <a href='#' class='active' onclick="return gettravelmode('car');"><img src='../Content/images/car-icon.png' alt='' onclick="return gettravelmode(Car);" /></a>
                                        </li>
                                        <li id="train">
                                            <a href='#' onclick="return gettravelmode('train');">
                                                <img src='../Content/images/train-icon.png' alt='' />
                                            </a>
                                        </li>
                                        <li id="plane">
                                            <a href='#' onclick="return gettravelmode('plane');"><img src='../Content/images/plane-icon.png' alt='' /></a>
                                        </li>
                                        <li id="walk">
                                            <a href='#' onclick="return gettravelmode('walk');"><img src='../Content/images/walk-icon.png' alt='' /></a>
                                        </li>
                                        <li id="scooter" class='last'>
                                            <a href='#' onclick="return gettravelmode('scooter');"><img src='../Content/images/scooter-icon.png' alt='' /></a>
                                        </li>
                                    </ul>
                                </div>
                                <br />
                                <br />
                                <br />
                                <br /><br /><br />
                                <input type="button" value="Save Custom Travel Mode" class="tripbutton" style="float:left;" id="btnaddtravel_submit" />
                            </div>
                            <br />
                            <br />
                        </div>
                        <input type="hidden" value="@Date[0].ToString()" id="orderofday" />
                        <div class="ho tel-dropdown">
                            <a href="#" id="hotel-dropdown-img">
                                <div class="bg-style-heading">
                                    <span class="change-style">Change Preference</span>
                                    <img alt="" src="~/Content/images/arrow-c-down.png" />
                                </div>
                            </a>
                        </div>
                    </article>
                    <span id="show_hide_hotelsort" style="display:none;">
                        <h3 class="drob-style-h3">Sort By</h3>
                        <div class="selectContainerStyled" style="margin-bottom:10px;">
                            <select class="select_box" id="hotel_sortid_select">
                                <option id="r5" value="QUALITY" name="hotelsort">Hotel Class - High to Low</option>
                                <option id="r4" value="QUALITY_REVERSE" name="hotelsort">Hotel Class - Low to High</option>
                                <option id="r2" value="PRICE" name="hotelsort">Price - Low to High</option>
                                <option id="r3" value="PRICE_REVERSE" name="hotelsort">Price - High to Low</option>
                                @*<option id="r7" value="RATING" name="hotelsort">Rating - High to Low</option>
                                    <option id="r8" value="RATING_REVERSE" name="hotelsort">Rating - Low to High</option>*@
                                <option id="r6" value="ALPHA" name="hotelsort">Name - Ascending</option>
                                <option id="r9" value="ALPHA_REVERSE" name="hotelsort">Name - Descending</option>
                            </select>
                        </div>
                        <input id="hotelsorthid" type="hidden" value="QUALITY" />
                    </span>
                    <span id="show_hide_actsort" style="display:none;">
                        <h3 class="drob-style-h3">Sort By</h3>
                        <div class="selectContainerStyled" style="margin-bottom:10px;">
                            <select class="select_box" id="activity_sortid_select">
                                <option id="actsort1" value="actrating_h_to_l" name="activsort">Activity Rating - High to Low</option>
                                <option id="actsort2" value="actrating_l_to_h" name="activsort">Activity Rating - Low to High</option>
                                <option id="actsort3" value="actprice_l_to_h" name="activsort">Price - Low to High</option>
                                <option id="actsort4" value="actprice_h_to_l" name="activsort">Price - High to Low</option>
                                <option id="actsort5" value="actalphabetical" name="activsort">Name - Ascending</option>
                                <option id="actsort6" value="actalphabetical_rev" name="activsort">Name - Descending</option>
                            </select>
                        </div>
                    </span>
                    <span id="show_hide_ressort" style="display:none;">
                        <h3 class="drob-style-h3">Sort By</h3>
                        <div class="selectContainerStyled" style="margin-bottom:10px;">
                            <select class="select_box" id="mySelect">
                                @*<option value="popular">Popularity - High to Low</option>
                                    <option value="popularLow">Popularity - Low to High</option>*@
                                <option value="high">Rating - High to Low</option>
                                <option value="low">Rating - Low to High</option>
                                <option value="asc">Name - Ascending</option>
                                <option value="desc">Name - Descending</option>
                                <option value="priceHigh">Price - High to Low</option>
                                <option value="priceLow">Price - Low to High</option>
                            </select>
                        </div>
                    </span>
                    <span id="show_hide_attrsort">
                        <h3 class="drob-style-h3">Sort By</h3>
                        <div class="selectContainerStyled" style="margin-bottom:10px;">
                            <select class="select_box">
                                @*<option value="popular">Popularity - High to Low</option>
                                    <option value="popularLow">Popularity - Low to High</option>*@
                                <option value="high">Rating - High to Low</option>
                                <option value="low">Rating - Low to High</option>
                                <option value="priceHigh">Price - High to Low</option>
                                <option value="priceLow">Price - Low to High</option>
                                <option value="asc">Name - Ascending</option>
                                <option value="desc">Name - Descending</option>
                            </select>
                        </div>
                    </span>
                    <input type="hidden" id="trackleftitems" value="0" />
                    <article class="content-resort content-others" id="applyScroll1" style="height:435px;">
                        <h3 id="cus_plc_lbl" style="display:none;">Custom Place</h3>
                        <div id="divplace" class="OtherContent-resort_left" style="display:none;">
                        </div>
                        <h3 id="cus_tm_lbl" style="display:none;">Custom Travel Mode</h3>
                        <div id="divmode" class="OtherContent-resort_right" style="display:none;">
                        </div>
                        <div id="addtoleft_checkbox" style="display:none;background-color:aliceblue;border-color: darkturquoise;border-width: thick;">
                            <h2 style="margin-left: 5%;margin-top: 2%;">
                                Select the days to add the hotel.
                            </h2>
                        </div>
                        <a class="" id="click_addtolefthotel" href="#addtoleft_checkbox" style="border-radius: 8px;"></a>
                        <div id="rhaa1" class="right-cont">
                        </div>
                        <div id="NoResBlock" style="display:none;">No results found..</div>
                        <!--Info Window-->
                        <div id="infowindow" style="display: none;">
                        </div>
                        <div id="infowindow_hotels_activities" class='info-left popup-bg' style="display: none;">
                        </div>
                    </article>
                </section>
            </section>
        </section>
    </section>
    <div id="dvMap" style="display:none;height:100%;width:100%;"></div>
    <div class="clear"></div>
    @Html.Partial("~/Views/Shared/Footer-Small.cshtml")
    <!-- Script -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC75yhLucsAnQflSK1Ar6EHS0pAoxzL5nM&libraries=places" type="text/javascript"></script>*@
    @*<script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places" type="text/javascript"></script>*@
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA_USvPi4ptRBaatiWitp6IclwHjzdhhCI &libraries=places"></script>

    <script src="~/bundles/HTMLRespond"></script>
    <script src="~/bundles/FirsdaytripJqueryPart1"></script>
    <script src="~/Scripts/js/Block.ui.js"></script>
    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/js/jquery-ui-1.10.4.min.js"></script>
        <script src="~/Scripts/js/jquery-ui.js"></script>
        <script src="~/Scripts/js/jquery-ui-1.11.2.min.js"></script>
        <script type="text/javascript" src="~/Scripts/js/ddsmoothmenu.js"></script>
        <script type="text/javascript" src="~/Scripts/js/common.js"></script>
        <script type="text/javascript" src="~/Scripts/js/jquery.mCustomScrollbar.concat.min.js"></script>*@
    <!-- Add fancyBox main JS and CSS files -->
    <script type="text/javascript" src="~/Scripts/js/jquery.fancybox.js"></script>
    <script>$(document).ready(function () { $('.fancybox').fancybox(); });</script>
    @*<script type="text/javascript" src="~/Scripts/js/accordion.js"></script>
        <script src="~/Scripts/loading_plugin_js/jquery.noty.packaged.min.js"></script>
        <script type="text/javascript" src="~/Scripts/js/jquery.tinyscrollbar.js"></script>

        <script src="~/Scripts/js/HtmlToCanvasJs/html2canvas.min.js"></script>*@
    <script src="~/Scripts/jquery.selectbox-0.2.js"></script>
    <script src="~/Scripts/Jsfiles/firstdaytrip.js"></script>
    @*<script src="~/bundles/JsForFirstdaytrip"></script>*@
    <script src="~/bundles/FirsdaytripJqueryPart2"></script>
    @*<script src="~/Content/Intro/intro.js"></script>*@
    <script src="~/Scripts/Jsfiles/AddDayToItinerary.js"></script>
    <script src="~/Scripts/Jsfiles/ChangeTravelMode.js"></script>
    <script src="~/Scripts/Jsfiles/AddToItinerary.js"></script>
    <script src="~/Scripts/Jsfiles/CustomPlaceAndTravelmode.js"></script>
    <script src="~/Scripts/Jsfiles/DragDropToItinerary.js"></script>
    <script src="~/Scripts/Jsfiles/Itinerary.js"></script>
    <script src="~/Scripts/Jsfiles/LoadSuggestions.js"></script>
    <script src="~/Scripts/Jsfiles/CurrentItenaries.js"></script>
    @*<script src="~/Scripts/Jsfiles/SwapItineraryPlaces.js"></script>*@

    <script src="~/Scripts/Api%20Scripts/Attraction.js"></script>
    <script src="~/Scripts/Api%20Scripts/Package.js"></script>
    <script src="~/Scripts/Api%20Scripts/SaveMovement.js"></script>
    <script src="~/Scripts/Api%20Scripts/PopularItinerary.js"></script>

    <!--End of Scripts-->
</body>

</html>

