﻿@model eztripStart.Models.NewData
@{
    ViewBag.Title = ":: 1EZ TRIP ::";
    if (Session["cityone"] == null || Session["CityCount"] == null || TempData["LoggedTripId"] != null || Session["Latitude"] == null || Session["Longitude"] == null|| ViewData["Price"] == null)
    {
        Response.Redirect("~/Trip/Index");
    }

    var mes = Session["cityone"];
    var lat = Session["Latitude"];
    var lng = Session["Longitude"];
    ViewBag.city = "";
    var username = Session["username"];
    int count;
    count = (int)Session["CityCount"];
    int[] Date = new int[10];
    Date = (int[])Session["DateList"];
    string[] Cities = new string[10];
    Cities = (string[])Session["cityone"];
    var Price = ViewData["Price"];
    string checkprice = (string)ViewData["Price"];
    var IsFromTopItin = Session["IsTopItin"];
    var TopItineraryId = Session["ItineraryId"];
    var CurrentTripDate = Session["CurrentTripDate"];
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title> 1EZ TRIP</title>
    <link rel="shortcut icon" href="../Content/images/location-home-icon.png" />
    <!--  CSS  -->
    @*@Styles.Render("~/Content/CssFirstday");*@
    @*<link href="~/Content/CssFirstday"/>*@
    <link href="~/Content/css/jquery-ui-1.11.2.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/Extracss/Firstday.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/css/style-1eztrip.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/jquery.mCustomScrollbar.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/jquery.ui.css" type="text/css" />
	<link rel="stylesheet" href="~/Content/css/jquery.jscrollpane.css" type="text/css" />
    <link href="~/Content/alert_plugin/animate.css" rel="stylesheet" />

    <!--[if IE 9]><link rel="stylesheet" href="css/ie.css" type="text/css"><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" href="css/ie8.css" type="text/css"><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
       
</head>
<body class="inner popup-close">
    <a class="" id="firstday" href="#iternary"></a>
    <div id="iternary" style="display: none;width:50%;margin-top:15%;margin-left:15%;" class="welcome slide-close slide1 ignore_click">
        <div class="welcome-right font-design">
            <h2 style="color:deepskyblue;font-size:xx-large;">Welcome to 1ezTrip</h2>
            <h3 style="color:deepskyblue; font-size:x-large;">Plan your travel with 1ezTrip</h3>
            <br />
            <div class="label" style="font-size: large;">Your Destination: &nbsp;&nbsp;@Cities[0].ToString()  </div>
          @if (@checkprice != "0")
          {
              <div class="label" style="font-size: large;">Total Amount: &nbsp;&nbsp; $@Price</div>
          }
            <input type="hidden" value="@Price" id="PriceForSingleCity" />
            <input type="button" name="" value="Cancel" id="cancelpayment" onclick="$('#iternary').slideToggle('slow');" />
            <a href='#'>
                @if (@checkprice == "0")
                {
                    <input type="button" name="" value="Customise" id="PaymentCustomise" onclick="SaveMovement();" style="margin-top: -52px;float:right;" />
                }
                else
                {
                    <input type="button" name="" value="Pay Now" id="payment" onclick="SaveMovement();" style="margin-top: -52px;float:right;" />
                }
            </a>
        </div>
    </div>
    <a class="fancybox new1" id="welcome" href="#load-screen" style="border-radius: 8px;"></a>
    @Html.Partial("~/Views/Shared/DivLoad.cshtml")
    <header>
        @Html.Partial("~/Views/Shared/Firstday/login.cshtml")
    </header>
    <section>
        <section class="row">
            <article class="trip-left" id="LeftSidePart">
                <nav class="trip">
                    <ul>
                        <li class="ignore_click">
                            <a href="" id="hlcustomize" class="ignore_click" onclick="return getcustomize();">
                                <input type="hidden" id="hidcustomizeid" value="0" />
                                <input type="hidden" id="hidnavigate" value="0" />
                                <input type="hidden" id="priceValue" value="@Price" />
                                <input type="hidden" id="IsfrmTopItin" value="@IsFromTopItin"/>
                                <input type="hidden" id="TopItinryId" value="@TopItineraryId" />
                                <input type="hidden" id="CurrentTripDate" value="@CurrentTripDate" />
                                <input type="hidden" id="viewName" value="Firstday"/>
                                <span class="big ignore_click">Customize</span><span class="small ignore_click">customize your trip</span>
                            </a>
                        </li>
                        <li class="ignore_click">
                            <a href="" id="hlcity" class="ignore_click" onclick="return getcity();">
                                <input type="hidden" id="hidcityid" value="0" />
                                <span class="big ignore_click">Add city</span><span class="small ignore_click">Add New City</span>
                            </a>
                            @Html.Partial("~/Views/Shared/Dest_popup.cshtml")
                        </li>
                        <li>
                            <a href="" id="hrefsave" class="ignore_click" onclick="return getcustomize();">
                                <span class="big">Save</span><span class="small">save your plan</span>
                            </a>
                            <div id="save" style="display: none;">
                                <div class="save-left">
                                    <h2>Day 1</h2>
                                </div>
                                <div>
                                    <p style="color:red;">  Saved Successfully!  </p>
                                </div>
                            </div>
                        </li>                        
                        <li class="last"><a href="#"><span class="big">Finalize</span><span class="small">Finalize your trip</span></a></li>
                    </ul>
                </nav>
                <section class="city-details resizable" id="compl">
                    <div id="resizable" class="content light" data-mcs-axis="yx" data-mcs-theme="light-2">
                        <input type="hidden" value="" id="noodcitylist" />
                        <div id="map-canvas" style="width: 500px; height: 500px; position: absolute;display:none; "></div>
                        <div id="content-x" class="content nested">
                            <div class="fr" id="dayhead">
                                @{   var Count = 1;
                                   for (int cntk = 1; cntk <= count; cntk++)
                                   {
                                       for (int cntj = 1; cntj <= Date[cntk - 1]; cntj++)
                                       {
                                        <div class="city-row" id="cit_@cntj">
                                            <div class="trip-day" id="adday_@cntj"> <a href="#"><span class="btn"><img src="~/Content/images/add-icon.png" alt="Add Day" /></span><span class="txt">Add Day</span></a> </div>
                                            <div class="trip-date"> <span class="btn">@Count</span><span class="txt">Day</span> </div>
                                            <div class="trip-name" id="tn_@cntj"> @Cities[cntk - 1].ToString() </div>
                                            <figure class="city-row-img"><a href="#"><img alt="Delete Day" src="~/Content/images/del-icon.png" /></a></figure>
                                        </div>
                                           ++Count;
                                       } <input type="hidden" class="city-listlat" value="@lat" />
                                        <input type="hidden" class="city-listlng" value="@lng" />
                                   }
                                }
                            </div>
                            <div class="clear"></div>
                            <div id="content-y" class="content nested">
                                @{
                                    for (int cntk = 1; cntk <= count; cntk++)
                                    {
                                        int CountVal = 0;
                                        for (int cntj = 0; cntj < Date[cntk - 1]; cntj++)
                                        {
                                            if (CountVal == 0)
                                            {
                                                <div class="city-row-details" id="ccol_@CountVal">
                                                    @Html.Partial("~/Views/Shared/Time_Partial.cshtml")
                                                    <div class="place-box-right">
                                                        <div id="col_@CountVal" class="place-box timing-details" style="height: 2160px;">
                                                            <div class="place-box timing-details"> </div>
                                                            <div class="place-box timing-details"> </div>
                                                            <div class="place-box timing-details"> </div>
                                                            <div class="place-box timing-details"> </div>
                                                            <div class="place-box timing-details"> </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="city-row-details" id="ccol_@CountVal">
                                                    @Html.Partial("~/Views/Shared/Time_Partial.cshtml")
                                                    <div class="place-box-right">
                                                        <div id="col_@CountVal" class="place-box timing-details" style="height: 2160px;">
                                                            <div class="place-box timing-details"> </div>
                                                            <div class="place-box timing-details"> </div>
                                                            <div class="place-box timing-details"> </div>
                                                            <div class="place-box timing-details"> </div>
                                                            <div class="place-box timing-details"> </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            CountVal++;
                                        }
                                    }}
                                <aside class="city-col">
                                </aside>
                            </div>
                        </div>
                    </div>
                </section>
            </article>
            <div class="overlay-pad" id="lightbox">
                <a href="#" id="overlay" onclick="return test();">Click Here To Customize</a>
            </div>
            <section class="trip-right">
                <aside class="trip-menu">
                    <nav id="smoothmenu1" class="ddsmoothmenu">
                        <ul id="classchangeid">
                            <li class="first">
                                <a href="#"><span><img src="~/Content/images/city-icon.png" alt="City" /></span>City</a>
                                <ul id="citypref">
                                    @{
                                        for (int k = 1; k <= count; k++)
                                        {
                                            <li><a href="#" id=@k onclick="return getcity(@k)">@Cities[k - 1].ToString()</a></li>
                                            <input type="hidden" id="sorthelp" value="0" />
                                        }}
                                </ul>
                            </li>
                            <input type="hidden" id="tn_1lat" value="@lat" />
                            <input type="hidden" id="tn_1lng" value="@lng" />
                            <li class="last" id="Attractions"><a href="#"><span><img src="~/Content/images/star-icon.png" alt="Point of interest" /></span>Attractions</a></li>
                            <li id="Activities"><a href="#"><span><img src="~/Content/images/flight-icon.png" alt="Things to do" /></span>Tours & Activities</a></li>
                            <li id="Restaurant"><a href="#"><span><img src="~/Content/images/restaurant-icon.png" alt="Food" /></span>Restaurants</a></li>
                            <li id="Hotel"><a href="#"><span><img src="~/Content/images/hotel-icon.png" alt="Accommodation" /></span>Hotels</a></li>
                            <li>
                                <a href="#"><span><img src="~/Content/images/others-icon.png" alt="" /></span>Custom</a>
                                <ul>
                                    <li><a href="#">Add Custom Place</a></li>
                                    <li><a href="#">Add Travel Mode</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </aside>
                <section class="hotel-details" id="preferrence">
                    <article class="hotel-title">
                        <h3 id="prefer">Attraction Preferences</h3>
                        <p id="selectedcity" style="color: #000;">@Cities[0].ToString()</p>
                        <div class="ho tel-dropdown">
                            <a href="#" id="hotel-dropdown-img">
                                <div class="bg-style-heading">
                                    <span class="change-style">Change Preference</span>
                                    <img alt="" src="~/Content/images/arrow-c-down.png" />
                                </div>
                            </a>
                            <div class="dropdown-pad drob-style">
                                <h4 style="font-size:medium; font-weight:600;">Filter By :</h4>
                                <span>
                                    <h3>Hotel Class</h3>
                                    <div class="rating-vote">
                                        <input type="checkbox" class="check-box ignore_click" name='hotel_class' id='hc_5' value='5' />
                                        <div class="ratings-yellow"></div>
                                        <div class="ratings-yellow"></div>
                                        <div class="ratings-yellow"></div>
                                        <div class="ratings-yellow"></div>
                                        <div class="ratings-yellow"></div>
                                    </div>
                                    <div class="rating-vote">
                                        <input type="checkbox" class="check-box ignore_click" name='hotel_class' id='hc_4' value='4' />
                                        <div class="ratings-yellow"></div>
                                        <div class="ratings-yellow"></div>
                                        <div class="ratings-yellow"></div>
                                        <div class="ratings-yellow"></div>
                                    </div>
                                    <div class="rating-vote">
                                        <input type="checkbox" class="check-box ignore_click" name='hotel_class' id='hc_3' value='3' />
                                        <div class="ratings-yellow"></div>
                                        <div class="ratings-yellow"></div>
                                        <div class="ratings-yellow"></div>
                                    </div>
                                    <div class="rating-vote">
                                        <input type="checkbox" class="check-box ignore_click" name='hotel_class' id='hc_2' value='2' />
                                        <div class="ratings-yellow"></div>
                                        <div class="ratings-yellow"></div>
                                    </div>
                                    <div class="rating-vote">
                                        <input type="checkbox" class="check-box ignore_click" name='hotel_class' id='hc_1' value='1' />
                                        <div class="ratings-yellow"></div>
                                    </div>
                                </span>

                                <span>
                                    <h3>Popularity</h3>
                                    <div class="rating-vote">
                                        <input type="checkbox" class="check-box ignore_click" name='Popular' id='hr_5' value='5' />
                                        <div class="ratings-yellow"></div>
                                        <div class="ratings-yellow"></div>
                                        <div class="ratings-yellow"></div>
                                        <div class="ratings-yellow"></div>
                                        <div class="ratings-yellow"></div>
                                    </div>
                                    <div class="rating-vote">
                                        <input type="checkbox" class="check-box ignore_click" name='Popular' id='hr_4' value='4' />
                                        <div class="ratings-yellow"></div>
                                        <div class="ratings-yellow"></div>
                                        <div class="ratings-yellow"></div>
                                        <div class="ratings-yellow"></div>
                                    </div>
                                    <div class="rating-vote">
                                        <input type="checkbox" class="check-box ignore_click" name='Popular' id='hr_3' value='3' />
                                        <div class="ratings-yellow"></div>
                                        <div class="ratings-yellow"></div>
                                        <div class="ratings-yellow"></div>
                                    </div>
                                    <div class="rating-vote">
                                        <input type="checkbox" class="check-box ignore_click" name='Popular' id='hr_2' value='2' />
                                        <div class="ratings-yellow"></div>
                                        <div class="ratings-yellow"></div>
                                    </div>
                                    <div class="rating-vote">
                                        <input type="checkbox" class="check-box ignore_click" name='Popular' id='hr_1' value='1' />
                                        <div class="ratings-yellow"></div>
                                    </div>
                                </span>

                                <span class="last">
                                    <h3>Hotel Preferences</h3>
                                    <div class="rating-vote">
                                        <input type="checkbox" class="check-box ignore_click" name='HP' id='hp_5' value='8' />
                                        <label>Internet</label>
                                    </div>
                                    <div class="rating-vote">
                                        <input type="checkbox" class="check-box ignore_click" name='HP' id='hp_4' value='32' />
                                        <label>Kitchen or kitchenette</label>
                                    </div>
                                    <div class="rating-vote">
                                        <input type="checkbox" class="check-box ignore_click" name='HP' id='hp_3' value='128' />
                                        <label>Pool</label>
                                    </div>
                                    <div class="rating-vote">
                                        <input type="checkbox" class="check-box ignore_click" name='HP' id='hp_2' value='256' />
                                        <label>Restaurant</label>
                                    </div>
                                    <div class="rating-vote">
                                        <input type="checkbox" class="check-box ignore_click" name='HP' id='hp_1' value='134217728' />
                                        <label>Free Parking</label>
                                    </div>
                                </span>

                                <div class="price-bar" id="sliderhotels">
                                    <label for="amount">Budget:</label>
                                    <input type="text" class="amount" id="price" />
                                    <div id="slider-range" class="slider-pad"></div>
                                </div>
                            </div>
                        </div>
                    </article>
                    
                    <article class="content-resort mCustomScrollbar">
                        <div id="rhaa1" class="right-cont"></div>
                        <div id="infowindow" style="display: none;"></div>
                    </article>
                </section>
            </section>
        </section>
    </section>
    <div class="clear"></div>

    @Html.Partial("~/Views/Shared/Footer-Small.cshtml")

    <!-- Script -->    
    @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC75yhLucsAnQflSK1Ar6EHS0pAoxzL5nM&libraries=places" type="text/javascript"></script>*@
    @*<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>*@
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA_USvPi4ptRBaatiWitp6IclwHjzdhhCI &libraries=places"></script>
    <script src="~/bundles/JSfilesFirday" type="text/javascript"></script>    
    @*<script src="~/bundles/JSfirstdayUserDefined" type="text/javascript"></script>*@
    <script src="~/Scripts/Api%20Scripts/travelmode.js"></script>
    <script src="~/Scripts/Api%20Scripts/Attraction.js"></script>
    <script src="~/Scripts/js/Block.ui.firstday.js"></script>
    <script src="~/Scripts/Jsfiles/Firstday.js"></script>
    <script src="~/Scripts/Jsfiles/CurrentItenaries.js"></script> 
</body>
</html>