﻿<section class="row">
    <article class="curve-bor"></article>
</section>
<footer>
    <section class="row-home">
        <section class="f-top">
            <aside class="foot-about">
                <figure><img src="~/Content/images/logo-footer.png" alt="" /></figure>
                <h4>About Us</h4>
                <p>1ezTrip simplifies trip planning by automatically suggesting a personalized trip itinerary in just minutes based on your travel preferences.</p>
            </aside>
            <aside class="foot-list">
                <h4>Company</h4>
                <ul>
                    <li><a href="@Url.Action("AboutUs", "Trip")">About Us</a></li>                    
                    <li><a href="@Url.Action("Faq", "Trip")">FAQ</a></li>
                    <li><a href="@Url.Action("ContactUs", "Trip")">Contact Us</a></li>
                    @*<li><a href="@Url.Action("TermsConditions","Trip")">Terms of Service</a></li>
                    <li><a href="@Url.Action("Privacy", "Trip")">Privacy</a></li>
                    <li><a href="@Url.Action("Disclaimer", "Trip")">Disclaimer</a></li>*@
                </ul>
            </aside>

            <aside class="foot-last">
                <h4>Join Us On</h4>
                <ul>
                    <li><a href="https://www.facebook.com/1eztrip" target="_blank"><img src="~/Content/images/fb-h.png" alt="" class="zoomMeImage" /></a></li>
                    <li><a href="https://twitter.com/oneeztrip" target="_blank"><img src="~/Content/images/twit-h.png" alt="" class="zoomMeImage" /></a></li>
                    <li><a href="https://www.pinterest.com/1eztrip" target="_blank"><img src="~/Content/images/pin-h.png" alt="" class="zoomMeImage" /></a></li>
                    <li><a href="../Trip/ContactUsMessage#"><img src="~/Content/images/rss-h.png" alt="" class="zoomMeImage" /></a></li>
                </ul>
            </aside>
            <div class="clear border-foot"></div>
            <article class="foot-l-home">
                <aside class="copyrit"> &copy; Copyright @DateTime.Now.Year <span>1eztrip</span></aside>
<div class="foot-pages">
    <ul>
    <li><a href="@Url.Action("TermsConditions","Trip")">Terms of Service</a></li>
    <li><a href="@Url.Action("Privacy", "Trip")">Privacy</a></li>
    <li><a href="@Url.Action("Disclaimer", "Trip")">Disclaimer</a></li>
    </ul>
</div>
</article>
            <article class="foot-r-home">
                <nav class="foo-nav">
                    <ul>
                        <li><a href="~/Trip/Index">Home</a></li>
                        <li><a href="#" onclick="$('#desttext').focus();">Plan My Trip</a></li>
                        <li onclick="$('#slide').click()"><a href="#" class="last ignore_click">My Account / Register</a></li>
                    </ul>
                </nav>
            </article>
        </section>
    </section>
</footer>
