﻿@model eztripStart.Models.NewData
@{
    if (Session["username"] == null || Session["LoggedUserId"] == null)
    {
        Response.Redirect("~/Trip/Index");
    }
    var username = Session["username"];
    var LoggedUserId = Session["LoggedUserId"];
    var LoggedUserMailId = ViewData["UserMail"];
    var CurrentTripid = Session["LoggedTripId"];
}

<html lang="en" ng-app="GroupApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>1EZ TRIP</title>
    <link rel="shortcut icon" href="../Content/images/location-home-icon.png" />
    <!--  CSS  -->
    <link rel="stylesheet" href="~/Content/css/style-1eztrip.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/jquery.mCustomScrollbar.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/jquery.ui.css" type="text/css">
    <link href="~/Content/jquery.1.8.9.css" rel="stylesheet" />
    <link href="~/Scripts/GridViewScroll/GridviewScroll.css" rel="stylesheet" />
    <link href="~/Content/css/poup.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/style2.css" />
    <!--[if IE 9]><link rel="stylesheet" href="css/ie.css" type="text/css"><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" href="css/ie8.css" type="text/css"><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
        .ng-pristine .ng-valid, .ng-pristine .ng-invalid {
            background-color: #ededed;
            color: #666666;
            font-size: 14px;
            font-family: 'open_sansregular';
            border: 1px solid #e1e1e1;
            border-radius: 4px;
            line-height: 42px !important;
            padding-left: 10px;
            box-shadow: none !important;
        }

        .ng-pristine .ng-invalid {
            margin-bottom: 20px;
            margin-top: 5px;
        }

        .ng-pristine .ng-valid {
            margin-bottom: 8px;
            margin-top: 5px;
        }

        .ng-valid .ng-dirty, .ng-valid .ng-valid-email, .ng-invalid .ng-invalid-email {
            background-color: #ededed;
            color: #666666;
            font-size: 14px;
            font-family: 'open_sansregular';
            border: 1px solid #e1e1e1;
            border-radius: 4px;
            line-height: 42px !important;
            padding-left: 10px;
            box-shadow: none !important;
        }

        #createGroupShow, #createGroupHide {
            text-transform: uppercase !important;
            font-family: 'open_sansregular' !important;
            border: none !important;
            padding: 5px 14px !important;
            cursor: pointer !important;
        }

        #testbutton {
            margin-top: 15px;
            margin-left: 5px;
            height: 25px;
        }

        #createGroupShow:hover, #createGroupHide:hover {
            background-color: #01A5CD;
            color: #033363;
        }

        #groupnameId, #FriendNameId, #emailId {
            background-color: #ededed;
            color: #666666;
            font-size: 14px;
            font-family: 'open_sansregular';
            border: 1px solid #e1e1e1;
            border-radius: 4px;
            line-height: 42px !important;
            padding-left: 10px;
            box-shadow: none !important;
            margin-bottom: 8px;
            margin-top: 5px;
            height: 40px;
        }

        #groupIconBtn {
            text-transform: uppercase !important;
            font-family: 'open_sansregular' !important;
            border: none !important;
            padding: 5px 14px !important;
            cursor: pointer !important;
        }

        #scroll::-webkit-scrollbar {
            width: 8px;
            background-color: #DAE5E5;
        }

        #scroll::-webkit-scrollbar-thumb {
            background-color: #01A5CD;
            border-radius: 10px;
        }

        #InfoGrpPopup h3 {
            color: #F6F6F6;
            padding: 14px 0px 0px 25px;
        }

        #InfoGrpPopup > header {
            background-color: #01A5CD;
        }

        #InfoGrpPopup p {
            text-align: left;
        }

        #InfoGrpPopup a.close {
            color: white;
        }

            #InfoGrpPopup a.close:hover {
                color: #02284F;
            }

        textarea#aboutgroupId {
            background-color: #ededed;
            color: #666666;
            font-size: 14px;
            font-family: 'open_sansregular';
            border: 1px solid #e1e1e1;
            border-radius: 4px;
            line-height: 42px !important;
            padding-left: 10px;
            box-shadow: none !important;
            margin-bottom: 8px;
            margin-top: 5px;
        }

        #GroupMemberPopup tr:hover {
            background-color: #C3C3C3 !important;
            cursor: pointer;
            border-radius: 8px;
        }

        #updHead {
            font-family: 'OpenSans-Semibold';
            font-size: 20px;
            color: #033363;
            text-transform: uppercase;
            border: none;
            background: none;
        }

        #GrpInfoEditDiv input[type='text'] {
            background-color: #ededed;
            color: #666666;
            font-size: 14px;
            font-family: 'open_sansregular';
            border: 1px solid #e1e1e1;
            border-radius: 4px;
            line-height: 42px !important;
            height: 40px;
            padding-left: 10px;
            box-shadow: none !important;
            margin-bottom: 8px;
            margin-top: 5px;
        }

        #GrpInfoEditDiv input[type='text'] {
            background-color: #ededed;
            color: #666666;
            font-size: 18px;
            font-family: 'open_sansregular';
            border: 1px solid #e1e1e1;
            border-radius: 4px;
            line-height: 42px !important;
            padding-left: 10px;
            box-shadow: none !important;
            margin-bottom: 8px;
            margin-top: 5px;
        }

        #grpDescTxt {
            background-color: #ededed;
            color: #666666;
            font-size: 13px;
            font-family: 'open_sansregular';
            border: 1px solid #e1e1e1;
            border-radius: 4px;
            line-height: 25px !important;
            padding-left: 10px;
            box-shadow: none !important;
            margin-bottom: 8px;
            margin-top: 5px;
        }

        #ImgUpload {
            text-transform: uppercase !important;
            font-family: 'open_sansregular' !important;
            border: none !important;
            padding: 5px 14px !important;
            cursor: pointer !important;
        }

        form[name="AddExtraFriend"] {
            border: none !important;
        }

        input[type="submit"] {
            float: left;
            margin-top: 5%;
            margin-left: 2px;
            text-align: center;
            background-color: #033363;
            color: white;
            border-radius: 4px;
            border-color: #033363;
        }

        button[type="submit"] {
            float: left;
            margin-top: 5.4%;
            margin-left: 2px;
            text-align: center;
            background-color: #033363;
            color: white;
            border-radius: 4px;
            border-color: #033363;
        }

        a.close:hover {
            color: #01A5CD;
        }

        button[type="submit"]:hover {
            color: #01A5CD;
        }

        input[type="submit"]:hover {
            color: #01A5CD;
        }

        #AddFriendName, #OnAddChangeMailId {
            background-color: #ededed;
            color: #666666;
            font-size: 14px;
            font-family: 'open_sansregular';
            border: 1px solid #e1e1e1;
            border-radius: 4px;
            line-height: 42px !important;
            padding-left: 10px;
            box-shadow: none !important;
            margin-bottom: 8px;
            margin-top: 5px;
            height: 40px;
        }

        a.tooltip {
            position: relative;
            display: inline;
        }

            a.tooltip span {
                position: absolute;
                left: 50%;
                width: 140px;
                padding: 6px;
                margin-left: -76px;
                background: #000;
                color: #fff;
                text-align: center;
                visibility: hidden;
                border-radius: 5px;
            }

                a.tooltip span:after {
                    content: '';
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    margin-left: -8px;
                    width: 0;
                    height: 0;
                    border-top: 8px solid black;
                    border-right: 8px solid transparent;
                    border-left: 8px solid transparent;
                }

        a:hover.tooltip span {
            visibility: visible;
            opacity: 0.8;
            bottom: -60px;
            left: 20px;
            z-index: 999;
        }
    </style>

</head>
<body ng-controller="SaveGroup" id="BlockForLoading">
    <div id="popup" class="modal-box">
        <div style="background-color: #01A5CD;">
            <a href="#" class="js-modal-close close" style="border-radius: 3px;"><img src="../Content/images/del_travel-bkp-7-5-15.png" /></a>
            <h3><a href="#" style="color:white;">Add/Remove Member</a> </h3>
        </div>
        <div class="modal-body">
            <form name="AddExtraFriend">
                <input type="text" ng-model="AddExtraFriendName" placeholder="Friend's Name" id="AddFriendName" maxlength="10" />
                <br />
                <input type="email" name="AddExtraFriendmail" ng-model="AddExtraFriendmail" id="OnAddChangeMailId" placeholder="Friend's Mail Id" />
                <br /><br /><br /><br />
                <button type="submit" ng-click="AddExtraMail()" style="width: 65px; cursor: pointer; margin-bottom: 2%; height: 25px; margin-top: 2px; ">Add</button>
                <button type="submit" ng-click="RemoveExtraMail()" style="width: 65px; cursor: pointer; margin-bottom: 2%; height: 25px; margin-top: 2px; ">Remove</button>
                <button type="submit" ng-click="ClearTxtBxs()" style="width: 65px; cursor: pointer; margin-bottom: 2%; height: 25px; margin-top: 2px; ">Clear</button>
                <input type="hidden" value="" id="AddMemberGroupMailId" />
                <input type="hidden" value="" id="AddMemberGroupName" />
            </form>
            <table border="0" style="width:50%" id="GroupMemberPopup"></table>
        </div>
        <p>
            <input type="submit" value="Invite to Group" ng-click="AddExtraMemberGroup()" style="float: right; margin-top: 0%; margin-bottom: 2%; cursor: pointer; width: 105px; height: 25px;" />
            @*<a href="#" class="js-modal-close" style="background-color: #033363; color: white; border-radius: 4px; border-color: #033363;">Close </a>*@
        </p>
    </div>
    <div id="InfoGrpPopup" class="modal-box">
        <header>
            <a href="#" class="js-modal-close close"><img src="../Content/images/del_travel-bkp-7-5-15.png" /></a>
            <h3>Your Groups</h3>
        </header>
        <div class="modal-body">
            <p></p>
        </div>
    </div>
    <header>
        <section class="row">
            <figure class="logo"><a href="~/Trip/Index" id="#logo"><img src="~/Content/images/logo.png" width="180" height="37" alt="1EZTRIP"></a></figure>
            <nav>
                <aside class="menu">
                    <ul>
                        <li><a href="~/Trip/Index" class="active">Home</a></li>
                        <li style="display:none;"><a href="javascript:;" id="CurrentIternary" class="active">Current itinerary</a><input type="hidden" id="CurrentTripId" value="@CurrentTripid" /></li>
                        <li><a href="@Url.Action("MyTrips", "Trip")">My Trips</a></li>
                        <li><a href="@Url.Action("ViewMyProfile", "Trip")">My Account</a><a id="notificationCount" class="notifications" href="@Url.Action("Notification", "Trip")" title="Notifications" style="display:none;"></a></li>
                    </ul>
                </aside>

                <div id="wel-mem">
                    <ul>
                        <li style="width:190px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;">Hi<label id="lblusername">@username</label></li>
                        <input type="hidden" id="LoggedUserId" value="@LoggedUserId" />
                        <input type='hidden' value="@LoggedUserMailId" id="Loggedmailid" />
                        <li class="last"><a href="#" onclick="return logout();">Logout</a></li>
                    </ul>
                </div>
            </nav>
        </section>
    </header>
    <section>
        <section class="row-table">
            <div class="profile">
                <div class="profile-left">
                    <div class="photo">
                        @{
                            if (ViewBag.ProfilePic == null || ViewBag.ProfilePic.ToString() == "")
                            {
                                <img src="../Content/images/ProfilePics/avatar.jpg" style="height:224px;width:244px;border-radius:4px;">
                            }
                            else
                            {
                                <img id="ProfilePhoto" src="../Content/images/ProfilePics/@ViewBag.ProfilePic" style="border-radius:4px;">
                            }
                        }
                    </div>
                    <a href="@Url.Action("ViewMyProfile","Trip")">
                        <div class="user-profile "><div><img src="~/Content/images/user_pro_img.png">User Profile</div></div>
                    </a>
                    <a href="@Url.Action("UpdateMyProfile","Trip")">
                        <div class="edit-profile"><div><img src="~/Content/images/edit_pro_icon.png"> Edit Profile</div></div>
                    </a>
                    <a href="@Url.Action("MyTrips","Trip")"><div class="edit-profile "><div><img src="~/Content/images/trips_img.png"> My Trips</div></div></a>
                    <a href="@Url.Action("Group","Trip")"><div class="edit-profile selected"><div><img src="~/Content/images/group-icon.png">Group</div></div></a>
                    <a href="@Url.Action("Notification", "Trip")"><div class="edit-profile"><div><img src="~/Content/images/notify_icon.png">Notification</div></div></a>
                    <a href="@Url.Action("Invite", "Trip")"><div class="edit-profile"><div><img src="~/Content/images/invite_icon.png">Invite</div></div></a>
                </div>
                <div class="profile-right" style="min-height: 645px;">
                    <input type="submit" value="Create new group" id="createGroupShow" style="border-radius: 8px;border-color: black;">
                    <div class="on-going-plans" id="Testid" style="display:none;">
                        <input type="submit" value="Create group later" id="createGroupHide" style="border-radius: 8px;border-color: black;">
                        <figure style="float: right; margin-right: 10%; margin-top: 5%;" id="clsBtn"><img style="height:20px;width:20px;" src="~/Content/images/arrow-btn-grayUp.png" /></figure>
                        <form name="addFriend">

                            <table cellpadding="2" cellspacing="1" style="width:100%; border:none;">
                                <tbody style="width:50%;">
                                    <tr style="width:50%;">
                                        <td style="width: 40%;">Group Name </td>
                                        <td style="width: 60%;"><input type="text" id="groupnameId" ng-model="GroupName" maxlength="20" @*required placeholder="Group Name"*@ /></td>
                                    </tr>
                                    <tr style="width:50%;">
                                        <td style="width: 40%;">About Group </td>
                                        <td style="width: 60%;"><textarea id="aboutgroupId" rows="2" cols="10" ng-model="GroupDesc" maxlength="200"></textarea></td>
                                    </tr>
                                    <tr style="width:50%;">
                                        <td style="width: 40%;">Group Image </td>
                                        <td style="width: 60%;"><input type="button" id="groupIconBtn" value="Upload Image" /><input type="file" class="hidden" id="groupfile" name="groupfile" placeholder="Group icon" /><img style="width: 70px; height: 70px; border-radius: 4px;" src="../Content/images/GroupPics/GroupStatic.png" id="imageupload" /></td>
                                    </tr>
                                    <tr style="width:50%;">
                                        <td style="width: 40%;padding:0 0 100px 0;">Invite Friends </td>

                                        <td style="width: 60%;">
                                            <input type="text" name="FriendName" id="FriendNameId" ng-model="FriendName" placeholder="Your Friend's Name" />
                                            <input type="email" name="email" id="emailId" ng-model="FriendMail" placeholder="Your Friend's Mailid" id="OnChangeMailId" />
                                            <a class="tooltip" href="#">
                                                <button type="submit" id="testbutton" ng-disabled="addFriend.email.$dirty && addFriend.email.$invalid" ng-click="AddMail()">+</button>
                                                <span>Add your friend's Email-Id to list</span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 40%;"></td>
                                        <td style="width: 60%;">
                                            <input type="submit" id="btn_Refresh" value="Refresh" style="display:none;" data-ng-click="Refresh()" />
                                            <div class="uname-div" id="UserDetailList" style="width:90%;">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td id="Query"></td>
                                    </tr>
                                    <tr>
                                        <td style="width: 40%;"></td>
                                        <td style="width: 60%;" class="group-btn">
                                            <div class="editpro-buttons">
                                                <input type="submit" value="Invite" data-ng-click="SaveGroup()" @*data-ng-disabled="!addFriend.$valid"*@ style="border-radius: 8px;border-color: black;" />
                                                <input type="submit" value="Clear" data-ng-click="Clear()" style="border-radius: 8px;border-color: black;" />
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </form>
                    </div>
                    <div class="on-going-plans">
                        <h1>Groups</h1>
                        <div class="tablClss">
                            <table id="GrdDynamic" class="responsive_tble" width="100%" border="1" style="border-collapse:collapse; border: solid 1px #eee">
                                <tr class="table-head-bg">
                                    <th>S.No</th>
                                    <th>Group Name</th>
                                    <th>Admin</th>
                                    @*<th>Info</th>*@
                                    <th>Created Date</th>
                                    <th>View/Edit Group</th>
                                    <th>Active User</th>
                                    <th>No.of User</th>
                                    <th>Edit Members</th>
                                    <th>Delete</th>
                                </tr>
                                @{


                                    string[] monthNames = { "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" };
                                    int incrementVar = 1;
                                    foreach (var tripdet in ViewBag.GroupTrips)
                                    {
                                        if (@tripdet.address == "1")
                                        {
                                            <tr class="odd"><td>No Record Found</td></tr>
                                        }
                                        else
                                        {
                                            if (incrementVar % 2 != 0)
                                            {
                                                string[] date1 = tripdet.Created_Date.Split(' ');
                                                string[] date2 = tripdet.Created_Date.Split('/');
                                                //string date3 = monthNames[Convert.ToInt32(date2[0].Trim()) - 1] + "-" + date2[1] + "-" + date2[2];

                                                string date3 = "";
                                                string message = string.Format("Time: {0}", DateTime.Now.ToString("dd/MM/yyyy hh:mm:ss tt"));
                                                try
                                                {
                                                    // date3 = monthNames[Convert.ToInt32(date2[0].Trim()) - 1] + "-" + date2[1] + "-" + date2[2];
                                                    date3 = monthNames[Convert.ToInt32(date2[0])] + "-" + date2[1] + "-" + date2[2];
                                                }
                                                catch (Exception ex)
                                                {
                                                    string path = Server.MapPath("~/Log/LogFile.txt");
                                                    using (StreamWriter writer = new StreamWriter(path, true))
                                                    {
                                                        writer.WriteLine(message + "end" + tripdet.Created_Date + "end" + tripdet.Created_Date + "end");
                                                        writer.Close();
                                                    }
                                                    message += Environment.NewLine;
                                                    message += "-----------------------------------------------------------";
                                                }

                                                <tr class="odd">
                                                    <input type="hidden" id="@tripdet.GroupId" value="@tripdet.GroupName" />
                                                    <input type="hidden" id="@tripdet.Adminmail" value="@tripdet.Adminmail" />
                                                    <td>@incrementVar</td>
                                                    <td>@tripdet.GroupName</td>
                                                    <td>@tripdet.AdminName</td>
                                                    <td>@date3</td>
                                                    <td><a class="js-open-modal" data-modal-id="InfoGrpPopup" href="#"><img src="~/Content/images/tab_info_img.png" class="InfoTrip" style="display: @tripdet.DisplayEdit"><input type="hidden" value="@tripdet.GroupId" /></a></td>
                                                    <td>@tripdet.TotalActive</td>
                                                    <td>@tripdet.Total</td>
                                                    <td><a class="js-open-modal" href="#" data-modal-id="popup" style="display: @tripdet.DisplayEdit" data-value="@tripdet.GroupId" data-ng-click="GetGroupMember(@tripdet.GroupId)"><img src="~/Content/images/tab_edit_img.png"></a></td>
                                                    <td><a href="#" data-ng-click="DeleteGroup(@tripdet.GroupId)" style="display: @tripdet.DisplayEdit"><img src="~/Content/images/del-icon.png" /></a></td>
                                                </tr>
                                            }
                                            else
                                            {
                                                string[] date1 = tripdet.Created_Date.Split(' ');
                                                string[] date2 = tripdet.Created_Date.Split('/');
                                                //string date3 = monthNames[Convert.ToInt32(date2[0]) - 1] + "-" + date2[1] + "-" + date2[2];
                                                string date3 = "";
                                                try
                                                {
                                                    date3 = monthNames[Convert.ToInt32(date2[0])] + "-" + date2[1] + "-" + date2[2];
                                                }
                                                catch (Exception ex)
                                                {
                                                }
                                                <tr>
                                                    <input type="hidden" id="@tripdet.GroupId" value="@tripdet.GroupName" />
                                                    <td>@incrementVar</td>
                                                    <td>@tripdet.GroupName</td>
                                                    <td>@tripdet.AdminName</td>
                                                    <td>@date3</td>
                                                    <td><a class="js-open-modal" data-modal-id="InfoGrpPopup" href="#"><img src="~/Content/images/tab_info_img.png" class="InfoTrip" style="display: @tripdet.DisplayEdit"><input type="hidden" value="@tripdet.GroupId" /></a></td>
                                                    <td>@tripdet.TotalActive</td>
                                                    <td>@tripdet.Total</td>
                                                    <td><a class="js-open-modal" href="#" data-modal-id="popup" style="display: @tripdet.DisplayEdit" data-value="@tripdet.GroupId" data-ng-click="GetGroupMember(@tripdet.GroupId)"><img src="~/Content/images/tab_edit_img.png"></a></td>
                                                    <td><a href="#" data-ng-click="DeleteGroup(@tripdet.GroupId)" style="display: @tripdet.DisplayEdit"><img src="~/Content/images/del-icon.png" /></a></td>
                                                </tr>
                                            }
                                            incrementVar++;
                                        }
                                    }
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <div class="clear"></div>
    @Html.Partial("~/Views/Shared/Footer-Small.cshtml")
</body>
</html>
<script src="~/Scripts/js/angular.min.js"></script>
<script type="text/javascript" src="~/Scripts/js/html5.js"></script>
<script type="text/javascript" src="~/Scripts/js/respond.js"></script>
<script type="text/javascript" src="~/Scripts/js/jquery.js"></script>
<!-- Google CDN jQuery with fallback to local -->
<script src="~/Scripts/js/jquery-1.11.0.min.js"></script>
<script>window.jQuery || document.write('<script src="../../js/minified/jquery-1.11.0.min.js"><\/script>')</script>
<script src="~/Scripts/js/jquery-ui-1.10.4.min.js"></script>
@*<script type="text/javascript" src="~/Scripts/js/jquery.mCustomScrollbar.concat.min.js"></script>*@
<script src="~/Scripts/loading_plugin_js/jquery.noty.packaged.min.js"></script>
<script type="text/javascript" src="~/Scripts/js/jquery.freezeheader.js"></script>
<script type="text/javascript" src="~/Scripts/GridViewScroll/gridviewScroll.min.js"></script>
<script src="~/Scripts/Jsfiles/CurrentItenaries.js"></script>
<script type="text/javascript" src="~/Scripts/js/common.js"></script>
<script src="~/Scripts/js/Block.ui.js"></script>
<script>
    var App = angular.module("GroupApp", []);

    App.controller('SaveGroup', function ($scope, $http) {
        $scope.EmailId = [];
        $scope.CheckMailId = [];
        $scope.CheckMailIdNew = [];
        $scope.CheckMailIdExist = [];
        $scope.AddFriendExtraMail = [];
        $scope.AddFriendExtraMailArray = [];
        $scope.AddFriendNameExtraMailArray = [];
        $scope.AddFriendExtraMailExistArray = [];
        $scope.AddFriendExtraMailNewArray = [];
        $scope.EmailId.push($('#Loggedmailid').val());
        $scope.exporting = true;
        var adminmail = "";

        $scope.Clear = function () {
            $scope.GroupName = '';
            $scope.FriendMail = '';
            $scope.FriendName = '';
            $("#aboutgroupId").val('');
            $("#groupIconBtn").replaceWith($("#groupIconBtn").val('').clone(true));
            $("#groupIconBtn").val('Upload Image');
            $('#imageupload').attr('src', '../Content/images/activity-home-icon.png');
            $("#UserDetailList div:not(:first)").remove();
        }

        /***************Get All User Move It To CheckMailId Array****************/
        $http({
            methos: 'GET',
            url: '../Trip/GetAllUser',
        }).success(function (result) {
            for (var i = 0; i < result.length; i++) {
                $scope.CheckMailId.push(result[i].emailid);
            }
            var test = "<div id='1'><p>" + $('#Loggedmailid').val() + "</p>";
            test += "<p>" + $('#lblusername').html() + "</p>";
            //test += "<a href='#' onclick='DeleteUserDetails(1)'><img src='../Content/images/remove-icon.png'/></a>";
            test += "</div>";
            $('#UserDetailList').append(test);
        });
        /********************End Of Move The Data To CheckMailId Array*********************/

        $scope.Refresh = function () {
            $scope.EmailId.length = 0;
            var Count = $('#UserDetailList').find('div').length;
            for (var cnt = 0; cnt < Count; cnt++) {
                $scope.EmailId.push($('#UserDetailList').find('div').eq(cnt).find('p').eq(0).html());
            }
        }

        /***********************On Change Event********************/
        $scope.AddMail = function () {
            var regex = /^([\w-]+(?:\.[\w-]+)*)@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
            if ($scope.FriendMail == '' || $scope.FriendMail == undefined || $scope.FriendName == '' || $scope.FriendName == undefined) {
                if ($scope.FriendMail == '' || $scope.FriendMail == undefined) {
                    var noty_alert = noty({
                        layout: 'topRight',
                        text: 'Please fill your friend\'s Email-Id..',
                        type: 'warning',
                        timeout: 3000,
                        maxVisible: 1,
                        animation: {
                            open: { height: 'toggle' },
                            close: { height: 'toggle' },
                            easing: 'swing',
                            speed: 500
                        }
                    });
                    return false;
                }
                else {
                    var noty_alert = noty({
                        layout: 'topRight',
                        text: 'Please fill your friend\'s name..',
                        type: 'warning',
                        timeout: 3000,
                        maxVisible: 1,
                        animation: {
                            open: { height: 'toggle' },
                            close: { height: 'toggle' },
                            easing: 'swing',
                            speed: 500
                        }
                    });
                    return false;
                }
            }
            else if (!regex.test($scope.FriendMail)) {
                var noty_alert = noty({
                    layout: 'topRight',
                    text: 'Please fill valid friend\'s Email-Id..',
                    type: 'warning',
                    timeout: 3000,
                    maxVisible: 1,
                    animation: {
                        open: { height: 'toggle' },
                        close: { height: 'toggle' },
                        easing: 'swing',
                        speed: 500
                    }
                });
                $scope.FriendMail = '';
                return false;
            }
            else {
                if ($.inArray($scope.FriendMail, $scope.EmailId) == -1) {
                    $scope.EmailId.push($scope.FriendMail);
                    var test = "<div id=" + $scope.EmailId.length + "><p>" + $scope.FriendMail + "</p><p>" + $scope.FriendName + "</p><a href='#'  onclick='DeleteUserDetails(\"" + $scope.EmailId.length + "\")'><img src='../Content/images/remove-icon.png'/></a></div>";
                    $('#UserDetailList').append(test);
                    $scope.FriendMail = '';
                    $scope.FriendName = '';
                }
                else {
                    var notify_alert = noty({
                        layout: 'topRight',
                        text: 'Already added..',
                        type: 'success',
                        timeout: 2000,
                        maxVisible: 1,
                        animation: {
                            open: { height: 'toggle' },
                            close: { height: 'toggle' },
                            easing: 'swing',
                            speed: 500
                        }
                    });

                    $scope.FriendMail = '';
                    return false;
                }
            }
        }
        /*****************End of On Change Event*****************/

        /********************Save Group Function*****************/
        $scope.SaveGroup = function () {
            if ($scope.GroupName == null) {
                var noty_alert = noty({
                    layout: 'topRight',
                    text: 'Please enter the group name ..',
                    type: 'warning',
                    timeout: 3000,
                    maxVisible: 1,
                    animation: {
                        open: { height: 'toggle' },
                        close: { height: 'toggle' },
                        easing: 'swing',
                        speed: 500
                    }
                });
                return false;
            }
            else {
                $('#BlockForLoading').block({
                    message: 'Please wait,group is being created...',
                    css: {
                        border: 'none',
                        padding: '15px',
                        float: 'right',
                        'margin-right': '0%',
                        backgroundColor: '#033363',
                        '-webkit-border-radius': '10px',
                        '-moz-border-radius': '10px',
                        opacity: .5,
                        color: '#fff'
                    }
                });

                var NewMailId = "", Exist = "";
                $scope.EmailId.length = 0;

                $scope.EmailId.push($('#Loggedmailid').val());
                $scope.GroupMailId = $('#Loggedmailid').val(), $scope.GroupStatus = "1", $scope.MemberIndividualName = $('#lblusername').html();

                $scope.Length = $('#UserDetailList').find('div').length;

                for ($scope.cnt = 0; $scope.cnt < $scope.Length - 1; $scope.cnt++) {

                    $scope.EmailId.push($('#UserDetailList').find('div').eq($scope.cnt + 1).find('p').eq(0).html());
                    $scope.GroupMailId += "|" + $('#UserDetailList').find('div').eq($scope.cnt + 1).find('p').eq(0).html();
                    $scope.MemberIndividualName += "|" + $('#UserDetailList').find('div').eq($scope.cnt + 1).find('p').eq(1).html();
                    $scope.GroupStatus += "|" + "0"

                }
                jQuery.grep($scope.EmailId, function (el) {
                    if (jQuery.inArray(el, $scope.CheckMailId) == -1) $scope.CheckMailIdNew.push(el);
                });
                jQuery.grep($scope.EmailId, function (el) {

                    if (jQuery.inArray(el, $scope.CheckMailId) != -1) $scope.CheckMailIdExist.push(el);
                });
                for ($scope.cnt = 0; $scope.cnt < $scope.CheckMailIdNew.length; $scope.cnt++) {
                    if ($scope.cnt == 0) {
                        NewMailId = $scope.CheckMailIdNew[$scope.cnt];
                    }
                    else {
                        NewMailId += "|" + $scope.CheckMailIdNew[$scope.cnt];
                    }
                }
                for ($scope.cnt = 0; $scope.cnt < $scope.CheckMailIdExist.length; $scope.cnt++) {
                    if ($scope.cnt == 0) {
                        Exist = $scope.CheckMailIdExist[$scope.cnt];
                    }
                    else {
                        Exist += "|" + $scope.CheckMailIdExist[$scope.cnt];
                    }
                }
                var dataObject = {
                    GroupName: $scope.GroupName,
                    Adminmail: $scope.GroupMailId,
                    Active: $scope.GroupStatus,
                    description: $scope.GroupDesc,
                    ExistMember: Exist,
                    NewMember: NewMailId,
                    MemberIndividualName: $scope.MemberIndividualName
                };
                $http({
                    method: 'POST',
                    data: dataObject,
                    url: '../Trip/CreateGroup'
                }).success(function (data, status) {
                    $('#BlockForLoading').unblock();
                    var notify_alert = noty({
                        layout: 'topRight',
                        text: 'Group created successfully.',
                        type: 'success',
                        timeout: 2000,
                        maxVisible: 1,
                        animation: {
                            open: { height: 'toggle' },
                            close: { height: 'toggle' },
                            easing: 'swing',
                            speed: 500
                        }
                    });
                    setTimeout(RefreshPage, 1000);
                }).error(function (data, status) {
                    $('#BlockForLoading').unblock();
                    var noty_alert = noty({
                        layout: 'topRight',
                        text: 'Failed to create group. Please try again..',
                        type: 'warning',
                        timeout: 3000,
                        maxVisible: 1,
                        animation: {
                            open: { height: 'toggle' },
                            close: { height: 'toggle' },
                            easing: 'swing',
                            speed: 500
                        }
                    });
                    setTimeout(RefreshPage, 1000);
                });
            }
        }
        /*****************End of Save Group**********/

        /******************Get Group Member*************/
        $scope.GetGroupMember = function (GroupId) {
            $scope.AddExtraFriendName = '';
            $scope.AddExtraFriendmail = '';
            $scope.AddFriendExtraMail = [];
            $scope.AddFriendExtraMailArray = [];
            $scope.AddFriendExtraMailExistArray = [];
            $scope.AddFriendExtraMailNewArray = [];
            $("#AddFriendName").val('');
            $("#OnAddChangeMailId").val('');
            var dataObject = {
                Mode: GroupId
            };
            $('#GroupMemberPopup').html('');
            $http({
                method: 'POST',
                data: dataObject,
                url: '../Trip/GetGroupUser',
            }).success(function (result) {

                //result = JSON.parse(result);

                //if (result == "Failure") {

                //    //alert("if");
                //    var notify_alert = noty({
                //        layout: 'topRight',
                //        text: 'You can edit your own group only...',
                //        type: 'success',
                //        timeout: 2000,
                //        maxVisible: 1,
                //        animation: {
                //            open: { height: 'toggle' },
                //            close: { height: 'toggle' },
                //            easing: 'swing',
                //            speed: 500
                //        }
                //    });
                //}
                //else {
                  

                   // $('#GroupMemberPopup').html('');
                    $scope.loading = false;
                    $.each(result, function (indx, valu) {
                        var HtmlData = "";
                        adminmail = valu.Adminmail;
                        if (valu.Adminmail == valu.mail) {
                            if (indx % 2 == 0) {
                                HtmlData += "<tr title='you cannot remove the admin' style='border:1px;background-color: #B5EFEF;cursor:not-allowed;'>"
                            }
                            else {
                                HtmlData += "<tr title='you cannot remove the admin' style='border:1px;cursor:not-allowed;' >"
                            }

                            HtmlData += "<td style='border:1px;'>" + valu.MemberIndividualName + "</td><input type='hidden' value='" + valu.mail + "'/>";
                        }
                        else {
                            if (indx % 2 == 0) {
                                HtmlData += "<tr style='border:1px;background-color: #B5EFEF;' class='grpMem' id=" + valu.GroupUserId + ">"
                            }
                            else {
                                HtmlData += "<tr style='border:1px;' class='grpMem' id=" + valu.GroupUserId + ">"
                            }
                            HtmlData += "<td style='border:1px;'>" + valu.MemberIndividualName + "</td><input type='hidden' value='" + valu.mail + "'/>";
                        }
                        HtmlData += "</tr>";
                        $('#GroupMemberPopup').append(HtmlData);
                        $scope.AddFriendExtraMail.push(valu.mail);
                    });
                //}
            });
        }
        /*****************End of Get Group Member***************/

        $scope.DeleteGroup = function (GroupId) {



            noty({
                layout: 'topRight',
                type: 'confirm',
                maxVisible: 1,
                modal: true,
                text: 'Are you sure do you want to delete the group?',
                buttons: [
                    {
                        addClass: 'btn btn-primary', text: 'Ok', onClick: function ($noty) {
                            $noty.close();
                            $('#BlockForLoading').block({
                                message: 'Deleting the group...',
                                css: {
                                    border: 'none',
                                    padding: '15px',
                                    float: 'right',
                                    'margin-right': '0%',
                                    backgroundColor: '#033363',
                                    '-webkit-border-radius': '10px',
                                    '-moz-border-radius': '10px',
                                    opacity: .5,
                                    color: '#fff'
                                }
                            });

                            var dataObject = {
                                Mode: GroupId

                            };


                            $http({
                                method: 'POST',
                                data: dataObject,
                                url: '../Trip/DeletGroup',
                            }).success(function (result) {
                                //alert("success");
                                result = JSON.parse(result);
                                // debugger
                                if (result == "Success") {
                                    //alert("succ");

                                    $('#BlockForLoading').unblock();
                                    var notify_alert = noty({
                                        layout: 'topRight',
                                        text: 'Group deleted successfully.',
                                        type: 'success',
                                        timeout: 2000,
                                        maxVisible: 1,
                                        animation: {
                                            open: { height: 'toggle' },
                                            close: { height: 'toggle' },
                                            easing: 'swing',
                                            speed: 500
                                        }
                                    });
                                    setTimeout(RefreshPage, 1000);
                                }
                                else {
                                    //alert("fail");
                                    $('#BlockForLoading').unblock();
                                    var noty_alert = noty({
                                        layout: 'topRight',
                                        text: 'You can delete your own group only..',
                                        type: 'warning',
                                        timeout: 3000,
                                        maxVisible: 1,
                                        animation: {
                                            open: { height: 'toggle' },
                                            close: { height: 'toggle' },
                                            easing: 'swing',
                                            speed: 500
                                        }
                                    });
                                    //setTimeout(RefreshPage, 1000);
                                }
                                //}

                            }).error(function (data, status) {
                                $('#BlockForLoading').unblock();
                                var noty_alert = noty({
                                    layout: 'topRight',
                                    text: 'You can delete your own group only..',
                                    type: 'warning',
                                    timeout: 3000,
                                    maxVisible: 1,
                                    animation: {
                                        open: { height: 'toggle' },
                                        close: { height: 'toggle' },
                                        easing: 'swing',
                                        speed: 500
                                    }
                                });
                                setTimeout(RefreshPage, 1000);
                            });
                        }
                    },
                    {
                        addClass: 'btn btn-danger', text: 'Cancel', onClick: function ($noty) {
                            $noty.close();
                            return false;
                        }
                    }
                ]
            });
        }

        $scope.AddExtraMail = function () {
            if ($scope.AddExtraFriendmail == '' || $scope.AddExtraFriendmail == undefined || $scope.AddExtraFriendName == '' || $scope.AddExtraFriendName == undefined) {
                if ($scope.AddExtraFriendName == '' || $scope.AddExtraFriendName == undefined) {
                    var noty_alert = noty({
                        layout: 'topRight',
                        text: 'Please fill your friend\'s name..',
                        type: 'warning',
                        timeout: 3000,
                        maxVisible: 1,
                        animation: {
                            open: { height: 'toggle' },
                            close: { height: 'toggle' },
                            easing: 'swing',
                            speed: 500
                        }
                    });
                    return false;
                }
                else {
                    var noty_alert = noty({
                        layout: 'topRight',
                        text: 'Please fill your friend\'s mail id..',
                        type: 'warning',
                        timeout: 3000,
                        maxVisible: 1,
                        animation: {
                            open: { height: 'toggle' },
                            close: { height: 'toggle' },
                            easing: 'swing',
                            speed: 500
                        }
                    });
                    return false;
                }
            }
            else {

                if ($.inArray($scope.AddExtraFriendmail, $scope.AddFriendExtraMail) == -1) {
                    var HtmlData = '';
                    HtmlData += "<tr style='border:1px;'>"
                    HtmlData += "<td style='border:1px;'>" + $scope.AddExtraFriendName + "-</td>";
                    HtmlData += "<td style='border:1px;'>" + $scope.AddExtraFriendmail + "</td>";
                    HtmlData += "</tr>";
                    $('#GroupMemberPopup').append(HtmlData);
                    $scope.AddFriendExtraMailArray.push($scope.AddExtraFriendmail);
                    $scope.AddFriendNameExtraMailArray.push($scope.AddExtraFriendName);
                    $("#AddFriendName").val('');
                    $("#OnAddChangeMailId").val('');
                }
                else {
                    var notify_alert = noty({
                        layout: 'topRight',
                        text: 'Already in the group..',
                        type: 'warning',
                        timeout: 2000,
                        maxVisible: 1,
                        animation: {
                            open: { height: 'toggle' },
                            close: { height: 'toggle' },
                            easing: 'swing',
                            speed: 500
                        }
                    });

                    $scope.FriendMail = '';
                    return false;
                }
            }
        }

        $scope.ClearTxtBxs = function () {
            $("#AddFriendName").val('');
            $("#OnAddChangeMailId").val('');
        }

        $scope.RemoveExtraMail = function (GroupId) {
            {
                var logedUserMail = $("#Loggedmailid").val();
                $scope.AddExtraFriendmail = $("#OnAddChangeMailId").val();
                $scope.AddExtraFriendName = $("#AddFriendName").val();
                if ($scope.AddExtraFriendmail == '' || $scope.AddExtraFriendmail == undefined || $scope.AddExtraFriendName == '' || $scope.AddExtraFriendName == undefined) {
                    if ($scope.AddExtraFriendName == '' || $scope.AddExtraFriendName == undefined) {
                        var noty_alert = noty({
                            layout: 'topRight',
                            text: 'Please fill your friend\'s name..',
                            type: 'warning',
                            timeout: 3000,
                            maxVisible: 1,
                            animation: {
                                open: { height: 'toggle' },
                                close: { height: 'toggle' },
                                easing: 'swing',
                                speed: 500
                            }
                        });
                        return false;
                    }
                    else {
                        var noty_alert = noty({
                            layout: 'topRight',
                            text: 'Please fill your friend\'s mail id..',
                            type: 'warning',
                            timeout: 3000,
                            maxVisible: 1,
                            animation: {
                                open: { height: 'toggle' },
                                close: { height: 'toggle' },
                                easing: 'swing',
                                speed: 500
                            }
                        });
                        return false;
                    }
                }
                else if (adminmail == logedUserMail) {
                    noty({
                        layout: 'topRight',
                        type: 'confirm',
                        maxVisible: 1,
                        modal: true,
                        text: 'Are you sure do you want to delete the selected group member?',
                        buttons: [
                            {
                                addClass: 'btn btn-primary', text: 'Ok', onClick: function ($noty) {
                                    $noty.close();
                                    $('#BlockForLoading').block({
                                        message: 'Deleting the group...',
                                        css: {
                                            border: 'none',
                                            padding: '15px',
                                            float: 'right',
                                            'margin-right': '0%',
                                            backgroundColor: '#033363',
                                            '-webkit-border-radius': '10px',
                                            '-moz-border-radius': '10px',
                                            opacity: .5,
                                            color: '#fff'
                                        }
                                    });
                                    var dataObject = {
                                        Mode: GroupUserId
                                    };
                                    $http({
                                        method: 'POST',
                                        data: dataObject,
                                        url: '../Trip/DeleteGroupUser',
                                    }).success(function (result) {
                                        $('#BlockForLoading').unblock();
                                        var notify_alert = noty({
                                            layout: 'topRight',
                                            text: 'Group deleted successfully.',
                                            type: 'success',
                                            timeout: 2000,
                                            maxVisible: 1,
                                            animation: {
                                                open: { height: 'toggle' },
                                                close: { height: 'toggle' },
                                                easing: 'swing',
                                                speed: 500
                                            }
                                        });
                                        setTimeout(RefreshPage, 1000);
                                    });
                                }
                            },
                            {
                                addClass: 'btn btn-danger', text: 'Cancel', onClick: function ($noty) {
                                    $noty.close();
                                    return false;
                                }
                            }
                        ]
                    });
                }
                else if (adminmail != logedUserMail) {
                    if ($scope.AddExtraFriendmail != logedUserMail) {
                        var noty_alert = noty({
                            layout: 'topRight',
                            text: 'please select the valid one.',
                            type: 'warning',
                            timeout: 3000,
                            maxVisible: 1,
                            animation: {
                                open: { height: 'toggle' },
                                close: { height: 'toggle' },
                                easing: 'swing',
                                speed: 500
                            }
                        });
                        return false;
                    }
                    else {
                        noty({
                            layout: 'topRight',
                            type: 'confirm',
                            maxVisible: 1,
                            modal: true,
                            text: 'Are you sure do you want to delete the group?',
                            buttons: [
                                {
                                    addClass: 'btn btn-primary', text: 'Ok', onClick: function ($noty) {
                                        $noty.close();

                                        $('#BlockForLoading').block({
                                            message: 'Deleting the group...',
                                            css: {
                                                border: 'none',
                                                padding: '15px',
                                                float: 'right',
                                                'margin-right': '0%',
                                                backgroundColor: '#033363',
                                                '-webkit-border-radius': '10px',
                                                '-moz-border-radius': '10px',
                                                opacity: .5,
                                                color: '#fff'
                                            }
                                        });
                                        var dataObject = {
                                            Mode: GroupUserId
                                        };
                                        $http({
                                            method: 'POST',
                                            data: dataObject,
                                            url: '../Trip/DeleteGroupUser',
                                        }).success(function (result) {
                                            $('#BlockForLoading').unblock();
                                            var notify_alert = noty({
                                                layout: 'topRight',
                                                text: 'Group deleted successfully.',
                                                type: 'success',
                                                timeout: 2000,
                                                maxVisible: 1,
                                                animation: {
                                                    open: { height: 'toggle' },
                                                    close: { height: 'toggle' },
                                                    easing: 'swing',
                                                    speed: 500
                                                }
                                            });
                                            setTimeout(RefreshPage, 1000);
                                        });
                                    }
                                },
                                {
                                    addClass: 'btn btn-danger', text: 'Cancel', onClick: function ($noty) {
                                        $noty.close();
                                        return false;
                                    }
                                }
                            ]
                        });
                    }
                }
            }
        }

        $scope.AddExtraMemberGroup = function () {
            if (($("#AddFriendName").val() == null || $("#AddFriendName").val() == "") && ($("#OnAddChangeMailId").val() == null || $("#OnAddChangeMailId").val() == "")) {
                var notify_alert = noty({
                    layout: 'topRight',
                    text: 'Please select the member to be added/removed..',
                    type: 'warning',
                    timeout: 2000,
                    maxVisible: 1,
                    animation: {
                        open: { height: 'toggle' },
                        close: { height: 'toggle' },
                        easing: 'swing',
                        speed: 500
                    }
                });
            }
            else {
                $('#BlockForLoading').block({
                    message: 'Please wait,adding a member to the group...',
                    css: {
                        border: 'none',
                        padding: '15px',
                        float: 'right',
                        'margin-right': '0%',
                        backgroundColor: '#033363',
                        '-webkit-border-radius': '10px',
                        '-moz-border-radius': '10px',
                        opacity: .5,
                        color: '#fff'
                    }
                });
                var NewMailId = "", Exist = "", Name = "";
                for ($scope.cnt = 0; $scope.cnt < $scope.AddFriendExtraMailArray.Length ; $scope.cnt++) {
                    if ($scope.cnt == 0) {
                        $scope.GroupMailId += $scope.AddFriendExtraMailArray[$scope.cnt];
                        $scope.GroupStatus += "0";
                    }
                    else {
                        $scope.GroupMailId += "|" + $scope.AddFriendExtraMailArray[$scope.cnt];
                        $scope.GroupStatus += "|" + "0";
                    }
                }
                jQuery.grep($scope.AddFriendExtraMailArray, function (el) {
                    if (jQuery.inArray(el, $scope.CheckMailId) == -1) $scope.AddFriendExtraMailNewArray.push(el);
                });
                jQuery.grep($scope.AddFriendExtraMailArray, function (el) {
                    if (jQuery.inArray(el, $scope.CheckMailId) != -1) $scope.AddFriendExtraMailExistArray.push(el);
                });
                for ($scope.cnt = 0; $scope.cnt < $scope.AddFriendExtraMailNewArray.length; $scope.cnt++) {
                    if ($scope.cnt == 0) {
                        NewMailId = $scope.AddFriendExtraMailNewArray[$scope.cnt];
                        Name = $scope.AddFriendNameExtraMailArray[$scope.cnt];
                    }
                    else {
                        NewMailId += "|" + $scope.AddFriendExtraMailNewArray[$scope.cnt];
                        Name += "|" + $scope.AddFriendNameExtraMailArray[$scope.cnt];
                    }
                }
                for ($scope.cnt = 0; $scope.cnt < $scope.AddFriendExtraMailExistArray.length; $scope.cnt++) {
                    if ($scope.cnt == 0) {
                        Exist = $scope.AddFriendExtraMailExistArray[$scope.cnt];
                    }
                    else {
                        Exist += "|" + $scope.AddFriendExtraMailExistArray[$scope.cnt];
                    }
                }
                var dataObject = {
                    Mode: $('#AddMemberGroupMailId').val(),
                    Adminmail: $scope.GroupMailId,
                    Active: $scope.GroupStatus,
                    ExistMember: Exist,
                    NewMember: NewMailId,
                    GroupName: $('#AddMemberGroupName').val(),
                    MemberIndividualName: Name
                };

                $.ajax({
                    url: '../Trip/AddMemberInGroup',
                    type: "POST",
                    data: dataObject,
                    dataType: "json",
                    success: function (result) {
                        $('#BlockForLoading').unblock();
                        var notify_alert = noty({
                            layout: 'topRight',
                            text: 'Added to the group successfully!!',
                            type: 'success',
                            timeout: 2000,
                            maxVisible: 1,
                            animation: {
                                open: { height: 'toggle' },
                                close: { height: 'toggle' },
                                easing: 'swing',
                                speed: 500
                            }
                        });
                        setTimeout(RefreshPage, 1000);
                    },
                    error: function () {
                        $('#BlockForLoading').unblock();
                        var noty_alert = noty({
                            layout: 'topRight',
                            text: 'Failed to add..',
                            type: 'warning',
                            timeout: 3000,
                            maxVisible: 1,
                            animation: {
                                open: { height: 'toggle' },
                                close: { height: 'toggle' },
                                easing: 'swing',
                                speed: 500
                            }
                        });
                        setTimeout(RefreshPage, 1000);
                    }
                });
            }
        }

        $("#GroupMemberPopup").on('click', '.grpMem', function () {
            var addFrndName = $(this).find('td').html();
            var addMailId = $(this).find('td').next('input:hidden').val();
            $('#AddExtraFriendName').val(addFrndName);
            $('#OnAddChangeMailId').val(addMailId);
            $scope.addfrnd = addFrndName;
            $scope.addfrndmail = addMailId;
            $scope.$apply(function () {
                $scope.AddExtraFriendName = $scope.addfrnd;
                $scope.AddExtraFriendmail = $scope.addfrndmail;
            });
            GroupUserId = $(this).attr('id');
        });
    });

    $(document).ready(function () {
        //  gridviewScroll();

        var totalNotificationCount;
        $.ajax({
            url: '../Trip/GetNotificationCount',
            type: "POST",
            async: false,
            dataType: "json",
            success: function (result) {
                totalNotificationCount = result;
                if (totalNotificationCount > 0) {
                    $("#notificationCount").show();
                    $("#notificationCount").text(totalNotificationCount);
                } else {
                    $("#notificationCount").hide();
                }
            }
        });
        $("#table1").freezeHeader({ 'height': '300px' });
        $("#table2").freezeHeader();
        $("#tbex1").freezeHeader();
        $("#tbex2").freezeHeader();
        $("#tbex3").freezeHeader();
        $("#tbex4").freezeHeader();

        $("#OnChangeMailId").change(function () {
            var EmailTxt = $('#OnChangeMailId').val().toLowerCase();
            var filter = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
            if (filter.test(EmailTxt)) {
            }
            else {
                var noty_alert = noty({
                    layout: 'topRight',
                    text: 'In-Valid Email address..',
                    type: 'warning',
                    timeout: 3000,
                    maxVisible: 1,
                    animation: {
                        open: { height: 'toggle' },
                        close: { height: 'toggle' },
                        easing: 'swing',
                        speed: 500
                    }
                });
                $('#OnChangeMailId').focus();
                $('#OnChangeMailId').val("");
                return false;
            }
        });

        $("#OnAddChangeMailId").change(function () {
            var EmailTxt = $('#OnAddChangeMailId').val().toLowerCase();
            var filter = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
            if (filter.test(EmailTxt)) {

            }
            else {
                var noty_alert = noty({
                    layout: 'topRight',
                    text: 'In-Valid Email address..',
                    type: 'warning',
                    timeout: 3000,
                    maxVisible: 1,
                    animation: {
                        open: { height: 'toggle' },
                        close: { height: 'toggle' },
                        easing: 'swing',
                        speed: 500
                    }
                });
                $('#OnAddChangeMailId').focus();
                $('#OnAddChangeMailId').val("");
                return false;
            }
        });

        $("#ModalClose2,#ModalClose").click(function () {
            $("#AddFriendName").val("");
            $("#OnAddChangeMailId").val("");
        });
    });

    $(function () {
        var appendthis = ("<div class='modal-overlay js-modal-close'></div>");
        $('a[data-modal-id]').click(function (e) {
            e.preventDefault();
            var GroupId = $(this).data('value');
            var GroupName = $('#' + GroupId).val();
            $('#AddMemberGroupMailId').val(GroupId);
            $('#AddMemberGroupName').val(GroupName);
            $("body").append(appendthis);
            $(".modal-overlay").fadeTo(500, 0.7);
            var modalBox = $(this).attr('data-modal-id');
            $('#' + modalBox).fadeIn($(this).data());
        });

        $(".js-modal-close, .modal-overlay").click(function () {
            $(".modal-box, .modal-overlay").fadeOut(500, function () {
                $(".modal-overlay").remove();
            });
        });

        $(window).resize(function () {
            $(".modal-box").css({
                top: ($(window).height() - $(".modal-box").outerHeight()) / 2,
                left: ($(window).width() - $(".modal-box").outerWidth()) / 2
            });
        });
        $(window).resize();
    });

    function logout() {
        noty({
            layout: 'topRight',
            type: 'confirm',
            maxVisible: 1,
            modal: true,
            text: 'Do you really want to logout?',
            buttons: [
                {
                    addClass: 'btn btn-primary', text: 'Ok', onClick: function ($noty) {
                        $noty.close();
                        chck_logout = 1;
                        $.ajax({
                            type: "POST",
                            url: '../Trip/ClearLoginSession',
                            success: function () {
                                localStorage.removeItem('IsSavedinDB5');
                                window.location.href = "../trip/index";
                            }
                        });
                        FB.logout();
                    }
                },
                {
                    addClass: 'btn btn-danger', text: 'Cancel', onClick: function ($noty) {
                        $noty.close();
                        return false;
                    }
                }
            ]
        });
    }

    $("#createGroupShow").click(function () {
        $("#Testid").slideDown(700);
        $("#createGroupShow").hide();
    });

    $("#createGroupHide,#clsBtn").click(function () {
        $("#Testid").slideUp(700);
        setTimeout(function () { $('#createGroupShow').show(); }, 650);

    });

    $("#groupIconBtn").click(function () {
        $("#groupfile").click();
    });

    function readURL(inputfile) {
        if (inputfile.files && inputfile.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imageupload').attr('src', e.target.result);
            }
            reader.readAsDataURL(inputfile.files[0]);

            var formData = new FormData();
            var file = inputfile.files[0]
            var Extension = file.type.split('/').pop();
            formData.append("file", file);
            if (Extension == "bmp" || Extension == "gif" || Extension == "png" || Extension == "jpg" || Extension == "jpeg") {
                $.ajax({
                    cach: false,
                    async: false,
                    type: "POST",
                    url: '../Trip/UploadGroupIcon',
                    data: formData,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    success: function () {

                    },
                    error: function (error) {

                    }
                });
            }
            else {
                var notify_alert = noty({
                    layout: 'topRight',
                    text: 'Invalid File!..',
                    type: 'warning',
                    timeout: 3000,
                    maxVisible: 1,
                    animation: {
                        open: { height: 'toggle' },
                        close: { height: 'toggle' },
                        easing: 'swing',
                        speed: 500
                    }
                });
                return false;
            }
        }
    }

    $("#groupfile").change(function () {
        readURL(this);
    });

    $(".InfoTrip").on('click', function () {
        var GroupIdInfo = $(this).siblings('input[type=hidden]').val();
        $.getJSON('../Trip/InfoSelectedGroup', { GroupidToEdit: GroupIdInfo }, function (result) {
            var appendContent = "<input type='hidden' class='GroupInfoId' value='" + GroupIdInfo + "'>";
            appendContent += "<table border='0' style='background-color: #BBF3E1;width: 100%;' id='groupDetailsTbl'>";
            var groupName = result[0].GroupName;
            var adminmailid = result[0].Adminmail;
            $.each(result, function (keys, values) {
                if (keys == 0) {
                    appendContent += "<tr><td>Admin Name</td><td>" + values.AdminName + "</td></tr>";
                    var DateTimeStr = new Date(parseInt((values.Created_Date).substr(6))).toString();
                    var DateOnly = DateTimeStr.split(" ");
                    appendContent += "<tr><td>Created Date</td><td>" + DateOnly[1] + " " + DateOnly[2] + " " + DateOnly[3] + "</td></tr>";
                    if (values.GrpDesc != null && values.GrpDesc != "") {
                        appendContent += "<tr><td>Description</td><td class='descgrp'>" + values.GrpDesc + "</td><td><img src='../Content/images/tab_edit_img.png' class='EditDesc' title='Edit Description'/></td></tr>";
                    }
                    else {
                        appendContent += "<tr><td>Description</td><td> - </td><td><img src='../Content/images/tab_edit_img.png' class='EditDesc' title='Edit Description'/></td></tr>";
                    }
                    if (values.GroupIcon != null && values.GroupIcon != "") {
                        appendContent += "<tr><td>Group Image </td><td><img src='../Content/images/GroupPics/" + values.GroupIcon + "' style='width:50px;height:50px;border-radius:4px;'/></td><td><img src='../Content/images/tab_edit_img.png' class='EditGrpImg' title='Edit Group Image'/></td></tr>";
                    }
                    else {
                        appendContent += "<tr><td>Group Image </td><td><img src='../Content/images/GroupPics/GroupStatic.png' style='width:50px;height:50px;border-radius:4px;'/></td><td><img src='../Content/images/tab_edit_img.png' class='EditGrpImg' title='Edit Group Image'/></td></tr>";
                    }
                    appendContent += "<tr><td>Group Members</td></tr>";
                }
                if (adminmailid != values.Usermail) {
                    appendContent += "<tr><td></td><td >" + values.UserName + "</td></tr>";
                }
            });
            appendContent += "</table>";
            var GrpTitle = "", GrpImgUpl = "";
            if (result[0].GroupIcon != null && result[0].GroupIcon != "") {
                GrpTitle += "<img src='../Content/images/GroupPics/" + result[0].GroupIcon + "' class='GrpPic' style='width:30px;height:30px;border-radius:4px;'/>";
                GrpImgUpl = "<img src='../Content/images/GroupPics/" + result[0].GroupIcon + "' id='prevGrpImg' style='width:50px;height:50px;border-radius:4px;'/>";
            }
            else {
                GrpTitle += "<img src='../Content/images/GroupPics/GroupStatic.png' class='GrpPic' style='width:30px;height:30px;border-radius:4px;'/>";
                GrpImgUpl = "<img src='../Content/images/GroupPics/GroupStatic.png' id='prevGrpImg' style='width:50px;height:50px;border-radius:4px;'/>";
            }
            appendContent += "<div id='GrpInfoEditDiv' style='display:none;background-color: #BCFAFD;'><img src='../Content/images/del_travel.png' style='float:right;' class='ClsDiv'/><p id='updHead'>Update Group Info</p>";
            appendContent += "<table><tr id='GrpNamTr'><td>Group Name</td><td><input type='text' id='grpNameTxt' maxlength='20'/></td></tr>";
            appendContent += "<tr id='GrpDesTr'><td>Group Description</td><td><textarea id='grpDescTxt' cols='25' rows='3' maxlength='200'></textarea></td></tr>";
            appendContent += "<tr id='GrpImgTr'><td>Group Image</td><td><input type='button' id='ImgUpload' value='Upload Image'><input type='file' class='hidden' id='grpImgUpload'/></td><td>" + GrpImgUpl + "</td></tr>";
            appendContent += "<tr><td><input type='submit' id='btnUpdGrpNam' value='Update Group Name'><input type='submit' id='btnUpdGrpImg' value='Update Group Image'><input type='submit' id='btnUpdGrpDesc' value='Update Group Description'></td></tr></table>";
            appendContent += "</div>";
            GrpTitle += (groupName).toUpperCase();
            GrpTitle += "<input type='hidden' class='editgrpNme' value='" + groupName + "'/><img src='../Content/images/edit_pro_icon.png' class='EditGrpName'  title='Edit Group Name'/>";
            $("#InfoGrpPopup").find("h3").html(GrpTitle);
            $("#InfoGrpPopup").find("p").html(appendContent);
        });
    });

    $("#groupnameId,#FriendNameId,#emailId").on({
        keydown: function (e) {
            if (e.which === 32)
                return false;
        },
        change: function () {
            this.value = this.value.replace(/\s/g, "");
        }
    });

    $("#InfoGrpPopup").on("keydown", "#grpNameTxt", function (e) {
        if (e.which === 32)
            return false;
    });

    $("#popup").on("keydown", "#AddFriendName,#OnAddChangeMailId", function (e) {
        if (e.which === 32)
            return false;
    });

    function RefreshPage() {
        var url = '../Trip/Group';
        window.location.href = url;
    }

    function DeleteUserDetails(MailId) {
        if (MailId == 1) {
            var noty_alert = noty({
                layout: 'topRight',
                text: 'You can\'t delete the group admin Mail-Id.',
                type: 'warning',
                timeout: 3000,
                maxVisible: 1,
                animation: {
                    open: { height: 'toggle' },
                    close: { height: 'toggle' },
                    easing: 'swing',
                    speed: 500
                }
            });
        }
        else {
            $('#' + MailId).remove();
            $('#btn_Refresh').trigger('click');
        }
    }

    var GroupUserId;

    $("#btnAddNewMem").click(function () {
        $("#AddNewMem").slideToggle('slow');
    });

    $('#InfoGrpPopup').on('click', '.EditDesc', function () {
        $('#groupDetailsTbl').slideUp('slow');
        $('#GrpInfoEditDiv').slideDown('slow');
        $('#GrpDesTr').show();
        $('#GrpImgTr').hide();
        $('#GrpNamTr').hide();
        $('#btnUpdGrpDesc').show();
        $('#btnUpdGrpImg').hide();
        $('#btnUpdGrpNam').hide();
        var temptxt = $('#InfoGrpPopup').find('.descgrp').text();
        $('#grpDescTxt').val(temptxt);
    });

    $('#InfoGrpPopup').on('click', '.EditGrpName', function () {
        $('#groupDetailsTbl').slideUp('slow');
        $('#GrpInfoEditDiv').slideDown('slow');
        $('#GrpDesTr').hide();
        $('#GrpImgTr').hide();
        $('#GrpNamTr').show();
        $('#btnUpdGrpDesc').hide();
        $('#btnUpdGrpImg').hide();
        $('#btnUpdGrpNam').show();
        var Edtgrpname = $('#InfoGrpPopup').find('.editgrpNme').val();
        $('#grpNameTxt').val(Edtgrpname)
    });

    $('#InfoGrpPopup').on('click', '.EditGrpImg', function () {
        $('#groupDetailsTbl').slideUp('slow');
        $('#GrpInfoEditDiv').slideDown('slow');
        $('#GrpDesTr').hide();
        $('#GrpImgTr').show();
        $('#GrpNamTr').hide();
        $('#btnUpdGrpDesc').hide();
        $('#btnUpdGrpImg').show();
        $('#btnUpdGrpNam').hide();
    });

    $('#InfoGrpPopup').on('click', '.ClsDiv', function () {
        $('#GrpInfoEditDiv').slideUp('slow');
        $('#groupDetailsTbl').slideDown('slow');
    });

    $('#InfoGrpPopup').on('click', '#ImgUpload', function () {
        $("#grpImgUpload").click();
    });

    $("#InfoGrpPopup").on('click', '#btnUpdGrpNam', function () {
        if ($('#grpNameTxt').val() == "" || $('#grpNameTxt').val() == null) {
            var noty_alert = noty({
                layout: 'topRight',
                text: 'Enter Group name to be updated!',
                type: 'warning',
                timeout: 3000,
                maxVisible: 1,
                animation: {
                    open: { height: 'toggle' },
                    close: { height: 'toggle' },
                    easing: 'swing',
                    speed: 500
                }
            });
            return false;
        }
        else {
            $('.ClsDiv').click();
            var nameOfGrp = $('#grpNameTxt').val();
            var IdofGrp = $('.GroupInfoId').val();
            $.ajax({
                url: "../Trip/UpdateGroupName",
                type: "POST",
                data: { 'GroupId': IdofGrp, 'GroupName': nameOfGrp },
                dataType: "json",
                success: function (result) {
                    var noty_alert = noty({
                        layout: 'topRight',
                        text: 'Group name updated successfully',
                        type: 'success',
                        timeout: 3000,
                        maxVisible: 1,
                        animation: {
                            open: { height: 'toggle' },
                            close: { height: 'toggle' },
                            easing: 'swing',
                            speed: 500
                        }
                    });
                    setTimeout(function () { window.location.href = '../trip/group' }, 2000);
                }
            });
        }
    });

    $("#InfoGrpPopup").on('click', '#btnUpdGrpDesc', function () {
        if ($('#grpDescTxt').val() == "" || $('#grpDescTxt').val() == null) {
            var noty_alert = noty({
                layout: 'topRight',
                text: 'Enter something about the group to be updated!',
                type: 'warning',
                timeout: 3000,
                maxVisible: 1,
                animation: {
                    open: { height: 'toggle' },
                    close: { height: 'toggle' },
                    easing: 'swing',
                    speed: 500
                }
            });
            return false;
        }
        else {
            $('.ClsDiv').click();
            var nameOfGrp = $('#grpDescTxt').val();
            var IdofGrp = $('.GroupInfoId').val();
            $.ajax({
                url: "../Trip/UpdateGroupDescr",
                type: "POST",
                data: { 'GroupId': IdofGrp, 'GrpDescr': nameOfGrp },
                dataType: "json",
                success: function (result) {
                    var noty_alert = noty({
                        layout: 'topRight',
                        text: 'Group description updated successfully',
                        type: 'success',
                        timeout: 3000,
                        maxVisible: 1,
                        animation: {
                            open: { height: 'toggle' },
                            close: { height: 'toggle' },
                            easing: 'swing',
                            speed: 500
                        }
                    });
                    $('.js-modal-close').click();
                }
            });
        }
    });

    $("#InfoGrpPopup").on('click', '#btnUpdGrpImg', function () {
        if ($('#grpImgUpload').val() == "" || $('#grpImgUpload').val() == null) {
            if ($('#prevGrpImg').attr('src') == '../Content/images/GroupPics/GroupStatic.png') {
                var noty_alert = noty({
                    layout: 'topRight',
                    text: 'Upload the image to be updated!',
                    type: 'warning',
                    timeout: 3000,
                    maxVisible: 1,
                    animation: {
                        open: { height: 'toggle' },
                        close: { height: 'toggle' },
                        easing: 'swing',
                        speed: 500
                    }
                });
            }
            else {
                var noty_alert = noty({
                    layout: 'topRight',
                    text: 'Group image updated successfully',
                    type: 'success',
                    timeout: 3000,
                    maxVisible: 1,
                    animation: {
                        open: { height: 'toggle' },
                        close: { height: 'toggle' },
                        easing: 'swing',
                        speed: 500
                    }
                });
                $('.js-modal-close').click();
            }
            return false;
        }
        else {
            $('.ClsDiv').click();
            var IdofGrp = $('.GroupInfoId').val();
            $.ajax({
                url: "../Trip/UpdateGroupImg",
                type: "POST",
                data: { 'GroupId': IdofGrp },
                dataType: "json",
                success: function (result) {
                    var noty_alert = noty({
                        layout: 'topRight',
                        text: 'Group image updated successfully',
                        type: 'success',
                        timeout: 3000,
                        maxVisible: 1,
                        animation: {
                            open: { height: 'toggle' },
                            close: { height: 'toggle' },
                            easing: 'swing',
                            speed: 500
                        }
                    });
                    $('.js-modal-close').click();
                }
            });
        }
    });

    function readUpdateURL(inputfile) {
        if (inputfile.files && inputfile.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#prevGrpImg').attr('src', e.target.result);
            }
            reader.readAsDataURL(inputfile.files[0]);
            var formData = new FormData();
            var file = inputfile.files[0]
            var Extension = file.type.split('/').pop();
            formData.append("file", file);
            if (Extension == "bmp" || Extension == "gif" || Extension == "png" || Extension == "jpg" || Extension == "jpeg") {
                $.ajax({
                    cach: false,
                    async: false,
                    type: "POST",
                    url: '../Trip/UploadGroupIcon',
                    data: formData,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    success: function () {
                    },
                    error: function (error) {
                    }
                });
            }
            else {
                var notify_alert = noty({
                    layout: 'topRight',
                    text: 'Invalid File!..',
                    type: 'warning',
                    timeout: 3000,
                    maxVisible: 1,
                    animation: {
                        open: { height: 'toggle' },
                        close: { height: 'toggle' },
                        easing: 'swing',
                        speed: 500
                    }
                });
                return false;
            }
        }
    }

    $('#InfoGrpPopup').on('change', '#grpImgUpload', function () {
        readUpdateURL(this);
    });

    function gridviewScroll() {
        gridView1 = $('[id*=GrdDynamic]').gridviewScroll({
            width: $(window).innerWidth,
            height: 350,
            railcolor: "#F0F0F0",
            barcolor: "#CDCDCD",
            barhovercolor: "#606060",
            bgcolor: "#F0F0F0",
            freezesize: 2,
            arrowsize: 16,
            varrowtopimg: "../Scripts/GridViewScroll/Images/arrowvt.png",
            varrowbottomimg: "../Scripts/GridViewScroll/Images/arrowvb.png",
            harrowleftimg: "../Scripts/GridViewScroll/Images/arrowhl.png",
            harrowrightimg: "../Scripts/GridViewScroll/Images/arrowhr.png",
            headerrowcount: 1,
            railsize: 16,
            barsize: 8
        });
    }
</script>