﻿@model eztripStart.Models.NewData
@{
    var data = Session["username"];
}
<section class="row-home">
    <figure class="logo"><a href="~/Trip/Index"><img src="~/Content/images/logo.png" width="180" height="37" alt="1EZTRIP"></a></figure>
    <nav>
        <aside class="menu">
            <ul>
                <li><a href="../Trip/Index" class="active">Home</a></li>
                <li><a href="@Url.Action("ViewMyProfile", "Trip")">My Profile</a></li>
                <li class="last" id="liMyAccount">
                    <a id=slide class="ignore_click" href="#register">My Account / Register</a>
                    <input type="hidden" id="hidmyacc" value="1" />
                    <div class="slide-close slide1" style="margin-left: -65px;">
                        <div class="home-login" id="loginpopup">
                            <h2>Login to 1ezTrip</h2>
                            <div class="label">Email Id</div>
                            @Html.TextBoxFor(m => m.username, new { id = "txtloginmail", placeholder = "Enter Your Mail Id", @class = "ignore_click" })
                            <div id="lblpwd" class="label">Password</div>
                            @Html.PasswordFor(m => m.pwd, new { id = "txtloginpwd", placeholder = "Enter Your Password", @class = "ignore_click" })
                            <div class="clear"></div>
                            <p id="field" class="label" style="color:white;font-style:normal;"><span style="color:red">*</span> All fields are mandatory</p>
                            <div></div>
                            <input type="submit" class="ignore_click" value="Submit" name="" id="btnlogin">
                            <input type="submit" class="ignore_click" style="margin-left:2px;" value="Clear" name="" id="btntxtclear">
                            <br />
                            <div class="label2" style="width:100%; font-size:12px">
                                <a href="#" class="ignore_click" style="border:0px;" onclick="$('#loginpopup').hide(); $('#newuserpopup').show();">forgot password?</a>
                                <a href="#" class="ignore_click" style="border:0px;" onclick="$('#loginpopup').hide(); $('#registerpopup').show();">New User</a>
                                <fb:login-button autologoutlink="true" perms="read_friendlists, create_event, email, publish_stream" ></fb:login-button>
                                @Html.Partial("fbpartial")
                            </div>
                        </div>
                        <div class="home-login" style="display:none;" id="newuserpopup">
                            <h2>Forgot Password</h2>
                            <div class="label">Email Id</div>
                            @Html.TextBoxFor(m => m.username, new { id = "txtforgotmail", placeholder = "Enter Your Mail Id", @class = "ignore_click" })
                            <div class="clear"></div>
                            <div></div>
                            <input type="submit" class="ignore_click" value="Send Mail" name="" id="btnsend">
                            <input type="submit" class="ignore_click" style="margin-left:2px;" value="Clear" name="" id="btnpwdclear">
                            <br />
                            <div class="label2" style="width:100%;">
                                <a href="#" class="ignore_click" style="border:0px;" onclick="$('#newuserpopup').hide(); $('#loginpopup').show();">Login</a>
                                <a href="#" class="ignore_click" style="border:0px;" onclick="$('#newuserpopup').hide(); $('#registerpopup').show();">New User/Register</a>
                            </div>
                        </div>
                        <div class="home-login" style="display:none;" id="registerpopup">
                            <h2>Registration</h2>
                            <div class="label">First Name</div>
                            @Html.TextBoxFor(m => m.firstname, new { id = "txtregfirstname", placeholder = "Enter Your First Name", @class = "ignore_click" })
                            <br /><br /><br /><br />
                            <span id="errms"></span>
                            <div id="lblpwd" class="label">Last Name</div>
                            @Html.TextBoxFor(m => m.lastname, new { id = "txtreglastname", placeholder = "Enter Your Last Name", @class = "ignore_click" })
                            <br /><br /><br /><br />
                            <span id="errms1"></span>
                            <div class="label">Email Id</div>
                            @Html.TextBoxFor(m => m.mail, new { id = "txtregmail", placeholder = "Enter Your Email Id", @class = "ignore_click" })
                            <div class="label">Password</div>
                            @Html.PasswordFor(m => m.password, new { id = "txtregpwd", placeholder = "Password", @class = "ignore_click" })
                            <div class="label">Confirm Password</div>
                            <input type="password" id="txtregconpwd" placeholder="Confirm Password" class="ignore_click" />
                            <div class="clear"></div>
                            <p id="field" class="label" style="color: white;"><span style="color:red;">*</span> All fields are mandatory</p>
                            <div></div>
                            <input type="submit" class="ignore_click" value="Submit" name="" id="btnregsubmit">
                            <input type="submit" class="ignore_click" style="margin-left:2px;" value="Clear" name="" id="btnregclear">
                            <fb:login-button autologoutlink="true" perms="read_friendlists, create_event, email, publish_stream"></fb:login-button>
                            @Html.Partial("fbpartial")
                            <br />
                            <div class="label2" style="width:100%;">
                                <a href="#" class="ignore_click" style="border:0px;" onclick="$('#registerpopup').hide(); $('#loginpopup').show();">Login</a>
                                <a href="#" class="ignore_click" style="border:0px;" onclick="$('#registerpopup').hide(); $('#newuserpopup').show();">forgot password?</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </aside>
        <div id="wel-mem" style="display:none; width:350px;">
            <ul>
                <li style="width:190px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;">Hi<label id="lblusername">@data</label></li>
                <li class="last">
                <a href="../Trip/Index" onclick="return Test();">Logout
                   </a>
                </li>
            </ul>
        </div>
    </nav>
</section>