﻿@{
    ViewBag.Title = "Help";
    var Contents = TempData["content"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>1EZ TRIP</title>
    <link rel="shortcut icon" href="../Content/images/location-home-icon.png" />
    <link rel="stylesheet" href="~/Content/css/style-1eztrip.css" type="text/css">
</head>
<body>
    <header>
        <section class="row-home">
            <figure class="logo"><a href="~/Trip/Index"><img src="~/Content/images/logo.png" width="180" height="37" alt="1EZTRIP"></a></figure>
            <nav>
                <aside class="menu">
                    <ul>
                        <li><a href="~/Trip/Index" class="active">Home</a></li>
                    </ul>
                </aside>
            </nav>
        </section>
    </header>
    <section class="banner">
        <article class="inner-banner">
            <figure><img src="~/Content/images/AppImages/aboutbanner.jpg" alt="" /></figure>
        </article>
    </section>
    <section class="inner-wrapper">
        <section class="row-home">
            <article class="inner-cont">
                <h2>Help</h2>
                <aside class="inner-right">
                    <p class="top-para">@Html.Raw(Contents)</p>
                </aside>
            </article>
        </section>
    </section>
    <div class="clear"></div>
    @Html.Partial("Footer_PartialView")
    <script type="text/javascript" src="~/Scripts/js/html5.js"></script>
    <script type="text/javascript" src="~/Scripts/js/respond.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.js"></script>
    <script type="text/javascript" src="~/Scripts/js/common.js"></script>
</body>
</html>