﻿
@model eztripStart.Models.NewData
@{
    ViewBag.Title = ":: 1EZ TRIP ::";
    var UserName = Session["username"];
    var Id = Session["LoggedUserId"];
    var Email = Session["UserMailId"];
    var CurrentTripid = Session["CurrentLoggedTripId"];
    var CurrentTripDate = Session["CurrentTripDate"];
    var Price = ViewData["Price"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title> 1EZ TRIP</title>
    <link rel="shortcut icon" href="../Content/images/location-home-icon.png" />
    <!--  CSS  -->
    <link rel="stylesheet" href="~/bundles/IndexCss" />  
    @*<link href="~/Content/Extracss/index.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="~/Content/css/style-1eztrip.css" type="text/css">
      
    @*<link rel="stylesheet" href="~/bundles/IndexStyleCss" />*@
    <!--[if IE 9]><link rel="stylesheet" href="css/ie.css" type="text/css"><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" href="css/ie8.css" type="text/css"><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    
    @*<link href="~/Content/css/jquery-ui-1.11.2.css" rel="stylesheet" />
    <link href="~/Content/Extracss/index.css" rel="stylesheet" />*@
    @*<link href="~/Content/Intro/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/Content/Intro/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/Content/Intro/Intro.css" rel="stylesheet" />    
</head>
<body id="WholePart">
    <header>
        <section class="row-home" style="border-radius: 8px;">
            <figure class="logo"><a href="#"><img src="~/Content/images/logo.png" width="180" height="37" alt="1EZTRIP"></a></figure>
            <nav>
                @Html.Partial("~/Views/Shared/Index/login.cshtml")
                <div id="wel-mem" style="display:none;">
                    <ul>
                        <input type="hidden" id="cityPrice" value="@Price"/>
                        <!--style ="text-overflow: ellipsis; white-space: nowrap; overflow: hidden; width: 60%;"-->           
                    <li>Hi<label id="lblusername">@UserName</label></li>
                        <li class="last">
                            <a href="#" onclick="return Logout();">
                                Logout
                            </a>
                        </li>
                    </ul><input type="hidden" id="LoggedUserId" value="@Id">
                    <input type="hidden" id="CurrentTripId" value="@CurrentTripid" />
                    <input type="hidden" id="CurrentTripDate" value="@CurrentTripDate" />
                </div>
            </nav>
        </section>
    </header>
    <section class="banner">
        <div class="flexslider">
            <ul class="slides">
                <li><img src="~/Content/images/AppImages/home-banner1.jpg" /></li>
                <li><img src="~/Content/images/AppImages/home-banner2.jpg" /></li>
                <li><img src="~/Content/images/AppImages/home-banner3.jpg" /></li>
                <li><img src="~/Content/images/AppImages/home-banner4.jpg" /></li>
                <li><img src="~/Content/images/AppImages/home-banner5.jpg" /></li>
                <li><img src="~/Content/images/AppImages/home-banner6.jpg" /></li>
            </ul>
            <section class="row-home">
                <article class="flex-caption" style="border-radius:4px;">
                    <h3><strong>Plan your</strong> perfect trip</h3>
                    <p>1ezTrip lets you plan your next trip in 3 easy steps. Just select your destination, preferences and we will create your perfect itinerary. Yes, of course, you can customize the suggested itinerary.</p>
                    <aside class="dest">
                        <label>Destination</label>
                        @Html.TextBoxFor(m => m.indexcity, new { id = "desttext", placeholder = "Enter Destination" })
                        <input type="submit" id="btnsubmit" value="Plan My Trip" disabled />
                        <div id="loadingcityname" style="height:20%;width:30%;top:60%;padding-top:35%;padding-bottom:0%;padding-left:20%;left:20%"></div>
                    </aside>
                </article>
                <article class="banner-link">
                    <aside class="fl" id="scrollToDestinations">
                        <a href="#"><input type="submit" value="Popular Destinations" /></a>
                    </aside>
                    <aside class="fr" id="scrollToItineraries">
                        <a href="#"><input type="submit" value="Popular Itineraries" /></a>
                    </aside>                  
                </article>
            </section>
        </div>
    </section>
    <section class="services-wrapper">
        <section class="row-home">
            <article class="services">
                <h2>Travel Planning Made Easy</h2>
                <h6>An average traveler spends about 30 hours in planning a trip. 1ezTrip eliminates all the hassles of trip planning and helps you create your perfect itinerary in just 3 easy steps.</h6>
                <aside class="services-box">
                    <figure><img src="~/Content/images/restaurant-home-icon.png" alt="" class="zoomMeImage" /></figure>
                    <h3>Destination and Preferences </h3>
                    <p>
                        Pick your travel destination, dates and preferences around types of attractions and activities that interest you.
                    </p>
                </aside>
                <aside class="services-box">
                    <figure><img src="~/Content/images/hotel-home-icon.png" alt="" class="zoomMeImage" /></figure>
                    <h3>Customize Suggested Itinerary</h3>
                    <p>
                        Our proprietary algorithm will automatically create the best itinerary but you can always further customize based on your liking.
                    </p>
                </aside>
                <aside class="services-box services-box-last">
                    <figure><img src="~/Content/images/activity-home-icon.png" alt="" class="zoomMeImage" /></figure>
                    <h3>Finalize and <br>Travel</h3>
                    <p>
                        Finalize your itinerary, make your reservations and start packing!
                    </p>
                </aside>
                @*<aside class="services-box-last services-box">
                    <figure><img src="~/Content/images/location-home-icon.png" alt="" class="zoomMeImage" /></figure>
                    <h3>location</h3>
                    <p>
                        Lorem ipsum dolor sit amet,
                        consectetur. Etiam pellentesque aliquet tellus.
                    </p>
                </aside>*@
            </article>
        </section>
    </section>
    <section class="row">
        <article class="curve-bor-dest"></article>
    </section>
    @Html.Partial("~/Views/Shared/Index/Destpopup.cshtml")
    <section class="row">
        <article class="curve-bor-destend"></article>
    </section>
    <section class="row-home">
        <article class="itineraries" id="Itineraries">
            <h2>Top Itineraries</h2>
            <aside class="itin-left">
                <p>
                    Pick from one of our top itineraries and customize it to your preference.
                </p>
                <span>
                    <a href="#">
                        <input id="view1" class="ignore_click" type="submit" value="View More" />
                    </a>
                </span>
            </aside>
            <aside class="itin-right">
                <div id="itineries" class="owl-carousel">
                    <div class="item"></div>
                    <div class="item"></div>
                    <div class="item"></div>
                    <div class="item"></div>
                    <div class="item"></div>
                    <div class="item"></div>
                </div>
            </aside>
        </article>
    </section>
       <div id="PageIntro"><a class="btn btn-large btn-success" href="http://52.10.216.178/trip/EzTripGuide" target="_blank">How it works</a></div>
        <div class="clear"></div>
        @Html.Partial("Footer_PartialView")
        <!-- Script -->
        @*<script src="~/Scripts/js/Facebook.js"></script>
            <script src="~/Scripts/js/common.js"></script>*@
        @*<script src="~/Scripts/jquery-1.8.2.min.js"></script>*@
    <script src="~/Scripts/js/Jquery1.11.1.min.js"></script>
            @*<script type="text/javascript" src="~/Scripts/js/html5.js"></script>
            <script type="text/javascript" src="~/Scripts/js/respond.js"></script>
            <script type="text/javascript" src="~/Scripts/js/jquery.js"></script>*@
<script src="~/bundles/JsForIndex"></script>
    @*<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDTMTi7gigB_pDaXObiF9wPe9WdSH-y9uU&libraries=places"></script>*@
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA_USvPi4ptRBaatiWitp6IclwHjzdhhCI &libraries=places"></script>
    @*<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>*@
        <script src="~/Scripts/js/Block.ui.js"></script>
    <script src="~/Scripts/js/Facebook.js"></script>
    <script src="~/Content/Intro/intro.js"></script>
        @*<script type="text/javascript" src="~/Scripts/js/ddsmoothmenu.js"></script>*@
        @*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>*@
        <script>window.jQuery || document.write('<script src="~/Scripts/js/jquery-1.11.0.min.js"><\/script>')</script>
        <!-- Google CDN jQuery UI with fallback to local -->
        <script>window.jQuery.ui || document.write('<script src="../Scripts/js/jquery-ui-1.10.4.min.js"><\/script>')</script>
        @*<script type="text/javascript" src="~/Scripts/js/jquery.mCustomScrollbar.concat.min.js"></script>*@
        <!-- jQuery Custombox JS end-->
        @*<script type="text/javascript" src="~/Scripts/js/jquery.flexisel.js"></script>
            <script type="text/javascript" src="~/Scripts/js/jquery.bxslider.js"></script>*@
        @*<script src="~/Scripts/ajax-libs-jqueryui-1.8.1-jquery-ui.min.js"></script>*@
        @*<script type="text/javascript" src="~/Scripts/js/jquery.flexslider-min.js"></script>*@
        @*<script type="text/javascript" src="~/Scripts/js/ddsmoothmenu.js"></script>*@
        @*<script type="text/javascript" src="~/Scripts/js/jquery.meanmenu.js"></script>*@
        @*<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>*@
        @*<script src="~/Scripts/loading_plugin_js/jquery.noty.packaged.min.js"></script>*@
        @*<script type="text/javascript" src="~/Scripts/js/accordion.js"></script>*@
        <script src="~/Scripts/Jsfiles/IndexPage.js"></script>
    <script src="~/Scripts/Jsfiles/CurrentItenaries.js"></script>
</body>
</html>