﻿@model eztripStart.Models.NewData
@{
    if (Session["username"] == null || Session["LoggedUserId"] == null)
    {
        Response.Redirect("~/Trip/Index");
    }
    var username = Session["username"];
    var LoggedUserId = Session["LoggedUserId"];
    var LoggedUserMailId = ViewData["UserMail"];
    var CurrentTripid = Session["LoggedTripId"];
}

<html lang="en" ng-app="GroupApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>1EZ TRIP</title>
    <link rel="shortcut icon" href="../Content/images/location-home-icon.png" />
    <!--  CSS  -->
    <script src="~/Scripts/js/angular.min.js"></script>
    <link rel="stylesheet" href="~/Content/css/style-1eztrip.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/jquery.ui.css" type="text/css">
    <script src="~/Scripts/jquery.1.7.2.js"></script>
    <script src="~/Scripts/jquery.1.8.9.js"></script>
    <link href="~/Content/jquery.1.8.9.css" rel="stylesheet" />


    <!--[if IE 9]><link rel="stylesheet" href="css/ie.css" type="text/css"><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" href="css/ie8.css" type="text/css"><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">

        $(function () {
            var appendthis = ("<div class='modal-overlay js-modal-close'></div>");
            $('a[data-modal-id]').click(function (e) {
                e.preventDefault();
                var GroupId = $(this).data('value');
                var GroupName = $('#' + GroupId).val();
                $('#AddMemberGroupMailId').val(GroupId);
                $('#AddMemberGroupName').val(GroupName);
                $("body").append(appendthis);
                $(".modal-overlay").fadeTo(500, 0.7);
                var modalBox = $(this).attr('data-modal-id');
                $('#' + modalBox).fadeIn($(this).data());
            });

            $(".js-modal-close, .modal-overlay").click(function () {
                $(".modal-box, .modal-overlay").fadeOut(500, function () {
                    $(".modal-overlay").remove();
                });
            });


            $(window).resize(function () {
                $(".modal-box").css({
                    top: ($(window).height() - $(".modal-box").outerHeight()) / 2,
                    left: ($(window).width() - $(".modal-box").outerWidth()) / 2
                });
            });
            $(window).resize();
        });

    </script>

    <link href="~/Content/css/poup.css" rel="stylesheet" />
    <style type="text/css">
        #OnChangeMailId {
            background: #ededed;
            color: #666666;
            font-size: 14px;
            font-family: 'open_sansregular';
            border: 1px solid #e1e1e1;
            border-radius: 4px;
            line-height: 42px;
            height:40px;
            padding-left: 10px;
            width: 82%;
            padding: 0 2%;
            margin-bottom: 20px;
            margin-top: 5px;
            box-shadow: none !important;
        }
        #testbutton {
            width: 8%;
            border-radius: 8px;
            border: 1px solid black;
            height: 25px;
            margin-left: 2%;
            margin-top: 15px;
        }
        a.tooltip {
            position: relative;
            display: inline;
        }
            a.tooltip span {
                position: absolute;
                left: 50%;
                width: 140px;
                padding: 6px;
                margin-left: -76px;
                background: #000;
                color: #fff;
                text-align: center;
                visibility: hidden;
                border-radius: 5px;
            }
                a.tooltip span:after {
                    content: '';
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    margin-left: -8px;
                    width: 0;
                    height: 0;
                    border-top: 8px solid black;
                    border-right: 8px solid transparent;
                    border-left: 8px solid transparent;
                }
        a:hover.tooltip span {
            visibility: visible;
            opacity: 0.8;
            bottom: 0px;
            left: -20px;
            z-index: 999;
        }

        a#fb_invite {
            background: #033363;
            color: #fff;
            text-transform: uppercase;
            font-size: 18px;
            font-family: 'open_sansregular';
            border-radius: 5px;
            padding: 5px 14px;
            margin-right: 20px;
            cursor: pointer;
            margin-top: 10px;
            border: 1px solid black;
        }

        a#fb_invite:hover {
            background: #01A5CD;
            color: #033363;
        }

        #fbDiv {
            margin-top: 20px;
            color: #01A5CD;
            font-size: x-large;
        }

        #mailInvt, #fbInvt {
            background: #033363;
            color: #fff;
            text-transform: uppercase;
            font-size: 18px;
            font-family: 'open_sansregular';
            border-radius: 5px;
            padding: 5px 14px;
            margin-right: 20px;
            cursor: pointer;
			float:left;
            margin-top: 10px;
            border: 1px solid black;
        }

    </style>
    <script src="~/Scripts/js/Jquery1.11.1.min.js"></script>
</head>
<body ng-controller="SaveGroup" id="WholePart">
    <header>
        <section class="row">
            <figure class="logo"><a href="~/Trip/Index" id="#logo"><img src="~/Content/images/logo.png" width="180" height="37" alt="1EZTRIP"></a></figure>
            <nav>
                <aside class="menu">
                    <ul>
                        <li><a href="~/Trip/Index" class="active">Home</a></li>
                        <li style="display:none;"><a href="javascript:;" id="CurrentIternary" class="active">Current itinerary</a><input type="hidden" id="CurrentTripId" value="@CurrentTripid" /></li>
                        <li><a href="@Url.Action("MyTrips", "Trip")">My Trips</a></li>
                        <li><a href="@Url.Action("ViewMyProfile", "Trip")">My Account</a><a id="notificationCount" class="notifications" href="@Url.Action("Notification", "Trip")" title="Notifications" style="display:none;"></a></li>
                    </ul>
                </aside>
                <div id="wel-mem">
                    <ul>
                        <li>Hi<label id="lblusername">@username</label></li>
                        <input type="hidden" id="LoggedUserId" value="@LoggedUserId" />
                        <input type='hidden' value="@LoggedUserMailId" id="Loggedmailid" />
                        <li class="last"><a href="#" onclick="return logout();">Logout</a></li>
                    </ul>
                </div>
            </nav>
        </section>
    </header>
    <section>
        <section class="row-table">
            <div class="profile">
                <div class="profile-left">
                    <div class="photo">
                        @{
                            if (ViewBag.ProfilePic == null || ViewBag.ProfilePic.ToString() == "")
                            {
                                <img src="../Content/images/ProfilePics/avatar.jpg" style="height:224px;width:244px;border-radius:4px;">
                            }
                            else
                            {
                                <img id="ProfilePhoto" src="../Content/images/ProfilePics/@ViewBag.ProfilePic" style="border-radius:4px;">
                            }
                        }
                    </div>
                    <a href="@Url.Action("ViewMyProfile","Trip")">
                        <div class="user-profile "><div><img src="~/Content/images/user_pro_img.png">User Profile</div></div>
                    </a>
                    <a href="@Url.Action("UpdateMyProfile","Trip")">
                        <div class="edit-profile"><div><img src="~/Content/images/edit_pro_icon.png"> Edit Profile</div></div>
                    </a>
                    <a href="@Url.Action("MyTrips","Trip")"><div class="edit-profile "><div><img src="~/Content/images/trips_img.png"> My Trips</div></div></a>
                    <a href="@Url.Action("Group","Trip")"><div class="edit-profile "><div><img src="~/Content/images/group-icon.png">Group</div></div></a>
                    <a href="@Url.Action("Notification", "Trip")"><div class="edit-profile"><div><img src="~/Content/images/notify_icon.png">Notification</div></div></a>
                    <a href="@Url.Action("Invite", "Trip")"><div class="edit-profile selected"><div><img src="~/Content/images/invite_icon.png">Invite</div></div></a>
                </div>

                <div class="profile-right btn-center" style="min-height: 645px;">
                    <span id="mailInvt"> Invite through E-mail <img src="~/Content/images/arrow-btn-gray.png" /></span>
                    <span id="fbInvt"> Invite throgh Facebook<img src="~/Content/images/arrow-btn-gray.png" /></span>
                    <div class="on-going-plans" id="Testid" style="display:none;">
                        <form name="addFriend">
                            <table cellpadding="2" cellspacing="1" style="width:100%; border:none;">
                                <tbody style="width:50%;">
                                    <tr style="width:50%;">
                                        <td style="width: 40%;"> Friends Name </td>

                                        <td style="width: 60%;">
                                            <input type="text" id="FriendName" ng-model="FriendName" placeholder="Friend's Name" style="background: #ededed;
                                                color: #666666;font-size: 14px;font-family: 'open_sansregular';border: 1px solid #e1e1e1;border-radius: 4px;line-height: 42px;
                                                height:40px;padding-left: 10px;width: 82%;padding: 0 2%;margin-bottom: 20px;margin-top: 5px;box-shadow: none !important;" />
                                        </td>
                                    </tr>
                                    <tr style="width:50%;">
                                        <td style="width: 40%;">Invite Friends </td>
                                        <td style="width: 60%;">
                                            <input type="email" name="email" ng-model="FriendMail" placeholder="MailId" id="OnChangeMailId" />
                                            <a class="tooltip" href="#">
                                                <button type="submit" id="testbutton" ng-disabled="addFriend.email.$dirty && addFriend.email.$invalid" ng-click="AddMail()">+</button>
                                                <span>Add your friend's Email-Id to list</span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 40%;"></td>
                                        <td style="width: 60%;">
                                            <input type="submit" id="btn_Refresh" value="Refresh" style="display:none;" data-ng-click="Refresh()" />
                                            <div class="uname-div" id="UserDetailList" style="width:90%;">

                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td id="Query"></td>
                                    </tr>
                                    <tr>
                                        <td style="width: 40%;"></td>
                                        <td style="width: 60%;">
                                            <div class="editpro-buttons">
                                                <input type="submit" value="Invite" data-ng-click="Invite()" data-ng-disabled="!addFriend.$valid" style="width: 28%;border-radius: 8px;border: 1px solid black;" />
                                                <input type="submit" value="Clear" data-ng-click="Clear()" style="width: 28%;border-radius: 8px;border: 1px solid black;" />
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                    <div id="fbDiv" style="display:none;">
                        <div id="facebook_invite">
                        </div>
                        <br />                    
                        Invite your friends through facebook.
                        <br />
                        <br/>
                        <a href="#" id="fb_invite">Facebook Invite</a>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <div class="clear"></div>
    @Html.Partial("~/Views/Shared/Footer-Small.cshtml")
    <script type="text/javascript" src="~/Scripts/js/html5.js"></script>
    <script type="text/javascript" src="~/Scripts/js/respond.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.js"></script>
    <!-- Google CDN jQuery with fallback to local -->
    <script src="~/Scripts/js/jquery-1.11.0.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../js/minified/jquery-1.11.0.min.js"><\/script>')</script>
    <script type="text/javascript" src="~/Scripts/js/common.js"></script>
    <script src="~/Scripts/loading_plugin_js/jquery.noty.packaged.min.js"></script>
    <script src="~/Scripts/js/Block.ui.js"></script>
    <script src="~/Scripts/Jsfiles/CurrentItenaries.js"></script> 
    <script>

        $(document).ready(function () {
            //$("#fbDiv").hide();
            //$("#Testid").hide();
            var totalNotificationCount;
            $.ajax({
                url: '../Trip/GetNotificationCount',
                type: "POST",
                async: false,
                dataType: "json",
                success: function (result) {
                    totalNotificationCount = result;
                    if (totalNotificationCount > 0) {
                        $("#notificationCount").show();
                        $("#notificationCount").text(totalNotificationCount);
                    } else {
                        $("#notificationCount").hide();

                    }
                }
            });
        });

        var App = angular.module("GroupApp", []);
        App.controller('SaveGroup', function ($scope, $http) {
            $scope.EmailId = [];
            $scope.exporting = true;
            /*****************Clear The TextBox**************/
            $scope.Clear = function () {
                $scope.FriendMail = '';
                $scope.FriendName = '';
                $('#UserDetailList').html('');
            }
            /***************End Of Clear TextBox*****************/
            $scope.Refresh = function () {
                $scope.EmailId.length = 0;
                var Count = $('#UserDetailList').find('div').length;
                for (var cnt = 0; cnt < Count; cnt++) {
                    $scope.EmailId.push($('#UserDetailList').find('div').eq(cnt).find('p').eq(0).html());
                }
            }
            /*******************On Change Event******************/
            $scope.AddMail = function () {
                if ($scope.FriendMail == '' || $scope.FriendMail == undefined || $scope.FriendName == '' || $scope.FriendName == undefined) {
                    if ($scope.FriendName == '' || $scope.FriendName == undefined) {
                        var notify_alert = noty({
                            layout: 'topRight',
                            text: 'Please enter your friend\'s name..',
                            type: 'warning',
                            timeout: 2000,
                            maxVisible: 1,
                            animation: {
                                open: { height: 'toggle' },
                                close: { height: 'toggle' },
                                easing: 'swing',
                                speed: 500
                            }
                        });
                    }
                    else {
                        var notify_alert = noty({
                            layout: 'topRight',
                            text: 'Please enter your friend\'s Email-Id',
                            type: 'warning',
                            timeout: 2000,
                            maxVisible: 1,
                            animation: {
                                open: { height: 'toggle' },
                                close: { height: 'toggle' },
                                easing: 'swing',
                                speed: 500
                            }
                        });
                    }
                }
                else {
                    var EmailTxt = $('#OnChangeMailId').val().toLowerCase();
                    var filter = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
                    if (!filter.test(EmailTxt)) {
                        var noty_alert = noty({
                            layout: 'topRight',
                            text: 'In-Valid Email address..',
                            type: 'warning',
                            timeout: 3000,
                            maxVisible: 1,
                            animation: {
                                open: { height: 'toggle' },
                                close: { height: 'toggle' },
                                easing: 'swing',
                                speed: 500
                            }
                        });
                        $('#OnChangeMailId').focus();
                        $('#OnChangeMailId').val("");
                    }
                    else if ($.inArray($scope.FriendMail, $scope.EmailId) == -1) {
                        $scope.EmailId.push($scope.FriendMail);
                        var test = "<div id=" + $scope.EmailId.length + "><p>" + $scope.FriendName + "</p>-<p>" + $scope.FriendMail + "</p><a href='#'  onclick='DeleteUserDetails(\"" + $scope.EmailId.length + "\")'><img src='../Content/images/remove-icon.png'/></a></div>";
                        $('#UserDetailList').append(test);
                        $scope.FriendMail = '';
                        $scope.FriendName = '';
                    }
                    else {
                        var notify_alert = noty({
                            layout: 'topRight',
                            text: 'Already added',
                            type: 'success',
                            timeout: 2000,
                            maxVisible: 1,
                            animation: {
                                open: { height: 'toggle' },
                                close: { height: 'toggle' },
                                easing: 'swing',
                                speed: 500
                            }
                        });
                        $scope.FriendMail = '';
                        $scope.FriendName = '';
                    }
                }
            }
            /***************End of On Change Event**************/
            /*******************Save Group Function**************/
            $scope.Invite = function () {
                var NewMailId = "", Exist = "", Name = "";
                $('#WholePart').block({
                    message: 'Inviting your friends through mail,please wait..',
                    css: {
                        border: 'none',
                        padding: '15px',
                        float: 'right',
                        'margin-right': '0%',
                        backgroundColor: '#2592E0',
                        '-webkit-border-radius': '10px',
                        '-moz-border-radius': '10px',
                        opacity: .5,
                        color: '#fff'
                    }
                });
                for ($scope.cnt = 0; $scope.cnt < $scope.EmailId.length; $scope.cnt++) {
                    if ($scope.cnt == 0) {
                        Exist = $scope.EmailId[$scope.cnt];
                    }
                    else {
                        Exist += "|" + $scope.EmailId[$scope.cnt];
                    }
                }
                var Count = $('#UserDetailList').find('div').length;

                for (var i = 0; i < Count; i++) {
                    if (i == 0) {
                        Name = $('#UserDetailList').find('div').eq(i).find('p').eq(0).html();
                    }
                    else {
                        Name += $('#UserDetailList').find('div').eq(i).find('p').eq(0).html();
                    }
                }
                var dataObject = {
                    ExistMember: Exist,
                    MemberIndividualName: Name
                };

                $.ajax({
                    url: "../Trip/InviteFriends",
                    type: "POST",
                    data: dataObject,
                    dataType: "json",
                    success: function (result) {
                        $('#WholePart').unblock();
                        var notify_alert = noty({
                            layout: 'topRight',
                            text: 'Your invitation has been sent sucessfully',
                            type: 'success',
                            timeout: 2000,
                            maxVisible: 1,
                            animation: {
                                open: { height: 'toggle' },
                                close: { height: 'toggle' },
                                easing: 'swing',
                                speed: 500
                            }
                        });
                        setTimeout(RefreshPage, 1000);
                    },
                    error: function (result) {
                        $('#WholePart').unblock();
                        var notify_alert = noty({
                            layout: 'topRight',
                            text: 'Oops! something went wrong. Please try again..',
                            type: 'warning',
                            timeout: 2000,
                            maxVisible: 1,
                            animation: {
                                open: { height: 'toggle' },
                                close: { height: 'toggle' },
                                easing: 'swing',
                                speed: 500
                            }
                        });
                        setTimeout(RefreshPage, 1000);
                    }
                });
            }
            /**************End of Save Group************/
        });

        function RefreshPage() {
            var url = '../Trip/Invite';
            window.location.href = url;
        }

        $("#FriendName,#OnChangeMailId").on({
            keydown: function (e) {
                if (e.which === 32)
                    return false;
            },
            change: function () {
                this.value = this.value.replace(/\s/g, "");
            }
        });

        function DeleteUserDetails(MailId) {
            $('#' + MailId).remove();
            $('#btn_Refresh').trigger('click');
        }

        $("#mailInvt").click(function () {
            $("#fbDiv").hide();
            $("#Testid").slideToggle();
        });

        $("#fbInvt").click(function () {
            $("#Testid").hide();
            $("#fbDiv").slideToggle();
        });

        window.fbAsyncInit = function () {
            FB.init({
                appId: '1052975758054793',
                status: true,
                cookie: true,
                xfbml: true
            });
            $("#fb_invite").click(function () {
                //alert("fb");
                var userName = $("#lblusername").html();
                var obj = {
                    method: "apprequests",
                    message: "Invite your friends to 1EzTrip"
                };
                FB.ui(obj, callback);
            });
            function callback(response) {
                var resObj = response;
                //alert(response);
                if (response) {
                    var noty_alert = noty({
                        layout: 'topRight',
                        text: 'Your friends are invited successfully..',
                        type: 'success',
                        timeout: 3000,
                        maxVisible: 1,
                        animation: {
                            open: { height: 'toggle' },
                            close: { height: 'toggle' },
                            easing: 'swing',
                            speed: 500
                        }
                    });
                }
                else {
                    //var noty_alert = noty({
                    //    layout: 'topRight',
                    //    text: 'Oops something went wrong. Please try again.',
                    //    type: 'warning',
                    //    timeout: 3000,
                    //    maxVisible: 1,
                    //    animation: {
                    //        open: { height: 'toggle' },
                    //        close: { height: 'toggle' },
                    //        easing: 'swing',
                    //        speed: 500
                    //    }
                    //});
                }
            }
        };

        $(function () {
            var e = document.createElement('script'); e.async = true;
            e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
            document.getElementById('facebook_invite').appendChild(e);
            $("#facebook_invite").hide();
        }());

        function logout() {
            noty({
                layout: 'topRight',
                type: 'confirm',
                maxVisible: 1,
                modal: true,
                text: 'Do you really want to logout?',
                buttons: [
                    {
                        addClass: 'btn btn-primary', text: 'Ok', onClick: function ($noty) {
                            $noty.close();
                            chck_logout = 1;
                            $.ajax({
                                type: "POST",
                                url: '../Trip/ClearLoginSession',
                                success: function () {
                                    localStorage.removeItem('IsSavedinDB5');
                                    window.location.href = "../trip/index";
                                }
                            });
                            FB.logout();
                        }
                    },
                    {
                        addClass: 'btn btn-danger', text: 'Cancel', onClick: function ($noty) {
                            $noty.close();
                            return false;
                        }
                    }
                ]
            });
        }
    </script>    
</body>
</html>