﻿
@{
    Layout = null;
    var CurrentTripid = Session["LoggedTripId"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>1EZ TRIP</title>
    <link rel="shortcut icon" href="../Content/images/location-home-icon.png" />
    <!--  CSS  -->
    <link rel="stylesheet" href="~/Content/css/style-1eztrip.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/jquery.mCustomScrollbar.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/jquery.ui.css" type="text/css">
    <!--[if IE 9]><link rel="stylesheet" href="css/ie.css" type="text/css"><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" href="css/ie8.css" type="text/css"><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <header>
        <section class="row">
            <figure class="logo"><a href="~/Trip/Index" id="#logo"><img src="~/Content/images/logo.png" width="180" height="37" alt="1EZTRIP"></a></figure>
            <nav>
                <aside class="menu">
                    <ul>
                        <li><a href="~/Trip/Index" class="active">Home</a></li>
                        <li><a href="#">My Trips</a></li>
                        <li class="last"><a class="fancybox" href="#register">My Account / Register</a></li>
                    </ul>
                </aside>
            </nav>
        </section>
    </header>
    <section>
        <section class="row-table">
            <div class="profile">
                <div class="profile-left">
                    <div class="photo">
                        <img src="~/Content/images/profile-img.jpg">
                    </div>
                    <div class="user-profile selected" id="viewprofile"><div><img src="~/Content/images/user_pro_img.png">User Profile</div></div>
                    <div class="edit-profile"><div><img src="~/Content/images/edit_pro_icon.png"> Edit Profile</div></div>
                    <div class="edit-profile"><div><img src="~/Content/images/trips_img.png"> My Trips</div></div>
                    <a href="@Url.Action("Group","Trip")"><div class="edit-profile"><div><img src="~/Content/images/group-icon.png">Group</div></div></a>
                    <a href="@Url.Action("Notification", "Trip")"><div class="edit-profile "><div><img src="~/Content/images/notify_icon.png">Notification</div></div></a>
                </div>
            </div>
        </section>
    </section>

    <div class="clear"></div>
    <section class="row">
        <article class="curve-bor"></article>
    </section>

    <footer class="footer-inner">
        <section class="row">
            <aside class="foot-l">
                <div class="copyrit"> &copy; Copyright 2014 <span>1eztrip</span></div>
            </aside>
            <aside class="foot-r">
                <nav class="foo-nav">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Useful links</a></li>
                    </ul>
                </nav>
                <nav class="soc-nav">
                    <ul>
                        <li><a href="#"><img src="~/Content/images/fb-icon.png" alt="" /></a></li>
                        <li><a href="#"><img src="~/Content/images/twitter-icon.png" alt="" /></a></li>
                        <li><a href="#"><img src="~/Content/images/share-icon.png" alt="" /></a></li>
                        <li><a href="#"><img src="~/Content/images/settings-icon.png" alt="" /></a></li>
                    </ul>
                </nav>
            </aside>
        </section>
    </footer>
</body>
</html>

    <!-- Script -->
<script type="text/javascript" src="~/Scripts/js/html5.js"></script>
<script type="text/javascript" src="~/Scripts/js/respond.js"></script>
<script type="text/javascript" src="~/Scripts/js/jquery.js"></script>
<!-- Google CDN jQuery with fallback to local -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../js/minified/jquery-1.11.0.min.js"><\/script>')</script>
<script type="text/javascript" src="~/Scripts/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script>
    (function ($) {
        $(window).load(function () {
            $("#plans-height").mCustomScrollbar({
                theme: "minimal"
            });
        });
    })(jQuery);

    $("#viewprofile").on('click', function () {
        $("#ViewMyprofile_Partial").css("display", "block");
    });
</script>
<script type="text/javascript" src="~/Scripts/js/common.js"></script>