﻿@model eztripStart.Models.NewData
@{
    if (Session["username"] == null || Session["LoggedUserId"] == null)
    {
        Response.Redirect("~/Trip/Index");
    }
    var username = Session["username"];
    var LoggedUserId = Session["LoggedUserId"];
    var CurrentTripid = Session["LoggedTripId"];
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>1EZ TRIP</title>
    <link rel="shortcut icon" href="../Content/images/location-home-icon.png" />
    <!--  CSS  -->
    <link rel="stylesheet" href="~/Content/css/style-1eztrip.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/jquery.ui.css" type="text/css">
    <link href="~/Content/Extracss/poup.css" rel="stylesheet" />
    <link href="~/Scripts/GridViewScroll/GridviewScroll.css" rel="stylesheet" />
    <!--[if IE 9]><link rel="stylesheet" href="css/ie.css" type="text/css"><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" href="css/ie8.css" type="text/css"><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <style type="text/css">
        .btn-primary {
            background-color: rgb(9, 168, 229);
            width: 14%;
            border-color: rgb(9, 168, 229);
            border-radius: 4px;
            color: white;
        }

        .btn-danger {
            background-color: rgb(192, 81, 148);
            border-color: rgb(192, 81, 148);
            border-radius: 4px;
            width: 18%;
            color: white;
        }

        .modal-box > header {
            height: 30px;
            padding-left: 0%;
            background: powderblue;
            width: 100%;
        }

        .modal-box > footer {
            height: 30px;
            padding-left: 0%;
            background: aliceblue;
            width: 100%;
        }

        .modal-body > p {
            text-align: left;
        }

        .modal-box > header > h3 {
            padding: 4px;
            text-align: center;
        }

        .modal-box {
            top: 215px !important;
        }

        .modal-body > p {
            background-color: #ECFAFE;
        }

        #insideModel {
            height: 160px;
            overflow-y: scroll;
        }

        #scroll::-webkit-scrollbar {
            width: 8px;
            height: 8px;
            background-color: #DAE5E5;
        }

        #scroll::-webkit-scrollbar-thumb {
            background-color: #01A5CD;
            border-radius: 10px;
        }

        #insideModel::-webkit-scrollbar {
            width: 8px;
            background-color: #DAE5E5;
        }

        #insideModel::-webkit-scrollbar-thumb {
            background-color: #01A5CD;
            border-radius: 10px;
        }

        #insideModel > p {
            border-top-color: #C9FDF5;
            background: #9CE9F6;
            text-align: left;
        }

        #btnshare {
            background-color: #0A5A7D;
            width: 60px;
            height: 25px;
            margin-top: 3%;
            margin-left: 5%;
            margin-right: 3%;
            border-radius: 4px;
            border-color: #0A5A7A;
            color: white;
            cursor: pointer;
        }

            #btnshare:hover {
                background-color: #5BB0E5;
                border-color: #5BB0E5;
                color: #130D65;
            }

        #fb-publish {
            background-color: #0A5A7D;
            width: 140px;
            height: 25px;
            margin-top: 3%;
            border-radius: 4px;
            border-color: #0A5A7A;
            color: white;
            cursor: pointer;
        }

        #accordion1 {
            background-image: url(../images/down.png);
        }

        .accordion-toggle {
            cursor: pointer;
            margin-bottom: 4px;
            padding: 2px 4px 2px 4px;
            color: #fff;
            background: url(../Content/images/down.png) no-repeat center right #33c6ea !important;
        }

        .accordion-content {
            display: none;
        }

            .accordion-content .default {
                display: block;
            }

        a.tooltip {
            position: relative;
            display: inline;
        }

            a.tooltip span {
                position: absolute;
                left: 65px !important;
                width: 100px;
                padding: 6px;
                top: -8px;
                height: 20px;
                margin-left: -76px;
                background: #000;
                color: #fff;
                text-align: center;
                visibility: hidden;
                border-radius: 5px;
            }

        a:hover.tooltip span {
            visibility: visible;
            opacity: 0.8;
            bottom: -60px;
            left: 20px;
            z-index: 999;
        }
    </style>
</head>
<body>
    <header>
        <section class="row">
            <figure class="logo"><a href="~/Trip/Index" id="#logo"><img src="~/Content/images/logo.png" width="180" height="37" alt="1EZTRIP"></a></figure>
            <nav>
                <aside class="menu">
                    <ul>
                        <li><a href="~/Trip/Index" class="active">Home</a></li>
                        <li style="display:none;"><a href="javascript:;" id="CurrentIternary" class="active">Current itinerary</a><input type="hidden" id="CurrentTripId" value="@CurrentTripid" /></li>
                        <li><a href="@Url.Action("MyTrips", "Trip")">My Trips</a></li>
                        <li><a href="@Url.Action("ViewMyProfile", "Trip")">My Account</a><a id="notificationCount" class="notifications" href="@Url.Action("Notification", "Trip")" title="Notifications" style="display:none;"></a></li>
                    </ul>
                </aside>

                <div id="wel-mem">
                    <ul>
                        <li style="width:190px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;">Hi<label id="lblusername">@username</label></li>
                        <input type="hidden" id="LoggedUserId" value="@LoggedUserId" />
                        <li class="last"><a href="#" onclick="return logout();">Logout</a></li>
                    </ul>
                </div>
            </nav>
        </section>
    </header>
    <section>
        <section class="row-table">
            <div class="profile" id="BlockForLoading">
                <div class="profile-left">
                    <div class="photo">
                        @{
                            if (ViewBag.ProfilePic == null || ViewBag.ProfilePic.ToString() == "")
                            {
                                <img src="../Content/images/ProfilePics/avatar.jpg" style="height:224px;width:244px;border-radius:4px;">
                            }
                            else
                            {
                                <img id="ProfilePhoto" src="../Content/images/ProfilePics/@ViewBag.ProfilePic" style="border-radius:4px;">
                            }
                        }
                    </div>
                    <a href="@Url.Action("ViewMyProfile","Trip")">
                        <div class="user-profile "><div><img src="~/Content/images/user_pro_img.png">User Profile</div></div>
                    </a>
                    <a href="@Url.Action("UpdateMyProfile","Trip")">
                        <div class="edit-profile"><div><img src="~/Content/images/edit_pro_icon.png"> Edit Profile</div></div>
                    </a>
                    <a href="@Url.Action("MyTrips","Trip")"><div class="edit-profile selected"><div><img src="~/Content/images/trips_img.png"> My Trips</div></div></a>
                    <a href="@Url.Action("Group","Trip")"><div class="edit-profile"><div><img src="~/Content/images/group-icon.png">Group</div></div></a>
                    <a href="@Url.Action("Notification", "Trip")"><div class="edit-profile "><div><img src="~/Content/images/notify_icon.png">Notification</div></div></a>
                    <a href="@Url.Action("Invite", "Trip")"><div class="edit-profile"><div><img src="~/Content/images/invite_icon.png">Invite</div></div></a>
                </div>
                <div class="profile-right">
                    @if (ViewBag.Trips != null)
                    {
                        string iDate = "";
                        string[] DateParsed;
                        string[] monthNames = { "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" };
                        <div class="on-going-plans">
                            <h1>My Trips</h1>
                            <div class="tablClss">
                                <table id="GrdDynamic" class="responsive_tble" width="100%" border="1" style="border-collapse:collapse; border: solid 1px #eee">
                                    <tr class="table-head-bg">
                                        <th>S.No</th>
                                        <th>Trip Name</th>
                                        <th>Start Date</th>
                                        <th>Group Trip</th>
                                        <th>Info</th>
                                        <th>Edit</th>
                                        <th>Download</th>
                                        <th>Delete</th>
                                        <th>Share</th>
                                    </tr>
                                    @{
                        int incrementVar = 1;
                        foreach (var tripdet in ViewBag.Trips)
                        {
                            var fbShareParam = tripdet.TripId + "|-|" + tripdet.TripName;
                            if (incrementVar % 2 != 0)
                            {
                                <tr class="odd">
                                    <td>@incrementVar</td>
                                    <td>@tripdet.TripName</td>
                                    @{
                                DateParsed = tripdet.CreatedDate.Split('/');
                                iDate = monthNames[Convert.ToInt32(DateParsed[0]) - 1] + "-" + DateParsed[1] + "-" + DateParsed[2];
                                    }
                                    <td>@iDate</td>
                                    @if (@tripdet.IsGroupTrip == false)
                                    {
                                        <td>No</td>
                                    }
                                    else
                                    {
                                        <td>Yes</td>
                                    }
                                    <td><a class="js-open-modal" data-modal-id="popup" href="#"><img src="~/Content/images/tab_info_img.png" class="InfoTrip"><input type="hidden" value="@tripdet.TripId" /></a></td>
                                    @if (@tripdet.IsFinalised == 0)
                                    {
                                        <td>
                                            <a href="#">
                                                <img src="~/Content/images/tab_edit_img.png" class="EditTrip" /><input type="hidden" value="@tripdet.TripId" class="EditTripID" />
                                                <input type="hidden" value="@tripdet.CreatedDate" class="EditTripDate" />
                                                @if (@tripdet.IsGroupTrip == false)
                                                {
                                                    <input type="hidden" value="0" class="EditTripGroup">
                                                }
                                                else
                                                {
                                                    <input type="hidden" value="1" class="EditTripGroup">
                                                }
                                            </a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                    <td><a href="#"><img src="~/Content/images/tab_download_icon.png" class="DownloadTripPDF" /><input type="hidden" value="@tripdet.TripId" /><input type="hidden" id="@tripdet.TripId" value="@tripdet.TripName" /></a></td>
                                    <td><a href="#"><img src="~/Content/images/tab_delete_icon.png" class="DeleteTrip" /><input type="hidden" value="@tripdet.TripId" /></a></td>
                                    @if (@tripdet.IsGroupTrip == false)
                                    {
                                        <td width="10%"><a href="#" class="js-open-modal" data-modal-id="sharpopup" data-value="@tripdet.TripId" style="text-decoration:underline;" onclick="setTripId('@fbShareParam');"><img src="~/Content/images/tab_share_icon.png" /></a></td>
                                    }
                                    else
                                    {
                                        <td width="10%"><a href="#" class="js-open-modal" data-modal-id="sharpopup" data-value="@tripdet.TripId" style="text-decoration:underline;" onclick="setTripIdFb('@fbShareParam');"><img src="~/Content/images/tab_share_icon.png" /></a></td>
                                    }
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td>@incrementVar</td>
                                    <td>@tripdet.TripName</td>
                                    @{
                                DateParsed = tripdet.CreatedDate.Split('/');
                                iDate = monthNames[Convert.ToInt32(DateParsed[0]) - 1] + "-" + DateParsed[1] + "-" + DateParsed[2];
                                    }
                                    <td>@iDate</td>
                                    @if (@tripdet.IsGroupTrip == false)
                                    {
                                        <td>No</td>
                                    }
                                    else
                                    {
                                        <td>Yes</td>
                                    }
                                    <td><a class="js-open-modal" data-modal-id="popup" href="#"><img src="~/Content/images/tab_info_img.png" class="InfoTrip"><input type="hidden" value="@tripdet.TripId"></a></td>
                                    @if (@tripdet.IsFinalised == 0)
                                    {
                                        <td>
                                            <a href="#">
                                                <img src="~/Content/images/tab_edit_img.png" class="EditTrip" /><input type="hidden" value="@tripdet.TripId" class="EditTripID">
                                                <input type="hidden" value="@tripdet.CreatedDate" class="EditTripDate" />

                                                @if (@tripdet.IsGroupTrip == false)
                                                {
                                                    <input type="hidden" value="0" class="EditTripGroup">
                                                }
                                                else
                                                {<input type="hidden" value="1" class="EditTripGroup">
                                                }

                                            </a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                    <td><a href="#"><img src="~/Content/images/tab_download_icon.png" class="DownloadTripPDF"><input type="hidden" value="@tripdet.TripId"><input type="hidden" id="@tripdet.TripId" value="@tripdet.TripName"></a></td>
                                    <td><a href="#"><img src="~/Content/images/tab_delete_icon.png" class="DeleteTrip"><input type="hidden" value="@tripdet.TripId" /></a></td>
                                    @if (@tripdet.IsGroupTrip == false)
                                    {
                                        <td><a href="#" class="js-open-modal" data-modal-id="sharpopup" data-value="@tripdet.TripId" style="text-decoration:underline;" onclick="setTripId('@fbShareParam');"><img src="~/Content/images/tab_share_icon.png" /></a></td>
                                    }
                                    else
                                    {
                                        <td><a href="#" class="js-open-modal" data-modal-id="sharpopup" data-value="@tripdet.TripId" style="text-decoration:underline;" onclick="setTripIdFb('@fbShareParam');"><img src="~/Content/images/tab_share_icon.png" /></a></td>
                                    }
                                </tr>
                            }
                            incrementVar++;
                        }
                                    }
                                </table>
                            </div>

                            <div id="popup" class="modal-box">
                                <header>
                                    <a href="#" class="js-modal-close close"><img src="../Content/images/del_travel-bkp-7-5-15.png" /></a>
                                    <h3>Your Groups</h3>
                                </header>
                                <div class="modal-body">
                                    <p></p>
                                </div>
                            </div>
                            <div id="sharpopup" class="modal-box">
                                <header>
                                    <a href="#" class="js-modal-close close"><img src="../Content/images/del_travel-bkp-7-5-15.png" /></a>
                                    <h3 id="head1Fb">Your Groups</h3>
                                    <h3 id="head2Fb">Share trip to Facebook</h3>
                                </header>
                                <div class="modal-body" id="ShareGroupForm">
                                    <input type="hidden" id="sharetripid" />
                                    <input type='submit' value='Share' id='btnshare' />
                                    <div id="fb-root"></div>
                                    <div class="fb-share-button" data-href="https://www.facebook.com/pages/1EZTrip/1052975758054793?ref=hl/" data-width="500" data-layout="button"></div>
                                    <button id="fb-publish">Share to Facebook</button>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <h2>No Trips to show..</h2>
                    }
                </div>
            </div>
        </section>
    </section>
    <div class="clear"></div>
    @Html.Partial("~/Views/Shared/Footer-Small.cshtml")
    <script type="text/javascript" src="~/Scripts/js/html5.js"></script>
    <script type="text/javascript" src="~/Scripts/js/respond.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.js"></script>
    <!-- Google CDN jQuery with fallback to local -->
    <script src="~/Scripts/js/jquery-1.11.0.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../js/minified/jquery-1.11.0.min.js"><\/script>')</script>
    <script src="~/Scripts/js/jquery-ui-1.11.2.min.js"></script>
    <script src="~/Scripts/js/Block.ui.js"></script>
    <script src="~/Scripts/loading_plugin_js/jquery.noty.packaged.min.js"></script>
    <script type="text/javascript" src="~/Scripts/GridViewScroll/gridviewScroll.min.js"></script>
    <script src="~/Scripts/Jsfiles/CurrentItenaries.js"></script>
    <script type="text/javascript">

        var SharTripId = "", SharTripName = "", EncrSharTripId = "";
        var $table = $('table.plan-table'), $bodyCells = $table.find('tbody tr:first').children(), colWidth;

        $(document).ready(function () {
            //gridviewScroll();

            var totalNotificationCount;
            $.ajax({
                url: '../Trip/GetNotificationCount',
                type: "POST",
                async: false,
                dataType: "json",
                success: function (result) {
                    totalNotificationCount = result;
                    if (totalNotificationCount > 0) {
                        $("#notificationCount").show();
                        $("#notificationCount").text(totalNotificationCount);
                    } else {
                        $("#notificationCount").hide();
                    }
                }
            });

            $.getJSON('../Trip/GetGroup', {}, function (data) {
                var HtmlData = '', Count = 0;
                HtmlData = "<div id='insideModel'>";
                $.each(data, function (i, d) {
                    $.ajax({
                        url: '../Trip/InfoSelectedGroup',
                        type: "POST",
                        data: { "GroupidToEdit": d.GroupId },
                        async: false,
                        dataType: "json",
                        success: function (result) {
                            var values = result;
                            var existsGrpMem = 0;
                            if (d.GroupId == 0) {
                                HtmlData += "<p class='accordion-toggle' id='accordion" + i + "' onclick='accordion(" + i + ")'>No Group. Please create group to share your trips.</p>";
                            }
                            else {

                                HtmlData += "<p class='accordion-toggle' id='accordion" + i + "' onclick='accordion(" + i + ")'><input type='radio' class='radiobutton' style='margin-top:1%' name='group' id='radio_" + d.GroupId + "' value='" + d.GroupId + "'/><label for='radio_" + d.GroupId + "'>" + d.GroupName + "</label></p>";
                                HtmlData += "<div class='accordion-content default' style='display:none;'>";
                                var getadminmail = "";
                                $.each(values, function (index, value) {
                                    if (index == 0) {
                                        getadminmail = value.Adminmail;
                                        HtmlData += "<span><b>Admin :</b>" + value.AdminName + "</span>";
                                    }
                                    if (getadminmail != value.Usermail) {
                                        if (existsGrpMem == 0) {
                                            HtmlData += "<br/><b>Group Members</b><br/>";
                                        }
                                        if (value.UserName != null) {
                                            existsGrpMem = 1;
                                            HtmlData += "<label>" + value.UserName + "</label><br/>";
                                        }
                                    }
                                });
                                if (existsGrpMem == 0) {
                                    HtmlData += "<br/><label>No Members..</label>";
                                }
                                HtmlData += "</div>";

                                ++Count;
                            }
                        }
                    });
                });
                HtmlData += "</div></div>";
                $('#btnshare').before(HtmlData);
            });

            $('#btnshare').on('click', function () {
                var Count = $('#ShareGroupForm').find('p').length;
                var groupid = "", groupname = "", checkcount = 0;
                var tripid = $('#sharetripid').val();
                var tripname = $('#' + tripid).val().trim();
                for (var cnt = 0; cnt < Count; cnt++) {
                    if ($('#ShareGroupForm').find('p').eq(cnt).find('.radiobutton').prop("checked")) {
                        groupid = $('#ShareGroupForm').find('p').eq(cnt).find('.radiobutton').val();
                        groupname = $('label[for=radio_' + groupid + ']').text();
                        ++checkcount;
                    }
                }
                var dataObject = {
                    GroupId: groupid,
                    TripId: tripid,
                    TripName: tripname,
                    GroupName: groupname
                };
                if (checkcount != 0) {
                    $(".js-modal-close").trigger("click");
                    $('#BlockForLoading').block({
                        message: 'Please wait while sharing the trip...',
                        css: {
                            border: 'none',
                            padding: '15px',
                            float: 'right',
                            'margin-right': '0%',
                            backgroundColor: '#033363',
                            '-webkit-border-radius': '10px',
                            '-moz-border-radius': '10px',
                            opacity: .5,
                            color: '#fff'
                        }
                    });
                    $.ajax({
                        type: "POST",
                        url: "../Trip/ShareTripToGroup",
                        data: dataObject,
                        dataType: "json",
                        success: function (result) {
                            $('#BlockForLoading').unblock();
                            var noty_alert = noty({
                                layout: 'topRight',
                                text: 'Shared to the selected group successfully!',
                                type: 'success',
                                timeout: 3000,
                                maxVisible: 1,
                                animation: {
                                    open: { height: 'toggle' },
                                    close: { height: 'toggle' },
                                    easing: 'swing',
                                    speed: 500
                                }
                            });
                            setTimeout(function () {
                                window.location.reload(1);
                            }, 1000);
                        },
                        error: function (result) {
                            $('#BlockForLoading').unblock();
                            var noty_alert = noty({
                                layout: 'topRight',
                                text: 'Oops! something went wrong while sharing. Please try again..',
                                type: 'warning',
                                timeout: 3000,
                                maxVisible: 1,
                                animation: {
                                    open: { height: 'toggle' },
                                    close: { height: 'toggle' },
                                    easing: 'swing',
                                    speed: 500
                                }
                            });
                        }
                    });
                }
                else {
                    var noty_alert = noty({
                        layout: 'topRight',
                        text: 'Please select a group..',
                        type: 'warning',
                        timeout: 3000,
                        maxVisible: 1,
                        animation: {
                            open: { height: 'toggle' },
                            close: { height: 'toggle' },
                            easing: 'swing',
                            speed: 500
                        }
                    });
                }
            });

            $(".EditTrip").on('click', function () {
                var TripIdEdit = $(this).siblings('.EditTripID').val();
                var TripDateEdit = $(this).siblings('.EditTripDate').val();
                var TripStatus = $(this).siblings('.EditTripGroup').val();
                
                if (TripStatus == 1) {
                    $.ajax({
                        type: "POST",
                        url: "../Trip/EditSelectedTrip",
                        data: { 'TripidToEdit': TripIdEdit, 'TripDateToEdit': TripDateEdit},
                        success: function (result) {
                            if (result[0].Total == 1) {
                                localStorage.setItem('IsSavedinDB5', 'YES');
                                window.location.href = "../Trip/Firstdaytrip"
                              
                            }
                            else {
                                var notify_alert = noty({
                                    layout: 'topRight',
                                    text: 'Can\'t edit now!',
                                    type: 'warning',
                                    timeout: 3000,
                                    maxVisible: 1,
                                    animation: {
                                        open: { height: 'toggle' },
                                        close: { height: 'toggle' },
                                        easing: 'swing',
                                        speed: 500
                                    }
                                });
                                return false;
                            }

                        },
                        error: function (result) {
                        }
                    });
                }
                else {
                    $.ajax({
                        type: "POST",
                        url: "../Trip/EditSelectedTrip",
                        data: { 'TripidToEdit': TripIdEdit, 'TripDateToEdit': TripDateEdit },
                        success: function (result) {
                            localStorage.setItem('IsSavedinDB5', 'YES');
                            window.location.href = "../Trip/Firstdaytrip"

                        }
                    });
                }
            });

            $(".InfoTrip").on('click', function () {


                var TripIdInfo = $(this).siblings('input[type=hidden]').val();
                $.getJSON('../Trip/InfoSelectedTrip', { TripidToEdit: TripIdInfo }, function (result) {
                    var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
                    var updatedDate = new Date(parseInt((result[0].UpdatedDate).substr(6)));
                    var createdDate = new Date(parseInt((result[0].CreatedDate).substr(6)));
                    var cities = result[0].City_names.replace('|', '<br/>');
                    var NumOfDays = result[0].No_of_days.split('|');
                    var TotNumOfDays = 0;
                    for (var loopvar = 0; loopvar < NumOfDays.length; loopvar++) {
                        TotNumOfDays += parseInt(NumOfDays[loopvar]);
                    }
                    var DateParsed = result[0].StarDate.split('/');
                    var iDate = monthNames[parseInt(DateParsed[0]) - 1] + " " + DateParsed[1] + " " + DateParsed[2];
                    var appendContent = "<b>Trip Starting date : </b>" + iDate + "<br/>";
                    appendContent += "<b>Cities in Trip : </b>" + cities + "<br/>";
                    appendContent += "<b>No. of days : </b>" + TotNumOfDays + "<br/>";
                    appendContent += "<b>Created Date : </b>" + monthNames[createdDate.getMonth()] + " " + createdDate.getDate() + " " + createdDate.getFullYear() + "<br/>";
                    appendContent += "<b>Created By : </b>" + result[0].FirstName + " " + result[0].LastName + "<br/>";
                    var getTimeCrDate = updatedDate.getTime();
                    var getTimeUpDate = createdDate.getTime();
                    if (updatedDate.getTime() !== createdDate.getTime()) {
                        appendContent += "<b>Updated Date : </b>" + monthNames[updatedDate.getMonth()] + " " + updatedDate.getDate() + " " + updatedDate.getFullYear() + "<br/>";
                        appendContent += "<b>Updated By : </b>" + result[0].Updated_By + "<br/>";
                    }
                    if (result[0].GroupName != null) {
                        appendContent += "<b>Group Name : </b>" + result[0].GroupName + "<br/>";
                    }
                    $("#popup").find("h3").html((result[0].Trip_Name).toUpperCase());
                    $("#popup").find("p").html(appendContent);
                });
            });

            $(".DeleteTrip").on('click', function () {
                var DeleteTripId = $(this).siblings('input[type=hidden]').val();
                noty({
                    layout: 'topRight',
                    type: 'confirm',
                    maxVisible: 1,
                    modal: true,
                    text: 'Are you sure do you want to delete the selected Trip?',
                    buttons: [
                        {
                            addClass: 'btn btn-primary', text: 'Yes', onClick: function ($noty) {
                                $noty.close();
                                var noty_alert = noty({
                                    layout: 'topRight',
                                    text: 'The trip is deleted successfully..',
                                    type: 'success',
                                    timeout: 3000,
                                    maxVisible: 1,
                                    animation: {
                                        open: { height: 'toggle' },
                                        close: { height: 'toggle' },
                                        easing: 'swing',
                                        speed: 500
                                    }
                                });
                                $.ajax({
                                    type: "POST",
                                    data: { 'DeleteTripId': DeleteTripId },
                                    url: '../Trip/DeleteTrip',
                                    success: function () {
                                        window.location.href = "../trip/mytrips";
                                    }
                                });
                                FB.logout();
                            }
                        },
                        {
                            addClass: 'btn btn-danger', text: 'Cancel', onClick: function ($noty) {
                                $noty.close();
                                return false;
                            }
                        }
                    ]
                });
            });

            $(".DownloadTripPDF").on('click', function () {
                var DownloadTripId = $(this).siblings('input[type=hidden]').val();
                $('#BlockForLoading').block({
                    message: 'Please wait while processing your download request...',
                    css: {
                        border: 'none',
                        padding: '15px',
                        float: 'right',
                        'margin-right': '0%',
                        backgroundColor: '#033363',
                        '-webkit-border-radius': '10px',
                        '-moz-border-radius': '10px',
                        opacity: .5,
                        color: '#fff'
                    }
                });
                $.getJSON('../Trip/GenerateHtml', { DownloadTrip_Id: DownloadTripId }, function (result) {
                    $('#BlockForLoading').unblock();
                    var DownloadFilename = result.DownloadFilename;
                    var PDFName = result.ExportPdfName;
                    window.open("../Trip/ExportPdf?htmlFileName=" + DownloadFilename + "&PdfTripName=" + PDFName, '_blank');
                });
            });
        });

        $(function () {
            var appendthis = ("<div class='modal-overlay js-modal-close'></div>");

            $('a[data-modal-id]').click(function (e) {
                e.preventDefault();
                var TripId = $(this).data('value');
                $('#sharetripid').val(TripId);
                $("body").append(appendthis);
                $(".modal-overlay").fadeTo(500, 0.7);
                var modalBox = $(this).attr('data-modal-id');
                $('#' + modalBox).fadeIn($(this).data());
            });

            $(".js-modal-close, .modal-overlay").click(function () {
                $(".modal-box, .modal-overlay").fadeOut(500, function () {
                    $(".modal-overlay").remove();
                });
            });

            $(window).resize(function () {
                $(".modal-box").css({
                    top: ($(window).height() - $(".modal-box").outerHeight()) / 2,
                    left: ($(window).width() - $(".modal-box").outerWidth()) / 2
                });
            });

            $(window).resize();
        });

        function accordion(id) {
            $('#accordion' + id).next().slideToggle('fast');
            $(".accordion-content").not($('#accordion' + id)).prev().css("background", "url(../Content/images/down.png) no-repeat center right #33c6ea !important");
            $(".accordion-content").not($('#accordion' + id).next()).slideUp('fast');
            $('#accordion' + id).css("background", "url(../Content/images/up.png) no-repeat center right #33c6ea !important");
        }

        function logout() {
            noty({
                layout: 'topRight',
                type: 'confirm',
                maxVisible: 1,
                modal: true,
                text: 'Do you want to logout?',
                buttons: [
                    {
                        addClass: 'btn btn-primary', text: 'Ok', onClick: function ($noty) {
                            $noty.close();
                            $.ajax({
                                type: "POST",
                                url: '../Trip/ClearLoginSession',
                                success: function () {
                                    window.location.href = "../trip/index";
                                }
                            });
                            FB.logout();
                        }
                    },
                    {
                        addClass: 'btn btn-danger', text: 'Cancel', onClick: function ($noty) {
                            $noty.close();
                            return false;
                        }
                    }
                ]
            });
        }

        $(window).resize(function () {
            colWidth = $bodyCells.map(function () {
                return $(this).width();
            }).get();

            $table.find('thead tr').children().each(function (i, v) {
                $(v).width(colWidth[i]);
            });
        }).resize();

        function setTripId(tripidName) {
            var SplitTripDet = tripidName.split('|-|');
            SharTripId = SplitTripDet[0];
            SharTripName = SplitTripDet[1];
            $.ajax({
                url: '../Trip/EncryptShare',
                type: 'POST',
                data: { 'clearText': SharTripId },
                dataType: "text",
                success: function (result) {
                    EncrSharTripId = result;
                }
            });
            $("#head2Fb").hide();
            $("#head1Fb").show();
            $("#insideModel").show();
            $("#btnshare").show();
        }

        function setTripIdFb(tripidName) {
            var SplitTripDet = tripidName.split('|-|');
            SharTripId = SplitTripDet[0];

            SharTripName = SplitTripDet[1];
            $.ajax({
                url: '../Trip/EncryptShare',
                type: 'POST',
                data: { 'clearText': SharTripId },
                dataType: "text",
                success: function (result) {
                    EncrSharTripId = result;
                }
            });
            $("#head2Fb").show();
            $("#head1Fb").hide();
            $("#insideModel").hide();
            $("#btnshare").hide();
        }

        window.fbAsyncInit = function () {
            FB.init({
                appId: '1052975758054793',
                status: true,
                cookie: true,
                xfbml: true
            });
            $("#fb-publish").click(function () {
                var userName = $("#lblusername").html();
                var tripDesc = "";
                $(".js-modal-close").trigger("click");
                if (SharTripName == "-" || SharTripName == "") {
                    tripDesc = "Check out the trip that your friend " + userName + " has planned using 1EzTrip.";
                }
                else {
                    tripDesc = "Check out the trip - \'" + SharTripName + "\' that your friend " + userName + " has planned using 1EzTrip.";
                }
                var obj = {
                    method: "feed",
                    link: "http://52.10.216.178/trip/ShareTrip?ShareId=" + EncrSharTripId,
                    caption: "1EzTrip",
                    description: tripDesc,
                    picture: "http://52.10.216.178/Content/images/FbShare.jpg"
                };
                FB.ui(obj, callback);
            });
            function callback(response) {
                var resObj = response;
                if (response.post_id) {
                    var noty_alert = noty({
                        layout: 'topRight',
                        text: 'The trip is shared to the facebook successfully..',
                        type: 'success',
                        timeout: 3000,
                        maxVisible: 1,
                        animation: {
                            open: { height: 'toggle' },
                            close: { height: 'toggle' },
                            easing: 'swing',
                            speed: 500
                        }
                    });
                }
                else {
                    var noty_alert = noty({
                        layout: 'topRight',
                        text: 'The trip is not shared.. Please try again.',
                        type: 'warning',
                        timeout: 3000,
                        maxVisible: 1,
                        animation: {
                            open: { height: 'toggle' },
                            close: { height: 'toggle' },
                            easing: 'swing',
                            speed: 500
                        }
                    });
                }
            }
        };

        $(function () {
            var e = document.createElement('script'); e.async = true;
            e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
            document.getElementById('fb-root').appendChild(e);
            $("#fb-root").hide();
            $(".fb-share-button").hide();
        }());

        function gridviewScroll() {
            ;
            gridView1 = $('[id$=GrdDynamic]').gridviewScroll({
                width: $(window).innerWidth,
                height: 350,
                railcolor: "#F0F0F0",
                barcolor: "#CDCDCD",
                barhovercolor: "#606060",
                bgcolor: "#F0F0F0",
                freezesize: 2,
                arrowsize: 16,
                varrowtopimg: "../Scripts/GridViewScroll/Images/arrowvt.png",
                varrowbottomimg: "../Scripts/GridViewScroll/Images/arrowvb.png",
                harrowleftimg: "../Scripts/GridViewScroll/Images/arrowhl.png",
                harrowrightimg: "../Scripts/GridViewScroll/Images/arrowhr.png",
                headerrowcount: 1,
                railsize: 16,
                barsize: 8
            });
        }
    </script>
</body>
</html>