﻿@model eztripStart.Models.NewData
@{
    if (Session["username"] == null || Session["LoggedUserId"] == null)
    {
        Response.Redirect("~/Trip/Index");
    }
    var username = Session["username"];
    var LoggedUserId = Session["LoggedUserId"];
    int GroupId = 0;
    try
    {
        GroupId = Convert.ToInt32(Session["GroupId"].ToString());
    }
    catch (Exception ex)
    {
    }
    var CurrentTripid = Session["LoggedTripId"];
}

<html lang="en" ng-app="NotificationApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>1EZ TRIP</title>
    <link rel="shortcut icon" href="../Content/images/location-home-icon.png" />
    <!--  CSS  -->
    <link rel="stylesheet" href="~/Content/css/style-1eztrip.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/jquery.mCustomScrollbar.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/jquery.ui.css" type="text/css">
    <link href="~/Content/jquery.1.8.9.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/style2.css" />
    <link href="~/Scripts/GridViewScroll/GridviewScroll.css" rel="stylesheet" />
    <!--[if IE 9]><link rel="stylesheet" href="css/ie.css" type="text/css"><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" href="css/ie8.css" type="text/css"><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <link href="~/Content/css/poup.css" rel="stylesheet" />
    <style type="text/css">
        .profile-right {
            min-height: 75%;
        }

        .tooltipSpan {
            position: absolute;
            left: 50%;
            width: 140px;
            padding: 6px;
            margin-left: -76px;
            background: #000;
            color: #fff;
            text-align: center;
            visibility: hidden;
            border-radius: 5px;
        }

            .tooltipSpan:after {
                content: '';
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -8px;
                width: 0;
                height: 0;
                border-top: 8px solid black;
                border-right: 8px solid transparent;
                border-left: 8px solid transparent;
            }
    </style>
</head>
<body ng-controller="Notification">
    <div id="popup" class="modal-box">
        <div style="background-color: #01A5CD;">
            <a href="#" class="js-modal-close close" style="background-color: white; border-radius: 3px;">×</a>
            <h3><a href="#" style="color:white;">Edit Group</a> </h3>
        </div>

        <div class="modal-body">
            <p>Modal Body</p>
        </div>
        <p>
            <a href="#" class="js-modal-close">Close </a>
        </p>
    </div>
    <header>
        <section class="row">
            <figure class="logo"><a href="~/Trip/Index" id="#logo"><img src="~/Content/images/logo.png" width="180" height="37" alt="1EZTRIP"></a></figure>
            <nav>
                <aside class="menu">
                    <ul>
                        <li><a href="~/Trip/Index" class="active">Home</a></li>
                        <li style="display:none;"><a href="javascript:;" id="CurrentIternary" class="active">Current itinerary</a><input type="hidden" id="CurrentTripId" value="@CurrentTripid" /></li>
                        <li><a href="@Url.Action("MyTrips", "Trip")">My Trips</a></li>
                        <li><a href="@Url.Action("ViewMyProfile", "Trip")">My Account</a><a id="notificationCount" class="notifications" href="@Url.Action("Notification", "Trip")" title="Notifications" style="display:none;"></a></li>
                    </ul>
                </aside>

                <div id="wel-mem">
                    <ul>
                        <li style="width:190px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;">Hi<label id="lblusername">@username</label></li>
                        <label id="lblgroupId" style="visibility:hidden">@GroupId</label>
                        <input type="hidden" id="LoggedUserId" value="@LoggedUserId" />
                        <li class="last"><a href="#" onclick="return logout();">Logout</a></li>
                    </ul>
                </div>
            </nav>
        </section>
    </header>
    <section>
        <section class="row-table">
            <div class="profile">
                <div class="profile-left">
                    <div class="photo">
                        @{if (ViewBag.ProfilePic == null || ViewBag.ProfilePic == "")
                        {
                            <img src="../Content/images/ProfilePics/avatar.png" style="height:224px;width:244px;border-radius:4px;">
                        }
                        else
                        {
                            <img id="ProfilePhoto" src="../Content/images/ProfilePics/@ViewBag.ProfilePic" style="border-radius:4px;">
                        }
                        }
                    </div>
                    <a href="@Url.Action("ViewMyProfile","Trip")">
                        <div class="user-profile "><div><img src="~/Content/images/user_pro_img.png">User Profile</div></div>
                    </a>
                    <a href="@Url.Action("UpdateMyProfile","Trip")">
                        <div class="edit-profile"><div><img src="~/Content/images/edit_pro_icon.png"> Edit Profile</div></div>
                    </a>
                    <a href="@Url.Action("MyTrips","Trip")"><div class="edit-profile "><div><img src="~/Content/images/trips_img.png"> My Trips</div></div></a>
                    <a href="@Url.Action("Group","Trip")"><div class="edit-profile"><div><img src="~/Content/images/group-icon.png">Group</div></div></a>
                    <a href="@Url.Action("Notification", "Trip")"><div class="edit-profile selected"><div><img src="~/Content/images/notify_icon.png">Notification</div></div></a>
                    <a href="@Url.Action("Invite", "Trip")"><div class="edit-profile"><div><img src="~/Content/images/invite_icon.png">Invite</div></div></a>
                </div>
                <div class="profile-right">
                    <div class="on-going-plans">
                        <h1>Notification</h1>
                        <div class="tablClss">
                            <table id="GrdDynamic" class="responsive_tble notifn_tble" width="100%" border="1" style="border-collapse:collapse; border: solid 1px #eee">
                                <tr class="table-head-bg">
                                    <th>S.No</th>
                                    <th>Group Name</th>
                                    <th>Admin E-mail Id</th>
                                    <th>Created Date</th>
                                    <th>Accept</th>
                                    <th>Reject</th>
                                </tr>
                                @{
                                string[] monthNames = { "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" };
                                int incrementVar = 1;
                                foreach (var tripdet in ViewBag.Trips)
                                {
                                    if (@tripdet.address == "1")
                                    {
                            <tr class="odd"><td></td><td></td><td>No Record Found</td><td></td><td></td><td></td></tr>
                                    }
                                    else
                                    {
                                        if (@GroupId != 0)
                                        {
                                            if (@GroupId == @tripdet.GroupId)
                                            {
                                                if (incrementVar % 2 != 0)
                                                {
                                                    string[] date1 = tripdet.Created_Date.Split(' ');
                                                    string[] date2 = tripdet.Created_Date.Split('-');
                                                    //string date3 = monthNames[Convert.ToInt32(date2[0].Trim()) - 1] + "-" + date2[1] + "-" + date2[2];
                                                    string date3 = monthNames[Convert.ToInt32(date2[1].Trim()) - 1] + "-" + date2[0] + "-" + date2[2];
                            <tr class="odd" style="border:#f00 solid 2px">
                                <span class="tooltipSpan">You have been invited for this group.</span>
                                <input type="hidden" id="@tripdet.GroupId" value="@tripdet.GroupName" />
                                <td>@incrementVar</td>
                                <td>@tripdet.GroupName</td>
                                <td>@tripdet.Adminmail</td>
                                <td>@date3</td>
                                <td><a href="#" data-value="@tripdet.GroupId" data-ng-click="JoinToGroup(@tripdet.GroupId)"><img src="~/Content/images/add-grey-icon.png" /></a></td>
                                <td><a href="#" data-value="@tripdet.GroupId" data-ng-click="RemoveFromGroup(@tripdet.GroupId)"><img src="~/Content/images/tab_delete_icon.png" /></a></td>
                            </tr>
                                                }
                                                else
                                                {
                                                    string[] date1 = tripdet.Created_Date.Split(' ');
                                                    string[] date2 = tripdet.Created_Date.Split('-');
                                                    string date3 = monthNames[Convert.ToInt32(date2[1].Trim()) - 1] + "-" + date2[0] + "-" + date2[2];
                                                    //string date3 = monthNames[Convert.ToInt32(date2[0].Trim()) - 1] + "-" + date2[1] + "-" + date2[2];
                            <tr style="border:#f00 solid 2px">
                                <input type="hidden" id="@tripdet.GroupId" value="@tripdet.GroupName" />
                                <span class="tooltipSpan">You have been invited for this group.</span>
                                <td>@incrementVar</td>
                                <td>@tripdet.GroupName</td>
                                <td>@tripdet.Adminmail</td>
                                <td>@date3</td>
                                <td><a href="#" data-value="@tripdet.GroupId" data-ng-click="JoinToGroup(@tripdet.GroupId)"><img src="~/Content/images/add-grey-icon.png" /></a></td>
                                <td><a href="#" data-value="@tripdet.GroupId" data-ng-click="RemoveFromGroup(@tripdet.GroupId)"><img src="~/Content/images/tab_delete_icon.png" /></a></td>
                            </tr>
                                                }
                                            }
                                            else
                                            {
                                                if (incrementVar % 2 != 0)
                                                {
                                                    string[] date1 = tripdet.Created_Date.Split(' ');
                                                    string[] date2 = tripdet.Created_Date.Split('-');
                                                    string date3 = monthNames[Convert.ToInt32(date2[1].Trim()) - 1] + "-" + date2[0] + "-" + date2[2];
                                                    //string date3 = monthNames[Convert.ToInt32(date2[0].Trim()) - 1] + "-" + date2[1] + "-" + date2[2];
                            <tr class="odd">
                                <input type="hidden" id="@tripdet.GroupId" value="@tripdet.GroupName" />
                                <td>@incrementVar</td>
                                <td>@tripdet.GroupName</td>
                                <td>@tripdet.Adminmail</td>
                                <td>@date3</td>
                                <td><a href="#" data-value="@tripdet.GroupId" data-ng-click="JoinToGroup(@tripdet.GroupId)"><img src="~/Content/images/add-grey-icon.png" /></a></td>
                                <td><a href="#" data-value="@tripdet.GroupId" data-ng-click="RemoveFromGroup(@tripdet.GroupId)"><img src="~/Content/images/tab_delete_icon.png" /></a></td>
                            </tr>
                                                }
                                                else
                                                {
                                                    string[] date1 = tripdet.Created_Date.Split(' ');
                                                    string[] date2 = tripdet.Created_Date.Split('-');
                                                    string date3 = monthNames[Convert.ToInt32(date2[1].Trim()) - 1] + "-" + date2[0] + "-" + date2[2];
                                                    //string date3 = monthNames[Convert.ToInt32(date2[0].Trim()) - 1] + "-" + date2[1] + "-" + date2[2];
                            <tr>
                                <input type="hidden" id="@tripdet.GroupId" value="@tripdet.GroupName" />
                                <td>@incrementVar</td>
                                <td>@tripdet.GroupName</td>
                                <td>@tripdet.Adminmail</td>
                                <td>@date3</td>
                                <td><a href="#" data-value="@tripdet.GroupId" data-ng-click="JoinToGroup(@tripdet.GroupId)"><img src="~/Content/images/add-grey-icon.png" /></a></td>
                                <td><a href="#" data-value="@tripdet.GroupId" data-ng-click="RemoveFromGroup(@tripdet.GroupId)"><img src="~/Content/images/tab_delete_icon.png" /></a></td>
                            </tr>
                                                }
                                            }
                                        }
                                        else
                                        {
                                            if (incrementVar % 2 != 0)
                                            {
                                                string[] date1 = tripdet.Created_Date.Split(' ');
                                                string[] date2 = tripdet.Created_Date.Split('-');
                                                string date3 = monthNames[Convert.ToInt32(date2[1].Trim()) - 1] + "-" + date2[0] + "-" + date2[2];
                                                //string date3 = monthNames[Convert.ToInt32(date2[0].Trim()) - 1] + "-" + date2[1] + "-" + date2[2];
                            <tr class="odd">
                                <input type="hidden" id="@tripdet.GroupId" value="@tripdet.GroupName" />
                                <td>@incrementVar</td>
                                <td>@tripdet.GroupName</td>
                                <td>@tripdet.Adminmail</td>
                                <td>@date3</td>
                                <td><a href="#" data-value="@tripdet.GroupId" data-ng-click="JoinToGroup(@tripdet.GroupId)"><img src="~/Content/images/add-grey-icon.png" /></a></td>
                                <td><a href="#" data-value="@tripdet.GroupId" data-ng-click="RemoveFromGroup(@tripdet.GroupId)"><img src="~/Content/images/tab_delete_icon.png" /></a></td>
                            </tr>
                                            }
                                            else
                                            {
                                                string[] date1 = tripdet.Created_Date.Split(' ');
                                                string[] date2 = tripdet.Created_Date.Split('-');
                                                string date3 = monthNames[Convert.ToInt32(date2[1].Trim()) - 1] + "-" + date2[0] + "-" + date2[2];
                                                //string date3 = monthNames[Convert.ToInt32(date2[0].Trim()) - 1] + "-" + date2[1] + "-" + date2[2];
                            <tr>
                                <input type="hidden" id="@tripdet.GroupId" value="@tripdet.GroupName" />
                                <td>@incrementVar</td>
                                <td>@tripdet.GroupName</td>
                                <td>@tripdet.Adminmail</td>
                                <td>@date3</td>
                                <td><a href="#" data-value="@tripdet.GroupId" data-ng-click="JoinToGroup(@tripdet.GroupId)"><img src="~/Content/images/add-grey-icon.png" /></a></td>
                                <td><a href="#" data-value="@tripdet.GroupId" data-ng-click="RemoveFromGroup(@tripdet.GroupId)"><img src="~/Content/images/tab_delete_icon.png" /></a></td>
                            </tr>
                                            }
                                        }
                                    }
                                    incrementVar++;
                                }
                                }
                            </table>
                            </div>
                            <div id="divadd_student">

                            </div>
                        </div>
            </div>
        </section>
    </section>
    <div class="clear"></div>

    @Html.Partial("~/Views/Shared/Footer-Small.cshtml")

    <!-- Script -->
    <script type="text/javascript" src="~/Scripts/js/html5.js"></script>
    <script type="text/javascript" src="~/Scripts/js/respond.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.js"></script>
    <!-- Google CDN jQuery with fallback to local -->
    <script src="~/Scripts/js/jquery-1.11.0.min.js"></script>
    <script src="~/Scripts/js/jquery-ui-1.11.2.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../js/minified/jquery-1.11.0.min.js"><\/script>')</script>
    <script type="text/javascript" src="~/Scripts/GridViewScroll/gridviewScroll.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/Scripts/loading_plugin_js/jquery.noty.packaged.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/common.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.freezeheader.js"></script>
    <script src="~/Scripts/js/Block.ui.js"></script>
    <script src="~/Scripts/js/angular.min.js"></script>    
    <script src="~/Scripts/Jsfiles/CurrentItenaries.js"></script> 
    <script type="text/javascript">
        $(function () {
            var appendthis = ("<div class='modal-overlay js-modal-close'></div>");
            $('a[data-modal-id]').click(function (e) {
                e.preventDefault();
                var GroupId = $(this).data('value');
                var GroupName = $('#' + GroupId).val();
                $("body").append(appendthis);
                $(".modal-overlay").fadeTo(500, 0.7);
                var modalBox = $(this).attr('data-modal-id');
                $('#' + modalBox).fadeIn($(this).data());
            });

            $(".js-modal-close, .modal-overlay").click(function () {
                $(".modal-box, .modal-overlay").fadeOut(500, function () {
                    $(".modal-overlay").remove();
                });
            });

            $(window).resize(function () {
                $(".modal-box").css({
                    top: ($(window).height() - $(".modal-box").outerHeight()) / 2,
                    left: ($(window).width() - $(".modal-box").outerWidth()) / 2
                });
            });
            $(window).resize();
        });

        (function ($) {
            $(window).load(function () {
                $("#plans-height").mCustomScrollbar({
                    theme: "minimal"
                });
            });
        })(jQuery);

        function logout() {
            noty({
                layout: 'topRight',
                type: 'confirm',
                maxVisible: 1,
                modal: true,
                text: 'Do you really want to logout?',
                buttons: [
                    {
                        addClass: 'btn btn-primary', text: 'Ok', onClick: function ($noty) {
                            $noty.close();
                            chck_logout = 1;
                            $.ajax({
                                type: "POST",
                                url: '../Trip/ClearLoginSession',
                                success: function () {
                                    localStorage.removeItem('IsSavedinDB5');
                                    window.location.href = "../trip/index";
                                }
                            });
                            FB.logout();
                        }
                    },
                    {
                        addClass: 'btn btn-danger', text: 'Cancel', onClick: function ($noty) {
                            $noty.close();
                            return false;
                        }
                    }
                ]
            });
        }

        $(document).ready(function () {
            //gridviewScroll();
            try {                
                var groupId = parseInt($("#lblgroupId").text());
                if (groupId != 0) {
                    var notify_alert = noty({
                        layout: 'topRight',
                        text: 'The group you selected is highlighted, you can either accept or reject the invitation for the group..',
                        type: 'information',
                        timeout: 4000,
                        maxVisible: 1,
                        animation: {
                            open: { height: 'toggle' },
                            close: { height: 'toggle' },
                            easing: 'swing',
                            speed: 200
                        }
                    });
                }
                var tableBody = $("#scroll");
                var id = tableBody.find("#" + groupId);

                $("#" + groupId).parent().hover(function (e) {
                    var divwidth = Math.max(0, (($(window).width() - $("#scroll").outerWidth())) + $(window).scrollLeft()) + "px";
                    var y = ($(this).offset().top - $(this).height());
                    $(".tooltipSpan").css({
                        'visibility': 'visible',
                        'opacity': 0.8,
                        'top': y + "px",
                        'left': "60%",
                        'z-index': '999'
                    });
                });

                $("#" + groupId).parent().mouseleave(function () {
                    $(".tooltipSpan").css({
                        'visibility': 'hidden',
                        'top': '0px'
                    });
                });
            }
            catch (err) {
                //alert(err.responseText);
            }
            var totalNotificationCount;
            $.ajax({
                url: '../Trip/GetNotificationCount',
                type: "POST",

                async: false,
                dataType: "json",
                success: function (result) {
                    totalNotificationCount = result;
                    if (totalNotificationCount > 0) {
                        $("#notificationCount").show();
                        $("#notificationCount").text(totalNotificationCount);
                    } else {
                        $("#notificationCount").hide();

                    }
                }
            });
            $("#table1").freezeHeader({ 'height': '300px' });
            $("#table2").freezeHeader();
            $("#tbex1").freezeHeader();
            $("#tbex2").freezeHeader();
            $("#tbex3").freezeHeader();
            $("#tbex4").freezeHeader();
        });

        function gridviewScroll() {
            gridView1 = $('[id$=GrdDynamic]').gridviewScroll({
                width: $(window).innerWidth,
                height: 350,
                railcolor: "#F0F0F0",
                barcolor: "#CDCDCD",
                barhovercolor: "#606060",
                bgcolor: "#F0F0F0",
                freezesize: 2,
                arrowsize: 16,
                varrowtopimg: "../Scripts/GridViewScroll/Images/arrowvt.png",
                varrowbottomimg: "../Scripts/GridViewScroll/Images/arrowvb.png",
                harrowleftimg: "../Scripts/GridViewScroll/Images/arrowhl.png",
                harrowrightimg: "../Scripts/GridViewScroll/Images/arrowhr.png",
                headerrowcount: 1,
                railsize: 16,
                barsize: 8
            });
        }

        function refresh() {
            var url = '../Trip/Notification';
            window.location.href = url;
        }

        var App = angular.module("NotificationApp", []);
        App.controller('Notification', function ($scope, $http) {
            $scope.JoinToGroup = function (VarGroupId) {
                $.blockUI({
                    centerY: 0,
                    css: { top: '2%', left: '', right: '1%' },
                    message: '<h1><img src="../Content/images/LoadTransparent.gif" /> Loading..</h1>'
                });               

                var dataObject = {
                    GroupId: VarGroupId,
                    GroupName: $('#' + VarGroupId).val()
                };

                $.ajax({
                    url: '../Trip/UpadteNotification',
                    type: "POST",
                    data: dataObject,
                    dataType: "json",
                    success: function (result) {                        
                        $.unblockUI();
                        var notify_alert = noty({
                            layout: 'topRight',
                            text: 'Joined the group successfully',
                            type: 'success',
                            timeout: 2000,
                            maxVisible: 1,
                            animation: {
                                open: { height: 'toggle' },
                                close: { height: 'toggle' },
                                easing: 'swing',
                                speed: 500
                            }
                        });
                        setTimeout(function () { refresh(); }, 2000);
                    },
                    error: function () {
                        $.unblockUI();
                        var notify_alert = noty({
                            layout: 'topRight',
                            text: 'Error',
                            type: 'error',
                            timeout: 2000,
                            maxVisible: 1,
                            animation: {
                                open: { height: 'toggle' },
                                close: { height: 'toggle' },
                                easing: 'swing',
                                speed: 500
                            }
                        });
                        setTimeout(function () { refresh(); }, 2000);
                    }
                });
            }
            
            $scope.RemoveFromGroup = function (VarGroupId) {
                $.blockUI({
                    centerY: 0,
                    css: { top: '2%', left: '', right: '1%' },
                    message: '<h1><img src="../Content/images/LoadTransparent.gif" /> Loading..</h1>'
                });
                var dataObject = {
                    GroupId: VarGroupId
                };
                $.ajax({
                    url: '../Trip/RemoveNotification',
                    type: "POST",
                    data: dataObject,
                    dataType: "json",
                    success: function (result) {
                        $.unblockUI();
                        var notify_alert = noty({
                            layout: 'topRight',
                            text: 'Removed Successfully',
                            type: 'success',
                            timeout: 2000,
                            maxVisible: 1,
                            animation: {
                                open: { height: 'toggle' },
                                close: { height: 'toggle' },
                                easing: 'swing',
                                speed: 500
                            }
                        });
                        setTimeout(function () { refresh(); }, 2000);
                    },
                    error: function (response) {
                        $.unblockUI();
                        var notify_alert = noty({
                            layout: 'topRight',
                            text: 'Error',
                            type: 'error',
                            timeout: 2000,
                            maxVisible: 1,
                            animation: {
                                open: { height: 'toggle' },
                                close: { height: 'toggle' },
                                easing: 'swing',
                                speed: 500
                            }
                        });
                        setTimeout(function () { refresh(); }, 2000);
                    }
                });
            }
        });                
    </script>
</body>
</html>