﻿
@{
    Layout = null;
    var HtmlCont = ViewData["ShardTripView"];
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Uploads/PdfStyle/PDFPage.css" rel="stylesheet" />
    <link href="~/Content/css/style-1eztrip.css" rel="stylesheet" />
    <title>1EzTrip</title>
</head>
<body>
    @Html.Raw(HtmlCont)
</body>
</html>
<script src="~/Scripts/js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            window.print();
        });
    </script>