﻿<link href="~/Content/Extracss/poup.css" rel="stylesheet" />
<style type="text/css">
    .pac-container {
        z-index: 1000000000 !important;
    }

    #HeadDiv {
        color: #1D1A1A !important;
        font-family: 'open_sansbold';
        font-size: 22px;
        font-weight: normal;
        margin: 0;
        padding: 0px;
        text-align: center;
        text-transform: capitalize;
    }

    #ItnCnt > ul > li, #ItnCnt > div > ul > li {
        float: left;
    }

</style>

<div id="Swap-popup" class="slide-close slide1 ignore_click" style="display: none; margin-top: 0%; margin-left: 15%; background-color: #00C2F1; z-index: 100000; left: 0px; top: 135px; height: auto !important;width:auto;">
    <div id="HeadDiv">
        <span>Swap Places in itinerary!</span>
    </div>
    <input type="hidden" id="slctdSwp">
    <div id="SwapItinCtyNms">
        
       </div>
    <a href="javascript:;" class="fancybox-item slideClose" title="Close" onclick="$('#Swap-popup').hide();"></a>
</div>

<div id="ItinSwapPopUp" class="slide-close slide1 ignore_click" style="display: none; margin-top: 0%; margin-left: 15%; background-color: #00C2F1; z-index: 100000; left: 0px; top: 135px; height: auto !important;">
    <div id="ItnCnt">

    </div>
    <input type="button" id="aplySwp" value="Apply Changes to itinerary" />

</div>