﻿
@{
    ViewBag.Title = "TermsConditions";
    var contents = TempData["alert"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>1EZ TRIP</title>
    <link rel="shortcut icon" href="../Content/images/location-home-icon.png" />
    <!--  CSS  -->
    <link rel="stylesheet" href="~/Content/css/style-1eztrip.css" type="text/css">
   <style>
       .inner-cont ul li {
           padding: 0 0 10px 20px;
           margin: 0 0 10px 0;
           float: none;
           color: black;
           border-bottom: 0px;
           background: white;
           list-style: inherit;
           list-style-position: inside;
       }
   </style>
</head>
<body>
    <header>
        <section class="row-home">
            <figure class="logo"><a href="~/Trip/Index"><img src="~/Content/images/logo.png" width="180" height="37" alt="1EZTRIP"></a></figure>
            <nav>               
                <aside class="menu">
                    <ul>
                        <li><a href="~/Trip/Index" class="active">Home</a></li>                      
                    </ul>
                </aside>
            </nav>
        </section>
    </header>
    <section class="banner">
        <article class="inner-banner">
            <figure><img src="~/Content/images/AppImages/aboutbanner.jpg" alt="" /></figure>
        </article>
    </section>
    <section class="inner-wrapper">
        <section class="row-home">
            <article class="inner-cont">
                <h2>Terms And Conditions</h2>
                <aside class="inner-right">
                    <p class="top-para">@Html.Raw(contents)</p>
                </aside>
            </article>
        </section>
    </section>
    <div class="clear"></div>
    @Html.Partial("Footer_PartialView")
    <!-- Script -->
    <script type="text/javascript" src="~/Scripts/js/html5.js"></script>
    <script type="text/javascript" src="~/Scripts/js/respond.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.js"></script>
    <script type="text/javascript" src="~/Scripts/js/common.js"></script>
</body>
</html>
