﻿@model eztripStart.Models.TblFeedback
@{
    ViewBag.Title = "Testimonials";
}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <title>1EZ TRIP</title>
        <link rel="shortcut icon" href="../Content/images/location-home-icon.png" />
        <!--  CSS  -->
        <script src="~/Scripts/jquery-1.7.1.js"></script>
        <link rel="stylesheet" href="~/Content/css/style-1eztrip.css" type="text/css">
        <link rel="stylesheet" href="~/Content/css/media.css" type="text/css">
        <script type="text/javascript">
            $(document).ready(function () {                                               
                $.getJSON('../Trip/jsonTestimonials', {}, function (data) {
                    var item = '';
                    $.each(data, function (i, items) {                                                
                        $('#divname').append("<table style='width:100%'><tr style='background: #A9A9A9; width:100;'><td style='width:100%;'>Name :" + items.FirstName  + "</td> </tr><tr style='background: #FFF8DC;'><td>" + items.comment + "</td></tr></table>")                                                
                    });
                });
            });
        </script>
    </head>
    <body>
        <header>
            <section class="row-home">
                <figure class="logo"><a href="~/Trip/Index"><img src="~/Content/images/logo.png" width="180" height="37" alt="1EZTRIP"></a></figure>
                <nav>
                    <aside class="menu">
                        <ul>
                            <li><a href="~/Trip/Index" class="active">Home</a></li>
                        </ul>
                    </aside>
                </nav>
            </section>
        </header>
        <section class="banner">
            <article class="inner-banner">
                <figure><img src="~/Content/images/AppImages/aboutbanner.jpg" alt="" /></figure>
            </article>
        </section>
        <section class="inner-wrapper">
            <section class="row-home">
                <article class="inner-cont">
                    <h2></h2>
                    <div id="divadd_student">
                        <div style="color: #000;font-size: large; margin-bottom: 10px;text-align: left;"><h2>Testimonials</h2>
                        <div id="divname">
                        </div>
                        </div>
                        </div>                                                               
                </article>
            </section>
        </section>
        <div class="clear"></div>
        @Html.Partial("Footer_PartialView")
        <!-- Script -->
        <script type="text/javascript" src="~/Scripts/images/html5.js"></script>
        <script type="text/javascript" src="~/Scripts/images/respond.js"></script>
        <script type="text/javascript" src="~/Scripts/images/jquery.js"></script>
        <script type="text/javascript" src="~/Scripts/images/common.js"></script>
    </body>
</html>

