﻿@model eztripStart.Models.MyProfile
@{
    if (Session["username"] == null || Session["LoggedUserId"] == null)
    {
        Response.Redirect("~/Trip/Index");
    }
    var username = Session["username"];
    var CurrentTripid = Session["LoggedTripId"];
    var LoggedUserId = Session["LoggedUserId"];    
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>1EZ TRIP</title>
    <link rel="shortcut icon" href="../Content/images/location-home-icon.png" />
    <!--  CSS  -->
    <link rel="stylesheet" href="~/Content/css/style-1eztrip.css" type="text/css">
    <link href="~/Content/Extracss/ProfileMaintenance.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/css/jquery.mCustomScrollbar.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/jquery.ui.css" type="text/css">
    <!--[if IE 9]><link rel="stylesheet" href="css/ie.css" type="text/css"><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" href="css/ie8.css" type="text/css"><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
        .btn-primary {
            background-color: rgb(9, 168, 229);
            width: 14%;
            border-color: rgb(9, 168, 229);
            border-radius: 4px;
            color: white;
        }

        .btn-danger {
            background-color: rgb(192, 81, 148);
            border-color: rgb(192, 81, 148);
            border-radius: 4px;
            width: 18%;
            color: white;
        }
    </style>

</head>
<body>
    <header>
        <section class="row">
            <figure class="logo"><a href="~/Trip/Index" id="#logo"><img src="~/Content/images/logo.png" width="180" height="37" alt="1EZTRIP"></a></figure>
            <nav>
                <aside class="menu">
                    <ul>
                        <li><a href="~/Trip/Index" class="active">Home</a></li>
                        <li style="display:none;"><a href="javascript:;" id="CurrentIternary" class="active">Current itinerary</a><input type="hidden" id="CurrentTripId" value="@CurrentTripid" /></li>
                        <li><a href="@Url.Action("MyTrips", "Trip")">My Trips</a></li>
                        <li><a href="@Url.Action("ViewMyProfile", "Trip")">My Account</a><a id="notificationCount" class="notifications" href="@Url.Action("Notification", "Trip")" title="Notifications" style="display:none;"></a></li>
                    </ul>
                </aside>

                <div id="wel-mem">
                    <ul>
                        <li style="width:190px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;">Hi <label id="lblusername">@username</label></li>
                        <input type="hidden" id="LoggedUserId" value="@LoggedUserId" />
                        <li class="last"><a href="#" onclick="return logout();">Logout</a></li>
                    </ul>
                </div>

            </nav>
        </section>
    </header>
    <section>
@using (Html.BeginForm("UpdateMyProfile", "Trip", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmID" }))
    {
        <section class="row-table">
            <div class="profile">
                <div class="profile-left">
                    <div class="photo">
                        @{
                            if (Model.ProfilePicture == null || Model.ProfilePicture == "")
                            {
                                <img src="../Content/images/ProfilePics/avatar.jpg" style="height:224px;width:244px;border-radius:4px;" id="imageupload">
                        }
                        else
                        {
                                <img src="../Content/images/ProfilePics/@Model.ProfilePicture" style="border-radius:4px;" id="imageupload">
                        }
                        }                
                        <div class="image-upload">
                            <input type="file" class="hidden" id="userfile" name="userfile" placeholder="profile image" />
                            <div class="editbutton" id="uploadTrigger">Upload Photo</div>
                        </div>
                    </div>
                        <div class="user-profile"><a href="@Url.Action("ViewMyProfile","Trip")"><div><img src="~/Content/images/user_pro_img.png">User Profile</div></a></div>
                        <div class="edit-profile selected"><a href="@Url.Action("UpdateMyProfile","Trip")"><div><img src="~/Content/images/edit_pro_icon.png"> Edit Profile</div></a></div>
                        <div class="edit-profile"><a href="@Url.Action("MyTrips","Trip")"><div><img src="~/Content/images/trips_img.png"> My Trips</div></a></div>
                    <a href="@Url.Action("Group","Trip")"><div class="edit-profile"><div><img src="~/Content/images/group-icon.png">Group</div></div></a>
                    <a href="@Url.Action("Notification", "Trip")"><div class="edit-profile "><div><img src="~/Content/images/notify_icon.png">Notification</div></div></a>
                    <a href="@Url.Action("Invite", "Trip")"><div class="edit-profile"><div><img src="~/Content/images/invite_icon.png">Invite</div></div></a>
                  </div>
                <div class="profile-right">
                    <div class="editpro-table">
                        <div class="form_table">
                            <form>
								<div class="rowpad">
									<div class="col">
										<label for="name">First Name <span class="red">*</span></label>
                                		@Html.TextBoxFor(model => model.FirstName, new { id = "firstname", TabIndex = 1, style = "text-transform:lowercase;", required = "required", name = "name", maxlength = "10", onkeypress = "return onlyAlphabets(event,this);" })
									</div>
									<div class="col">
										 <label for="name">Last Name <span class="red">*</span></label>
                            			@Html.TextBoxFor(model => model.LastName, new { id = "lastname", TabIndex = 2, style = "text-transform:lowercase;", required = "required", name = "name", maxlength = "10", onkeypress = "return onlyAlphabets(event,this);" })
									</div>
								</div>
                                <div class="rowpad">
									<div class="col">
										<label for="name">Mobile No <span class="red">*</span></label>
                               			@Html.TextBoxFor(model => model.ContactNumber, new { id = "ContactNumber", TabIndex = 3, required = "required", name = "name", maxlength = "15" })
									</div>
									<div class="col">
										<label for="name">Email Id <span class="red">*</span></label>
                            			@Html.TextBoxFor(model => model.EmailId, new { id = "email", TabIndex = 4, required = "required", name = "emailid" })
									</div>
								</div>
                                <div class="rowpad">
									<div class="col">
										<label for="name">Current City <span class="red">*</span></label>
                                		@Html.TextBoxFor(model => model.CurrentCity, new { id = "CurrentCity", TabIndex = 5, required = "required", name = "name" })	
									</div>
									<div class="col">
									</div>
								</div>
                            </form>
                        </div>
                        <div class="editpro-buttons">
                            <input type="submit" value="submit" id="updateprofile" tabindex=6>                           
                            <div onclick="ChangePswd()" id="change-pwd-txt" tabindex=7>
                                <img src="~/Content/images/tab_edit_img.png" />
                                <label style="cursor:pointer;">Change Password</label>
                            </div>
                        </div>
                        </div>
                    <div id="chngpassword" style="display:none;min-width:30%;">
                        <div class="editpro-table">
                            <div class="editpro-table-lft">
                                <form>
                                    <input type="password" required="required" id="currentPwd" name="currentPwd" />
                                    <label for="name">Current Password</label>
                                    <input type="password" required="required" name="newpwd" id="newpwd"/>
                                    <label for="name">New Password</label>
                                    <input type="password" required="required" name="confirmpwd" id="confirmpwd" />
                                    <label for="name">Confirm Password</label>
                                </form>
                            </div>
                            @*<div class="editpro-table-rht">
                                <form style="margin-top:10px;">
                                    <input type="password" required="required" name="confirmpwd" id="confirmpwd" />
                                    <label for="name">Confirm Password</label>
                                </form>
                            </div>*@
                            <div class="editpro-buttons">
                                <input type="button" value="Change Password" id="btnchngPassword">
                                <input type="button" value="Cancel" id="cancelChangePwd">
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
        </section>
}
    </section>

    <div class="clear"></div>
    @Html.Partial("~/Views/Shared/Footer-Small.cshtml")
    <!-- Script -->
    <script type="text/javascript" src="~/Scripts/js/html5.js"></script>
    <script type="text/javascript" src="~/Scripts/js/respond.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.js"></script>
    <script src="~/Scripts/loading_plugin_js/jquery.noty.packaged.min.js"></script>
    <!-- Google CDN jQuery with fallback to local -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../js/minified/jquery-1.11.0.min.js"><\/script>')</script>
    <script type="text/javascript" src="~/Scripts/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/Scripts/loading_plugin_js/jquery.noty.packaged.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/common.js"></script>
    <script src="~/Scripts/Jsfiles/CurrentItenaries.js"></script> 
    <script>
        (function ($) {
            $(window).load(function () {
                $("#plans-height").mCustomScrollbar({
                    theme: "minimal"
                });               
            });
        })(jQuery);

        $(document).ready(function () {
            var totalNotificationCount;
            $.ajax({
                url: '../Trip/GetNotificationCount',
                type: "POST",
                async: false,
                dataType: "json",
                success: function (result) {
                    totalNotificationCount = result;
                    if (totalNotificationCount > 0) {
                        $("#notificationCount").show();
                        $("#notificationCount").text(totalNotificationCount);
                    } else {
                        $("#notificationCount").hide();

                    }
                }
            });
        });

        $("#ContactNumber,#firstname,#lastname,#currentPwd,#confirmpwd,#newpwd").on({
            keydown: function (e) {
                if (e.which === 32)
                    return false;
            },
            change: function () {
                this.value = this.value.replace(/\s/g, "");
            }
        });

        function onlyAlphabets(e, t) {
            try {
                if (window.event) {
                    var charCode = window.event.keyCode;
                }
                else if (e) {
                    var charCode = e.which;
                }
                else { return true; }
                if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123) || charCode == 8 || charCode == 46 || charCode == 37 || charCode == 39)
                    return true;
                else
                    return false;
            }
            catch (err) {
                //alert(err.Description);
            }
        }

        $("#updateprofile").on('click', function () {
        if ($("#ContactNumber").val().length<10)
            {
                var noty_alert = noty({
                    layout: 'topRight',
                    text: 'Invalid Contact Number..',
                    type: 'warning',
                    timeout: 3000,
                    maxVisible: 1,
                    animation: {
                        open: { height: 'toggle' },
                        close: { height: 'toggle' },
                        easing: 'swing',
                        speed: 500
                    }
                });
                return false;
            }
            var phoneNum = $("#ContactNumber").val();
            var filter = /^[0-9-+]+$/;
            if (filter.test(phoneNum)) {
                return true;
            }            
            else {
                var noty_alert = noty({
                    layout: 'topRight',
                    text: 'Invalid Contact Number..',
                    type: 'warning',
                    timeout: 3000,
                    maxVisible: 1,
                    animation: {
                        open: { height: 'toggle' },
                        close: { height: 'toggle' },
                        easing: 'swing',
                        speed: 500
                    }
                });
	        return false;
        }
        });

        $("#uploadTrigger").click(function () {
            $("#userfile").click();
        });

        function ChangePswd() {
            $('#chngpassword').slideToggle(500);
        }

        $("#btnchngPassword").on('click', function () {
            if ($("#currentPwd").val() == "") {
                var noty_alert = noty({
                    layout: 'topRight',
                    text: 'Enter Your Current Password',
                    type: 'warning',
                    timeout: 3000,
                    maxVisible: 1,
                    animation: {
                        open: { height: 'toggle' },
                        close: { height: 'toggle' },
                        easing: 'swing',
                        speed: 500
                    }
                });
                return false;
            }
            else
            {
                var oldpwd = $("#currentPwd").val();
                $.ajax({
                    url: "../Trip/ChckCurrentPassword",
                    type: "POST",
                    data: { 'oldpwd': oldpwd },
                    dataType: "json",
                    success: function (result) {
                        if (!result) {

                            var noty_alert = noty({
                                layout: 'topRight',
                                text: 'Current Password Is Incorrect',
                                type: 'warning',
                                timeout: 3000,
                                maxVisible: 1,
                                animation: {
                                    open: { height: 'toggle' },
                                    close: { height: 'toggle' },
                                    easing: 'swing',
                                    speed: 500
                                }
                            });
                            $("#currentPwd").val("");
                            $("#newpwd").val("");
                            $("#confirmpwd").val("");
                            return false;
                        }
                        else
                        {
                            if ($("#newpwd").val() == "") {
                                var noty_alert = noty({
                                    layout: 'topRight',
                                    text: 'Enter Your New Password',
                                    type: 'warning',
                                    timeout: 3000,
                                    maxVisible: 1,
                                    animation: {
                                        open: { height: 'toggle' },
                                        close: { height: 'toggle' },
                                        easing: 'swing',
                                        speed: 500
                                    }
                                });
                                return false;
                            }
                            if ($("#confirmpwd").val() == "") {
                                var noty_alert = noty({
                                    layout: 'topRight',
                                    text: 'Enter Your Confirm Password',
                                    type: 'warning',
                                    timeout: 3000,
                                    maxVisible: 1,
                                    animation: {
                                        open: { height: 'toggle' },
                                        close: { height: 'toggle' },
                                        easing: 'swing',
                                        speed: 500
                                    }
                                });
                                return false;
                            }
                            if ($("#newpwd").val() != $("#confirmpwd").val()) {
                                var noty_alert = noty({
                                    layout: 'topRight',
                                    text: 'New password & confirm password doesn\'t match',
                                    type: 'warning',
                                    timeout: 3000,
                                    maxVisible: 1,
                                    animation: {
                                        open: { height: 'toggle' },
                                        close: { height: 'toggle' },
                                        easing: 'swing',
                                        speed: 500
                                    }
                                });
                                return false;
                            }
                            else {
                                var newpwd = $("#newpwd").val();
                                $.ajax({
                                    url: "../Trip/UpdateNewPassword",
                                    type: "POST",
                                    data: { 'newpwd': newpwd },
                                    dataType: "json",
                                    success: function (result) {

                                        var noty_alert = noty({
                                            layout: 'topRight',
                                            text: 'Password changed successfully',
                                            type: 'success',
                                            timeout: 3000,
                                            maxVisible: 1,
                                            animation: {
                                                open: { height: 'toggle' },
                                                close: { height: 'toggle' },
                                                easing: 'swing',
                                                speed: 500
                                            }
                                        });
                                        $("#currentPwd").val("");
                                        $("#newpwd").val("");
                                        $("#confirmpwd").val("");
                                        $("#cancelChangePwd").trigger('click');
                                    }
                                });
                            }
                        }
                    }
                });
            }            
        });

        $("#cancelChangePwd").on('click', function () {
            $("#currentPwd").val("");
            $("#newpwd").val("");
            $("#confirmpwd").val("");
            $("#chngpassword").slideUp(500);
        });

        function readURL(inputfile) {
            if (inputfile.files && inputfile.files[0]) {
                var filname=inputfile.files[0].name.split('.');
                var arlen=filname.length-1;
                var allow = new Array("gif", "png", "jpg", "jpeg");
                if ($.inArray(filname[arlen], allow)==-1)
                {
                    var noty_alert = noty({
                        layout: 'topRight',
                        text: 'Only image files are accepted..',
                        type: 'warning',
                        timeout: 3000,
                        maxVisible: 1,
                        animation: {
                            open: { height: 'toggle' },
                            close: { height: 'toggle' },
                            easing: 'swing',
                            speed: 500
                        }
                    });
                    return false;
                }
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imageupload').attr('src', e.target.result);                    
                }
                reader.readAsDataURL(inputfile.files[0]);
            }
        }

        $("#userfile").change(function () {
            readURL(this);
        });

        function logout() {
            noty({
                layout: 'topRight',
                type: 'confirm',
                maxVisible: 1,
                modal: true,
                text: 'Do you want to logout?',
                buttons: [
                    {
                        addClass: 'btn btn-primary', text: 'Ok', onClick: function ($noty) {
                            $noty.close();
                            chck_logout = 1;
                            $.ajax({
                                type: "POST",
                                url: '../Trip/ClearLoginSession',
                                success: function () {
                                    localStorage.removeItem('IsSavedinDB5');
                                    window.location.href = "../trip/index";
                                }
                            });
                            FB.logout();
                        }
                    },
                    {
                        addClass: 'btn btn-danger', text: 'Cancel', onClick: function ($noty) {
                            $noty.close();
                            return false;
                        }
                    }
                ]
            });
        }
    </script>
</body>
</html>