﻿@{
    ViewBag.Title = "userquery";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>1EZ TRIP</title>
    <link rel="shortcut icon" href="../Content/images/location-home-icon.png" />
    <!--  CSS  -->
    <link rel="stylesheet" href="~/Content/css/style-1eztrip.css" type="text/css">
    <!--[if IE 9]><link rel="stylesheet" href="~/Content/css/ie.css" type="text/css"><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" href="~/Content/css/ie8.css" type="text/css"><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <header>
        <section class="row-home">
            <figure class="logo"><a href="~/Trip/Index"><img src="~/Content/images/logo.png" width="180" height="37" alt="1EZTRIP"></a></figure>
            <nav>
                <aside class="menu">
                    <ul>
                        <li><a href="~/Trip/Index" class="active">Home</a></li>
                    </ul>
                </aside>

            </nav>
        </section>
    </header>
    <section class="banner">
        <article class="inner-banner">
            <figure><img src="~/Content/images/AppImages/aboutbanner.jpg" alt="" /></figure>
        </article>
    </section>
    <section class="inner-wrapper">
        <section class="row-home">
            <article class="inner-cont">
                <aside class="inner-right">
                    <p class="top-para" style="color:#033363;">1. What is the use of 1EzTrip?</p>
                    <p class="top-para"> Tourism is the travel for recreation, leisure, religious, family business purposes, usually of a limited duration.Tourism has become a popular global leisure activity. Tourism can be domestic or international, and international tourism has both incoming and outgoing implications on a country's balance of payments. Today, tourism is a major source of income for many countries, and affects the economy of both the source and host countries, in some cases it is of vital importance.</p>
                </aside>
                <aside class="inner-right">
                    <p class="top-para" style="color:#033363;"> 2. How does 1EzTrip Works?</p>
                    <p class="top-para"> Tourism is the travel for recreation, leisure, religious, family business purposes, usually of a limited duration. Tourism has become a popular global leisure activity. Tourism can be domestic or international, and international tourism has both incoming and outgoing implications on a country's balance of payments. Today, tourism is a major source of income for many countries, and affects the economy of both the source and host countries, in some cases it is of vital importance.</p>
                </aside>
                <aside class="inner-right">
                    <p class="top-para" style="color:#033363;"> 3.How can I plan my trip using 1EzTrip work?</p>
                    <p class="top-para"> Tourism is the travel for recreation, leisure, religious, family business purposes, usually of a limited duration.  Tourism has become a popular global leisure activity. Tourism can be domestic or international, and international tourism has both incoming and outgoing implications on a country's balance of payments. Today, tourism is a major source of income for many countries, and affects the economy of both the source and host countries, in some cases it is of vital importance.</p>
                </aside>
                <aside class="inner-right">
                    <p class="top-para" style="color:#033363;">4. How can I Customize my trip using 1EzTrip?</p>
                    <p class="top-para"> Tourism is the travel for recreation, leisure, religious, family business purposes, usually of a limited duration.  Tourism has become a popular global leisure activity. Tourism can be domestic or international, and international tourism has both incoming and outgoing implications on a country's balance of payments. Today, tourism is a major source of income for many countries, and affects the economy of both the source and host countries, in some cases it is of vital importance.</p>
                </aside>
                <aside class="inner-right" id="content-y">
                    <p class="top-para" style="color:#033363;">5. What kind of information do I get for hotels, restaurants, attractions and activities in1EzTrip?</p>
                    <p class="top-para"> Tourism is the travel for recreation, leisure, religious, family business purposes, usually of a limited duration.  Tourism has become a popular global leisure activity. Tourism can be domestic or international, and international tourism has both incoming and outgoing implications on a country's balance of payments. Today, tourism is a major source of income for many countries, and affects the economy of both the source and host countries, in some cases it is of vital importance.</p>
                </aside>
                <aside class="inner-right">
                    <p class="top-para" style="color:#033363;"> 6. Is it also possible to add my own custom place in my trip?</p>
                    <p class="top-para"> Tourism is the travel for recreation, leisure, religious, family business purposes, usually of a limited duration.  Tourism has become a popular global leisure activity. Tourism can be domestic or international, and international tourism has both incoming and outgoing implications on a country's balance of payments. Today, tourism is a major source of income for many countries, and affects the economy of both the source and host countries, in some cases it is of vital importance.</p>
                </aside>
            </article>
        </section>
    </section>
    <div class="clear"></div>
    @Html.Partial("Footer_PartialView")
    <!-- Script -->
    <script type="text/javascript" src="~/Scripts/js/html5.js"></script>
    <script type="text/javascript" src="~/Scripts/js/respond.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.js"></script>
    <script type="text/javascript" src="~/Scripts/js/common.js"></script>
    <script>
        $(function () {
            $("html, body").animate({ scrollTop: "320px" });
        });
    </script>
</body>
</html>
