﻿@{
    if (Session["username"] == null || Session["LoggedUserId"] == null)
    {
        Response.Redirect("~/Trip/Index");
    }
    var username = Session["username"];
    var LoggedUserId = Session["LoggedUserId"];
    var CurrentTripid = Session["LoggedTripId"];
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>1EZ TRIP</title>
    <link rel="shortcut icon" href="../Content/images/location-home-icon.png" />
    <!--  CSS  -->
    <link rel="stylesheet" href="~/Content/css/style-1eztrip.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/jquery.mCustomScrollbar.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/jquery.ui.css" type="text/css">
    <!--[if IE 9]><link rel="stylesheet" href="css/ie.css" type="text/css"><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" href="css/ie8.css" type="text/css"><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
                .btn-primary
        {
            background-color: rgb(9, 168, 229);
            width: 14%;
            border-color: rgb(9, 168, 229);
            border-radius: 4px;
            color: white;
        }

        .btn-danger
        {
            background-color: rgb(192, 81, 148);
            border-color: rgb(192, 81, 148);
            border-radius: 4px;
            width: 18%;
            color: white;
        }
    </style>
</head>
<body>
    <header>
        <section class="row">
            <figure class="logo"><a href="~/Trip/Index" id="#logo"><img src="~/Content/images/logo.png" width="180" height="37" alt="1EZTRIP"></a></figure>
            <nav>
                <aside class="menu">
                    <ul>
                        <li><a href="~/Trip/Index" class="active">Home</a></li>
                        <li style="display:none;"><a href="javascript:;" id="CurrentIternary" class="active">Current itinerary</a><input type="hidden" id="CurrentTripId" value="@CurrentTripid" /></li>
                        <li><a href="@Url.Action("MyTrips", "Trip")">My Trips</a></li>
                        <li><a href="@Url.Action("ViewMyProfile", "Trip")">My Account</a><a id="notificationCount" class="notifications" href="@Url.Action("Notification", "Trip")" title="Notifications" style="display:none;"></a></li>
                    </ul>
                </aside>

                <div id="wel-mem">
                    <ul>
                        <li style="width:190px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;">Hi<label id="lblusername">@username</label></li>
                        <input type="hidden" id="LoggedUserId" value="@LoggedUserId" />
                        <li class="last"><a href="#" onclick="return logout();">Logout</a></li>                   
                    </ul>
                </div>
            </nav>
        </section>
    </header>
    <section>
        <section class="row-table">
            <div class="profile">
                <div class="profile-left">
                    <div class="photo">
                        @{
    if (ViewBag.ProfilePic == null || ViewBag.ProfilePic.ToString() == "")
    {
        <img src="../Content/images/ProfilePics/avatar.jpg" style="height:224px;width:244px;border-radius:4px;">
    }
    else
    {
        <img id="ProfilePhoto" src="../Content/images/ProfilePics/@ViewBag.ProfilePic" style="border-radius:4px;">
    }
}
                    </div>
                    <a href="@Url.Action("ViewMyProfile","Trip")"><div class="user-profile selected"><div><img src="~/Content/images/user_pro_img.png">User Profile</div></div></a>
                    <a href="@Url.Action("UpdateMyProfile","Trip")"><div class="edit-profile"><div><img src="~/Content/images/edit_pro_icon.png"> Edit Profile</div></div></a>
                    <a href="@Url.Action("MyTrips","Trip")"><div class="edit-profile"><div><img src="~/Content/images/trips_img.png"> My Trips</div></div></a>
                    <a href="@Url.Action("Group","Trip")"><div class="edit-profile"><div><img src="~/Content/images/group-icon.png">Group</div></div></a>
                    <a href="@Url.Action("Notification", "Trip")"><div class="edit-profile "><div><img src="~/Content/images/notify_icon.png">Notification</div></div></a>
                    <a href="@Url.Action("Invite", "Trip")"><div class="edit-profile"><div><img src="~/Content/images/invite_icon.png">Invite</div></div></a>
</div>
                @if (ViewBag.SuccessMessage == "Success")
                {
                    <script type="text/javascript">
                        var notify_alert = noty({
                            layout: 'topRight',
                            text: 'Your Profile Updated Successfully',
                            type: 'success',
                            timeout: 3000,
                            maxVisible: 1,
                            animation: {
                                open: { height: 'toggle' },
                                close: { height: 'toggle' },
                                easing: 'swing',
                                speed: 500
                            }
                        });
                    </script>
                }
                <div class="profile-right" id="ViewMyprofile_Partial">
                    <h1>@ViewBag.Name</h1>
                    <div class="address-pad">
                        <ul>
                            <li class="city-pad">@ViewBag.CurrentCity</li>
                            <li class="phone-pad">@ViewBag.ContactNumber</li>
                            <li class="mail-icon last">@ViewBag.EmailId</li>
                        </ul>
                    </div>
                    <div class="join-eztrip">
                        <h2>Joined 1EzTrip On:</h2>
                        @{
                            DateTime DateJoined = DateTime.Parse(ViewBag.JoinedOn);
                            string formattedDate = DateJoined.ToString("dd-MMM-yyyy");
                        <p>@formattedDate</p>
                        }
                    </div>
                </div>
            </div>
        </section>
    </section>
    <div class="clear"></div>
    @Html.Partial("~/Views/Shared/Footer-Small.cshtml")
    <!-- Script -->
    <script type="text/javascript" src="~/Scripts/js/html5.js"></script>
    <script type="text/javascript" src="~/Scripts/js/respond.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.js"></script>
    <script type="text/javascript" src="~/Scripts/js/common.js"></script>
    <!-- Google CDN jQuery with fallback to local -->
    @*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>*@
    <script src="~/Scripts/js/jquery-1.11.0.min.js"></script>
    <script>window.jQuery || document.write('<script src="../js/minified/jquery-1.11.0.min.js"><\/script>')</script>
    <script type="text/javascript" src="~/Scripts/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/Scripts/loading_plugin_js/jquery.noty.packaged.min.js"></script>
    <script src="~/Scripts/Jsfiles/CurrentItenaries.js"></script> 
    <script>
        (function ($) {
            $(window).load(function () {
                $("#plans-height").mCustomScrollbar({
                    theme: "minimal"
                });

                var totalNotificationCount;
                $.ajax({
                    url: '../Trip/GetNotificationCount',
                    type: "POST",
                    async: false,
                    dataType: "json",
                    success: function (result) {
                        totalNotificationCount = result;
                        if (totalNotificationCount > 0) {
                            $("#notificationCount").show();
                            $("#notificationCount").text(totalNotificationCount);
                        } else {
                            $("#notificationCount").hide();

                        }
                    }
                });
            });
        })(jQuery);

        function logout() {
            noty({
                layout: 'topRight',
                type: 'confirm',
                maxVisible: 1,
                modal: true,
                text: 'Do you want to logout?',
                buttons: [
                    {
                        addClass: 'btn btn-primary', text: 'Ok', onClick: function ($noty) {
                            $noty.close();
                            chck_logout = 1;
                            $.ajax({
                                type: "POST",
                                url: '../Trip/ClearLoginSession',
                                success: function () {
                                    localStorage.removeItem('IsSavedinDB5');
                                    window.location.href = "../trip/index";
                                }
                            });
                            FB.logout();
                        }
                    },
                    {
                        addClass: 'btn btn-danger', text: 'Cancel', onClick: function ($noty) {
                            $noty.close();
                            return false;
                        }
                    }
                ]
            });
        }
    </script>
</body>
</html>