﻿@model eztripStart.Models.NewData
@{
    var username = Session["username"];
    var LoggedUserId = Session["LoggedUserId"];
    var CurrentTripid = Session["CurrentLoggedTripId"];
}

<section class="row">
    <figure class="logo"><a href="~/Trip/Index" id="#logo"><img src="~/Content/images/logo.png" width="180" height="37" alt="1EZTRIP" /></a></figure>
    <nav>
        <aside class="menu">
            <ul id="ulUserpanel">
                <li><a href="~/Trip/Index" class="active">Home</a></li>
                <li style="display:none;"><a href="javascript:;" id="CurrentIternary" class="active">Current itinerary</a><input type="hidden" id="CurrentTripId" value="@CurrentTripid" /></li>
                <li id="LogdUsrMyTrip" style="display:none;"><a href="@Url.Action("MyTrips", "Trip")">My Trips</a></li>
                <li id="LoggedUserLi" style="display:none;"><a href="@Url.Action("ViewMyProfile", "Trip")">My Account</a><a id="notificationCount" class="notifications" href="@Url.Action("Notification", "Trip")" title="Notifications" style="display:none;"></a></li>
                <li class="last" id="liMyAccount"><a href="#register" onclick="return test();">My Account / Register</a><input type="hidden" id="hidmyacc" value="1" /></li>
            </ul>
            <ul></ul>
        </aside>
        <div id="wel-mem" style="display:none;">
            <ul>
                <li style="width:190px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;">Hi<label id="lblusername">@username</label></li>
                <li class="last"><a href="#" onclick="return logout();">Logout</a></li>
            </ul>
            <input type="hidden" id="LoggedUserId" value="@LoggedUserId" />
        </div>
    </nav>
    <div id="register" class="slide-close slide1 ignore_click" style="display: none;width:48%;margin-top:6%;padding:0%;margin-left:15%">
        <div id="FBlink" style="display:none;" class="ignore_click" onclick="$('.login_img').hide(); $('.forgotpsswd_img').hide(); $('.reg_img').show(); $('#login').hide(); $('#regexist').hide(); $('#FBregisterpopup').show();"></div>
        <div class="register-left">
            <img src="~/Content/images/AppImages/big-img1.jpg" class="login_img" style="height:287px;width:100%;border-radius: 4px;" />
            <img src="~/Content/images/AppImages/small-img7.jpg" class="forgotpsswd_img" style="width:100%;display:none; border-radius: 4px; height:195px;" />
            <img src="~/Content/images/AppImages/big-img4.jpg" class="reg_img" style="display:none;width:100%; height:465px; border-radius: 4px;" />
        </div>
        <div class="register-right" id="regexist" style="display:none;">
            <h2>Register </h2>
            <div class="label">First Name</div>
            @Html.TextBoxFor(m => m.firstname, new { id = "txtregfirstname", placeholder = "Enter Your First Name", style = "border-radius: 2px;" })
            <br />
            <span id="errms"></span>
            <div class="label">Last Name</div>
            @Html.TextBoxFor(m => m.lastname, new { id = "txtreglastname", placeholder = "Enter Your Last Name", style = "border-radius: 2px;text-transform:lowercase;" })
            <br /><br /><br /><br />
            <span id="errms1"></span>
            <div class="label">Email</div>
            @Html.TextBoxFor(m => m.mail, new { id = "txtregmail", placeholder = "Enter Your Email Id", style = "border-radius: 2px;" })
            <div class="label">Password</div>
            @Html.PasswordFor(m => m.password, new { id = "txtregpwd", placeholder = "Password", style = "border-radius: 2px;" })
            <div class="label">Conform Password</div>
            <input type="password" id="txtregconpwd" placeholder="Conform Password" style="border-radius: 2px;" />
            <div class="clear"></div>
            <p><span>*</span> All fields are mandatory</p>
            <div class="clear"></div>
            <input type="submit" name="" value="Submit" id="btnregsubmit" style="border-radius: 4px;" />
            <input type="submit" name="" value="Clear" style="margin-left:2px;border-radius: 4px;" id="btnregclear" />           
            @Html.Partial("fbpartial")
            <div class="clear"></div>
            <a href="" id="reglink" style="display:none; padding: 0px 0px 0px 0px;" onclick="$('#regexist').hide(); $('#login').show(); $('#loginlink').show(); $('#lblpwd').show(); $('.login_img').show(); $('.forgotpsswd_img').hide(); $('#FBregisterpopup').hide(); $('.reg_img').hide(); $('#txtloginpwd').show(); $('#btnlogin').show(); $('#btnsend').hide(); $('#pwdlink').show(); $('#reglink').hide(); $('#login_headlbl').show(); $('#forgotpwd_headlbl').hide(); return false;">Existing User/Login</a>
        </div>
        <div class="register-right" id="FBregisterpopup" style="display:none;">
            <input type="hidden" id="FacebookId" />
            <input type="hidden" id="FaceBook_Page" value="1" />
            <h2>Register</h2>
            <lable style="margin-left: 10%;font: -webkit-pictograph;font-size: 88%;font-weight: bold;">You have successfully logged in through facebook. Please fill your details to complete the registration process..</lable>
            <div class="label">First Name</div>
            @Html.TextBoxFor(m => m.firstname, new { id = "txtfbregfirstname", placeholder = "Enter Your First Name", style = "border-radius: 2px;" })
            <br />
            <span id="errms"></span>
            <div class="label">Last Name</div>
            @Html.TextBoxFor(m => m.lastname, new { id = "txtfbreglastname", placeholder = "Enter Your Last Name", style = "border-radius: 2px;" })
            <br /><br /><br /><br />
            <span id="errms1"></span>
            <div class="label">Email</div>
            @Html.TextBoxFor(m => m.mail, new { id = "txtfbregmail", placeholder = "Enter Your Email Id", style = "border-radius: 2px;" })
            <div class="label">Password</div>
            @Html.PasswordFor(m => m.password, new { id = "txtfbregpwd", placeholder = "Password", style = "border-radius: 2px;" })
            <div class="label">Conform Password</div>
            <input type="password" id="txtfbregconpwd" placeholder="Conform Password" style="border-radius: 2px;" />
            <div class="clear"></div>
            <p><span>*</span> All fields are mandatory</p>
            <div class="clear"></div>
            <input type="submit" name="" value="Submit" id="btnfbregsubmit" style="border-radius: 4px;" />
            <input type="submit" name="" value="Clear" style="margin-left:2px;border-radius: 4px;" id="btnfbregclear" />            
            <div class="clear"></div>
            <a href="#" id="reglink" style="padding: 0px 0px 0px 0px;" onclick="$('#regexist').hide(); $('#login').show(); $('#loginlink').show(); $('#lblpwd').show(); $('.login_img').show(); $('.forgotpsswd_img').hide(); $('#FBregisterpopup').hide(); $('.reg_img').hide(); $('#txtloginpwd').show(); $('#btnlogin').show(); $('#btnsend').hide(); $('#pwdlink').show(); $('#reglink').hide(); $('#login_headlbl').show(); $('#forgotpwd_headlbl').hide(); return false;">Existing User/Login</a>
        </div>
        <div class="register-right" id="login">
            <h2 id="login_headlbl"> Login</h2>
            <h2 id="forgotpwd_headlbl" style="display:none;">Forgot Password</h2>
            <div class="label">Email Id</div>
            @Html.TextBoxFor(m => m.username, new { id = "txtloginmail", placeholder = "Enter Your Mail Id", style = "border-radius: 2px;" })
            <div class="label" id="lblpwd">Password</div>
            @Html.PasswordFor(m => m.pwd, new { id = "txtloginpwd", placeholder = "Enter Your Password", style = "border-radius: 2px;" })
            <div class="clear"></div>
            <p id="field"><span>*</span> All fields are mandatory</p>
            <p>
                <input type="checkbox" name="" value="Clear" style="margin-left:2px;border-radius: 8px;" id="chkremember" />  <label for="chkremember"> Remember me</label>
            </p>
            <input type="submit" name="" value="Submit" id="btnlogin" style="border-radius: 4px;" />
            <input type="submit" name="" value="Send Mail" id="btnsend" style="display: none; border-radius: 4px;" />
            <input type="submit" name="" id="btnpwdclear" value="Clear" style="margin-left: 2px; border-radius: 4px;" />
            <div class="clear"></div>
            <a href="" id="loginlink" onclick="$('#regexist').show(); $('#login').hide(); $('#loginlink').hide(); $('#reglink').show(); $('.login_img').hide(); $('.forgotpsswd_img').hide(); $('#FBregisterpopup').hide(); $('.reg_img').show(); return false;">Register Here!</a>
            <a class="last" href="" id="pwdlink" onclick="$('#txtloginpwd').hide(); $('#lblpwd').hide(); $('#field').hide(); $('#pwdlink').hide(); $('#btnlogin').hide(); $('#FBregisterpopup').hide(); $('#loginlink').show(); $('.login_img').hide(); $('.forgotpsswd_img').show(); $('.reg_img').hide(); $('#btnsend').show(); $('#login_headlbl').hide(); $('#forgotpwd_headlbl').show(); return false;">Forgot Password?</a>
            @Html.Partial("fbpartial")
        </div>
    </div>
</section>
