﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <section class="row">
        <article class="curve-bor"></article>
    </section>
    <footer>
        <section class="row-home">
            <section class="f-top">
                <aside class="foot-about">
                    <figure><img src="~/Content/images/logo-footer.png" alt="" /></figure>
                    <h4>About Us</h4>
                    <p>1ezTrip simplifies trip planning by automatically suggesting a personalized trip itinerary in just minutes based on your travel preferences.</p>
                </aside>
                <aside class="foot-list">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="about.html">About</a></li>
                        <li><a href="faq.html">FAQ</a></li>
                        @*<li><a href="#">Help</a></li>*@
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Press Room</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </aside>
                <aside class="foot-list">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="#">Popular Itineraries</a></li>
                        <li><a href="#">Popular Destinations</a></li>
                        <li><a href="#">User Preferences</a></li>
                        <li><a href="#">Itinerary Output</a></li>
                        <li><a href="#">Research</a></li>
                    </ul>
                </aside>
                <aside class="foot-last">
                    <h4>Join Us On</h4>
                    @*<p>Lorem Ipsum is simply dummy text of the industry. been the industry's</p>*@
                    <ul>
                        <li><a href="#"><img src="~/Content/images/fb-h.png" alt="" /></a></li>
                        <li><a href="#"><img src="~/Content/images/twit-h.png" alt="" /></a></li>
                        <li><a href="#"><img src="~/Content/images/pin-h.png" alt="" /></a></li>
                        <li><a href="#"><img src="~/Content/images/rss-h.png" alt="" /></a></li>
                    </ul>
                </aside>
                <div class="clear border-foot"></div>
                <article class="foot-l-home">
                    <aside class="copyrit"> &copy; Copyright @DateTime.Now.Year <span>1eztrip</span></aside>
                </article>
                <article class="foot-r-home">
                    <nav class="foo-nav">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Plan My Trip</a></li>
                            <li><a href="#" class="last">My Account / Register</a></li>
                        </ul>
                    </nav>
                </article>
            </section>
        </section>
    </footer>
</body>
</html>
