﻿<style type="text/css">
    .pac-container {
    z-index: 1000000000 !important;
}
</style>

<div id="dest-popup" class="slide-close slide1 ignore_click" style="display: none; margin-top:0%;margin-left:15%;z-index:100000; left:0px;height:70% !important;overflow-y:scroll">
    <img src="../Content/images/del_travel-bkp-7-5-15.png" style="float: right;" onclick="$('#dest-popup').slideUp();"/>
    <div>
        <span style="color:red;">Please choose city..</span>

        <input type="text" id="desttext" class="ignore_click" placeholder="Enter Destination" style="width:26%;" />
        <input type="hidden" id="selcit" value="0" />
    </div>
    <div class="accordian-popup">
        <div class="clear"></div>
        <div class="accordion_in acc_active" id="typedestination" style="display:none;">
            <div class="acc_head">Selected Cities</div>
            <div class="acc_content">
                <div class="acc-dest">
                    <ul id="cityalign" class="ignore_click"></ul>
                    <a href="" onclick="return gotocustoradd();" style="width:10px;">
                        <input type="button" id="btnsubmit" value="Proceed" style="margin: 52px 250px 15px;" />
                        <img src="../Content/images/newajax.gif" id="loadgif" style="display:none;" />
                    </a>
                </div>
            </div>
        </div>
        <div class="accordion_in acc_active">
            <div class="acc_head">Africa</div>
            <div class="acc_content">
                <div class="acc-dest">
                    <p>Lorem ipsum dolor sit amet, consectetur. Etiam pelle ntesque aliquet tellus. Lorem ipsum dolor sit amet, consectetur. Etiam pelle ntesque aliquet tellus. Lorem ipsum dolor sit amet, consectetur. Etiam pelle ntesque aliquet tellus. </p>
                    <div class="clear"></div>
                    <ul class="ignore_click" id="Africa"></ul>
                </div>
            </div>
        </div>
        <div class="accordion_in">
            <div class="acc_head">Antarctica</div>
            <div class="acc_content">
                <div class="acc-dest">
                    <p>Lorem ipsum dolor sit amet, consectetur. Etiam pelle ntesque aliquet tellus. Lorem ipsum dolor sit amet, consectetur. Etiam pelle ntesque aliquet tellus. Lorem ipsum dolor sit amet, consectetur. Etiam pelle ntesque aliquet tellus. </p>
                    <div class="clear"></div>
                    <ul class="ignore_click" id="Antarctica"></ul>
                </div>
            </div>
        </div>
        <div class="accordion_in">
            <div class="acc_head">Asia</div>
            <div class="acc_content">
                <div class="acc-dest">
                    <p>Lorem ipsum dolor sit amet, consectetur. Etiam pelle ntesque aliquet tellus. Lorem ipsum dolor sit amet, consectetur. Etiam pelle ntesque aliquet tellus. Lorem ipsum dolor sit amet, consectetur. Etiam pelle ntesque aliquet tellus. </p>
                    <div class="clear"></div>
                    <ul class="ignore_click" id="Asia"></ul>
                </div>
            </div>
        </div>
        <div class="accordion_in">
            <div class="acc_head">Central America</div>
            <div class="acc_content">
                <div class="acc-dest">
                    <p>Lorem ipsum dolor sit amet, consectetur. Etiam pelle ntesque aliquet tellus. Lorem ipsum dolor sit amet, consectetur. Etiam pelle ntesque aliquet tellus. Lorem ipsum dolor sit amet, consectetur. Etiam pelle ntesque aliquet tellus. </p>
                    <div class="clear"></div>
                    <ul class="ignore_click" id="CentralAmerica"></ul>
                </div>
            </div>
        </div>
        <div class="accordion_in">
            <div class="acc_head last">Eastern Europe</div>
            <div class="acc_content">
                <div class="acc-dest">
                    <p>Lorem ipsum dolor sit amet, consectetur. Etiam pelle ntesque aliquet tellus. Lorem ipsum dolor sit amet, consectetur. Etiam pelle ntesque aliquet tellus. Lorem ipsum dolor sit amet, consectetur. Etiam pelle ntesque aliquet tellus. </p>
                    <div class="clear"></div>
                    <ul class="ignore_click" id="EasternEurope"></ul>
                </div>
            </div>
        </div>
        <div class="accordion_in">
            <div class="acc_head last">Europe</div>
            <div class="acc_content">
                <div class="acc-dest">
                    <p>Lorem ipsum dolor sit amet, consectetur. Etiam pelle ntesque aliquet tellus. Lorem ipsum dolor sit amet, consectetur. Etiam pelle ntesque aliquet tellus. Lorem ipsum dolor sit amet, consectetur. Etiam pelle ntesque aliquet tellus. </p>
                    <div class="clear"></div>
                    <ul class="ignore_click" id="Europe"></ul>
                </div>
            </div>
        </div>
        <div class="accordion_in">
            <div class="acc_head last">Middle East</div>
            <div class="acc_content">
                <div class="acc-dest">
                    <p>Lorem ipsum dolor sit amet, consectetur. Etiam pelle ntesque aliquet tellus. Lorem ipsum dolor sit amet, consectetur. Etiam pelle ntesque aliquet tellus. Lorem ipsum dolor sit amet, consectetur. Etiam pelle ntesque aliquet tellus. </p>
                    <div class="clear"></div>
                    <ul class="ignore_click" id="MiddleEast"></ul>
                </div>
            </div>
        </div>
        <div class="accordion_in">
            <div class="acc_head last">South Pacific</div>
            <div class="acc_content">
                <div class="acc-dest">
                    <p>Lorem ipsum dolor sit amet, consectetur. Etiam pelle ntesque aliquet tellus. Lorem ipsum dolor sit amet, consectetur. Etiam pelle ntesque aliquet tellus. Lorem ipsum dolor sit amet, consectetur. Etiam pelle ntesque aliquet tellus. </p>
                    <div class="clear"></div>
                    <ul class="ignore_click" id="SouthPacific"></ul>
                   </div>
            </div>
        </div>
        <div class="accordion_in">
            <div class="acc_head last">South America</div>
            <div class="acc_content">
                <div class="acc-dest">
                    <p>Lorem ipsum dolor sit amet, consectetur. Etiam pelle ntesque aliquet tellus. Lorem ipsum dolor sit amet, consectetur. Etiam pelle ntesque aliquet tellus. Lorem ipsum dolor sit amet, consectetur. Etiam pelle ntesque aliquet tellus. </p>
                    <div class="clear"></div>
                    <ul class="ignore_click" id="SouthAmerica"></ul>
                </div>
            </div>
        </div>
        <div class="accordion_in">
            <div class="acc_head last">Scandinavia</div>
            <div class="acc_content">
                <div class="acc-dest">
                    <p>Lorem ipsum dolor sit amet, consectetur. Etiam pelle ntesque aliquet tellus. Lorem ipsum dolor sit amet, consectetur. Etiam pelle ntesque aliquet tellus. Lorem ipsum dolor sit amet, consectetur. Etiam pelle ntesque aliquet tellus. </p>
                    <div class="clear"></div>
                    <ul class="ignore_click" id="Scandinavia"></ul>
                </div>
            </div>
        </div>
    </div>
    <a href="javascript:;" class="fancybox-item slideClose" title="Close" onclick="$('#dest-popup').hide();"></a>
</div>