﻿<div id="load-screen" style="display: none; background-color:#f0f0f0;" class="welcome">
    <div class="welcome-right font-design">
        <h2 style="color:#00c2f1">Welcome to 1ezTrip</h2>
        <h3 style="color:#00c2f1">Travel Planning Made Easy</h3>
        <div class="label1">
            Date of Travel <span style="color:orangered;font-size:20px;">*</span>
            <p><input type="text" id="datepicker" placeholder="MM/DD/YYYY" style="position: relative;z-index: 1000000;border-radius: 8px;width:80%;" maxlength="10"/></p>
        </div>
        <div class="label1" style="margin-bottom:0px;">
            Number of Days <span style="color:orangered;font-size:20px;">*</span>
            <p><input type="text" id="noofdays" style="border-radius: 8px;width:80%;" /></p><br /><span id="errmsg"></span>
        </div>
        <div class="hotel-style">
            <img src="../Content/images/arrow-btn-grayUp.png" id="hidePref" style="float: right;margin-right: 5%;cursor:pointer;display:none;" onclick="$('#hotelSpn').hide(); $('#allPref').hide(); $('#showPref').show(); $('#hidePref').hide();" />
            <img src="../Content/images/arrow-btn-grayDown.png" id="showPref" style="float: right; margin-right: 20%; cursor: pointer; display:none;" onclick="$('#hotelSpn').show(); $('#allPref').show(); $('#showPref').hide(); $('#hidePref').show();"/>
            <h4> Select your preference</h4>
            <span id="hotelSpn" style="color:#00c2f1;font-weight:bold;"> Hotels</span>
            <div class="pre-details" id="allPref" style="width:96%;">
                <div class="price-bar" style="/*padding:5px 13px;*/ padding: 2px 15px 2px 5px;">
                    <label for="amount">Budget</label>
                    <input type="text" class="amount amount-pad" id="txtprice" />
                    <div id="slider-range1" class="slider-pad"></div>
                </div>

                <span id="errmsg1"></span>
                <div class="rating-styles">
                    <span style="color:#00c2f1;">
                        Hotel Class
                    </span>
                    <input type="hidden" id="htnhc" value="" />
                    <div class="rating-vote1">
                        <input type="checkbox" class="hccheck-box" value="5" name="hclass" id="chk5hc" title="5-star hotel" />
                        <label for="chk5hc">
                            <div class="ratings-yellow"></div>
                            <div class="ratings-yellow"></div>
                            <div class="ratings-yellow"></div>
                            <div class="ratings-yellow"></div>
                            <div class="ratings-yellow"></div>
                        </label>
                    </div>
                    <div class="rating-vote1">
                        <input type="checkbox" class="hccheck-box" value="4" name="hclass" id="chk4hc" title="4-star hotel" />
                        <label for="chk4hc">
                            <div class="ratings-yellow"></div>
                            <div class="ratings-yellow"></div>
                            <div class="ratings-yellow"></div>
                            <div class="ratings-yellow"></div>
                            </label>
                    </div>
                    <div class="rating-vote1">
                        <input type="checkbox" class="hccheck-box" value="3" name="hclass" id="chk3hc" title="3-star hotel" />
                        <label for="chk3hc">
                            <div class="ratings-yellow"></div>
                            <div class="ratings-yellow"></div>
                            <div class="ratings-yellow"></div>
                            </label>
                    </div>
                    <div class="rating-vote1">
                        <input type="checkbox" class="hccheck-box" value="2" name="hclass" id="chk2hc" title="2-star hotel" />
                        <label for="chk2hc">
                            <div class="ratings-yellow"></div>
                            <div class="ratings-yellow"></div>
                            </label>
                    </div>
                    <div class="rating-vote1">
                        <input type="checkbox" class="hccheck-box" value="1" name="hclass" id="chk1hc" title="1-star hotel" />
                        <label for="chk1hc">
                            <div class="ratings-yellow"></div>
                            </label>
                    </div>
                </div>

                <div class="rating-styles" style="display:none;">
                    <span style="color:#00c2f1;padding-right: 7px;">
                        Popularity 
                    </span>
                    <input type="hidden" id="htnstar" value="" />
                    <div class="rating-vote1">
                        <input type="checkbox" class="starcheck-box	" value="5" name="star" id="chk5star" title="5-star rating" />
                        <label for="chk5star">
                            <div class="HotelPopularImg"></div>
                            <div class="HotelPopularImg"></div>
                            <div class="HotelPopularImg"></div>
                            <div class="HotelPopularImg"></div>
                            <div class="HotelPopularImg"></div>
                            </label>
                    </div>
                    <div class="rating-vote1">
                        <input type="checkbox" class="starcheck-box	" value="4" name="star" id="chk4star" title="4-star rating" />
                        <label for="chk4star">
                            <div class="HotelPopularImg"></div>
                            <div class="HotelPopularImg"></div>
                            <div class="HotelPopularImg"></div>
                            <div class="HotelPopularImg"></div>
                            </label>
                    </div>
                    <div class="rating-vote1">
                        <input type="checkbox" class="starcheck-box	" value="3" name="star" id="chk3star" title="3-star rating" />
                        <label for="chk3star">
                            <div class="HotelPopularImg"></div>
                            <div class="HotelPopularImg"></div>
                            <div class="HotelPopularImg"></div>
                            </label>
                    </div>
                    <div class="rating-vote1">
                        <input type="checkbox" class="starcheck-box	" value="2" name="star" id="chk2star" title="2-star rating" />
                        <label for="chk2star">
                            <div class="HotelPopularImg"></div>
                            <div class="HotelPopularImg"></div>
                            </label>
                    </div>
                    <div class="rating-vote1">
                        <input type="checkbox" class="starcheck-box	" value="1" name="star" id="chkstar" title="1-star rating" />
                        <label for="chk1star">
                            <div class="HotelPopularImg"></div>
                            </label>
                    </div>
                </div>
                <div class="details-blocks">
                    <div class="details-blocks-box" style="border-radius: 8px; height:130px !important; width:28%">
                        <h3 style="color:#00c2f1;">Restaurant</h3>                        
                            <input type="hidden" id="htnrestaurant" value="" />
                            <div id="RestaurantPrefDiv" style="height:105px;overflow-y:scroll;">
                                <img src="~/Content/images/ajax-loader (3).gif" style="float:left;margin-left:40%;" />
                            </div>
                        </div>
                    <div class="details-blocks-box" style="border-radius: 8px; height:130px !important; width:28%" id="divAttraction">
                        <h3 style="color:#00c2f1;">Attractions</h3>
                        <input type="hidden" id="htnattraction" value="" />
                        <div id="AttractionPrefDiv" style="height:105px;overflow-y:scroll;" >
                            <img src="~/Content/images/ajax-loader (3).gif" style="float:left;margin-left:40%;" />
                        </div>
                    </div>
                    <div class="details-blocks-box" style="border-radius: 8px; height:130px !important; width:28%">
                        <h3 style="color:#00c2f1;">Activities</h3>
                        <input type="hidden" id="hidactivity" value="" />
                        <div style="height:105px;overflow-y:scroll;">
                            <div class="rating-vote">
                                <input type="checkbox" class="activitycheck-box	" name="Activity" id="chkcon_opr" value="Adventures" />
                                <div><label for="chkcon_opr">Adventures</label></div>
                            </div>
                            <div class="rating-vote">
                                <input type="checkbox" class="activitycheck-box	" name="Activity" id="chkdes_saf" value="Attractions" />
                                <div><label for="chkdes_saf">Attractions</label></div>
                            </div>
                            <div class="rating-vote">
                                <input type="checkbox" class="activitycheck-box	" name="Activity" id="chkmeet_locals" value="Day Trips & Excursions" />
                                <div><label for="chkmeet_locals">Day Trips & Excursions</label></div>
                            </div>
                            <div class="rating-vote">
                                <input type="checkbox" class="activitycheck-box	" name="Activity" id="chkclub" value="Food & Drink" />
                                <div><label for="chkclub">Food & Drink</label></div>
                            </div>
                            <div class="rating-vote">
                                <input type="checkbox" class="activitycheck-box	" name="Activity" id="chkactpark" value="Hop-on Hop-off" />
                                <div><label for="chkactpark">Hop-on Hop-off</label></div>
                            </div>
                            <div class="rating-vote">
                                <input type="checkbox" class="activitycheck-box	" name="Activity" id="chkmall" value="Multi-Day & Extended Tours" />
                                <div><label for="chkmall">Multi-Day & Extended Tours</label></div>
                            </div>
                            <div class="rating-vote">
                                <input type="checkbox" class="activitycheck-box	" name="Activity" id="chkshows_musicals" value="Nightlife" />
                                <div><label for="chkshows_musicals">Nightlife</label></div>
                            </div>
                            <div class="rating-vote">
                                <input type="checkbox" class="activitycheck-box	" name="Activity" id="chkski_snow" value="Private Tours" />
                                <div><label for="chkski_snow">Private Tours</label></div>
                            </div>
                            <div class="rating-vote">
                                <input type="checkbox" class="activitycheck-box	" name="Activity" id="chksprt_evnts" value="Sightseeing Passes" />
                                <div><label for="chksprt_evnts">Sightseeing Passes</label></div>
                            </div>
                            <div class="rating-vote">
                                <input type="checkbox" class="activitycheck-box	" name="Activity" id="chkspa" value="Tours & Sightseeing" />
                                <div><label for="chkspa">Tours & Sightseeing</label></div>
                            </div>
                            <div class="rating-vote">
                                <input type="checkbox" class="activitycheck-box	" name="Activity" id="chktheatre" value="Walking & Bike Tours" />
                                <div><label for="chktheatre">Walking & Bike Tours</label></div>
                            </div>
                            @*<div class="rating-vote">
                                <input type="checkbox" class="activitycheck-box	" name="Activity" id="chktour" value="Tours" />
                                <div><label for="chktour">Tours</label></div>
                            </div>*@
                        </div>
                    </div>
                </div>
                <div class="btn-align-style">
                    <input type="button" id="daycr" value="Submit" style="border-radius: 2px;" />
                    <span id="erm" style="margin-left:10px;"></span>
                </div>
            </div>
        </div>
    </div>
</div>