﻿<section class="row">
    <article class="curve-bor"></article>
</section>
<footer style="padding:10px 0 0 0;">
    <section class="row-home">
        <section class="f-top">
            @*<div class="clear border-foot"></div>*@
            <article class="foot-l-home">
                <aside class="copyrit"> &copy; Copyright @DateTime.Now.Year <span>1eztrip</span></aside>
                <div class="foot-pages">
                    <ul>
                        <li><a href="@Url.Action("TermsConditions","Trip")">Terms of Service</a></li>
                        <li><a href="@Url.Action("Privacy", "Trip")">Privacy</a></li>
                        <li><a href="@Url.Action("Disclaimer", "Trip")">Disclaimer</a></li>
                    </ul>
                </div>
            </article>
            <article class="foot-r-home">
                <nav class="foo-nav">
                    <ul>
                        <li><a href="~/Trip/Index">Home</a></li>
                        <li><a href="~/Trip/Index">Plan My Trip</a></li>
                        <li><a href="~/Trip/ViewMyProfile" class="last">My Account / Register</a></li>
                    </ul>
                </nav>
            </article>
        </section>
    </section>
</footer>
