﻿<div class="time" style="border-radius:4px;">
    <ul>
        <li>06.00 AM</li>
        <li>06.30 AM</li>
        <li>07.00 AM</li>
        <li>07.30 AM</li>
        <li>08.00 AM</li>
        <li>08.30 AM</li>
        <li>09.00 AM</li>
        <li>09.30 AM</li>
        <li>10.00 AM</li>
        <li>10.30 AM</li>
        <li>11.00 AM</li>
        <li>11.30 AM</li>
        <li>12.00 PM</li>
        <li>12.30 PM</li>
        <li>01.00 PM</li>
        <li>01.30 PM</li>
        <li>02.00 PM</li>
        <li>02.30 PM</li>
        <li>03.00 PM</li>
        <li>03.30 PM</li>
        <li>04.00 PM</li>
        <li>04.30 PM</li>
        <li>05.00 PM</li>
        <li>05.30 PM</li>
        <li>06.00 PM</li>
        <li>06.30 PM</li>
        <li>07.00 PM</li>
        <li>07.30 PM</li>
        <li>08.00 PM</li>
        <li>08.30 PM</li>
        <li>09.00 PM</li>
        <li>09.30 PM</li>
        <li>10.00 PM</li>
        <li>10.30 PM</li>
        <li>11.00 PM</li>
        <li>11.30 PM</li>
        <li>12.00 AM</li>
        <li>12.30 AM</li>
        <li>01.00 AM</li>
        <li>01.30 AM</li>
    </ul>
</div>
