﻿@charset "utf-8";@font-face	{font-family:'open_sansregular';font-style:normal;font-weight:normal;src:url('fonts/opensans-regular-webfont.eot');src:url('fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/opensans-regular-webfont.woff') format('woff'), url('fonts/opensans-regular-webfont.ttf') format('truetype'), url('fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');}
@font-face					{font-family:'open_sanslight';font-style:normal;font-weight:normal;src:url('fonts/opensans-light-webfont-webfont.eot');src:url('fonts/opensans-light-webfont-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/opensans-light-webfont-webfont.woff') format('woff'), url('fonts/opensans-light-webfont-webfont.ttf') format('truetype'), url('fonts/opensans-light-webfont-webfont.svg#open_sanslight') format('svg');}
@font-face					{font-family:'OpenSans-Semibold';font-style:normal;font-weight:normal;src:url('fonts/opensanssemiboldwebfont.eot');src:url('fonts/opensanssemiboldwebfont.eot?#iefix') format('embedded-opentype'), url('fonts/opensanssemiboldwebfont.woff') format('woff'),url('fonts/opensanssemiboldwebfont.ttf') format('truetype'),url('fonts/opensanssemiboldwebfont.svg#OpenSans-Semibold') format('svg');}
@font-face					{font-family:'open_sansbold';font-style:normal;font-weight:normal;src:url('fonts/opensans-bold-webfont.eot');src:url('fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),url('fonts/opensans-bold-webfont.woff') format('woff'),url('fonts/opensans-bold-webfont.ttf') format('truetype'),url('fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');}
@font-face					{font-family:'OpenSansLightItalic';font-style:normal;font-weight:normal;src:url('fonts/OpenSans-LightItalic-webfont.eot');src:url('fonts/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),url('fonts/OpenSans-LightItalic-webfont.woff') format('woff'),url('fonts/OpenSans-LightItalic-webfont.ttf') format('truetype'),url('fonts/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic') format('svg');}
@font-face					{font-family:'OpenSansItalic';font-style:normal;font-weight:normal;src:url('fonts/OpenSans-Italic-webfont.eot');src:url('fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),url('fonts/OpenSans-Italic-webfont.woff') format('woff'),url('fonts/OpenSans-Italic-webfont.ttf') format('truetype'),url('fonts/OpenSans-Italic-webfont.svg#OpenSansItalic') format('svg');}

/********************************************* Default Styles *************************************************/

body						{background:#ffffff;color:#444444;font-family:'open_sansregular';font-size:14px;margin:0px;padding:0px;}
body.inner					{background:#F3F6F7;color:#444444;font-family:'open_sansregular';font-size:14px;margin:0px;padding:0px;}
section, article, header, footer, nav, figure, video, hgroup, address	{display:block;margin:0px;padding:0px;}
.clear						{clear:both;height:0px;line-height:0px;}
.fl							{float:left;}
.fr							{float:right;}
a							{color:#ff8100;text-decoration:none;}
a:hover						{color:#ff0000;text-decoration:none;}
img, a						{border:none;outline:none;}
h1, h2, h3, h4, h5, h6		{font-family:'open_sansbold';font-weight:normal;margin:0px;padding:0px;}
p							{color:#444444;font-family:'open_sansregular';font-size:13px;line-height:20px;margin:0px;padding:0px;}
.row-home					{margin:0 auto;padding:0px;width:1005px;}
.row						{margin:0 auto;padding:0px;width:100%;}

/********************************************* Header Styles *************************************************/

header						{background:#033363;border-top:1px solid #032e5a;float:left;height:56px;margin:0px;padding:0 0 0 0;width:100%;box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);position:relative;}
.logo						{float:left;margin:0px;padding:7px 0px 11px 19px;}

/********************************************* Top Menu Styles *************************************************/

.menu						{float:left;font-family:'open_sansregular';font-size:14px;margin:0;padding:0px;text-transform:capitalize;}
.menu ul					{margin:0px;padding:0px;}
.menu ul li					{float:left;list-style:none;margin:0;padding:18px 24px;}
.menu ul li a				{color:#ffffff;margin:0px;padding:0px;}
.menu ul li.last			{float:left;margin:7px 0 0 0;padding:11px 7px;}
.menu ul li.last a			{border:1px solid #1c4c7c;border-radius:5px;color:#ffffff;khtml-border-radius:5px;margin:0px;moz-border-radius:5px;padding:10px 18px;webkit-border-radius:5px;}

/********************************************* Search Styles *************************************************/

.search							{background:#052749;border-radius:50px;float:right;height:22px;khtml-border-radius:50px;margin:12px 22px 0 0;moz-border-radius:50px;padding:5px 20px;webkit-border-radius:50px;width:190px;}
.search input[type="text"]		{background:none;border:none;color:#41678e;font-family:'open_sansregular';font-size:12px;margin:0px;padding:0px;}
.search input[type="submit"]	{background:url(../images/search-icon.png) no-repeat right center;border:none;cursor:pointer;display:block;float:right;padding:5px 0 0 0;width:17px;}

/********************************************* Banner Styles *************************************************/

.flex-container a:active, .flexslider a:active		{outline:none;}
.slides, .flex-control-nav, .flex-direction-nav		{margin:0;padding:0;list-style:none;}
.flexslider						{background:#fff;position:relative;width:100%;margin:0;padding:0;float:left;}
.flexslider .slides > li		{display:none;padding:0px;margin:0px;position:relative;}
.flexslider .slides img			{display:block;width:100%;}.flex-pauseplay span{text-transform:capitalize;}
.slides:after					{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
html[xmlns] .slides				{display:block;}
* html .slides					{height:1%;}.no-js .slides > li:first-child{display:block;}
.flex-container					{position:relative;}
.flex-caption					{width:31%;padding:0;margin:0px;position:absolute;top:35%;right:16.5%;text-align:left;background:#50c0ed;padding:25px;}
.flex-caption h3				{font-family:'open_sansregular';font-size:34px;color:#FFFFFF;font-weight:normal;text-transform:uppercase;border-bottom:1px solid #FFF;display:inline;}
.flex-caption h3 strong			{font-family:'open_sansbold';color:#FFFFFF;padding:0 0px;font-weight:normal;}
.flex-caption p					{font-family:'open_sanslight';font-size:14px;color:#FFFFFF;font-weight:normal;padding:20px 0px;}
.dest label 					{color: #FFFFFF;float:left;font-size:16px;margin:0;padding:15px 15px 0 0;font-family:'OpenSans-Semibold';}
.dest input[type="text"] 		{color: #999999;float:left;font-size:13px;margin:0 0 15px 0;padding:11px 12px;font-family:'open_sansregular';border:5px solid #85d3f2;border-radius:5px;khtml-border-radius:5px;moz-border-radius:5px;webkit-border-radius:5px;background:url(../images/location.png) no-repeat 300px 12px #FFF;width:295px;}
.dest input[type="submit"] 		{color: #ffffff;float:left;font-size:13px;margin:0;padding:11px 12px 11px 24px;font-family:'open_sansregular';background:url(../images/arrow-btn.png) no-repeat 125px 13px #d53554;width:155px;border-radius:3px;khtml-border-radius:3px;moz-border-radius:3px;webkit-border-radius:3px;border:0px;position:relative;left:105px;top:0px;text-align:left;cursor:pointer;}
.banner-link 		            {width:68.7%;float:left;position:absolute;bottom:20px;}
.banner-link input[type="submit"] 		{color: #242222;float:left;font-size:14px;margin:0;padding:10px 40px 10px 15px;font-family:'open_sansregular';background:url(../images/arrow-left.png) no-repeat 175px 15px #ffffff;width:auto;border-radius:5px;khtml-border-radius:5px;moz-border-radius:5px;webkit-border-radius:5px;border:0px;position:relative;left:0px;top:0px;text-align:left;text-transform:uppercase;cursor:pointer;}
.banner-link .fr input[type="submit"] 		{color: #242222;float:left;font-size:14px;margin:0;padding:10px 40px 10px 15px;font-family:'open_sansregular';background:url(../images/arrow-left.png) no-repeat 195px 15px #ffffff;width:auto;border-radius:5px;khtml-border-radius:5px;moz-border-radius:5px;webkit-border-radius:5px;border:0px;position:relative;left:0px;top:0px;text-align:left;text-transform:uppercase;cursor:pointer;}
.flex-direction-nav				{display:none;}
.flex-direction-nav li a		{width:30px;height:30px;margin:-13px 0 0;display:block;background:none;position:absolute;top:50%;cursor:pointer;text-indent:-9999px;}
.flex-direction-nav li .next	{background-position:-30px 0;right:16px;}
.flex-direction-nav li .prev	{left:16px;}
.flex-control-nav				{position:absolute;clear:both;right:0;bottom:0px;text-align:center;width:100%;display:none;}
.flex-control-nav li			{margin:0 3px;display:inline-block;}
.flex-control-nav li a			{background:#ffffff;width:10px;height:10px;display:block;cursor:pointer;text-indent:-9999px;-webkit-border-radius:10px;-moz-border-radius:10px;-khtml-border-radius:10px;border-radius:10px;}
.flex-control-nav li a:hover	{background:#ff8100;}
.flex-control-nav li a.active	{background:#000;cursor:default;}

/********************************************* Services Styles *************************************************/

.services-wrapper			    {width:100%;background:#ffffff;float:left;}
.services					    {float:left;padding:52px 0px 62px 0px;width:100%;background:url(../images/services-bg.png) no-repeat center top;}
.services h2				    {font-size:34px;margin:0;padding:0;font-family:'OpenSans-Semibold';text-align:center;}
.services h6				    {font-size:14px;margin:0;padding:15px 0 40px 0;font-family:'OpenSans-Semibold';text-align:center;}
.services-box					{float:left;width:200px;margin:0 60px 0 0;}
.services-box-last				{float:left;width:200px;margin:0 0px 0 0;}
.services-box figure			{text-align:center;margin:0 0 25px 0;}
.services-box h3				{font-size:22px;margin:0;padding:0;font-family:'OpenSans-Semibold';text-align:center;text-transform:uppercase;}
.services-box p					{font-size:14px;margin:0;padding:25px 0 0 0;font-family:Arial, Helvetica, sans-serif;text-align:center;color:#797777;}

/********************************************* Destinations Styles *************************************************/

.destination-bg					{float:left;background:#efefee;width:100%;}
.destination					{float:left;padding:52px 0px 42px 0px;}
.destination h2				    {font-size:34px;margin:0 0 10px 0;padding:0 0 8px 0;font-family:'OpenSans-Semibold';text-align:left;color:#333333;border-bottom:1px solid #ffffff;}
.destination > span 				{float: left;text-align: center;width: 100%;}
.destination span input[type="submit"] 	{color:#242222;font-size:13px;margin:20px 0 0 0;padding:11px 12px 11px 16px;font-family:'open_sansregular';background:url(../images/arrow-left.png) no-repeat 100px 16px #ffffff;width:130px;border-radius:3px;khtml-border-radius:3px;moz-border-radius:3px;webkit-border-radius:3px;border:0px;position:relative;left:0px;top:0px;text-align:left;text-transform:uppercase;cursor:pointer;}
.curve-bor-dest					{background:url(../images/footer-border-dest-top.png) repeat-x top left;margin:0px;padding:0px 0px;width:100%;height:7px;float:left;}
.curve-bor-destend				{background:url(../images/footer-border-dest-bot.png) repeat-x top left;margin:0px;padding:0px 0px;width:100%;height:7px;float:left;}
.bx-wrapper						{margin:0 auto;padding:0;position:relative;zoom:1;}
.bx-wrapper img					{}
.bx-wrapper .bx-viewport		{position:relative !important;width:40% !important;float:right;top: -13px !important;}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto	{bottom:0px;position:relative;width:60%;height:380px;overflow:hidden;}
.bx-wrapper .bx-loading			{background:url(images/bx_loader.gif) center center no-repeat #fff;height:100%;left:0;min-height:50px;position:absolute;top:0;width:100%;z-index:2000;}
.bx-wrapper .bx-pager			{color:#666;font-family:Arial;text-align:center;}
.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item			{display:inline;float:left;padding: 0 20px 17px 0;}
.bx-wrapper .bx-pager.bx-default-pager a						{background:#666;border-radius:5px;display:block;height:10px;margin:0 5px;moz-border-radius:5px;outline:0;text-indent:-9999px;webkit-border-radius:5px;width:10px;}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active					{background:#000;}
.bx-wrapper .bx-prev			{background:url(../images/arrow-c-left.png) no-repeat 0px 0px;right:35px;float:left;}
.bx-wrapper .bx-next			{background:url(../images/arrow-c-right.png) no-repeat 0px 0px;right:-10px;float:left;top:0px !important;}
.bx-wrapper .bx-prev:hover		{background-position:0px 0px;}
.bx-wrapper .bx-next:hover		{background-position:0px 0px;}
.bx-wrapper .bx-controls-direction								{height:32px;margin-top:-16px;outline:0 none;position:absolute;right:10px;text-indent:-9999px;top:-13%;width:32px;z-index: 9999;}
.bx-wrapper .bx-controls-direction a							{height:32px;margin-top:-16px;outline:0;position:relative;text-indent:-9999px;top:50%;width:32px;z-index:9999;}
.bx-wrapper .bx-controls-direction a.disabled					{display:none;}
.bx-wrapper .bx-controls-auto									{text-align:center;}
.bx-wrapper .bx-controls-auto .bx-start			{background:url(images/controls.png) -86px -11px no-repeat;display:block;height:11px;margin:0 3px;outline:0;text-indent:-9999px;width:10px;}
.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active	{background-position:-86px 0;}
.bx-wrapper .bx-controls-auto .bx-stop			{background:url(images/controls.png) -86px -44px no-repeat;display:block;height:11px;margin:0 3px;outline:0;text-indent:-9999px;width:9px;}
.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active	{background-position:-86px -33px;}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager			{text-align:left;width:80%;}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto	{right:0;width:35px;}
.bx-wrapper .bx-caption			{background:#666\9;background:rgba(80, 80, 80, 0.75);bottom:0;left:0;position:absolute;width:100%;}
.bx-wrapper .bx-caption span{color:#fff;display:block;font-family:Arial;font-size:.85em;padding:10px;}
#bx-pager						{display:block;}
.bx-pager-link 					{position:relative;}
.bx-pager-link > span.a 			{position:absolute;left:65px;bottom:80px;z-index:99;background:rgba(0,0,0,0.6);color:#FFF;padding:8px 16px;}
.bx-pager-link > span.b 			{position:absolute;left:50px;bottom:80px;z-index:99;background:rgba(0,0,0,0.6);color:#FFF;padding:8px 16px;}
.bx-pager-link > span.c 			{position:absolute;left:75px;bottom:80px;z-index:99;background:rgba(0,0,0,0.6);color:#FFF;padding:8px 16px;}
.bx-pager-link > span.d 			{position:absolute;left:55px;bottom:80px;z-index:99;background:rgba(0,0,0,0.6);color:#FFF;padding:8px 16px;}
.bxslider span						{left:103px;position:absolute;top:173px;z-index:99;background:rgba(0,0,0,0.6);color:#FFF;padding:8px 16px;font-family:'OpenSans-Semibold';font-size:16px;}
/********************************************* Itineraries Styles *************************************************/

.itineraries					{float:left;background:#FFF;padding:52px 0px 62px 0px;}
.itineraries h2				    {font-size:34px;margin:0 0 25px 0;padding:0 0 8px 0;font-family:'OpenSans-Semibold';text-align:left;color:#333333;border-bottom:1px solid #efefee;}
.itin-left						{float:left;width:250px;}
.itin-left p					{font-family:'open_sansregular';font-size:14px;color:#585858;}
.itin-left span input[type="submit"] 	{color:#ffffff;float:left;font-size:13px;margin:30px 0 0 0;padding:11px 12px 11px 16px;font-family:'open_sansregular';background:url(../images/arrow-left-white.png) no-repeat 100px 16px #d53554;width:130px;border-radius:3px;khtml-border-radius:3px;moz-border-radius:3px;webkit-border-radius:3px;border:0px;position:relative;left:0px;top:0px;text-align:left;text-transform:uppercase;cursor:pointer;}
.itin-right						{float:left;width:735px;height:250px;}
/* OWL Carousel CSS */
.owl-carousel .owl-wrapper:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; } 
.owl-carousel{ display: none; float:left; position: relative; width: 100%; -ms-touch-action: pan-y; }
.owl-carousel .owl-wrapper{ display: none; position: relative; -webkit-transform: translate3d(0px, 0px, 0px); } 
.owl-carousel .owl-wrapper-outer{ overflow: hidden; position: relative; width: 100%; }
.owl-carousel .owl-wrapper-outer.autoHeight{ -webkit-transition: height 500ms ease-in-out; -moz-transition: height 500ms ease-in-out; -ms-transition: height 500ms ease-in-out; -o-transition: height 500ms ease-in-out; transition: height 500ms ease-in-out; }
.owl-carousel .owl-item, .owl-carousel .owl-item .item img{ float: left; }
.owl-carousel .owl-item .item{ float: left; border:1px solid #dfdfdf; line-height:0px; }
.owl-controls .owl-page, .owl-controls .owl-buttons div{ cursor: pointer; }
.owl-controls { -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
.grabbing { cursor:url(grabbing.png) 8 8, move; }
.owl-carousel  .owl-wrapper, .owl-carousel  .owl-item{ -webkit-backface-visibility: hidden; -moz-backface-visibility:    hidden; -ms-backface-visibility:     hidden; -webkit-transform: translate3d(0,0,0); -moz-transform: translate3d(0,0,0); -ms-transform: translate3d(0,0,0); }
.owl-theme .owl-controls{ margin-top: 10px; text-align: center; }
.owl-theme .owl-controls .owl-buttons div { color: #FFF;  display: inline-block; zoom: 1;  *display: inline;/*IE7 life-saver */ margin:0px; padding:0px; font-size: 12px; background: #869791; filter: Alpha(Opacity=100);/*IE7 fix*/ opacity:1; cursor:pointer;  }
.owl-theme .owl-controls.clickable .owl-buttons div:hover{ filter: Alpha(Opacity=100);/*IE7 fix*/ opacity: 1; text-decoration: none; }
.owl-theme .owl-controls{ position:absolute; top:50%; margin-top:-43px; width:100%; }
.owl-theme .owl-controls .owl-buttons div{ position:absolute; background:url(../images/prev-nxt.png) no-repeat; width:55px; height:86px; position:absolute; font-size:1px; color:rgba(0,0,0,0); }
.owl-theme .owl-controls .owl-buttons div.owl-prev{ background-position:0px 0px; left:-85px; }
.owl-theme .owl-controls .owl-buttons div.owl-next{ background-position:-55px 0px; right:-65px }
.owl-theme .owl-controls .owl-page{ display: inline-block; zoom: 1; *display: inline;/*IE7 life-saver */ } 
.owl-theme .owl-controls .owl-page span{ display: block; width: 12px; height: 12px; margin: 5px 7px; filter: Alpha(Opacity=50);/*IE7 fix*/ opacity: 0.5; -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; background: #869791; }
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span{ filter: Alpha(Opacity=100);/*IE7 fix*/ opacity: 1; }
.owl-theme .owl-controls .owl-page span.owl-numbers{ height: auto; width: auto; color: #FFF; padding: 2px 10px; font-size: 12px; -webkit-border-radius: 30px; -moz-border-radius: 30px; border-radius: 30px; } 
.owl-item.loading{ min-height: 150px; background: url(AjaxLoader.gif) no-repeat center center } 

.gallery-pad   { float:left; width:100%; padding:0px 0px 0px 0px; }
.gallery-slide { float:left; width:665px; padding:10px 40px 0 40px; }

/* Gallery OWL Carousel CSS */
.owl-carousel .owl-item .item img{ float: none; text-align:center; padding:0px; }
#gallery1.owl-carousel .owl-item .item, #gallery2.owl-carousel .owl-item .item{ float: left; border:none; width:100%; text-align:center; position:relative; }
#gallery1.owl-theme .owl-controls, #gallery2.owl-theme .owl-controls{ position:absolute; top:50%; margin-top:-21px; width:100%; }
#gallery1.owl-theme .owl-controls .owl-buttons div, #gallery2.owl-theme .owl-controls .owl-buttons div{ position:absolute; background:url(../images/gallery_arrow.png) no-repeat; width:26px; height:42px; position:absolute; font-size:1px; color:rgba(0,0,0,0); }
#gallery1.owl-theme .owl-controls .owl-buttons div.owl-prev, #gallery2.owl-theme .owl-controls .owl-buttons div.owl-prev{ background-position:0px 0px; left:-42px; }
#gallery1.owl-theme .owl-controls .owl-buttons div.owl-next, #gallery2.owl-theme .owl-controls .owl-buttons div.owl-next{ background-position:-31px 0px; right:-38px; }
.gallery-ovr-bg         { display:none; position:absolute; background:url(../images/yellowbg.png) repeat; width:94%; height:100%; text-align:left; font-size:20px; left:7px; top:0px; }
.gallery-ovr-bg a       { float:left; display:block; background:url(../images/view_arrow.jpg) no-repeat center right #242321; color:#ffffff; font-size:12px; text-transform:uppercase; width:auto; height:30px; line-height:30px; text-align:center; margin:28% 0 0 23%; text-decoration:none; padding:0px 25px 0px 10px; }
#gallery1.owl-carousel .owl-item .item:hover .gallery-ovr-bg, #gallery2.owl-carousel .owl-item .item:hover .gallery-ovr-bg { display:block; }

/********************************************* Left Column Styles *************************************************/

.trip-left					{background:url(../images/grey-bg.png) repeat-x left top #F3F6F7;float:left;width:52%;}
.trip						{float:left;}

/********************************************* Left Trip Menu Styles *************************************************/

.trip ul					{float:left;height:77px;margin:0px;padding:0px 22px;}
.trip ul li					{background:url(../images/trip-sep.png) no-repeat right top;float:left;list-style:none;margin:0px;padding:20px 30px;}
.trip ul li.last			{background:none;float:left;list-style:none;margin:0px;padding:20px 28px;}
.trip ul li a				{float:left;font-family:'open_sansregular';font-size:14px;margin:0;padding:0px;text-transform:capitalize;}
.trip ul li a span.big		{color:#FFF;display:block;font-family:'open_sansbold';font-size:14px;font-weight:normal;margin:0;padding:0px;text-align:center;text-transform:capitalize;}
.trip ul li a span.small	{color:#bcc1c7;display:block;font-family:'open_sansregular';font-size:14px;margin:0;padding:0px;text-align:center;text-transform:capitalize;}
.trip .box 					{position: absolute;}
#box > input				{padding:5px;background:#546270;border:1px solid #fff;display:block;color:#FFF;margin:10px 0 0 0;text-transform:uppercase;font-size:12px;width:150px;-webkit-transition: width 3s ease;-moz-transition: width 3s ease;-o-transition: width 3s ease;-ms-transition: width 3s ease;transition: width 3s ease; }

/********************************************* Left Trip Details Styles *************************************************/

.city-details				{background:#f3f6f7;border-right:1px solid #d3e1ee;float:left;padding:19px;width:94.8%;}
.city-col					{float:left;width:347px;}

/********************************************* Left City/Day Header Styles *************************************************/

.city-row					{border-bottom:2px solid #d6dfe4;float:left;padding:0px 0px 0px 0px;width:100%;}
.trip-day					{float:left;width:60px;}
.trip-day a					{float:left;}
.trip-day a span.btn		{display:block;margin:0;padding:0px;text-align:center;}
.trip-day a span.txt		{color:#00b8e5;display:block;font-family:'open_sansregular';font-size:11px;margin:0;padding:0px;text-align:center;text-transform:uppercase;}
.trip-date					{float:left;margin:0;padding:0;position:relative;top:-3px;width:46px;}
.trip-date span.btn			{display:block;font-family:'open_sansbold';font-size:20px;margin:0;padding:0px;text-align:center;text-transform:uppercase;}
.trip-date span.txt			{color:#999999;display:block;font-family:'open_sansregular';font-size:11px;margin:0;padding:0px;text-align:center;text-transform:uppercase;}
.trip-name					{color:#565e64;display:block;float:left;font-family:'open_sansregular';font-size:14px;padding:15px 0px 15px 0px;text-align:center;text-transform:uppercase;width:215px;}

/********************************************* Left City/Day Details Styles *************************************************/

.city-row-details			{float:left;margin:0 12px 0 0;padding:10px 0px 0px 0px;}
.time						{background:url(../images/scale-mm.png) repeat-y right top #fff;border-right:1px solid #e2e9ec;border-top:1px solid #e2e9ec;float:left;margin:0px 12px 0px 0px;width:60px;}
.time ul					{margin:0px;padding:0px;}
.time ul li					{display:list-item;font-size:11px;list-style:none;padding:0px 0px 40px 0px;text-align:center;}
.hotel-details				{background:#ffffff;border-right:1px solid #d3e1ee;float:left;padding:19px;width:94.3%;}
.hotel-title h3				{color:#565e64;display:inline-block;font-family:'OpenSans-Semibold';font-size:16px;text-transform:uppercase;}
.hotel-title span			{color:#565e64;float:right;font-family:'open_sanslight';font-size:14px;text-transform:capitalize;}
.hotel-title span select	{border:1px solid #bbbbbb;border-radius:5px;color:#333;font-family:'open_sansregular';font-size:13px;khtml-border-radius:5px;moz-border-radius:5px;padding:5px;webkit-border-radius:5px;width:85px;}
.place-box					{float:left;width:260px;box-shadow:0 0px 5px rgba(0, 0, 0, 0.2);moz-box-shadow:0 0px 5px rgba(0, 0, 0, 0.2);webkit-box-shadow:0 0px 5px rgba(0, 0, 0, 0.2);}
.place						{background:#f9fbfc;float:left;width:260px;}
.place-details				{background:#fff;border-bottom:2px solid #edeff0;border-top:2px solid #edeff0;float:left;padding:13px;margin:14px 0px;}
.place-img					{float:left;margin:0px 11px 0px 0px;}
.place-cont					{float:left;margin:0 0 0 1%;width:65%;}
.p-left						{float:left;font-size:12px;width:95%;}
.p-left h4					{color:#666666;font-family:'OpenSans-Semibold';font-size:14px;line-height:10px;}
.p-left span				{color:#00b8e5;font-family:'open_sansregular';font-size:12px;}
.p-left p					{font-family:'open_sanslight';font-size:12px;line-height:14px;padding:10px 0px 1px 0px;}
span a.addmore 				{background:url("../images/arrow-left.png") no-repeat scroll 90px 16px #FFFFFF;border:0 none;border-radius:3px 3px 3px 3px;color:#242222;cursor:pointer;font-family:'open_sansregular';font-size:13px;margin:15px 0 15px 70px ;padding:11px 12px 11px 16px;text-align:left;text-transform:uppercase;width:90px;float:left;}

/********************************************* Left City/Day Travel Option Styles *************************************************/

.travel p					{color:#677685;font-family:'open_sanslight';font-size:12px;line-height:16px;padding:9px;}
.travel						{background:#f4f6f7;float:left;border-top:1px solid #f0f2f3;}
.travel span				{color:#556372;display:block;float:left;padding:0 0 7px 0;font-family:'open_sansregular';}
.travel ul					{border-bottom:1px solid #fff;border-top:1px solid #fff;float:left;margin:0px;padding:0px 9px;}
.travel ul li				{display:inline;float:left;list-style:none;margin:0 22px 0 0;}
.travel ul li.last			{display:inline;float:left;list-style:none;margin:0 0px 0 0;}
.travel ul li a				{display:inline;float:left;list-style:none;padding:15px 7px;}
.travel ul li a.active		{background:#dfe0e1;display:inline;float:left;list-style:none;padding:15px 8px;}
.p-right					{float:left;width:5%;padding:4px 0 0 0;}
.p-right ul					{margin:6px 0px;padding:0px;}
.p-right ul li				{display:block;list-style:none;padding:0px 0px 5px 0px;}
.p-right ul li a			{margin:0px;padding:0px;}

/********************************************* Right Column Styles *************************************************/

.trip-right					{background:#00b8e5;float:left;width:48%;}

/********************************************* Right Trip Menu Styles *************************************************/

.ddsmoothmenu ul			{background:#00b8e5;float:left;height:77px;margin:0px;padding:0px;}
.ddsmoothmenu ul li			{border-right:1px solid #33c6ea;float:left;list-style:none;margin:0px;padding:15px 23px 16px 23px;position:relative;}
.ddsmoothmenu ul li.first	{background:url(../images/arrow-menu.png) no-repeat 57px 49px;float:left;list-style:none;margin:0px;padding:14px 23px 16px 23px;}
.ddsmoothmenu ul li.last	{background:#00c2f1;border-right:0px;float:left;list-style:none;margin:0px;padding:15px 23px 16px 23px;}
.ddsmoothmenu ul li a		{color:#fff;display:block;font-family:'OpenSans-Semibold';font-size:14px;margin:0px;padding:0px;text-decoration:none;text-transform:uppercase;}
.ddsmoothmenu ul li a span	{display:block;height:23px;margin:0;padding:0px 0px 4px 0px;text-align:center;}
* html .ddsmoothmenu ul li a{display:inline-block;}
.ddsmoothmenu ul li ul		{display:none;left:0;margin:0px;padding:0px;position:absolute;visibility:hidden;}
.ddsmoothmenu ul li ul li	{border-right:0px solid #33c6ea;display:list-item;float:none;margin:0px;padding:0px;}
.ddsmoothmenu ul li ul li a	{background:#0496b9;border-bottom:1px solid #fff;color:#ffffff;font-size:12px;line-height:18px;margin:0;padding:8px 8px;text-transform:uppercase;width:195px;}
.ddsmoothmenu ul li ul li a:hover	{background:#00B8E5;color:#ffffff;}
* html .ddsmoothmenu		{height:1%;}
.ddshadow					{background:none;height:0;left:0;position:absolute;top:0;width:0;}
.toplevelshadow				{opacity:0.8;}

/********************************************* Right Trip Price Bar Styles *************************************************/

.price-bar					{background:#393d41;float:left;margin:13px 0 13px 0;padding: 7px 13px;width:96%;}
.price-bar label			{color:#FFF;font-family:'open_sansregular';font-size:15px;text-transform:capitalize;}
.price-bar input[type="text"]	{background:none;border:0px;color:#21bed6;float:right;font-family:'open_sansregular';font-size:15px;text-align:right;text-transform:capitalize;cursor:pointer;}
.slider-pad					{padding:16px 0px;}
.ui-widget					{font-family:Verdana,Arial,sans-serif;font-size:1.1em;}
.ui-slider					{position:relative;text-align:left;}
.ui-slider-horizontal		{height:.8em;width:100%;}
.ui-widget-content			{background:url(../images/slider-bar.png) repeat-x left center;color:#222222;}
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl				{border-top-left-radius:4px;}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr				{border-top-right-radius:4px;}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl				{border-bottom-left-radius:4px;}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br				{border-bottom-right-radius:4px;}
.ui-slider-horizontal .ui-slider-range	{height:100%;top:0;}
.ui-slider .ui-slider-range	{background-position:0px 19px;border:0;display:block;font-size:.7em;position:absolute;z-index:1;}
.ui-widget-header			{background:url(../images/active-slider.png) repeat-x left center;color:#222222;font-weight:bold;}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default		{background:url(../images/slider-icon.png) no-repeat left center;color:#555555;font-weight:normal;}
.ui-slider-horizontal .ui-slider-handle	{margin:0em;top:13px;}
.ui-slider .ui-slider-handle			{cursor:default;height:16px;position:absolute;width:14px;z-index:2;}

/********************************************* Right Trip Resort Details Styles *************************************************/

.resort-row					{background:#f9fbfc;border:1px solid #ededed;float:left;margin:0 0 3px 0;padding:14px;width:92.8%;border-radius:2px;khtml-border-radius:2px;moz-border-radius:2px;webkit-border-radius:2px;}
.resort-img					{float:left;left:0px;margin:0px 16px 0px 0px;position:relative;}
.resort-img span			{background:none repeat scroll 0 0 rgba(0, 0, 0, 0.8);bottom:4px;color:#FFFFFF;float:left;font-family:'open_sansregular';font-size:14px;left:0;margin:0 0 0 0;padding:5px 10px;position:absolute;text-transform:uppercase;}
.resort-img span strong		{font-family:'open_sansbold';font-size:18px;font-weight:normal;text-transform:uppercase;}
.resort-details				{float:left;margin:0 0 0 1%;width:56%;}
.r-left						{float:left;width:95%;}
.r-right					{float:left;width:5%;}
.resort-details ul			{margin:6px 0px 1px 0px;padding:0px;}
.resort-details ul li		{display:inline-block;list-style:none;padding:0 0 4px 0;}
.resort-details ul li a		{margin:0px;padding:0px;}
.resort-details h3			{color:#393d41;display:inline-block;font-family:'open_sansregular';font-size:18px;text-transform:capitalize;line-height:10px;}
.book-add					{float:left;}
.book-add span				{background:#f1f1f1;border:1px solid #e9e9e9;border-radius:5px;float:left;khtml-border-radius:5px;margin:15px 20px 0 0;moz-border-radius:5px;padding:3px;webkit-border-radius:5px;}
a.book						{background:#4bd09c;border:1px solid #53c79a;border-radius:5px;color:#fff;float:left;font-family:'OpenSans-Semibold';font-size:13px;khtml-border-radius:5px;moz-border-radius:5px;padding:4px 18px;webkit-border-radius:5px;}
a.add-trip					{background:#333333;border-radius:5px;color:#fff;float:left;font-family:'OpenSans-Semibold';font-size:13px;khtml-border-radius:5px;moz-border-radius:5px;padding:5px 18px;webkit-border-radius:5px;}

/********************************************* Footer Styles *************************************************/

.curve-bor					{background:url(../images/footer-border.png) repeat-x top left;margin:0px;padding:0px 0px;width:100%;height:7px;float:left;}
footer						{background-color:#2f2f2f;color:#999999;float:left;font-family:'open_sanslight';font-size:12px;margin:0px;width:100%;padding:47px 0 0 0;}
.footer-inner				{background-color:#2f2f2f;color:#999999;float:left;font-family:'open_sanslight';font-size:12px;margin:0px;width:100%;height:24px;padding:10px 0 0 0;}
.f-top						{float:left;width:100%;padding:0px;margin:0px;}
.foot-about					{float:left;width:320px;margin:0 20px 0 0;}
.foot-about h4				{font-family:'OpenSans-Semibold';font-size:16px;color:#e5ebeb;padding:20px 0 5px 0;}
.foot-list h4, .foot-last h4 {font-family:'OpenSans-Semibold';font-size:16px;color:#e5ebeb;padding:0 0 25px 0;}
.foot-about p				{color:#777777;padding:0px 0 0px 0;}
.foot-list					{float:left;width:180px;margin:0 20px 0 0;}
.foot-list ul				{margin:0;padding:0;}
.foot-list ul li			{background:url(../images/arrow-foot.png) no-repeat left center;list-style:none;display:list-item;line-height:20px;}
.foot-list ul li a			{color:#e5ebeb;font-family:'open_sansregular';font-size:12px;padding:0 0 0 20px;}
.foot-list ul li a:hover	{color:#777777;font-family:'open_sansregular';font-size:12px;padding:0 0 0 20px;}
.foot-last					{float:left;width:245px;margin:0 0px 0 0;}
.foot-last p				{color:#777777;padding:0px 0 0px 0;}
.foot-last ul				{margin:0;padding:10px 0 0 0;}
.foot-last ul li			{list-style:none;display:inline;}
.foot-last ul li a			{padding:0 10px 0 0px;text-align:left;}
.border-foot				{border-top:1px solid #424242;margin:20px 0px 8px 0px;float:left;width:100%;}
.foot-l-home				{float:left;width:25%;padding:10px 0px 10px 0px;}
.foot-r-home				{float:right;width:31.8%;padding: 10px 0px 10px 0;}
.foot-l						{float:left;width:25%;padding:0px 0px 0px 30px;}
.foot-r						{float:right;width:31%;padding: 0 30px 0 0;}
.foo-nav					{float:left;}
.soc-nav					{float:left;}
.foo-nav ul					{margin:0px;padding:0px 0px;}
.foo-nav ul li				{display:inline;padding:0;padding:0px 0px 0px 0px;}
.foo-nav ul li a			{color:#999999;font-size:12px;padding:0 17px;font-family:Arial, Helvetica, sans-serif;}
.foo-nav ul li a.last		{color:#999999;font-size:12px;padding:0 0px 0px 17px;font-family:Arial, Helvetica, sans-serif;}
.soc-nav ul					{margin:0px;padding:0px 0px;}
.soc-nav ul li				{display:inline;padding:0px 0px 0px 5px;}
.soc-nav ul li a			{color:#999999;font-size:12px;padding:0px 0px 0px 0px;}

/********************************************* Popup Styles *************************************************/

.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp						{border:0;margin:0;outline:none;padding:0;vertical-align:top;}
.fancybox-wrap						{left:0 !important;top:0;z-index:8020;margin:0 auto !important;position:relative !important;width:30% !important;}
.fancybox-skin						{background:#f9f9f9;border-radius:4px;color:#444;moz-border-radius:4px;position:relative;text-shadow:none;webkit-border-radius:4px;}
.fancybox-opened					{z-index:8030;}
.fancybox-opened .fancybox-skin		{box-shadow:0 10px 25px rgba(0, 0, 0, 0.5);moz-box-shadow:0 10px 25px rgba(0, 0, 0, 0.5);webkit-box-shadow:0 10px 25px rgba(0, 0, 0, 0.5);height:auto;margin:0 auto;padding:15px;width:93% !important;}
.fancybox-outer, .fancybox-inner	{position:relative;}
.fancybox-inner						{overflow:hidden;}
.fancybox-type-iframe .fancybox-inner{webkit-overflow-scrolling:touch;}
.fancybox-error						{color:#444;margin:0;padding:15px;white-space:nowrap;}
.fancybox-image, .fancybox-iframe	{display:block;height:100%;width:100%;}
.fancybox-image						{max-height:100%;max-width:100%;}
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span{background-image:url('../images/fancybox_sprite.png');}
#fancybox-loading					{background-position:0 -108px;cursor:pointer;left:50%;margin-left:-22px;margin-top:-22px;opacity:0.8;position:fixed;top:50%;z-index:8060;}
#fancybox-loading div				{background:url('../images/fancybox_loading.gif') center center no-repeat;height:44px;width:44px;}
.fancybox-close						{cursor:pointer;height:36px;position:absolute;right:-18px;top:-18px;width:36px;z-index:8040;}
.fancybox-nav						{background:transparent url('../images/blank.gif');cursor:pointer;height:100%;position:absolute;text-decoration:none;top:0;webkit-tap-highlight-color:rgba(0,0,0,0);width:40%;z-index:8040;}
.fancybox-prev						{left:0;}
.fancybox-next						{right:0;}
.fancybox-nav span					{cursor:pointer;height:34px;margin-top:-18px;position:absolute;top:50%;visibility:hidden;width:36px;z-index:8040;}
.fancybox-prev span					{background-position:0 -36px;left:10px;}
.fancybox-next span					{background-position:0 -72px;right:10px;}
.fancybox-nav:hover span			{visibility:visible;}
.fancybox-tmp						{left:-99999px;max-height:99999px;max-width:99999px;overflow:visible !important;position:absolute;top:-99999px;visibility:hidden;}
.fancybox-lock						{overflow:hidden !important;width:auto;}
.fancybox-lock body					{overflow:hidden !important;}
.fancybox-lock-test					{overflow-y:hidden !important;}
.fancybox-overlay					{background:url('../images/fancybox_overlay.png');display:none;left:0;overflow:hidden;position:absolute;top:0;z-index:8010;}
.fancybox-overlay-fixed				{bottom:0;position:fixed;right:0;}
.fancybox-lock .fancybox-overlay	{overflow:hidden;}
.fancybox-title						{position:relative;text-shadow:none;visibility:hidden;z-index:8050;}
.fancybox-opened .fancybox-title	{visibility:visible;}
.fancybox-title-float-wrap			{bottom:0;margin-bottom:-35px;position:absolute;right:50%;text-align:center;z-index:8050;}
.fancybox-title-float-wrap .child	{background:rgba(0, 0, 0, 0.8);background:transparent;border-radius:15px;color:#FFF;display:inline-block;font-weight:bold;line-height:24px;margin-right:-100%;moz-border-radius:15px;padding:2px 20px;text-shadow:0 1px 2px #222;webkit-border-radius:15px;white-space:nowrap;}
.fancybox-title-outside-wrap		{color:#fff;margin-top:10px;position:relative;}
.fancybox-title-inside-wrap			{padding-top:10px;}
.fancybox-title-over-wrap			{background:#000;background:rgba(0, 0, 0, .8);bottom:0;color:#fff;left:0;padding:10px;position:absolute;}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	 only screen and (min--moz-device-pixel-ratio: 1.5),
	 only screen and (min-device-pixel-ratio: 1.5){#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span{background-image:url('../images/fancybox_sprite@2x.png');background-size:44px 152px;}
#fancybox-loading div				{background-image:url('../images/fancybox_loading@2x.gif');background-size:24px 24px;}
}
.resp_accordion						{list-style:none;margin:0;margin:0px;padding:0;position:relative;width:30%;border-bottom:1px solid #ccc;}
.resp_accordion .accordion_in		{border-top:1px solid #ccc;border-left:1px solid #ccc;border-right:1px solid #ccc;margin:0px;overflow:hidden;position:relative;z-index:10;}
.resp_accordion .accordion_in .acc_head						{background:#EAEBEC;cursor:pointer;display:block;font-size:14px;padding:10px;position:relative;}
.resp_accordion .accordion_in .acc_head .acc_icon_expand	{ackground:url(../images/plusminus.png) center 0;display:block;height:18px;left:10px;margin-top:-9px;position:absolute;top:50%;width:18px;}
.resp_accordion .accordion_in .acc_content					{background:#F9F9F9;color:#7B7E85;padding:3px 10px;}
.resp_accordion .accordion_in .acc_content h1:first-of-type,
.resp_accordion .accordion_in .acc_content h2:first-of-type,
.resp_accordion .accordion_in .acc_content h3:first-of-type,
.resp_accordion .accordion_in .acc_content h4:first-of-type,
.resp_accordion .accordion_in .acc_content h5:first-of-type,
.resp_accordion .accordion_in .acc_content h6:first-of-type {margin-top:5px;}
.resp_accordion .accordion_in:first-of-type,
.resp_accordion .accordion_in:first-of-type .acc_head	    {border-radius:0px 0px 0 0;background:#EAEBEC;}
.resp_accordion .accordion_in:last-of-type,
.resp_accordion .accordion_in:last-of-type .acc_content		{border-radius:0 0 0px 0px;}
.resp_accordion .accordion_in.acc_active > .acc_content		{display:block;}
.resp_accordion .accordion_in.acc_active > .acc_head		{background:#01A5CD;color:#FFF;}
.resp_accordion .accordion_in.acc_active > .acc_head .acc_icon_expand	{ackground:url(../images/plusminus.png) center -18px;color:#FFFFFF;}
.resp_accordion.acc_with_icon .accordion_in .acc_head,
.resp_accordion.acc_with_icon .accordion_in .acc_content	{padding:10px;}
/********************************************* Media Styles *************************************************/

@media screen and (min-width:1280px) and (max-width:1366px) {
.flex-caption			{width:33%;padding:0;margin:0px;position:absolute;top:35%;right:13.5%;text-align:left;background:#50c0ed;padding:25px;}
.banner-link 			{bottom:20px;float:left;position:absolute;width:74%;}
.trip ul				{float:left;height:77px;margin:0px;padding:0px 19px;}
.trip ul li				{background:url(../images/trip-sep.png) no-repeat right top;float:left;list-style:none;margin:0px;padding:20px 20px;}
.trip ul li.last		{background:none;float:left;list-style:none;margin:0px;padding:20px 20px;}
.ddsmoothmenu ul li		{border-right:1px solid #33c6ea;float:left;list-style:none;margin:0px;padding:15px 19px 17px 19px;position:relative;}
.ddsmoothmenu ul li.first	{background:url(../images/arrow-menu.png) no-repeat 52px 45px;float:left;list-style:none;margin:0px;padding:14px 19px 17px 19px;}
.ddsmoothmenu ul li.last	{background:#00c2f1;border-right:0px;float:left;list-style:none;margin:0px;padding:15px 19px 17px 19px;}
.hotel-details				{background:#ffffff;border-right:1px solid #d3e1ee;float:left;padding:19px;width:93.6%;}
.resort-details				{float:left;margin:0px 0px 0px 1%;width:50%;}
.foot-r						{float:right;padding:0 30px 0 0;width:35%;}
#resizable.content			{box-sizing:content-box;moz-box-sizing:content-box;overflow:hidden;webkit-box-sizing:content-box;width:97% !important;}

}
@media screen and (min-width:1024px) and (max-width:1279px) {
.flex-caption			{width:44%;padding:0;margin:0px;position:absolute;top:16%;right:2.5%;text-align:left;background:#50c0ed;padding:25px;}
.banner-link 			{bottom:20px;float:left;position:absolute;width:97.7%;}
.trip ul				{float:left;height:77px;margin:0px;padding:0px 14px;}
.trip ul li				{background:url(../images/trip-sep.png) no-repeat right top;float:left;list-style:none;margin:0px;padding:20px 16px;}
.trip ul li.last		{background:none;float:left;list-style:none;margin:0px;padding:20px 16px;}
.trip ul li a			{float:left;font-family:'open_sansregular';font-size:12px;margin:0;padding:0px;text-transform:capitalize;}
.trip ul li a span.big	{color:#FFF;display:block;font-family:'OpenSans-Semibold';font-size:12px;font-weight:normal;margin:0;padding:0px;text-align:center;text-transform:capitalize;}
.trip ul li a span.small{color:#bcc1c7;display:block;font-family:'open_sansregular';font-size:12px;margin:0;padding:0px;text-align:center;text-transform:capitalize;}
.ddsmoothmenu ul li		{border-right:1px solid #33c6ea;float:left;list-style:none;margin:0px;padding:15px 12px 18px 12px;position:relative;}
.ddsmoothmenu ul li.first{float:left;list-style:none;margin:0px;padding:14px 12px 19px 12px;}
.ddsmoothmenu ul li.last {background:#00c2f1;border-right:0px;float:left;list-style:none;margin:0px;padding:15px 12px 18px 12px;}
.ddsmoothmenu ul li a	 {color:#fff;display:block;font-family:'OpenSans-Semibold';font-size:12px;margin:0px;padding:0px;text-decoration:none;text-transform:uppercase;}
.city-details			 {background:#f3f6f7;border-right:1px solid #d3e1ee;float:left;padding:19px;width:92.7%;}
#resizable.content		 {box-sizing:content-box;moz-box-sizing:content-box;overflow:hidden;webkit-box-sizing:content-box;width:98% !important;}
.hotel-details			 {background:#ffffff;border-right:1px solid #d3e1ee;float:left;padding:19px;width:92%;}
.resort-details			 {float:left;margin:0px 0px 0px 1%;width:50%;}
.resort-img				 {float:left;width:43%;}
.resort-img img			 {width:100%;}
.resort-details h3   	 {color:#393d41;display:inline-block;font-family:'open_sansregular';font-size:14px;text-transform:capitalize;}
.book-add span 			 {background:#f1f1f1;border:1px solid #e9e9e9;border-radius:5px;float:left;khtml-border-radius:5px;margin:12px 10px 0 0;moz-border-radius:5px;padding:3px;webkit-border-radius:5px;}
.foot-r					 {float:right;padding:0 10px 0 0;width:44%;}
}
@media screen and (min-width:768px) and (max-width:1023px) {
.row-home			{margin:0 auto;padding:0px;width:99%;}
.flex-caption		{background:#50c0ed;margin:0px;padding:0;padding:10px;position:absolute;right:0.5%;text-align:left;top:1%;width:58%;}
.banner-link		{bottom:20px;float:left;position:absolute;width:99.5%;}
.services			{background:url(../images/services-bg.png) no-repeat center top;float:left;padding:32px 0px;width:100%;}
.services-box, .service-box-last{float:left;margin:0 18px 0 0;padding:20px 0px;width:22.5%;}
.itineraries		{background:#FFF;float:left;padding:52px 0px;width:100%;}
.itin-left			{float:left;width:33%;}
.itin-right			{float:left;height:250px;width:66%;}
.owl-carousel .owl-item			{float:left;width:11.5% !important;margin:0 0 0 14px;border-radius:3px;khtml-border-radius:3px;moz-border-radius:3px;webkit-border-radius:3px;border:1px solid #e5e5e5;padding:0px 0px 15px 0px;}
.owl-prev			{background:url(../images/arrow-it-left.png) no-repeat;bottom:335px;float:left;height:32px;left:425px;position:relative;width:32px;z-index:999999;}
.owl-next 			{background:url(../images/arrow-it-right.png) no-repeat ;bottom:335px;float:right;height:32px;left:0;position:relative;width:32px;z-index:999999;}
.foot-about			{float:left;margin:0 20px 0 0;width:30%;}
.foot-list			{float:left;margin:0 20px 0 0;width:19%;}
.foot-last			{float:left;margin:0 0px 0 0;width:23.9%;}
.foot-last ul li a	{padding:0 0px 0 0px;text-align:left;}
.bx-wrapper img		{width:100%;}
.bx-pager-item		{float:left;padding:0 4px 0 0 !important;width:47% !important;}
.bx-pager-item img	{width:100%;}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto	{bottom:0px;height:275px;overflow:hidden;position:relative;width:60%;}
.bx-wrapper .bx-controls-direction 						{height:32px;margin-top:-16px;outline:0 none;position:absolute;right:10px;text-indent:-9999px;top:-19%;width:32px;z-index:9999;}
.bx-pager-link > span.a 			{position:absolute;left:28px;bottom:53px;z-index:99;background:rgba(0,0,0,0.6);color:#FFF;padding:8px 16px;}
.bx-pager-link > span.b 			{position:absolute;left:13px;bottom:53px;z-index:99;background:rgba(0,0,0,0.6);color:#FFF;padding:8px 16px;}
.bx-pager-link > span.c 			{position:absolute;left:38px;bottom:53px;z-index:99;background:rgba(0,0,0,0.6);color:#FFF;padding:8px 16px;}
.bx-pager-link > span.d 			{position:absolute;left:18px;bottom:53px;z-index:99;background:rgba(0,0,0,0.6);color:#FFF;padding:8px 16px;}
.bxslider span						{left:50px;position:absolute;top:118px;z-index:99;background:rgba(0,0,0,0.6);color:#FFF;padding:8px 16px;font-family:'OpenSans-Semibold';font-size:16px;}
.foot-r-home		{float:right;padding:10px 0px 10px 0;width:43%;}
.menu				{float:left;font-family:'open_sansregular';font-size:12px;margin:0;padding:0px;text-transform:capitalize;}
.menu ul			{margin:0px;padding:0px;}
.menu ul li			{float:left;list-style:none;margin:0;padding:18px 22px;}
.search				{background:#052749;border-radius:50px;float:right;height:22px;khtml-border-radius:50px;margin:12px 5px 0 0;moz-border-radius:50px;padding:5px 20px;webkit-border-radius:50px;width:163px;}
.trip-left			{background:url(../images/grey-bg.png) repeat-x left top #F3F6F7;float:left;width:100%;}
.trip-right			{background:#00b8e5;float:left;margin:20px 0 0 0;width:100%;}
.hotel-details		{background:#ffffff;border-right:1px solid #d3e1ee;float:left;padding:19px;width:94.8%;}
.foot-l				{float:left;padding:0 0 0 20px;width:25%;}
.foot-r				{float:right;padding:0 0px 0 0;width:59%;}
}
@media screen and (max-width:767px) {
.row-home			{margin:0 auto;padding:0px;width:99%;}
.logo				{float:left;margin:0px;padding:7px 0px 11px 7px;}
.flex-caption		{background:#50c0ed;margin:0px;padding:0;padding:10px;position:absolute;right:0.5%;text-align:left;top:1%;width:77%;}
.banner-link		{bottom:20px;float:left;position:absolute;width:99.5%;}
.services			{background:url(../images/services-bg.png) no-repeat center top;float:left;padding:32px 0px;width:100%;}
.services-box, .service-box-last	{float:left;margin:0 18px 0 0;padding:20px 0px;width:45%;}
.itineraries		{background:#FFF;float:left;padding:52px 0px;width:100%;}
.itin-left			{float:left;width:60%;}
.itin-right			{float:left;height:250px;width:40%;}
.owl-prev			{background:url(../images/arrow-it-left.png) no-repeat;bottom:335px;float:left;height:32px;left:175px;position:relative;width:32px;}
.foot-about			{float:left;margin:0 20px 20px 0;width:100%;}
.foot-list			{float:left;margin:0 20px 0 0;width:28%;}
.foot-last			{float:left;margin:0 0px 0 0;width:36%;}
.foot-last ul li a	{padding:0 0px 0 0px;text-align:left;}
.bx-wrapper img		{width:100%;}
.bx-pager-item		{float:left;padding:0 5px 1px 0 !important;width:47% !important;}
.bx-pager-item img	{width:100%;}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto	{bottom:0px;height:238px;overflow:hidden;position:relative;width:60%;}
.bx-wrapper .bx-controls-direction 						{height:32px;margin-top:-16px;outline:0 none;position:absolute;right:10px;text-indent:-9999px;top:-22%;width:32px;z-index:9999;}
.bx-pager-link > span.a 			{position:absolute;left:8px;bottom:44px;z-index:99;background:rgba(0,0,0,0.6);color:#FFF;padding:8px 16px;}
.bx-pager-link > span.b 			{position:absolute;left:4px;bottom:44px;z-index:99;background:rgba(0,0,0,0.6);color:#FFF;padding:8px 4px;}
.bx-pager-link > span.c 			{position:absolute;left:16px;bottom:44px;z-index:99;background:rgba(0,0,0,0.6);color:#FFF;padding:8px 16px;}
.bx-pager-link > span.d 			{position:absolute;left:6px;bottom:44px;z-index:99;background:rgba(0,0,0,0.6);color:#FFF;padding:8px 4px;}
.bxslider span						{left:19px;position:absolute;top:91px;z-index:99;background:rgba(0,0,0,0.6);color:#FFF;padding:8px 16px;font-family:'OpenSans-Semibold';font-size:16px;}
.foot-r-home		{float:right;padding:10px 0px 10px 0;width:53%;}
.menu				{float:left;font-family:'open_sansregular';font-size:12px;margin:0;padding:0px;text-transform:capitalize;}
.menu ul			{margin:0px;padding:0px;}
.menu ul li			{float:left;list-style:none;margin:0;padding:18px 10px 18px 10px;}
.menu ul li.last a	{border:1px solid #1c4c7c;border-radius:5px;color:#ffffff;khtml-border-radius:5px;margin:0px;moz-border-radius:5px;padding:10px 10px;webkit-border-radius:5px;}
.search				{background:#052749;border-radius:50px;float:right;height:22px;khtml-border-radius:50px;margin:12px 5px 0 0;moz-border-radius:50px;padding:5px 20px;webkit-border-radius:50px;width:100px;}
.search input[type="text"]	{background:none;border:none;color:#41678e;font-family:'open_sansregular';font-size:12px;margin:0px;padding:0px;width:75px;}
.trip-left			{background:url(../images/grey-bg.png) repeat-x left top #F3F6F7;float:left;width:100%;}
.trip-right			{background:#00b8e5;float:left;margin:20px 0 0 0;width:100%;}
.trip ul			{float:left;height:77px;margin:0px;padding:0px 10px;}
.trip ul li			{background:url(../images/trip-sep.png) no-repeat right top;float:left;list-style:none;margin:0px;padding:20px 20px;}
.trip ul li.last	{background:none;float:left;list-style:none;margin:0px;padding:20px 20px;}
.ddsmoothmenu ul li	{border-right:1px solid #33c6ea;float:left;list-style:none;margin:0px;padding:15px 16px 16px 16px;position:relative;}
.ddsmoothmenu ul li.first	{background:url(../images/arrow-menu.png) no-repeat 52px 45px;float:left;list-style:none;margin:0px;padding:14px 32px 17px 16px;}
.ddsmoothmenu ul li.last	{background:#00c2f1;border-right:0px;float:left;list-style:none;margin:0px;padding:15px 16px 16px 16px;}
.ddsmoothmenu ul li a		{color:#fff;display:block;font-family:'OpenSans-Semibold';font-size:14px;margin:0px;padding:0px;text-decoration:none;text-transform:uppercase;}
.resort-details		{float:left;margin:0 0 0 1%;width:51%;}
.city-details		{background:#f3f6f7;border-right:1px solid #d3e1ee;float:left;padding:19px;width:93.8%;}
.hotel-details		{background:#ffffff;border-right:1px solid #d3e1ee;float:left;padding:19px;width:93.8%;}
.foot-r				{float:right;padding:0 10px 0 0;width:70%;}
.foot-l				{float:left;padding:0px 0px 0px 10px;width:23%;}
}
@media screen and (max-width:639px) {
.row-home			{margin:0 auto;padding:0px;width:99%;}
.logo				{float:left;margin:0px;padding:7px 0px 11px 7px;}
.flex-caption		{background:#50c0ed;margin:0px;padding:0;padding:10px;position:absolute;right:0.5%;text-align:left;top:1%;width:77%;display:none}
.banner-link		{bottom:20px;float:left;position:absolute;width:99.5%;}
.services			{background:url(../images/services-bg.png) no-repeat center top;float:left;padding:32px 0px;width:100%;}
.services-box, .service-box-last	{float:left;margin:0 18px 0 0;padding:20px 0px;width:45%;}
.itineraries		{background:#FFF;float:left;padding:52px 0px;width:100%;}
.itin-left			{float:left;width:46%;}
.itin-right			{float:left;height:250px;width:53%;}
.owl-carousel .owl-item		{border:1px solid #E5E5E5;border-radius:3px 3px 3px 3px;float:left;margin:0 0 0 10px;padding:0 0 15px;width:11.7% !important;}
.owl-prev			{background:url(../images/arrow-it-left.png) no-repeat;bottom:335px;float:left;height:32px;left:175px;position:relative;width:32px;}
.foot-about			{float:left;margin:0 20px 20px 0;width:100%;}
.foot-list			{float:left;margin:0 20px 0 0;width:45%;}
.foot-last			{float:left;margin:20px 0px 0 0;width:100%;}
.foot-last ul li a	{padding:0 0px 0 0px;text-align:left;}
.destination h2		{border-bottom:1px solid #ffffff;color:#333333;font-family:'OpenSans-Semibold';font-size:28px;margin:0 0 20px 0;padding:0 0 10px 0;text-align:left;}
.bx-wrapper img		{width:100%;}
.bx-pager-item		{float:left;padding:0 5px 1px 0;width:46% !important;}
.bx-pager-item img	{width:100%;}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto		{bottom:0px;height:180px;overflow:hidden;position:relative;width:60%;}
.bx-wrapper .bx-controls-direction 							{height:32px;margin-top:-16px;outline:0 none;position:absolute;right:10px;text-indent:-9999px;top:-27%;width:32px;z-index:9999;}
.bx-pager-link > span.a 			{display:none;}
.bx-pager-link > span.b 			{display:none;}
.bx-pager-link > span.c 			{display:none;}
.bx-pager-link > span.d 			{display:none;}
.bxslider span						{display:none;}
.bx-wrapper .bx-pager .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item {display:inline;float:left;padding:0 4px 0 0;}
.foot-l-home		{float:right;padding:10px 0px 10px 0;width:100%;}
.foot-r-home		{float:right;padding:10px 0px 10px 0;width:100%;}
header				{background:#033363;border-top:1px solid #032e5a;box-shadow:0 0 10px rgba(0, 0, 0, 0.3);float:left;height:112px;margin:0px;moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.3);padding:0 0 0 0;position:relative;webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.3);width:100%;}
.logo				{float:left;margin:0px;padding:7px 0px 7px 0px;text-align:center;width:100%;}
.menu				{float:left;font-family:'open_sansregular';font-size:12px;margin:0;padding:0px;text-transform:capitalize;}
.menu ul			{margin:0px;padding:0px;}
.menu ul li			{float:left;list-style:none;margin:0;padding:18px 10px 18px 22px;}
.menu ul li.last a	{border:1px solid #1c4c7c;border-radius:5px;color:#ffffff;khtml-border-radius:5px;margin:0px;moz-border-radius:5px;padding:10px 10px;webkit-border-radius:5px;}
.search				{background:#052749;border-radius:50px;float:right;height:22px;khtml-border-radius:50px;margin:12px 5px 0 0;moz-border-radius:50px;padding:5px 20px;webkit-border-radius:50px;width:100px;}
.search input[type="text"]	{background:none;border:none;color:#41678e;font-family:'open_sansregular';font-size:12px;margin:0px;padding:0px;width:75px;}
.trip-left			{background:url(../images/grey-bg.png) repeat-x left top #F3F6F7;float:left;width:100%;}
.trip-right			{background:#00b8e5;float:left;margin:20px 0 0 0;width:100%;}
.trip ul			{float:left;height:77px;margin:0px;padding:0px 0px;}
.trip ul li			{background:url(../images/trip-sep.png) no-repeat right top;float:left;list-style:none;margin:0px;padding:20px 12px 20px 12px;}
.trip ul li.last	{background:none;float:left;list-style:none;margin:0px;padding:20px 12px;}
.trip ul li a		{float:left;font-family:'open_sansregular';font-size:12px;margin:0;padding:0px;text-transform:capitalize;}
.trip ul li a span.big			{color:#FFF;display:block;font-family:'OpenSans-Semibold';font-size:12px;font-weight:normal;margin:0;padding:0px;text-align:center;text-transform:capitalize;}
.trip ul li a span.small		{color:#bcc1c7;display:block;font-family:'open_sansregular';font-size:12px;margin:0;padding:0px;text-align:center;text-transform:capitalize;}
.ddsmoothmenu ul li	{border-right:1px solid #33c6ea;float:left;list-style:none;margin:0px;padding:15px 14px 20px 14px;position:relative;}
.ddsmoothmenu ul li.first		{float:left;list-style:none;margin:0px;padding:14px 14px 20px 14px;}
.ddsmoothmenu ul li.last		{background:#00c2f1;border-right:0px;float:left;list-style:none;margin:0px;padding:15px 14px 20px 14px;}
.ddsmoothmenu ul li a			{color:#fff;display:block;font-family:'open_sansregular';font-size:11px;margin:0px;padding:0px;text-decoration:none;text-transform:uppercase;}
.price-bar			{background:#393d41;float:left;margin:13px 0 13px 0;padding:13px;width:94%;}
.resort-details		{float:left;margin:0 0 0 1%;width:53%;}
.city-details		{background:#f3f6f7;border-right:1px solid #d3e1ee;float:left;padding:19px;width:91.7%;}
.hotel-details		{background:#ffffff;border-right:1px solid #d3e1ee;float:left;padding:19px;width:91.7%;}
.resort-img			{float:left;width:40%;}
.resort-img img		{width:100%;}
.resort-details h3	{color:#393d41;display:inline-block;font-family:'open_sansregular';font-size:14px;text-transform:capitalize;}
.book-add span		{background:#f1f1f1;border:1px solid #e9e9e9;border-radius:5px;float:left;khtml-border-radius:5px;margin:12px 8px 0 0;moz-border-radius:5px;padding:3px;webkit-border-radius:5px;}
.footer-inner		{background-color:#2F2F2F;color:#999999;float:left;font-family:'open_sanslight';font-size:12px;height:auto;margin:0;padding:10px 0 0;width:100%;}
.foot-l				{float:left;padding:0 0 0 20px;text-align:center;width:95%;font-family:12px;}
.foot-r				{float:right;padding:10px 20px 10px 0;width:95%;}
.foo-nav ul li a			{color:#999999;font-size:12px;padding:0 12px 0px 17px;font-family:Arial, Helvetica, sans-serif;}
.foo-nav ul li a.last		{color:#999999;font-size:12px;padding:0 0px 0px 17px;font-family:Arial, Helvetica, sans-serif;}
#resizable.content	{box-sizing:content-box;moz-box-sizing:content-box;overflow:hidden;webkit-box-sizing:content-box;width:97% !important;}
}
@media screen and (max-width:479px) {
.row-home			{margin:0 auto;padding:0px;width:99%;}
.logo				{float:left;margin:0px;padding:7px 0px 11px 7px;}
.flex-caption		{background:#50c0ed;margin:0px;padding:0;padding:10px;position:absolute;right:0.5%;text-align:left;top:1%;width:77%;display:none;}
.banner-link		{bottom:20px;float:left;position:absolute;width:99.5%;display:none}
.services			{background:url(../images/services-bg.png) no-repeat center top;float:left;padding:32px 0px;width:100%;}
.services-box, .service-box-last		{float:left;margin:0 18px 0 0;padding:20px 0px;width:99%;}
.itineraries		{background:#FFF;float:left;padding:52px 0px;width:100%;}
.itin-left			{float:left;width:99%;}
.itin-right			{float:left;height:250px;width:100%;}
.owl-carousel .owl-item		{border:1px solid #E5E5E5;border-radius:3px 3px 3px 3px;float:left;margin:50px 0 50px 10px;padding:0 0 15px;width:9.7% !important;}
.owl-prev			{background:url(../images/arrow-it-left.png) no-repeat;bottom:350px;float:left;height:32px;left:215px;position:relative;width:32px;}
.owl-next			{background:url(../images/arrow-it-right.png) no-repeat;bottom:350px;float:right;height:32px;left:0;position:relative;width:32px;}
.foot-about			{float:left;margin:0 20px 20px 0;width:100%;text-align:center;}
.foot-list			{float:left;margin:0 20px 20px 0;width:100%;text-align:center;}
.foot-list ul li	{background:none;display:list-item;line-height:20px;list-style:none outside none;}
.foot-list ul li a			{color:#e5ebeb;font-family:'open_sansregular';font-size:12px;padding:0 0 0 0px;}
.foot-list ul li a:hover	{color:#777777;font-family:'open_sansregular';font-size:12px;padding:0 0 0 0px;}
.foot-last					{float:left;margin:20px 0px 0 0;width:100%;text-align:center;}
.foo-nav ul li a.last		{color:#999999;font-size:12px;padding:0 0px 0px 0px;font-family:Arial, Helvetica, sans-serif;}
.copyrit 			{text-align: center;}
.foot-last ul li a	{padding:0 0px 0 0px;text-align:left;}
.destination h2		{border-bottom:1px solid #ffffff;color:#333333;font-family:'OpenSans-Semibold';font-size:28px;margin:0 0 20px 0;padding:0 0 10px 0;text-align:left;}
.bx-wrapper img		{width:100%;}
.bx-pager-item		{float:left;padding:0 5px 1px 0;width:44% !important;}
.bx-pager-item img	{width:100%;}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto		{bottom:0px;height:110px;overflow:hidden;position:relative;width:60%;}
.bx-wrapper .bx-controls-direction 							{height:32px;margin-top:-16px;outline:0 none;position:absolute;right:10px;text-indent:-9999px;top:-50%;width:32px;z-index:9999;}
.bx-pager-link > span.a 			{display:none;}
.bx-pager-link > span.b 			{display:none;}
.bx-pager-link > span.c 			{display:none;}
.bx-pager-link > span.d 			{display:none;}
.bxslider span						{display:none;}
.bx-wrapper .bx-pager .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item {display:inline;float:left;padding:0 4px 1px 0;}
.foot-l-home		{float:right;padding:10px 0px 10px 0;width:100%;}
.foot-r-home		{float:right;padding:10px 0px 10px 0;width:100%;}
header				{background:#033363;border-top:1px solid #032e5a;box-shadow:0 0 10px rgba(0, 0, 0, 0.3);float:left;height:164px;margin:0px;moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.3);padding:0 0 0 0;position:relative;webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.3);width:100%;}
.logo				{float:left;margin:0px;padding:7px 0px 7px 0px;text-align:center;width:100%;}
.menu				{float:left;font-family:'open_sansregular';font-size:12px;margin:0;padding:0px;text-transform:capitalize;}
.menu ul			{margin:0px;padding:0px;}
.menu ul li			{float:left;list-style:none;margin:0;padding:18px 10px 18px 20px;}
.menu ul li.last a	{border:1px solid #1c4c7c;border-radius:5px;color:#ffffff;khtml-border-radius:5px;margin:0px;moz-border-radius:5px;padding:10px 10px;webkit-border-radius:5px;}
.search				{background:#052749;border-radius:50px;float:right;height:22px;khtml-border-radius:50px;margin:12px 7px 0 0;moz-border-radius:50px;padding:5px 20px;webkit-border-radius:50px;width:83%;}
.search input[type="text"]		{background:none;border:none;color:#41678e;font-family:'open_sansregular';font-size:12px;margin:0px;padding:0px;width:75px;}
.trip-left			{background:none;float:left;width:99.6%;}
.trip-right			{background:#00b8e5;float:left;margin:20px 0 0 0;width:99.6%;}
.trip ul			{background:url(../images/grey-bg.png) repeat-x left top #F3F6F7;background-size:100% 100%;float:left;height:auto;margin:0px;padding:0px 0px;}
.trip ul li			{background:none;border-bottom:1px solid #999;display:inline-block;float:left;list-style:none;margin:0px;padding:8px 12px 8px 12px;text-align:center;width:92%;}
.trip ul li.last	{background:none;float:left;list-style:none;margin:0px;padding:8px 12px;}
.trip ul li a		{float:left;font-family:'open_sansregular';font-size:12px;margin:0;padding:0px;text-align:center;text-transform:capitalize;width:100%;}
.trip ul li a span.big		{color:#FFF;display:block;font-family:'OpenSans-Semibold';font-size:12px;font-weight:normal;margin:0;padding:0px;text-align:center;text-transform:capitalize;}
.trip ul li a span.small	{color:#bcc1c7;display:block;font-family:'open_sansregular';font-size:12px;margin:0;padding:0px;text-align:center;text-transform:capitalize;}
.trip-name			{color:#565e64;display:block;float:left;font-family:'open_sansregular';font-size:14px;padding:15px 0px 15px 0px;text-align:center;text-transform:uppercase;width:160px;}
.place-box			{box-shadow:0 0px 5px rgba(0, 0, 0, 0.2);float:left;moz-box-shadow:0 0px 5px rgba(0, 0, 0, 0.2);webkit-box-shadow:0 0px 5px rgba(0, 0, 0, 0.2);width:183px;}
.place				{background:#f9fbfc;float:left;width:182px;}
.place-img			{float:left;margin:0px 0px 0px 0px;text-align:center;width:100%;}
.place-cont			{float:left;margin:0 0 0 3%;width:97%;}
span a.addmore 		{background:url("../images/arrow-left.png") no-repeat scroll 90px 11px #FFFFFF;border:0 none;border-radius:3px 3px 3px 3px;color:#242222;cursor:pointer;font-family:'open_sansregular';font-size:13px;margin:15px 0 15px 25px ;padding:7px 12px 7px 16px;text-align:left;text-transform:uppercase;width:90px;float:left;}
.travel ul li		{display:inline;float:left;list-style:none;margin:0 3px 0 0;}
.travel ul li a		{display:inline;float:left;list-style:none;padding:15px 5px;}
.ddsmoothmenu ul li	{border-right:1px solid #33c6ea;float:left;list-style:none;margin:0px;padding:15px 14px 20px 14px;position:relative;}
.ddsmoothmenu ul li.first			{float:left;list-style:none;margin:0px;padding:14px 14px 20px 14px;}
.ddsmoothmenu ul li.last			{background:#00c2f1;border-right:0px;float:left;list-style:none;margin:0px;padding:15px 14px 20px 14px;}
.ddsmoothmenu ul li a				{color:#fff;display:block;font-family:'open_sansregular';font-size:11px;margin:0px;padding:0px;text-decoration:none;text-transform:uppercase;}
.price-bar			{background:#393d41;float:left;margin:13px 0 13px 0;padding:13px;width:92%;}
.resort-details		{float:left;margin:0 0 0 1%;width:90%;}
.city-details		{background:#f3f6f7;border-right:1px solid #d3e1ee;float:left;padding:19px;width:87.7%;}
.ddsmoothmenu ul				{background:#00b8e5;float:left;height:auto;margin:0px;padding:0px;}
.ddsmoothmenu ul li				{border-right:1px solid #33c6ea;float:left;list-style:none;margin:0px;padding:10px 0px 10px 0px;position:relative;text-align:center;width:100%;}
.ddsmoothmenu ul li.first		{background:none;float:left;list-style:none;margin:0px;padding:10px 0px 10px 0px;}
.ddsmoothmenu ul li.last		{background:#00c2f1;border-right:0px;float:left;list-style:none;margin:0px;padding:10px 0px 10px 0px;}
.ddsmoothmenu ul li a			{color:#fff;display:block;font-family:'OpenSans-Semibold';font-size:12px;margin:0px;padding:0px;text-decoration:none;text-transform:uppercase;}
.ddsmoothmenu ul li ul			{display:none;left:0;margin:0px;padding:0px;position:absolute;visibility:hidden;width:100%;}
.ddsmoothmenu ul li ul li		{border-right:0px solid #33c6ea;display:list-item;float:none;margin:0px;padding:0px;width:100%;}
.ddsmoothmenu ul li ul li a		{background:#0496b9;border-bottom:1px solid #fff;color:#ffffff;font-size:12px;line-height:18px;margin:0;padding:8px 8px;text-transform:uppercase;width:95%;}
.ddsmoothmenu ul li ul li a:hover		{background:#00B8E5;color:#ffffff;}
.hotel-details					{background:#ffffff;border-right:1px solid #d3e1ee;float:left;padding:19px;width:87.7%;}
.content-resort .mCSB_container	{height:980px !important;width:100% !important;}
.resort-img			{float:left;width:93%;}
.resort-img img		{width:100%;}
.resort-details h3	{color:#393d41;display:inline-block;font-family:'open_sansregular';font-size:14px;text-transform:capitalize;}
.book-add span		{background:#f1f1f1;border:1px solid #e9e9e9;border-radius:5px;float:left;khtml-border-radius:5px;margin:12px 8px 0 0;moz-border-radius:5px;padding:3px;webkit-border-radius:5px;}
.footer-inner		{background-color:#2f2f2f;color:#999999;float:left;font-family:'open_sanslight';font-size:12px;height:auto;margin:0px;padding:12px 0 0 0;width:100%;}
.foot-r				{float:right;padding:0 0px 0 0;width:100%;}
.foot-l				{float:left;padding:0px 0px 10px 0px;text-align:center;width:100%;}
.foo-nav ul li		{display:inline-block;padding:0;padding:0px 0px 10px 0px;text-align:center;}
.foo-nav ul li a	{color:#999999;font-family:Arial, Helvetica, sans-serif;font-size:12px;padding:0px 11px;}
.soc-nav			{display:inline;text-align:center;width:100%;margin:0 0 10px 0;}
}
