.flex-container a:active, .flexslider a:active {outline: none;}
.slides, .flex-control-nav, .flex-direction-nav {margin: 0; padding: 0; list-style: none;}  
.flexslider {background: #fff; position: relative; width: 100%; margin: 0; padding: 0; zoom: 1;} .flexslider .slides {zoom: 1;} .flexslider .slides > li {display: none; padding:0px; margin:0px; position: relative;}
.flexslider .slides img {display: block; width:100%; }.flex-pauseplay span {text-transform: capitalize;}
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} * html .slides {height: 1%;}.no-js .slides > li:first-child {display: block;}
.flex-container {zoom: 1; position: relative;}
.flex-caption {width:50%; padding:2% 0 0; margin:0px; font-family: 'OpenSansLight'; position: absolute; top:30px; left:50px; color: #fff; font-size:50px; line-height:54px;}
.flex-caption strong { display:block; font-family:'OpenSansRegular'; font-size:60px; color:#FFFFFF; font-weight:normal; line-height:70px; padding:0px; margin:0px;  }
.flex-caption span { display:block; font-size:30px; line-height:30px; }
.flex-direction-nav { display:none; }
.flex-direction-nav li a {width: 30px; height: 30px; margin: -13px 0 0; display: block; background:none; position: absolute; top: 50%; cursor: pointer; text-indent: -9999px;}
.flex-direction-nav li .next {background-position: -30px 0; right: 16px;}
.flex-direction-nav li .prev {left:16px;}
.flex-direction-nav li .disabled {opacity: .3; filter:alpha(opacity=30); cursor: default;}
.flex-control-nav { idth: 100%; position: absolute; clear:both; right:25px; bottom: 6px; text-align: center; }
.flex-control-nav li {margin: 0 0 0 3px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav li a {width: 9px; height: 9px; display: block; background: url(../images/bg_control_nav.png) no-repeat 0 0; cursor: pointer; text-indent: -9999px;}
.flex-control-nav li a:hover {background-position: 0 -10px;}
.flex-control-nav li a.active {background-position: 0 -20px; cursor: default;}