
@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/opensans-regular-webfont.eot');
    src: url('fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-regular-webfont.woff') format('woff'),
         url('fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sanslight';
    src: url('fonts/opensans-light-webfont-webfont.eot');
    src: url('fonts/opensans-light-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-light-webfont-webfont.woff') format('woff'),
         url('fonts/opensans-light-webfont-webfont.ttf') format('truetype'),
         url('fonts/opensans-light-webfont-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'OpenSans-Semibold';
	src: url('fonts/opensanssemiboldwebfont.eot');
	src: url('fonts/opensanssemiboldwebfont.eot?#iefix') format('embedded-opentype'),
			 url('fonts/opensanssemiboldwebfont.woff') format('woff'),
			 url('fonts/opensanssemiboldwebfont.ttf') format('truetype'),
			 url('fonts/opensanssemiboldwebfont.svg#OpenSans-Semibold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'open_sansbold';
    src: url('fonts/opensans-bold-webfont.eot');
    src: url('fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-bold-webfont.woff') format('woff'),
         url('fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansLightItalic';
    src: url('fonts/OpenSans-LightItalic-webfont.eot');
    src: url('fonts/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-LightItalic-webfont.woff') format('woff'),
         url('fonts/OpenSans-LightItalic-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansItalic';
    src: url('fonts/OpenSans-Italic-webfont.eot');
    src: url('fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Italic-webfont.woff') format('woff'),
         url('fonts/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Italic-webfont.svg#OpenSansItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cardoregular';
    src: url('fonts/cardo99s-webfont.eot');
    src: url('fonts/cardo99s-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/cardo99s-webfont.woff') format('woff'),
         url('fonts/cardo99s-webfont.ttf') format('truetype'),
         url('fonts/cardo99s-webfont.svg#cardoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
