body{ background:#000000; }
.flexslider {zoom: 1;} .flexslider .slides {zoom: 1;} 
html[xmlns] .slides {display: block;} * html .slides {height: 1%;}.no-js .slides > li:first-child {display: block;}
.flex-container {zoom: 1;}
.flex-control-nav li {zoom: 1; display: inline;}
.owl-theme .owl-controls .owl-buttons div{ zoom: 1; *display: inline; filter: Alpha(Opacity=100); } 
.owl-theme .owl-controls.clickable .owl-buttons div:hover{ filter: Alpha(Opacity=100);/*IE7 fix*/ } 
.banner-link input[type="submit"] 		{color: #242222;float:left;font-size:14px;margin:0;padding:10px 40px 10px 15px;font-family:'open_sansregular';background:url(../images/arrow-left.png) no-repeat 175px 15px #ffffff;width:auto;border-radius:2px;khtml-border-radius:5px;moz-border-radius:5px;webkit-border-radius:5px;border:0px;position:relative;left:0px;top:0px;text-align:left;text-transform:uppercase;cursor:pointer;}
.banner-link .fr input[type="submit"] 		{color: #242222;float:left;font-size:14px;margin:0;padding:10px 40px 10px 15px;font-family:'open_sansregular';background:url(../images/arrow-left.png) no-repeat 195px 15px #ffffff;width:auto;border-radius:2px;khtml-border-radius:5px;moz-border-radius:5px;webkit-border-radius:5px;border:0px;position:relative;left:0px;top:0px;text-align:left;text-transform:uppercase;cursor:pointer;}


