body{ background:red; }
.flexslider {zoom: 1;} .flexslider .slides {zoom: 1;} 
html[xmlns] .slides {display: block;} * html .slides {height: 1%;}.no-js .slides > li:first-child {display: block;}
.flex-container {zoom: 1;}
.flex-control-nav li {zoom: 1; display: inline;}
.owl-theme .owl-controls .owl-buttons div{ zoom: 1; *display: inline; filter: Alpha(Opacity=100); } 
.owl-theme .owl-controls.clickable .owl-buttons div:hover{ filter: Alpha(Opacity=100);/*IE7 fix*/ } 


