
/* ##############################################################################################
	
To be used with jquery.meanmenu.js by Chris Wharton (http://www.meanthemes.com/plugins/meanmenu/)

################################################################################################# */

/* hide the link until viewport size is reached */
a.meanmenu-reveal { display: none; }
.menu-container { position:relative; z-index: 9999; }
.mean-container .mean-bar { float:left; background:#efefef; width:100%; position:relative; padding:0px 0; top:0px; left:0; z-index: 9999; -moz-box-shadow: inset 0 0 6px #bababa; -webkit-box-shadow: inset 0 0 6px #bababa; box-shadow: inset 0 0 6px #bababa; }
.mean-container .mean-bar .menu-head { float:left; font-weight:normal; font-size:18px; color: #ff8100; padding:12px 3% 10px 3%; width:92%; height:24px; line-height:24px;  font-family: 'OpenSans-Semibold'; text-transform:uppercase; }
.mean-container a.meanmenu-reveal {
width:24px; height:24px; padding:12px 15px 10px;
position: absolute; top: 0; right: 0;
cursor: pointer;
font-family: 'OpenSansSemibold', Arial;
text-decoration: none; font-size:13px; text-indent: -9999em;
font-size: 1px;
display: block;
background:#ff8100;
outline:none;
font-weight:normal;
 -moz-box-shadow: inset 0 0 6px #b65c00; -webkit-box-shadow: inset 0 0 6px #b65c00; box-shadow: inset 0 0 6px #b65c00;
}
.mean-container a.meanmenu-reveal:hover { color:#333333; }
.mean-container a.meanmenu-reveal.meanclose { color:#333333;  }
.mean-container a.meanmenu-reveal span { display: block; background:#ffffff; height: 3px; margin-top: 3px; }
.mean-container a.meanmenu-reveal:hover span { background:#333333; }
.mean-container a.meanmenu-reveal.meanclose span { background:#333333; }
.mean-container .mean-nav { float: left; width:100%; margin:0; position:absolute; top:42px; }

/*  1st Level Menu  */
.mean-container .mean-nav ul { float:left; width:98%; list-style-type: none; padding:0 1%; margin: 0; background:#d9d9d9; border-top:3px solid #ff8100; }
.mean-container .mean-nav ul li { position: relative; float: left; width:100%; padding:0px; margin:0px; border-bottom: 1px solid #cccccc; background:none; }
.mean-container .mean-nav ul li.mean-last { border-bottom:none; }
.mean-container .mean-nav ul li a { display: block; float: left; width: 96%; padding:0 3%; font-size:13px; font-family: 'open_sansregular'; text-align: left; color:#333333; text-decoration: none; text-transform: uppercase; line-height:36px; }
.mean-container .mean-nav ul li:hover { background:#ffffff; }
.mean-container .mean-nav ul li:hover a, .mean-nav ul li.active a, .mean-container .mean-nav ul li.act-li a { color:#ff8100; }
.mean-container .mean-nav ul li.mean-last a { border-bottom: none; margin-bottom: 0; }
.mean-container .mean-nav ul li.act-li { background:#ffffff;color:#ff8100;  }

/*  2nd Level Menu  */
.mean-container .mean-nav ul li ul { border:none; width: 96% !important; margin:5px 2% 10px;  padding:0px; background:#f2f2f2; }
.mean-container .mean-nav ul li ul li { border-bottom:1px solid #e8e8e8; line-height:20px; background:none; }
.mean-container .mean-nav ul li ul li:hover {  background:#e8e8e8; }
.mean-container .mean-nav ul li li a, .mean-container .mean-nav ul li.act-li li a { padding:0 3%; width:94%; font-size:13px; font-weight:400; color:#303030; line-height:35px; visibility: visible; text-transform: none; }
.mean-container .mean-nav ul li li a:hover, .mean-container .mean-nav ul li.act-li li a:hover { color:#ff8100; }
.mean-container .mean-nav ul li li.act-li, .mean-container .mean-nav ul li li.act-li a { background:#e8e8e8; color:#ff8100;  }

/*  3rd Level Menu  */
.mean-container .mean-nav ul ul ul { border:none; width: 96%; margin:5px 2% 10px;  padding:0px; background:#f6f6f6; }
.mean-container .mean-nav ul ul ul li { border-bottom:1px solid #eaeaea; line-height:20px; background:none; }
.mean-container .mean-nav ul ul ul li:hover {  background:#ffffff; }
.mean-container .mean-nav ul li li li a, .mean-container .mean-nav ul li.act-li li.act-li li a { background:#f8f8f8; color:#f6f6f6;  padding:0 3%; width:94%; font-size:13px; font-weight:400; color:#303030; line-height:35px; visibility: visible; text-transform: none; }
.mean-container .mean-nav ul li li li a:hover, .mean-container .mean-nav ul li.act-li li.act-li li a:hover { color:#ff8100; }

/*  Menu Expand  */
.mean-container .mean-nav ul li a.mean-expand { background:url(../images/arrow.png) no-repeat 94% center!important; text-indent:9999999px; width:200px !important; height:35px; border: none !important; padding:0px; text-align: right; position: absolute; right: 0; top: 0;  z-index: 2; font-size:32px; padding:0 4%!important; }
.mean-container .mean-nav ul li:hover a.mean-expand, .mean-container .mean-nav ul li.act-li li:hover a.mean-expand, .mean-container .mean-nav ul li.act-li li.act-li li:hover a.mean-expand { background:url(../images/arrow-orange.png) no-repeat 94% center!important; }
.mean-container .mean-nav ul li.act-li li a.mean-expand, .mean-container .mean-nav ul li.act-li li.act-li li a.mean-expand { background:url(../images/arrow.png) no-repeat 94% center!important;  }
.mean-container .mean-nav ul li a.mean-expand.mean-clicked, .mean-container .mean-nav ul li.act-li li a.mean-expand.mean-clicked, .mean-container .mean-nav ul li.act-li li.act-li li a.mean-expand.mean-clicked { background:url(../images/arrow-orange-down.png) no-repeat 93% center!important; }
.mean-container .mean-nav ul li a.mean-expand:hover { background: none; }
.mean-container .mean-push { float: left; width: 100%; padding: 0; margin: 0; clear: both; }
.mean-nav .wrapper { width: 100%; padding: 0; margin: 0; } 

