﻿@charset "utf-8";
/* CSS Document */

input[type="submit"], input[type="button"], input[type="text"], input[type="password"] { -webkit-border-radius:0; -webkit-appearance: none; }
a[href^=tel] {
text-decoration:inherit;
color: inherit;
}
/* #Media Queries
================================================== */
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 1440px) {
	body{ overflow-x:hidden;}
}

@media screen and (min-width:768px) and (max-width:980px) {
img {max-width:100%; }
.row { width:750px; position:relative; }
.ddsmoothmenu { width:750px; }
.ddsmoothmenu ul li ul.mega-menu { left: -146px !important; }
.search { position:absolute; right:0px; top:-40px; height:25px; margin:0; }
.search input[type="text"] { padding:3px 5px 2px 8px; }
.search input[type="submit"] { height:25px; background-position:-17px -163px; } 
.helight-txt { width:460px; margin:15px 15px 15px 0; padding:5px 0 0 23px; font-size: 16px; line-height: 18px; }
.orange-pad { width:230px; padding:12px 10px 0; min-height:85px; }
.about-txt {margin: 0 5px 0 20px; width: 460px; }
.service ul { margin-top:0px; }
.service ul li, .service ul li.first, .service ul li.last { margin:25px 2% 0 2%; width:46%; }
.service ul li .service-txtpad { padding:30px 5% 10px; width:90%; min-height:170px; }
.service ul li p { min-height:55px; }
.service .btn-more a { padding-right:18%; width:82%; }
.blog-post-pad.last { width:100%; margin:25px 0 0; }
.testimonial-pad { padding-left:30px; min-height:110px; }
.testimonial-pad ul li { font-size:13px; line-height:20px; }
.client-pad ul { padding:10px 0 0; width:100%; }
.client-pad ul li { margin:0 18px 0 0; }
.client-pad ul li img { width:110px; }
footer { padding:20px 0 10px; }
.foo-nav { width:170px; }
.foo-nav.f-service { margin:0 17px; width:376px; }
.foo-nav ul li { padding:2px 0 2px 18px; background-position:-27px -116px; }
.f-btm .fl { width:100%; }
.f-btm .fr { width:100%; margin-top:0px; }
.f-top { margin-bottom:10px; padding-bottom:5px; }
.overlay-pad { height:80%;}
.rating-styles { width:50%;}
.foot-about { width:50%;}

}

@media screen and (max-width:767px) {
body { -webkit-text-size-adjust: none; }
img {max-width:100%; }
.row { width:96%; position:relative; }
header { padding-bottom:50px; border-bottom:none; }
.logo { width:100%; text-align:center; padding:10px 0 10px 0; }
.top-right { padding:0 0 0 15%; width:85%; }
.search { position:absolute; left:50%; top:-38px; height:25px; margin:0 0 0 -126px; width:250px; }
.search input[type="text"] { padding:3px 5px 2px 8px; }
.search input[type="submit"] { height:25px;  background-position:-17px -163px; }
.ddsmoothmenu { display:none!important; }
.helight-txt { margin: 21px 1% 15px; width:auto; }
.orange-pad { min-height:25px; padding:20px 3% 15px; text-align: center; width:98%; margin:0 -2% }
.about-txt { width:100%; margin:0 0 24px 0; }
.service ul { margin-top:0px; }
.service ul li, .service ul li.first, .service ul li.last { margin:25px 2% 0 2%; width:46%; }
.service ul li .service-txtpad { padding:30px 5% 10px; width:90%; min-height:170px; }
.service ul li p { min-height:55px; }
.service .btn-more a { padding-right:18%; width:82%; }
.blog-post-pad { margin:0 6px 0; width:295px; }
.case-stuidies-pad { padding:30px 7% 20px; width:86%; margin-top:3px; }
.recent-blog-pad { padding:20px 7% 10px; margin-top:3px; }
.blog-post-pad.last { width:100%; margin:25px 0 0; }
.testimonial-pad { padding-left:30px; min-height:130px; margin-top:5px; }
.testimonial-pad ul li { font-size:13px; line-height:20px; }
.cont-pad.client-pad { padding:25px 0 10px; }
.client-pad ul { padding:10px 0 0; width:100%; }
.client-pad ul li { margin:0 1.5% 15px; width:14% }
.client-pad ul li img { width:100%; }
footer { background-repeat:repeat-y; padding-bottom:15px; }
.foo-nav { width:100%; }
.foo-nav.f-service { margin:10px 0; width:100%; }
.f-btm .fl { width:100%; text-align:center; }
.f-btm .copyrit { margin-left:0px; width:100%; }
.f-btm .fr { margin-top:5px; width:100%; text-align:center; }
.f-btm .fr a{ margin:5px 3px; }
.info-left h3	{ line-height:22px; }

}


/* Mobile Landscape Size (devices and browsers) */
@media screen and (max-width:639px) {
.row { width:95%; }
header { padding-bottom: 42px; }
.top-right { clear:both; float:none; width:212px; margin:0 auto; padding:0; }
.helight-txt { padding:5px 0 0 25px; font-size:16px; }
.orange-pad { padding:10px 3%; }
.soc-ico { border-left:none; padding:0 0 5px; }
.soc-ico.bdr { border-left:none;}
.service-txt { width:210px; padding:5px 0 5px 15px; }
.blog-post-pad { margin:0 0 20px; width:300px; }
.blog-post-pad.last { margin:0; }
footer .btm-nav a { margin:0 1%; display:inline-block; }


}


/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media screen and (max-width:479px) {
.row { width:94%; }
.service-txt { width:93%; padding:5px 0 5px 4%; border-left:4px solid #b0b0b0; }
.service ul li, .service ul li.first, .service ul li.last { width:96%; }
.foo-nav.f-service h1 { margin-bottom:10px; }
.foo-nav.f-service ul { width:100%; padding:0px; }
.copyscape { display:block; }


}
