﻿
        
.modal-box {

  display: none;

  position: absolute;

  z-index: 1000;

  width: 28%;

  background: white;

  border-bottom: 1px solid #aaa;

  border-radius: 4px;

  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);

  border: 1px solid rgba(0, 0, 0, 0.1);

  background-clip: padding-box;

}

 

.modal-box div,

.modal-box .modal-div {

  padding: 1.25em 1.5em;

  border-bottom: 1px solid #ddd;

}

@media (min-width: 32em) {

  .modal-box { width: 33%; }

}
.modal-box div h3,

.modal-box div h4,

.modal-box .modal-div h3,

.modal-box .modal-div h4 { margin: 0; }


.modal-box .modal-body { padding: 2em 1.5em; }


.modal-box p,

.modal-box .modal-p {

  padding: 1em;

  border-top: 1px solid #ddd;

  background: rgba(0, 0, 0, 0.02);

  text-align: right;

}

 

.modal-overlay {

  opacity: 0;

  filter: alpha(opacity=0);

  position: absolute;

  top: 0;

  left: 0;

  z-index: 900;

  width: 100%;

  height: 100%;

  background: rgba(0, 0, 0, 0.3) !important;

}


a.close {

  line-height: 1;

  font-size: 1.5em;

  position: absolute;

  top: 5%;

  right: 2%;

  text-decoration: none;

  color: #bbb;

}

a.close:hover {

  color: #222;

  -webkit-transition: color 1s ease;

  -moz-transition: color 1s ease;

  transition: color 1s ease;

}
/*
        #plans-height {
            width: 68.9%;
        }*/

        .btn-primary {
            background-color: rgb(9, 168, 229);
            width: 14%;
            border-color: rgb(9, 168, 229);
            border-radius: 4px;
            color: white;
        }

        .btn-danger {
            background-color: rgb(192, 81, 148);
            border-color: rgb(192, 81, 148);
            border-radius: 4px;
            width: 18%;
            color: white;
        }
 