﻿body {
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	font-size: 62.5%;
}

.popupcontdiv{
    background:#fff;border-bottom:2px solid #edeff0;border-top:2px solid #edeff0;float:left;padding:5px;margin:14px 0px;
    width:250px;
    height:30px;
}

