﻿.tripbutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
   
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
	background:-moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-o-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
	background-color:#79bbff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 61px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.tripbutton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff));
	background:-moz-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-webkit-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-o-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-ms-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff',GradientType=0);
	background-color:#378de5;
    border-radius: 5px;
}
.tripbutton:active {
	position:relative;
	top:1px;
    border-radius: 5px;
}

.CommentBox > div {
    margin:0 auto;
    width:250px;
}
.CommentBox {
    width:600px;
    height:50px;
    background-color: #A12A1E;
    color:White;
    margin:0 auto;
}
<style type="text/css">
        .brand {
            font-family: georgia, serif;
        }

            .brand .first {
                color: #ccc;
                font-style: italic;
            }

            .brand .second {
                color: #fff;
                font-weight: bold;
            }

        #hotelFilter {
            padding-bottom: 10px;
        }

        #AttraFilter {
            padding-bottom: 10px;
        }

        #ResFilter {
            padding-bottom: 10px;
        }

        #divAttracontrol input {
            border: 1px solid #ccc;
            font-family: arial;
            font-size: 12px;
            font-weight: normal;
            padding: 5px;
            text-transform: uppercase;
        }

        #divcontrol input {
            border: 1px solid #ccc;
            font-family: arial;
            font-size: 12px;
            font-weight: normal;
            padding: 5px;
            text-transform: uppercase;
        }

        #divrescontrol input {
            border: 1px solid #ccc;
            font-family: arial;
            font-size: 12px;
            font-weight: normal;
            padding: 5px;
            text-transform: uppercase;
        }

        #divActcontrol input {
            border: 1px solid #ccc;
            font-family: arial;
            font-size: 12px;
            font-weight: normal;
            padding: 5px;
            text-transform: uppercase;
        }

        #ActFilter {
            padding-bottom: 10px;
        }

        #txtActsearch {
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        #txthotelsearch {
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        #txtAttrasearch {
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        #txtRestsearch {
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        a:-webkit-any-link {
            color: -webkit-link;
            text-decoration: none !important;
            cursor: auto;
        }

        .Textbox {
            width: 90%;           
             border: 2px solid #ccc;
            border-radius: 10px;
             box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
   
        }
        .dropdown{
            width: 90%;  
            height:70%;         
            border: 2px solid #ccc;
            border-radius: 10px;
            box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
        }
        #List{
            width: 100%;           
             border: 2px solid #ccc;
            border-radius: 5px;
             box-shadow: 0px 0px 3px #98AFC7, 0 10px 15px #eee inset;
        }

        .Textboxtime {
            width: 60%;
            padding: 3px,5px;
              border: 2px solid #ccc;
            border-radius: 10px;
             box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
        }
        .Textarea {
            width: 90%;
            height: 100%;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
   
        }
        .TextareaDescription {
            width: 150%;
            height: 100%;
            border: 1px solid #ccc;
             border-radius: 5px;
             box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;   
        }
        .Textboxnumberonly{
             width: 60%;
             padding: 3px,5px;
             border: 2px solid #ccc;
             border-radius: 10px;
             box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
        }

        .span {
            color: red;
        }

        .scrollit {
            left: 10px;
            top: 10px;
            height: 500px;
            overflow-x: hidden;
            overflow-y: auto;
        }
    </style>

