﻿
@{
    Layout = null;
    var previousView = Session["CurView"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CancelFromPaypal</title>
</head>
<body>
    <div> 
        <input type="hidden" id="prevView" value="@previousView"/>
    </div>
</body>
</html>
<script src="~/Scripts/js/jquery-1.11.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {        
        $.getJSON('../Paypal/RevertInsertOnCancel', function (data) {
        });
        if($("#prevView").val()!=null && $("#prevView").val()!="")
        {
            if($("#prevView").val()=="Firstday")
            {
                window.location.href = "../trip/Firstday";
            }
            else if ($("#prevView").val() == "Firstdaytrip") {
                window.location.href = "../trip/Firstdaytrip";
            }
        }
        else
        {
            window.location.href = "../trip/index";
        }       

    });
</script>