﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Redirect to 1EzTrip</title>
</head>
<body>
    <div>
        <p>Thank you for your payment.</p>
        <br><p> Your transaction has been completed, and a receipt for your purchase has been emailed to you. </p><br>
        <p>You may log into your account at www.paypal.com/us to view details of this transaction.</p>

    </div>
</body>
</html>
<script src="~/Scripts/js/jquery-1.11.0.min.js"></script>
<script type="text/javascript">
    var incrementVal = 0;
    var gotResult = 0;
    $(document).ready(function () {
        $.getJSON('../trip/CallSaveMovement', function (data) {
            if(!data.Success)
            {
                window.location.href = "../trip/Index";
            }
            else
            {
                window.location.href = "../trip/Firstdaytrip";
            }
        });
    });

    function GetRedirectPage()
    {
        $.getJSON('../Paypal/ReturnSuccessOrFail', function (data) {
            if (data.Success=="0") {
                if (incrementVal < 30 && gotResult==0) {
                    incrementVal++;
                    setTimeout(function () { GetRedirectPage(); }, 3000);
                }
                else {                    
                    window.location.href = "../trip/Index";
                }                
            }
            else if (data.Success=="1") {
                $.getJSON('../trip/CallSaveMovement', function (data) {
                    gotResult = 1;
                    window.location.href = "../trip/Firstdaytrip";
                });
            }
        });
    }
</script>
