﻿@model eztripStart.Models.PayPalModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ValidateCommand</title>
</head>
<body>
    <form id="hiddenform" action="@Model.actionURL">
        @Html.HiddenFor(model => model.cmd)
        @Html.HiddenFor(model => model.business)
        @Html.HiddenFor(model => model.no_shipping)
        @Html.HiddenFor(model => model.@return)
        @Html.HiddenFor(model => model.cancel_return)
        @Html.HiddenFor(model => model.notify_url)
        @Html.HiddenFor(model => model.currency_code)
        @Html.HiddenFor(model => model.item_name)
        @Html.HiddenFor(model => model.amount)
        @Html.HiddenFor(model => model.invoice)
    </form>
    <p style="text-align:center;">
        <h3>
            Connecting to Paypal..
        </h3>
    </p>
</body>
</html>
<script src="~/Scripts/js/jquery-1.11.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var form = $("form");
        form.submit();
    });
</script>
