﻿@model eztripStart.Models.ManualEntry

@{
    Layout = null;
}

<div id="divActivities" style="display:none;">
    <div id="divActcontrol">
        <table>
            <tr>
                <td></td>
                <td>
                    <input type="button" id="btnActshow" value="Show Activity" onclick=" btnshowActivity();" />
                </td>
                <td></td>
                <td>
                    <input type="button" id="btnActAdd" value=" Add Activity" onclick="return btnsaveActivity();" />
                </td>
            </tr>
        </table>
    </div>
    <br />
    <div id="divActSave">
        <h3 style="text-align:center">Activities Details</h3>
        <br />
        <table>
            <tr>
                <td colspan="2">
                    Activity Name
                    <span class="span">*</span>
                    <input type="hidden" id="hidAct" />
                </td>
                <td> </td>
                <td>
                    @Html.TextBoxFor(m => m.Name, new { @class = "Textbox", id = "txtActivities", placeholder = "Enter Activity Name", onKeypress = "return onlyAlphabets(event);" })
                    <br />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <br />
                    Activity Rating<span class="span">*</span>
                </td>
                <td> </td>
                <td>
                    <br />
                    @Html.TextBoxFor(m => m.Hotel_rating, new { @class = "Textbox", id = "txtActRating", placeholder = "Activity Rating", onkeyup = "checkDec(this);", MaxLength = "3" })
                </td>

            </tr>
            <tr>
                <td colspan="2">
                    <br />
                    Activity Type
                    <span class="span">*</span>
                </td>
                <td></td>
                <td>
                    <br />
                    <select id="ddlActtype" class="dropdown" onchange="SelectedIndexChange()"> </select>
                    <a onclick="return ActPlus();" id="btnActtypeplus"><img src="~/Content/images/blueplus_sign.png" /></a>
                    <a id="btnActtypeminus" onclick="return ActMinus();"><img src=" ~/Content/images/Minus.png"></a>
                </td>

                <td>
                    <br />
                    <a id="btnActtypeDelete" onclick="return notyDeleteActivityactioAlert();" title="Delete Activity types"><img src=" ~/Content/images/Deleteicon.png"></a>
                    <div id="divActtype">
                        <table>

                            <tr>
                                <td>
                                    Add Type
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.Type, new { @class = "Textbox", id = "txtActtype", onkeypress = "return onlyAlphabets(event)" })
                                </td>
                                <td>
                                    <input type="button" id="btnActtypesave" value="Save" style="color:white;background:blue;font-weight:bold" onclick="return ActivityType();" />

                                </td>
                            </tr>
                        </table>
                    </div>
                    <span id="ActTypeError" style="color: Red;font-weight:bold;">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <br />
                    Description
                </td>
                <td></td>
                <td>
                    <br />
                    @Html.TextAreaFor(m => m.Description, new { @class = "TextareaDescription", id = "txtActDescription", placeholder = "Description" })

                </td>
            </tr>
            <tr>
                <td>
                    <br />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <br />
                    Address
                </td>
                <td></td>
                <td>
                    <br />
                    @Html.TextAreaFor(m => m.Address, new { @class = "Textarea", id = "txtActAddress", placeholder = "Address" })
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <br />
                    City
                    <span class="span">*</span>
                </td>
                <td></td>
                <td>
                    <br />
                    <br />
                    @Html.TextBoxFor(m => m.City, new { @class = "Textbox", id = "txtActcity", placeholder = "Enter Your City", onkeypress = "return onlyAlphabets(event)" })
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <br />
                    Latitude
                    <span class="span">*</span>
                </td>
                <td></td>
                <td>
                    <br />
                    @Html.TextBoxFor(m => m.Latitude, new { @class = "Textbox", id = "txtActlatitude", placeholder = "Latitude ", @readonly = "true" })
                </td>
                <td colspan="2">
                    Longitude
                    <span class="span">*</span>
                    @Html.TextBoxFor(m => m.Longitude, new { @class = "Textbox", id = "txtActlongitude", placeholder = "Longitude", @readonly = "true" })
                </td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2">
                    <br />
                    Activity Latitude
                    <span class="span">*</span>
                </td>
                <td></td>
                <td>
                    <br />
                    @Html.TextBoxFor(m => m.Hotellatitude, new { @class = "Textbox", id = "txtlatitudeActivity", placeholder = "Activity Latitude " })
                </td>
                <td colspan="2">
                    Activity  Longitude
                    <span class="span">*</span>
                    @Html.TextBoxFor(m => m.Hotellongitude, new { @class = "Textbox", id = "txtlongitudeActivity", placeholder = "Activity Longitude" })
                </td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2">
                    <br />
                    Includes

                </td>
                <td></td>
                <td>
                    <br />
                    @Html.TextBoxFor(m => m.Includes, new { @class = "Textarea", id = "txtActIncludes", placeholder = "Enter Includes" })
                </td>
            </tr>
            <tr>
                <td>
                    <br />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <br />
                    Excludes

                </td>
                <td></td>
                <td>
                    <br />
                    @Html.TextBoxFor(m => m.Excludes, new { @class = "Textarea", id = "txtActExcludes", placeholder = "Enter Excludes" })
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <br />
                    Duration
                    <span class="span">*</span>
                </td>
                <td></td>
                <td>
                    <br />
                    @Html.TextBoxFor(m => m.Duration, new { @class = "Textbox", id = "txtActduration", placeholder = "Duration(in mins)" })
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <br />
                    Supplier Name
                </td>
                <td></td>
                <td>
                    <br />
                    @Html.TextBoxFor(m => m.SupplierName, new { @class = "Textbox", id = "txtSuppliername", placeholder = "Enter Supplier Name" })
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <br />
                    Supplier Company Name
                </td>
                <td></td>
                <td>
                    <br />
                    @Html.TextBoxFor(m => m.Company, new { @class = "Textbox", id = "txtSupplierCompany", placeholder = "Enter Supplier Company Name" })
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <br />
                    Supplier Phone
                </td>
                <td></td>
                <td>
                    <br />
                    @Html.TextBoxFor(m => m.Phone, new { @class = "Textbox", id = "txtSupplierPhone", placeholder = "Enter Supplier Phone Number" })
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <br />
                    Supplier URL
                </td>
                <td></td>
                <td>
                    <br />
                    @Html.TextBoxFor(m => m.SupplierUrl, new { @class = "Textbox", id = "txtSupplierUrl", placeholder = "Enter Supplier Url" })
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <br />

                    Pick up & Drop Off
                </td>
                <td></td>
                <td>
                    <br />
                    @Html.TextBoxFor(m => m.pichup, new { @class = "Textarea", id = "txtPickUp", placeholder = "Enter Pick up Details" })
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <br />
                    Image Upload
                    <span class="span">*</span>
                </td>
                <td></td>
                <td>
                    <br />
                    @using (Html.BeginForm("SaveActivities", "CMSPage", FormMethod.Post
                                            , new { enctype = "multipart/form-data" }))
                    {
                        @Html.ValidationSummary();

                        <input type="file" id="fileActupload" name="file" />
                        <span class="field-validation-error" id="spanfile"></span>
                    }
                <td>
                    <label id="lblAct" style="color:blue;display:none;"></label>
                    <img id="imgActivity" style="width:100px;height:100px;border-radius:8px;" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <br />
                    Price
                    <span class="span">*</span>
                </td>
                <td></td>
                <td>
                    <br />
                    @Html.TextBoxFor(m => m.Price, new { @class = "Textboxnumberonly", id = "txtActprice", placeholder = "Price" })
                </td>
                <td colspan="3" style="border:double;color:#808080;">
                    <p style="font-weight:bold;">Price range should be from 10 to 2000</p>                    
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <br />
                    Reference Url
                    <span class="span">*</span>
                </td>
                <td></td>
                <td>
                    <br />
                    @Html.TextBoxFor(m => m.URL, new { @class = "Textbox", id = "txtActurl", placeholder = "Booking URL " })
                </td>
            </tr>
            <tr style="display:none;">
                <td colspan="2">
                    <br />
                    Active
                </td>
                <td></td>
                <td>
                    <br />
                    @Html.CheckBoxFor(m => m.Isactive, new { id = "chkActactive" })
                </td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td></td>
                <td></td>
                <td>
                    <span id="spnActivity" style="color: Red;font-weight:bold;"></span>
                </td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2">
                    <br />
                </td>
                <td></td>
                <td>
                    <br />
                </td>
                <td>
                    <br /><br />
                    <input type="button" id="btnActivitysave" value="Save Activity " class="tripbutton" onclick="return SaveActivities();" />
                    <input type="button" id="btnActUpdate" value="Update" class="tripbutton" onclick="return UpdateActivityDetails();" />
                    <br /><br /><br /><br />
                </td>
            </tr>
        </table>
    </div>
    <div id="divActshow">
        <div id="tblActheading" style=" float: right;"></div>
        <div class="scrollit">
            <table id="tblActshow" border="1" cellspacing="0" style=" width:100%; ">
                <tr style="background-color:#0099FF;color:#FFFFFF;">
                    <th style="display:none">
                        Id
                    </th>
                    <th style="display:none">
                        Name
                    </th>
                    <th style="display:none">
                        Rating
                    </th>
                    <th style="display:none">
                        Activity Type
                    </th>
                    <th style="display:none">
                        Description
                    </th>
                    <th style="display:none">
                        Address
                    </th>
                    <th style="display:none">
                        City
                    </th>
                    <th style="display:none">
                        Latitude
                    </th>
                    <th style="display:none">
                        Longitude
                    </th>
                    <th style="display:none">
                        Activity Latitude
                    </th>
                    <th style="display:none">
                        Activity Longitude
                    </th>
                    <th style="display:none">
                        Includes
                    </th>
                    <th style="display:none">
                        Excludes
                    </th>
                    <th style="display:none">
                        Duration
                    </th>
                    <th style="display:none">
                        Supplier Name
                    </th>
                    <th style="display:none">
                        Supplier company
                    </th>
                    <th style="display:none">
                        Supplier phone
                    </th>
                    <th style="display:none">
                        Supplier Url
                    </th>
                    <th style="display:none">
                        Pick up / Drop Off
                    </th>

                    <th style="display:none">
                        Image
                    </th>
                    <th style="display:none">
                        Price
                    </th>
                    <th style="display:none">
                        Reference Url
                    </th>
                    <th style="display:none">
                        IsActive
                    </th>
                    <th style="display:none">
                        Edit
                    </th>
                    <th style="display:none">
                        Delete
                    </th>
                </tr>
            </table>
        </div>
    </div>
</div>