﻿@model eztripStart.Models.ManualEntry

@{
    Layout = null;
}


<div id="divAttraction" style="display:none;">
    <div id="divAttracontrol">
        <table>
            <tr>
                <td></td>
                <td>
                    <input type="button" id="btnAttrashow" value="Show Attraction" onclick=" btnshowAttraction();" />
                </td>
                <td></td>
                <td>
                    <input type="button" id="btnAttraAdd" value=" Add Attraction" onclick="return btnsaveAttraction();" />
                </td>
            </tr>
        </table>
    </div>
    <br />
    <div id="divAttraSave">
        <h3 style="text-align:center">Attraction Details</h3>
        <br />
        <table>
            <tr>
                <td colspan="2">
                    Attraction Name
                    <span class="span">*</span>
                    <input type="hidden" id="hidAttract" />
                </td>
                <td></td>
                <td>
                    @Html.TextBoxFor(m => m.Name, new { @class = "Textbox", id = "txtAttraction", placeholder = "Enter Attraction Name", onKeypress = "return onlyAlphabets(event);" })
                    <br />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <br />
                    Attraction Rating
                </td>
                <td></td>
                <td>
                    <br />
                    @Html.TextBoxFor(m => m.Hotel_rating, new { @class = "Textbox", id = "txtAttrRating", placeholder = "Attraction Rating", onkeyup = "checkDec(this);", MaxLength = "3" })
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <br />
                    Attraction Type
                    <span class="span">*</span>
                </td>
                <td></td>
                <td>
                    <br />
                    <select id="ddlAttrtype" class="dropdown" onchange="SelectedIndexChange()"> </select>
                    <a onclick="return AttrPlus();" id="btnAttrtypeplus"><img src="~/Content/images/blueplus_sign.png" /></a>
                    <a id="btnAttrtypeminus" onclick="return AttrMinus();"><img src=" ~/Content/images/Minus.png"></a>
                </td>
                <td>
                    <br />
                    <a id="btnAttrtypeDelete" onclick="return notyDeleteAttractioAlert();" title="Delete Attraction types"><img src=" ~/Content/images/Deleteicon.png"></a>
                    <div id="divAttrtype">
                        <table>
                            <tr>
                                <td>
                                    Add Type
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.Type, new { @class = "Textbox", id = "txtAttrtype", onkeypress = "return onlyAlphabets(event)" })
                                </td>
                                <td>
                                    <input type="button" id="btnAttrtypesave" value="Save" style="color:white;background:blue;font-weight:bold" onclick="return AttractionType();" />
                                </td>
                                <td>
                                    <a href="https://developers.google.com/places/supported_types" target="_blank"><b>Click here</b></a>
                                </td>
                                <td>
                                    <p>( See Attraction type key word and </p>
                                    <p>use here what you need )</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <span id="AttrTypeError" style="color: Red;font-weight:bold;">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <br />
                    Description
                </td>
                <td></td>
                <td>
                    <br />
                    @Html.TextAreaFor(m => m.Description, new { @class = "TextareaDescription", id = "txtAttrDescription", placeholder = "Description" })
                </td>
            </tr>
            <tr>
                <td>
                    <br />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <br />
                    Address
                </td>
                <td></td>
                <td>
                    <br />
                    @Html.TextAreaFor(m => m.Address, new { @class = "Textarea", id = "txtAttrAddress", placeholder = "Address" })
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <br />
                    City
                    <span class="span">*</span>
                </td>
                <td></td>
                <td>
                    <br />
                    <br />
                    @Html.TextBoxFor(m => m.City, new { @class = "Textbox", id = "txtAttrcity", placeholder = "Enter Your City", onkeypress = "return onlyAlphabets(event)" })
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <br />
                    Latitude
                    <span class="span">*</span>
                </td>
                <td></td>
                <td>
                    <br />
                    @Html.TextBoxFor(m => m.Latitude, new { @class = "Textbox", id = "txtAttrlatitude", placeholder = "Latitude", @readonly = "true" })
                </td>
                <td colspan="2">
                    Longitude
                    <span class="span">*</span>
                    @Html.TextBoxFor(m => m.Longitude, new { @class = "Textbox", id = "txtAttrlongitude", placeholder = "Longitude", @readonly = "true" })
                </td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2">
                    <br />
                    Attraction Latitude
                </td>
                <td></td>
                <td>
                    <br />
                    @Html.TextBoxFor(m => m.Hotellatitude, new { @class = "Textbox", id = "txtlatitudeAttrac", placeholder = "Attraction Latitude" })
                </td>
                <td colspan="2">
                    Attraction  Longitude
                    @Html.TextBoxFor(m => m.Longitude, new { @class = "Textbox", id = "txtlongitudeAttrac", placeholder = "Attraction Longitude" })
                </td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2">
                    <br />
                    Image Upload
                </td>
                <td></td>
                <td>
                    <br />
                    @using (Html.BeginForm("SaveAttraction", "CMSPage", FormMethod.Post
                                            , new { enctype = "multipart/form-data" }))
                    {
                        @Html.ValidationSummary();
                        <input type="file" id="fileAttrupload" name="file" />
                        <span class="field-validation-error" id="spanfile"></span>
                    }

                </td>
                <td rowspan="2">
                    <label id="lblAttract" style="color:#0026ff; display:none;"></label>
                    <img id="imgAttraction" style="width:100px;height:100px;border-radius:8px;" />
                </td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2">
                    <br />
                    Price (Starts from)
                </td>
                <td></td>
                <td>
                    <br />
                    @Html.TextBoxFor(m => m.Price, new { @class = "Textboxnumberonly", id = "txtAttrprice", placeholder = " Enter 0 to 4 " })
                </td>
                <td colspan="3" style="border:double;color:#808080;">
                    <p style="font-weight:bold;">0- Free  1- Inexpensive 2- Moderate</p>
                    <p style="font-weight:bold;">3- Expensive  4- Very Expensive</p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <br />
                    Reference Url
                </td>
                <td></td>
                <td>
                    <br />
                    @Html.TextBoxFor(m => m.URL, new { @class = "Textbox", id = "txtAttrUrl", placeholder = "Reference URL" })
                </td>
            </tr>
            <tr style="display:none;">
                <td colspan="2">
                    <br />
                    Active
                </td>
                <td></td>
                <td>
                    <br />
                    @Html.CheckBoxFor(m => m.Isactive, new { id = "chkAttractive" })
                </td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td></td>
                <td></td>
                <td>
                    <span id="spnAttraction" style="color: Red;font-weight:bold;"></span>
                </td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2">
                    <br />
                </td>
                <td></td>
                <td>
                    <br />
                </td>
                <td>
                    <br />
                    <input type="button" id="btnAttrsave" value="Save Attraction " class="tripbutton" onclick="return SaveAttractionList();" />
                    <input type="button" id="btnAttrUpdate" value=" Update" class="tripbutton" onclick="return UpdateAttraction();" />
                    <br /><br /><br /><br />
                </td>
                <td>
                    <br /><br />
                </td>
            </tr>
        </table>
    </div>
    <div id="divAttrashow">
        <div id="tblAttraheading" style=" float: right;">
        </div>
        <div class="scrollit">
            <table id="tblAttrashow" border="1" cellspacing="0" style=" width:100%; ">
                <thead>
                    <tr style="background-color:#0099FF;color:#FFFFFF;">

                        <th style="display:none;">
                            Id
                        </th>
                        <th style="display:none;">
                            Name
                        </th>

                        <th style="display:none;">
                            Rating
                        </th>
                        <th style="display:none;">
                            Attraction Type
                        </th>

                        <th style="display:none">
                            Description
                        </th>
                        <th style="display:none;">
                            Address
                        </th>
                        <th style="display:none;">
                            City
                        </th>
                        <th style="display:none">
                            Latitude
                        </th>
                        <th style="display:none">
                            Longitude
                        </th>
                        <th style="display:none">
                            Attraction Latitude
                        </th>
                        <th style="display:none">
                            Attraction Longitude
                        </th>

                        <th style="display:none;">
                            Image
                        </th>
                        <th style="display:none;">
                            Price
                        </th>
                        <th style="display:none;">
                            Reference Url
                        </th>
                        <th style="display:none;">
                            IsActive
                        </th>
                        <th style="display:none;">
                            Edit
                        </th>
                        <th style="display:none;">
                            Delete
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>