﻿@model eztripStart.Models.ManualEntry

@{
    Layout = null;
}
@using (Html.BeginForm("ManualEntry", "CMSPage", FormMethod.Post, new { enctype = "multipart/form-data", id = "formid" }))
{
    <div id="divhotel" style="display:none;">
        <div id="divcontrol">
            <table>
                <tr>
                    <td></td>
                    <td>
                        <input type="button" id="btnhotelshow" value="Show hotel" onclick=" btnshowhotel();" />
                    </td>
                    <td></td>
                    <td>
                        <input type="button" id="btnhotelAdd" value=" Add Hotel" onclick="return btnsavehotel();" />
                    </td>
                    <td style="width:20%;"></td>
                </tr>
            </table>
        </div>
        <br />
        <div id="divhotelsave">
            <h3 style="text-align:center">Hotel Details</h3>
            <br />
            <table>
                <tr>
                    <td colspan="2">
                        Hotel Name
                        <input type="hidden" id="htnhotelId" />
                        <span class="span">*</span>
                    </td>
                    <td></td>
                    <td>
                        @Html.TextBoxFor(m => m.Name, new { @class = "Textbox", id = "txtHotelName", placeholder = "Enter Hotel Name ", @data_val = "true", @data_val_required = "Name is required", onKeypress = "return onlyAlphabets(event);" })
                        <br />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <br />
                        Hotel Class
                    </td>
                    <td></td>
                    <td>
                        <br />
                        @Html.TextBoxFor(m => m.Hotel_rating, new { @class = "Textbox", id = "txtrating", placeholder = "Hotel class Decimal or number", onkeyup = "checkDec(this);", MaxLength = "3" })
                    </td>
                    <td>
                        <br />
                        <span style="font-style:italic;color:blue;">(should enter numeric value only, 0 to 5 )</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <br />
                        Guest Rating
                    </td>
                    <td></td>
                    <td>
                        <br />
                        @Html.TextBoxFor(m => m.User_rating, new { @class = "Textbox", id = "txtUserrating", placeholder = "Guest Rating Decimal or Number", onkeyup = "checkDec(this);", MaxLength = "3" })
                    </td>
                    <td>
                        <br />
                        <span style="font-style:italic;color:blue;">(should enter numeric value only, 0 to 5 )</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <br />
                        Hotel Amenities
                    </td>
                    <td></td>
                    <td>
                        <br />
                        @Html.TextAreaFor(m => m.Amenities, new { @class = "Textarea", id = "txtAmenties", placeholder = "Hotel Amenities" })
                    </td>
                </tr>
                <tr>
                    <td>
                        <br />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <br />
                        Address
                        <span class="span">*</span>
                    </td>
                    <td></td>
                    <td>
                        <br />
                        @Html.TextAreaFor(m => m.Address, new { @class = "Textarea", id = "txtaddress", placeholder = "Address" })
                    </td>
                </tr>
                <tr>
                    <td><br /></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <br />
                        Description
                    </td>
                    <td></td>
                    <td>
                        <br />
                        @Html.TextAreaFor(m => m.Description, new { @class = "TextareaDescription", id = "txtdescription", placeholder = "Description" })
                        <input type="hidden" id="hidhotelcity" />
                    </td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <br />
                        City
                        <span class="span">*</span>
                    </td>
                    <td></td>
                    <td>
                        <br />
                        <br />
                        @Html.TextBoxFor(m => m.City, new { @class = "Textbox", id = "txtcity", placeholder = "Enter the City name", onkeypress = "return onlyAlphabets(event)" })
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <br />
                        City Latitude
                        <span class="span">*</span>
                    </td>
                    <td></td>
                    <td>
                        <br />
                        @Html.TextBoxFor(m => m.Latitude, new { @class = "Textbox", id = "txtlatitude", placeholder = "Latitude   ", @readonly = "true" })
                    </td>
                    <td colspan="2">
                        City Longitude
                        <span class="span">*</span>
                        @Html.TextBoxFor(m => m.Longitude, new { @class = "Textbox", id = "txtlongitude", placeholder = "Longitude", @readonly = "true" })
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <br />
                        Hotel Latitude
                        <span class="span">*</span>
                    </td>
                    <td></td>
                    <td>
                        <br />
                        @Html.TextBoxFor(m => m.Hotellatitude, new { @class = "Textbox", id = "txthotellatitude", placeholder = "Hotel Latitude   " })
                    </td>
                    <td colspan="2">
                        Hotel Longitude
                        <span class="span">*</span>
                        @Html.TextBoxFor(m => m.Hotellongitude, new { @class = "Textbox", id = "txthotellongitude", placeholder = "Hotel Logitude" })
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <br />
                        Image Upload
                    </td>
                    <td></td>
                    <td>
                        <br />
                        <input type="file" name="file" id="file"/>
                    </td>
                    <td rowspan="2">
                        <label id="lblshow" style="color:blue;display:none;"></label>
                        <img id="imghotel" style="width:100px;height:100px;border-radius:2px;" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <br />
                        Price (Starts From)
                    </td>
                    <td></td>
                    <td>
                        <br />
                        @Html.TextBoxFor(m => m.Price, new { @class = "Textboxnumberonly", id = "txtprice", placeholder = "Price in USD" })
                        <span style="color:blue;font-weight:bold;">USD ($)</span>
                    </td>
                    <td colspan="3" style="border:double;color:#808080;">
                        <p style="font-weight:bold;">Price range should be from 10 to 2000</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <br />
                        Booking URL
                    </td>
                    <td></td>
                    <td>
                        <br />
                        @Html.TextBoxFor(m => m.URL, new { @class = "Textbox", id = "txthotelUrl", placeholder = "Reference Url" })
                    </td>
                </tr>
                <tr style="display:none;">
                    <td colspan="2">
                        <br />
                        Active
                    </td>
                    <td></td>
                    <td>
                        <br />
                        @Html.CheckBoxFor(m => m.Isactive, new { id = "chkactive", @name = "chkhotel" })
                    </td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td></td>
                    <td></td>
                    <td>
                        <span id="spnarea" style="color: Red;font-weight:bold;"></span>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <br />
                    </td>
                    <td></td>
                    <td>
                        <br />
                    </td>
                    <td>
                        <br /><br />
                        <input type="button" id="btnhotelsave" value="Save Hotel " class="tripbutton" onclick="return Savehotel();" />
                        <input type="button" id="btnhotelupdate" value="Update" class="tripbutton" style="background-color:#0099FF;" onclick="return UpdateHotel();" />

                        <br /><br /><br />
                    </td>
                    <td>
                        <span id="spnarea" style="color: Red;font-weight:bold;"></span>
                    </td>
                </tr>
            </table>
        </div>
        <div id="divhotelshow">
            <div id="tblhotelheading" style="float: right;"></div>
            <div class="scrollit">
                <table id="tblhotelshow" border="1" cellspacing="0" style=" width:100%; ">
                    <thead>
                        <tr style="background-color:#0099FF;color:#FFFFFF;">
                            <th style="display:none;">
                                Id
                            </th>
                            <th style="display:none;">
                                Name
                            </th>
                            <th style="display:none;">
                                Hotel Class
                            </th>
                            <th style="display:none;">
                                Guest Rating
                            </th>
                            <th style="display:none;">
                                Hotel Amenities
                            </th>
                            <th style="display:none;">
                                Address
                            </th>
                            <th style="display:none">
                                Description
                            </th>
                            <th style="display:none">
                                City
                            </th>
                            <th style="display:none">
                                Latitude
                            </th>
                            <th style="display:none">
                                Longitude
                            </th>
                            <th style="display:none">
                                Hotel Latitude
                            </th>
                            <th style="display:none">
                                Hotel Longitude
                            </th>
                            <th style="display:none;">
                                Image
                            </th>
                            <th style="display:none;">
                                Price
                            </th>
                            <th style="display:none;">
                                Booking Url
                            </th>
                            <th style="display:none;">
                                IsActive
                            </th>
                            <th style="display:none;">
                                Edit
                            </th>
                            <th style="display:none;">
                                Delete
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
}
