﻿@model eztripStart.Models.ManualEntry

@{
    Layout = null;
}

@using (Html.BeginForm("SaveRestaurant", "CMSPage", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div id="divRestaurant" style="display:none;">
        <div id="divrescontrol">
            <table>
                <tr>
                    <td></td>
                    <td>
                        <input type="button" id="btnRestshow" value="Show Restuarant" onclick=" btnshowRest();" />
                    </td>
                    <td></td>
                    <td>
                        <input type="button" id="btnRestAdd" value=" Add Restuarant" onclick="return btnsaveRest();" />
                    </td>
                </tr>
            </table>
        </div>
        <br />
        <div id="divResSave">
            <h3 style="text-align:center">Restaurant Details</h3>
            <br />
            <table>
                <tr>
                    <td colspan="2">
                        Restuarant Name
                        <span class="span">*</span>
                        <input type="hidden" id="hidRest" />
                    </td>
                    <td></td>
                    <td>
                        @Html.TextBoxFor(m => m.Name, new { @class = "Textbox", id = "txtRestaurant", placeholder = "Enter Restaurant Name", onKeypress = "return onlyAlphabets(event);" })
                        <br />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <br />
                        Guest Rating
                        <span class="span">*</span>
                    </td>
                    <td></td>
                    <td>
                        <br />
                        @Html.TextBoxFor(m => m.Hotel_rating, new { @class = "Textbox", id = "txtRestrating", placeholder = "Restaurant Rating", onkeyup = "checkDec(this);", MaxLength = "3" })
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <br />
                        Restuarant Type
                        <span class="span">*</span>
                    </td>
                    <td></td>
                    <td>
                        <br />
                        <select id="ddlRestype" class="dropdown" onchange="SelectedIndexResChange()"></select>
                        <a onclick="return RestPlus();" id="btnRestypeplus" title="Add Restaurent types"><img src="~/Content/images/blueplus_sign.png" /></a>
                        <a id="btnRestypeminus" onclick="return RestMinus();"><img src=" ~/Content/images/Minus.png"></a>
                    </td>
                    <td colspan="3">
                        <br />
                        <a id="btnRestypeDelete" onclick="return notyDeleteResAlert();" title="Delete Restaurent types"><img src=" ~/Content/images/Deleteicon.png"></a>
                        <div id="divrestype">                            
                            <table>
                                <tr>
                                    <td>
                                        Add Type
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(m => m.Type, new { @class = "Textbox", id = "txtrestype", onkeypress = "return onlyAlphabets(event)" })
                                    </td>
                                    <td>
                                        <input type="button" id="btnRestypesave" value="Save" style="color:white;background:blue;font-weight:bold" onclick="return RestaurantType(); " />
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <span id="ResTypeError" style="color: Red;font-weight:bold;"></span>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <br />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        Day
                    </td>
                    <td></td>
                    <td>
                        <span id="spnmonday"> Mon</span>
                    </td>
                    <td>
                        <span id="spnTuesday"> Tue</span>
                    </td>
                    <td>
                        <span id="spnWednesday">Wed</span>
                    </td>
                    <td>
                        <span id="spnThursday">Thus</span>
                    </td>
                    <td>
                        <span id="spnFriday">Fri</span>
                    </td>
                    <td>
                        <span id="spnSaturday">Sat</span>
                    </td>
                    <td>
                        <span id="spnSunday">Sun</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        Opening Time
                        <span class="span">*</span>
                    </td>
                    <td></td>
                    <td style="width:20%;">
                        @Html.TextBoxFor(m => m.Monday, new { @class = "Textboxtime", id = "txtMontime", placeholder = "Monday timing", style = "float:70%;" })
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.Tuesday, new { @class = "Textboxtime", id = "txtTuetime", placeholder = "Tuesday timing" })
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.Wednesday, new { @class = "Textboxtime", id = "txtWedtime", placeholder = "Wednesday timing " })
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.Thursday, new { @class = "Textboxtime", id = "txtThurtime", placeholder = "Thursday timing" })
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.Friday, new { @class = "Textboxtime", id = "txtFriday", placeholder = "Friday Timing" })
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.Saturday, new { @class = "Textboxtime", id = "txtSaturday", placeholder = "Saturday Timing" })
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.Sunday, new { @class = "Textboxtime", id = "txtSunday", placeholder = "Sunday Timing" })
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <br />
                        Description
                    </td>
                    <td></td>
                    <td>
                        <br />
                        @Html.TextAreaFor(m => m.Description, new { @class = "TextareaDescription", id = "txtResDescription", placeholder = "Description" })

                    </td>
                    <br />
                </tr>
                <tr>
                    <td colspan="2">
                        <br />
                        Address
                        <span class="span">*</span>
                    </td>
                    <td></td>
                    <td>
                        <br />
                        @Html.TextAreaFor(m => m.Address, new { @class = "Textarea", id = "txtResAddress", placeholder = "Address" })

                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <br />
                        City
                        <span class="span">*</span>
                    </td>
                    <td></td>
                    <td>
                        <br />
                        @Html.TextBoxFor(m => m.City, new { @class = "Textbox", id = "txtRescity", placeholder = " Enter your City", onkeypress = "return onlyAlphabets(event)" })
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <br />
                        Latitude
                        <span class="span">*</span>
                    </td>
                    <td></td>
                    <td>
                        <br />
                        @Html.TextBoxFor(m => m.Latitude, new { @class = "Textbox", id = "txtReslatitude", placeholder = "Latitude", @readonly = "true" })
                    </td>
                    <td colspan="2">
                        Longitude
                        <span class="span">*</span>
                        @Html.TextBoxFor(m => m.Longitude, new { @class = "Textbox", id = "txtReslongitude", placeholder = "Longitude", @readonly = "true" })
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <br />
                        Restaurant Latitude
                    </td>
                    <td></td>
                    <td>
                        <br />
                        @Html.TextBoxFor(m => m.Hotellatitude, new { @class = "Textbox", id = "txtlatitudeResta", placeholder = "Restaurant Latitude" })
                    </td>
                    <td colspan="2">
                        Restaurant Longitude
                        <br />
                        @Html.TextBoxFor(m => m.Hotellongitude, new { @class = "Textbox", id = "txtlongitudeResta", placeholder = "Restaurant Longitude" })
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <br />
                        Image Upload
                    </td>
                    <td></td>
                    <td>
                        <input type="file" id="fileToUpload" name="file" />
                    </td>
                    <td rowspan="2">
                        <label id="lblRest" style="color:blue;display:none;"></label>
                        <img id="imgRestaurant" style="width:100px;height:100px;border-radius:8px;" />
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <br />
                        Price (Starts from)
                    </td>
                    <td></td>
                    <td>
                        <br />
                        @Html.TextBoxFor(m => m.Price, new { @class = "Textboxnumberonly", id = "txtResprice", placeholder = " Enter 0 to 4 " })
                    </td>
                    <td colspan="3" style="border:double;color:#808080;">
                        <p style="font-weight:bold;">0- Free  1- Inexpensive 2- Moderate</p>
                        <p style="font-weight:bold;">3- Expensive  4- Very Expensive</p>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <br />
                        Booking Url
                    </td>
                    <td></td>
                    <td>
                        <br />
                        @Html.TextBoxFor(m => m.URL, new { @class = "Textbox", id = "txtResUrl", placeholder = "Booking Url" })
                    </td>
                </tr>
                <tr style="display:none;">
                    <td colspan="2">
                        <br />
                        Active
                    </td>
                    <td></td>
                    <td>
                        <br />
                        @Html.CheckBoxFor(m => m.Isactive, new { id = "chkRestauractive" })
                    </td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td></td>
                    <td></td>
                    <td>
                        <span id="spnrestaurant" style="color: Red;font-weight:bold;"></span>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <br />
                    </td>
                    <td></td>
                    <td>
                        <br />
                    </td>
                    <td>
                        <br /><br />
                        <input type="button" id="btnRestaurantsave" value="Save Restaurant " class="tripbutton" onclick="return SaveRestaurant();" />
                        <input type="button" id="btnRestUpdate" value="Update" class="tripbutton" onclick="return UpdateRestuarant();" />
                        <br /><br /><br />
                    </td>
                </tr>
            </table>
        </div>
        <div id="divResshow">
            <div id="tblRestheading" style=" float: right;"></div>
            <div class="scrollit">
                <table id="tblRestshow" border="1" cellspacing="0" style=" width:100%; ">
                    <thead>
                        <tr style="background-color:#0099FF;color:#FFFFFF;">

                            <th style="width:7%;display:none; ">
                                Id
                            </th>
                            <th style="width:17.8%;display:none;">
                                Name
                            </th>

                            <th style="width:10%;display:none;">
                                Restuarant Rating
                            </th>
                            <th style="width:6%;display:none;">
                                Restuarant Type
                            </th>
                            <th style="width:6%;display:none;">
                                Opening Time
                            </th>

                            <th style="display:none">
                                Description
                            </th>
                            <th style="width:14%;display:none;">
                                Address
                            </th>

                            <th style="width:12%;display:none;">
                                City
                            </th>
                            <th style="display:none">
                                Latitude
                            </th>
                            <th style="display:none">
                                Longitude
                            </th>
                            <th style="display:none">
                                Restaurant Latitude
                            </th>
                            <th style="display:none">
                                Restaurant Longitude
                            </th>
                            <th style="width:7%;display:none;">
                                Image
                            </th>
                            <th style="width:7%;display:none;">
                                Price
                            </th>
                            <th style="display:none">
                                Booking Url
                            </th>
                            <th style="width:7%;display:none;">
                                IsActive
                            </th>
                            <th style="width:7%;display:none;">
                                Edit
                            </th>
                            <th style="width:7%;display:none;">
                                Delete
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
}
